[2020-07-03 20:58] woniesong92 opened #9088 "ImagePicker's permission request throws exception"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)
On a fresh react native app, requesting permission using the ImagePicker module throws an exception:

[code]

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

[code]

Targeting iOS

### Reproducible Demo

1. expo init
2. `yarn start` in one terminal and `yarn ios` in another
3. Use the code in https://do

[2020-07-04 01:31] RodolfoGS commented on #8819
@AdamJNavarro Same issue, I can't reproduce the bug myself but I have 2 crashes in production captured by Crashlytics.

1. Google Pixel 3 +, Android 10
2. Samsung Galaxy Note10+ 5G, Android 10

I'm in a bare project.

Expo diagnostics:
[code]

Stack trace:
[code]

[2020-07-04 03:11] huy-lv opened #9089 "App show "Expo pasted from CoreSimulator" continuously"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)
When i run app on iOS simulator iOS 14.0, app show "Expo pasted from CoreSimulator" continuously.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
Expo CLI 3.21.13 environment info:
    System:
      OS: macOS 10.15.5
      Shell: 5.7.1 - /bin/zsh
    Binaries:
      Node: 12.16.1 - /usr/local/opt/node@1

[2020-07-04 03:40] RodolfoGS commented on #8819
Apparently is related with this issue: https://github.com/expo/expo/issues/8155
But I never restart my app with the developer menu or hitting "r" in the console, I'm seen that crash in Crashlytics in production, of course without the developer menu.

[2020-07-04 03:52] davitykale opened #9090 "[expo-auth-session] Unable to get Google+Firebase authentication working in standalone app"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)

When attempting to follow either of the Google `AuthSession` demos with Firebase (the one using [`Token`](https://github.com/expo/expo/issues/8185#issuecomment-625037667) or with `IdToken` in the [Authentication guides](https://docs.expo.io/guides/authentication/#google).

While this works in development (using the Expo client), I consi

[2020-07-04 04:12] shubhamdeol opened #9091 "expo-fonts does not work with web in bare work flow, but works fine in android and ios."
I created a new bare expo project with expo sdk 38.

Installed expo-fonts

    1. expo init and choose bare work flow from options.
    2. expo install expo-font && npx pod-install

trying to load font from .otf file.

[code]

loading fonts like this
[code]

using like this

[code]

fonts working fine for ios and android, but not with web.
Is there any other way to install fonts in expo web?

[2020-07-04 06:33] ermenkov opened #9092 "38.0.0 Notifications - no method to handle incoming notifications when app is in background"
## 🐛 Bug Report

### Summary of Issue
Can't seem to find a method that handles incoming notifications when app is in **background**, i.e. the analog of ```Notifications.addListener()``` from 37.0.0. Methods ```addNotificationReceivedListener``` and ```setNotificationHandler``` fire their callbacks only in a foregrounded app (as the docs say). ```addNotificationResponseReceivedListener``` works in

[2020-07-04 06:40] shubhamdeol commented on #9091
Closing this issue.
Something weird is happening in my code base.
If I user this below MyText component, custom style does not render in web for me, but works for android and ios.

[code]

[2020-07-04 06:40] #9091 closed

[2020-07-04 06:55] chmorik commented on #8961
@lukmccall I'm using Ubuntu
Do you know when #8980 will be published?

[2020-07-04 07:17] denispixi opened #9093 "Facebook.logInWithReadPermissionsAsync crashes the app on iOS"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)
When I call the logInWithReadPermissionsAsync method on iOS, my app crashes instantly, idk why.
It's a completely new **BARE** app with the latest SDK 38 created with the command: **expo init --template bare-minimum**

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
Expo CLI 3.21.13 environment info:

[2020-07-04 07:48] soheils2 opened #9094 "other server option for download OTA jdk bundle?"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)
**amazon limitation for some countries!**
we have issue implementing OTA feature in some counteries that amazon banned them because of USA policy!

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

 **hey expo guys**
in some countries amzon has already banned communication and the access for download bund

[2020-07-04 08:07] pascalchristian commented on #9010
Same issue here on snack, expo sdk 38, android client.

[2020-07-04 08:16] ikakara opened #9095 "Simple drawer app using SDK38 is broken on iOS (works on Android and Web)"
Using the simple [drawer example](https://reactnavigation.org/docs/drawer-based-navigation/). Running the app on iOS returns the following error (works on Android and Web):

[code]
Appears related to this bug #https://github.com/th3rdwave/react-native-safe-area-context/issues/110

Try code on Snack: [https://snack.expo.io/@ikakara/github.com-ikakara-expo-sdk38-bug](https://snack.expo.io/@ikakara/g

[2020-07-04 08:56] jamesisaac commented on #9061
Yup, I'm getting the same error in a standalone app (except with `getDevicePushTokenAsync` rather than `getExpoPushTokenAsync`, because I want to interact with Firebase directly).  Followed all the steps [here](https://docs.expo.io/push-notifications/using-fcm/) for enabling FCM.

To help those searching for this issue, the error message is:

[2020-07-04 09:11] heyhyungi commented on #9056
I'm using expo SDK 37 and got a same message from iOS.
But it worked on android without any error messages.

[2020-07-04 10:38] YahyaBagia commented on #9092
@ermenkov Can you handle the tapped notification when app was killed? I am using `addNotificationResponseReceivedListener` to handle tapped notification and redirect the user to appropriate screen (based on the type of notification). But the listener only works when the app is in foreground or background. If it was killed and launched due to tapping the notification, then the listener doesn't get

[2020-07-04 10:39] Sharvin26 opened #9096 "Expo Notifications: Invariant Violation: Native module cannot be null."
## 🐛 Bug Report

### Summary of Issue (just a few sentences)
I am integrating expo notifications in my application. I am getting Invariant Violation issue when importing the expo notification package.( This only occurs on IOS Simulator )

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

[code]

I am getting this issue on IOS simulator only.

### Reproducible Demo

[2020-07-04 10:41] 1337LutZ commented on #9062
I did it as well in SDK 38. Did you upgrade using expo upgrade?

[2020-07-04 10:46] 1337LutZ commented on #9096
Do you get this error already whilst importing the module, or using it? iOS simulator will throw an error because it doesn't support PN.

And to be sure, you are using the code from the snack example?: https://docs.expo.io/versions/latest/sdk/notifications/#api
[code]

[2020-07-04 10:54] Sharvin26 commented on #9096
I get this error when I am importing the module. Also according to the documentation, simulators/emulators support Local notifications Platform. So How can I use it in the application?

[2020-07-04 11:34] ermenkov commented on #9092
@YahyaBagia not related to the issue but good question. Anyway I think all listeners are gone with the killing of the app. Maybe someone from expo team can answer better.

[2020-07-04 11:57] c0deslayer commented on #9056
Same problem here on iOS, expo SDK 37.

[2020-07-04 12:42] RodolfoGS commented on #9010
@pascalchristian See that issue here https://github.com/expo/expo/issues/9058#issuecomment-653464268

[2020-07-04 12:54] RodolfoGS commented on #9094
You need to create your own server for Expo updates, see docs.
https://docs.expo.io/distribution/hosting-your-app/

[2020-07-04 13:26] Aryk commented on #9062
yes I did

[2020-07-04 15:04] ph-sw commented on #9084
Seems like the problem is with the iOS13.5, although this version has worked fine for me for some time it now seems to have probelms with other programs also (non-Lotiie). When changing to iOS13.2.2 the lottie animation works. However, I still get an error message from the metro bundler, which I didn't get before:
Unrecognized event: {"type":"client_log","level":"log","data":["Running \"main\" wit

[2020-07-04 16:21] KemikalGeneral commented on #9079
Hi @byCedric ,

Thanks for coming back to me!

- Yes, by '**in development**' I do mean using the Expo Client App
- The permission I'm getting in production is "Allow [app name] to access photos, media and files on your device?"
- The Android part of my manifest is as follows:

[code]
- I ran aapt d permissions [my app] and had the following returned:
[code]

Your help with this is greatly appreci

[2020-07-04 19:29] brentvatne commented on #9093
I just created a new blank typescript project with expo init, ran `expo install expo-facebook`, then copy and pasted the following code in and it worked as expected:

[code]

[2020-07-04 19:46] denispixi commented on #9093
@brentvatne you test was in a new bare workflow app o managed workflow? I’m facing the issue with bare workflow.
If you tested on an app with bare workflow, can u please share the output of expo diagnostics, maybe some version of my packages/tools is outdated

[2020-07-04 19:49] brentvatne commented on #9093
oh sorry it was in managed workflow. you should be able to trace the error back using the native stack trace in bare workflow to see more information

[2020-07-04 19:53] EvanBacon commented on #9090
This is a general Google OAuth error, I think it's unrelated to `expo-auth-session`.
See this SO https://stackoverflow.com/questions/16342191/google-oauth-redirect-to-ios-custom-url

I cannot tell from the issue cuz it seems like the error isn't correct:
[code]

1. `come` should be `com`
2. Perhaps your auth doesn't allow `://redirect`

[2020-07-04 19:53] #9090 closed

[2020-07-04 19:54] EvanBacon commented on #9089
We don't support iOS 14 yet as it's not released.

[2020-07-04 20:00] brentvatne commented on #9093
confirmed that this is happening in bare workflow

[2020-07-04 20:00] brentvatne commented on #9095
update to the latest version of the `expo` package. run `expo install react-native-safe-area-context`. you need to ensure you only have one instance of react-native-safe-area-context in your app.

[2020-07-04 20:01] #9094 closed

[2020-07-04 20:01] brentvatne commented on #9089
see related code here https://github.com/expo/expo/blob/master/home/components/ProjectTools.js

[2020-07-04 20:15] ikakara commented on #9095
The example uses the latest SDK38 and react-native-safe-area-context.  Regardless, I ran the scripts you suggested and tested on snack - still fails.  Please try the example on snack.  Does it work for you?

[2020-07-04 20:20] denispixi commented on #9093
I was starting to go crazy believing it was a problem in my environment 😅.

I logged the exception in the catch block at line 116 of the file `EXFacebook.m`:

![image](https://user-images.githubusercontent.com/20715348/86520406-7c713b00-be09-11ea-9ecd-b82ac3608227.png)

And got the following output:

![image](https://user-images.githubusercontent.com/20715348/86520354-d6bdcc00-be08-11ea-936f-db20d

[2020-07-04 21:14] brentvatne commented on #9095
i cloned the repo, ran `yarn` it didn't work because it was missing react-native-gesture-handler, so i ran `expo install react-native-gesture-handler`, then it worked.

so it sounds like the issue you are encountering is a bug with snack, is that correct?

[2020-07-04 21:31] ikakara commented on #9095
Yes, I can't verify whether the example fails on xcode simulator yet, so I've been using snack.  I'll try the fix ...

[2020-07-04 21:42] ikakara commented on #9095
I've tried adding "react-native-gesture-handler": "^1.6.1", to the package.json dependencies.  On snack, it strips the react-native-gesture-handler (when I update from git).  When manually adding the dependency to the package.json (on snack) it returns "The package "react-native-gesture-handler" can be imported without adding to "dependencies"package.json" ... I still get the iOS error on snack.

[2020-07-04 22:03] wanderingbort commented on #8538
Had a similar issue in an app that was also using `video.playAsync` and `camera.recordAsync` in the same component.

by imposing a delay between `camera.recordAsync` and `video.playAsync` I got the issue of video freezing to change into the camera throwing a error.

This also made the following appear in the device's system logs:

[code]

Internet suggests that error code is [kAudioUnitErr_Invalid

[2020-07-04 22:20] gggdomi commented on #9059
Thanks for your answer @lukmccall
Are you sure this should be closed ?
- the issue is on iOS, and I believe useNextNotificationsAPI flag is for Android only
- I’ve witnessed the same beahvior in production with the flag on, the snack was just an easy way to reproduce

[2020-07-04 22:33] lachlanglen commented on #8538
Awesome, thanks for the reply @wanderingbort! I have discovered that this error only occurs on iPhone, not on iPad or Android. I might try to get into the Objective-C and figure out what is going on...

[2020-07-05 00:09] RodolfoGS commented on #5548
Same here:
[code]

I can't reproduce it, I get that errors in Sentry.

[code]

Devices:
![image](https://user-images.githubusercontent.com/870365/86522865-d2ee7180-be29-11ea-898f-ff6854adb6fd.png)

![image](https://user-images.githubusercontent.com/870365/86522866-dc77d980-be29-11ea-85ca-d3eafc744844.png)

[2020-07-05 01:38] huylv-teko commented on #9089
Yeah, i come too early :D

[2020-07-05 01:39] huy-lv commented on #9089
Yeah, i come too early :D

[2020-07-05 01:39] #9089 closed

[2020-07-05 04:19] halfmatthalfcat commented on #8691
Can confirm I'm also running into this issue with the bare workflow on Github's macos runner.

[2020-07-05 06:10] OscarYuen commented on #9093
Do you also follow this walkthrough?

Follow steps 3 and 4 in the Getting Started Guide(https://developers.facebook.com/docs/ios/getting-started/?sdk=cocoapods) for Facebook SDK for iOS.

If you're also using RCTLinkingManager to handle deep links, you should handle both results in your openUrl method.
[code]

[2020-07-05 10:01] sam17896 commented on #9095
Same for me working on android, but getting error on IOS

[2020-07-05 10:14] eliysha commented on #9095
Same here
Working on Android simulator but failing on ios simulator

[2020-07-05 13:10] VictorioMolina opened #9098 "Possible Unhandled Promise Rejection (id: 0): TypeError: Network Request failed (uri to blob)"
# Problem
Hi, I am trying to post an image to my firestore database. The thing is that when I try to upload it an unexpected error is printed on my console when using my iPhone 6 device, (not on my android).

# My environment is:

Expo SDK 37 v3.11.7
Firebase v8.1.1
Node v12.18.1
Yarn v1.22.4

# Dependencies:
"expo": "~37.0.3",
"expo-camera": "^8.2.0",
"expo-file-system": "^8.1.0",
"expo-image-man

[2020-07-05 15:22] JamieS1211 commented on #9061
I am still struggling with this issue, would you mind reaching out if you make any headway and I will do likewise :)

[2020-07-05 15:55] maurohmartinez commented on #9092
@YahyaBagia I am having the same issue... when the app is killed, the listener `Notifications.addNotificationResponseReceivedListener` does not trigger when the app is open by tapping a push notification. Hence, I cannot redirect the user to the right screen. Has anyone been able to resolve it?

[2020-07-05 17:11] mobeendev commented on #7797
Same for me.
Working in Expo Client.
When I build the app, token doesn't show up.

[2020-07-05 17:18] YahyaBagia commented on #9092
I'm also looking for the answer.

[2020-07-05 17:47] CharlyPoppins opened #9099 "Bare - expo-updates Updates.checkForUpdateAsync() fail when no release-channel published"
## 🐛 Bug Report

**expo-updates** fail on Updates.checkForUpdateAsync() when bundles have not been published to release channel yet with **expo publish --release-channel xxxx**

### Summary of Issue

I've catch this exception with Sentry.

On Android : Failed to download manifest from URL: https://exp.host/@****/***

On iOs : {"message":"Experience \"@****/****\" for platform \"ios\" and release c

[2020-07-05 21:29] Zurdge opened #9100 "Change WebGL viewport dimensions - "expo-gl" & "expo-2d-context""
# Hi folks 😸

I've been using ```expo-gl``` to port over a Javascript script which uses the standard HTML canvas. Everything is working perfectly apart from my ```expo-gl``` dimensions are too large for what I need.
Currently it has a size of 1080 x 1920.

How can I change the resolution of the ```expo-gl```?

[2020-07-06 02:58] jeffcheungkyand commented on #9042
i had the same problem before. how i fixed it was trying to remove any package that have shared dependencies.
in my case react-native-gradient-buttons is using expo-linear-gradient, and i happen to install expo-linear-gradient separately afterwards

{
  "main": "node_modules/expo/AppEntry.js",
  "scripts": {
    "start": "expo start",
    "android": "expo start --android",
    "ios": "expo start -

[2020-07-06 03:27] SleeplessByte commented on #9099
This is to be expected. You _must_ run `expo publish` or `expo publish --release-channel XXX` _before_ creating your build in order to correctly inject the update values. The other option is `expo export`, or removing `expo-updates` completely.

[2020-07-06 03:28] SleeplessByte commented on #9082
Did you register a purchase handler?

https://docs.expo.io/versions/latest/sdk/in-app-purchases/#inapppurchasessetpurchaselistenercallback-result-iapqueryresponse--void

[2020-07-06 05:00] denispixi commented on #9093
I followed step 2 of the the [Get Started - Facebook SDK for iOS](https://developers.facebook.com/docs/ios/getting-started/#step-2---configure-your-project) guide and added the following lines to the `Info.plist` file and replacing the APP_ID and APP_NAME:

[code]
With this change I made the login work
Although it works, this is not mentioned in the `expo-facebook` docs, so I will not close the is

[2020-07-06 06:26] Sharvin26 commented on #9096
Also, It works perfectly on Android Emulator. I am only facing this issue on IOS Simulator.

[2020-07-06 06:27] lukmccall commented on #5548
Hi @RodolfoGS, your problem should be fixed by https://github.com/expo/expo/pull/8910 ;)

[2020-07-06 06:56] CharlyPoppins commented on #9099
I got a bit confused with the **no-publish workflow**.

What is the better way :
- **expo publish** then **build standalone**
or
- **build standalone** then **expo publish**

[2020-07-06 07:18] jeanlucnguyen commented on #9056
Same problem here, IOS, expo  SDK 37. I think it is just a switch to toggle in the Facebook App Dashboard

![Screenshot 2020-07-06 at 09 17 37](https://user-images.githubusercontent.com/10912221/86566228-988bee00-bf69-11ea-8fb0-bcc408b76248.png)

[2020-07-06 07:47] ErikHellman commented on #8942
Hi @byCedric!

I totally get that this is a complex issue to solve. The workarounds you mention are possible for a one-time workaround, but I need to find a sustainable solution.

However, I do have another suggestion. The expo-section in the `app.json` today allows us to explicitly add permissions to the final APK. How about adding a `permission-filter` array which would let us filter out the per

[2020-07-06 07:58] Federkun commented on #8721
Thanks for this WazzaJB. I'll apply this patch on the project i'm working on as well. Will report any feedback if I do have any.

[2020-07-06 09:02] lukmccall commented on #8961
@chmorik,
For managed workflow, it will be published in the next `SDK` (`40`). So, it will be in September. For the bare workflow, we might release it earlier.

[2020-07-06 09:13] #9075 closed

[2020-07-06 09:25] KemikalGeneral commented on #9079
@byCedric Hi, have you managed to find anything out regarding this issue please, I really need to release this app.

Thanks,

[2020-07-06 10:47] gesposito commented on #7946
I was trying to test a web alternative with this code
https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL

[code]

[code]

and Google Chrome showed a toast
`Unable to complete previous operation due to low memory`

after some underground forum searching, poiting at different solutions, I tried to **disable** `Developer options` and it worked

[2020-07-06 10:48] shubhamdeol opened #9101 "using expo-image-picker, App crashes when calling ImagePicker.launchCameraAsync function, once returning to app after taking picture."
I tried every version of ```expo-image-picker``` and ```react-native-unimodules``` even most latest one. But this issue never fixes for me. Maybe it's somewhere related to my codebase or its a bug.

1. installed react-native-unimodules.
2. added code to android manifest.
[code]

and
[code]

using it like
[code]

Adb Logs

[code]

I don't know why I am receiving ```who``` and ```data``` key as null

[2020-07-06 10:51] okeybond commented on #9042
having same issue after my upgrade from 37 to 38.0.8

[2020-07-06 11:03] gesposito commented on #7946
After enabling `Developer options` again, it seems that it keeps working

[2020-07-06 11:12] roger-schaer commented on #8483
Hello,

I'm also facing the same issue, the app crashes when the app is "closed" by swiping after putting it into the background. I tried with the Expo client on an emulator (Pixel 4, Android 10) as well as on a real device, and also tried with a standalone APK, always with the same result:

[code]

I stripped down my code to simply do a "console.log" of the locations (basically the sample shown i

[2020-07-06 11:22] AnasAlamin opened #9102 "SecureStore deleteItemAsync is not working"
Expo secure store function deleteItemAsync is not working for some reason.
it stores the data and everything but it doesn't delete.

`await SecureStore.deleteItemAsync('userToken')`

Expo-secure-store: 9.0.1
Expo: 38.0.0

[2020-07-06 11:42] lukmccall commented on #9088
Hi @woniesong92, I've tried to reproduce it. Unfortunately, everything works as expected.

**Note:** I needed to install `expo-image-picker`, but you didn't add this step in your demo. Please, check if you installed the module.

[2020-07-06 11:43] #8940 closed

[2020-07-06 11:49] ludwig-adoria opened #9103 "barCodeScanner detects barcode when there's nothing to scan"
## 🐛 Bug Report
Bug on **barCodeScanner**

### Summary :
The barCodeScanner detects barcode when there's nothing to scan.
it happens with expo-barcode-scanner or expo-camera.

![Screenshot_20200706-133247_Expo](https://user-images.githubusercontent.com/52496289/86589877-c2a3d700-bf8e-11ea-94b0-00bcd371f0e5.jpg)

### Environment
tested on two devices with android 10 ( Samsung SM-T860 & Xiamo Mi 8)

[2020-07-06 12:04] lukmccall commented on #9101
Hi @shubhamdeol, have you overwritten `public void onActivityResult(int requestCode, int resultCode, Intent data)` method in `MainActivity`?

[2020-07-06 12:48] #8997 closed

[2020-07-06 12:56] valeriiamykhalova commented on #4171
Have the same issue with expo-av 8.1.0. Is there any information when it will be fixed?

[2020-07-06 13:17] shubhamdeol commented on #9101
@lukmccall  No I haven't overwritted onActivityResult method.

But I have some native code for spash screen, which does somethign with Intent. but that should cause issue I guess.
here is my SpashActviity file code.

[code]

[2020-07-06 13:19] lukmccall commented on #9101
Could you check if the `getIntent()` method returns a valid object?

[2020-07-06 13:21] byCedric commented on #9067
Hi @arberK! Thanks for the issue report, could you explain how you got that error (or provide a small repro)? It looks like it's only used for legacy manifests. I can't trigger this on a new SDK 38 project, so it could be related to weird configuration. [It's mainly this piece of code that should not-trigger this](https://github.com/expo/expo/blob/master/packages/expo-updates/android/src/main/java

[2020-07-06 13:45] byCedric commented on #9074
Hi @mikkelwf, thanks for the issue report. To quickly answer your questions:

The value `sticky` is not an accepted value, it simply doesn't exist (see [Android documentation](https://developer.android.com/training/system-ui/immersive)). There is a `sticky-immersive` property, if you use that with a non-transparent background color, the navigation bar is always visible.

See [Android documentation

[2020-07-06 13:54] byCedric commented on #9079
Hi @KemikalGeneral, unfortunately not (yet). So, for my understanding, this is happening for you:

- You granted the `CAMERA_ROLL` permissions (`READ_`/`WRITE_EXTERNAL_STORAGE`)
- In the Expo Client app, they return as `granted`
- In your standalone app, the permissions return as `undetermined` (even while granted)
- When using the `ImagePicker`, you _can_ perform the actions as expected

So the m

[2020-07-06 14:06] byCedric commented on #9084
Hi @ph-sw! Thanks for the issue report!

The image you sent looks like an outdated Expo Client app. I can see that you use SDK 38, to run that locally, you have to use the Expo Client 2.16.0 or higher. You can install or update this with `expo client:install:ios` from your project, with the simulator open. If that doesn't work for you, lmk!

The log you mentioned looks like a known issue with Metr

[2020-07-06 14:15] mczernek commented on #9037
We're having troubles addressing the issue. We suspect it is manufacturer-dependant. @RodolfoGS would you please share your device specifics? Manufacturer, model and Android version?

[2020-07-06 14:17] byCedric commented on #9096
Hi @Sharvin26, testing push notifications on an emulator or simulator isn't supported at the moment. You can use local scheduled notifications, but not push notifications. It's related to simulators and emulators not having a device token to push to.

Could you share a bit more about how you use the code? This error shouldn't happen when just importing the notifications, if that's the case we need

[2020-07-06 14:20] RodolfoGS commented on #9037
@mczernek sure, I'm testing in a Nexus 6P with Android 8.1.0

[2020-07-06 14:26] lukmccall commented on #9037
I've used Samsung Galaxy s8. However, it's pretty hard to reproduce, cause in most cases it works :/

[2020-07-06 14:28] SleeplessByte commented on #9099
I believe it's always:

`expo publish` then **build standalone**

[2020-07-06 14:28] byCedric commented on #9098
Hi @VictorioMolina, thanks for the issue report!

The network error is correct, you can't request a file with fetch that's stored locally on your device. You can see a workaround for this in the [expo/examples](https://github.com/expo/examples/blob/master/with-firebase-storage-upload/App.js#L178-L205) repository, you could try implementing this as well. (The link to the comment has a detailed expl

[2020-07-06 14:28] #9098 closed

[2020-07-06 14:30] shubhamdeol commented on #9101
I was using ```Bundle extras = getIntent().getExtras();``` for some issue I was facing with notifications. I removed this method.  Still App is crashing after image gets clicked from camera and I press tick icon at top, while navigating back to the app.
I do not have much knowledge of the native side. You can close the issue. As it works fine in the new project.

[2020-07-06 14:31] byCedric commented on #9102
Hi @AnasAlamin, thanks for the issue report. Unfortunately, I can't reproduce this on my end. Can you provide a [small repro](https://stackoverflow.com/help/minimal-reproducible-example) where this happens for you? With that, I'd be happy to check this out for you.

[2020-07-06 14:35] RodolfoGS commented on #9037
I can reproduce always and easy, I just disconect the device and lock (turn of the screen), then I send a push notification every 30 seconds (with `push.js` that is in my demo) and ALWAYS at 5 minutes (exact) the notifications stop. Always when I test, always fails. Remember don't unlock, nor connect, nor touch the notifications when came.

And on the other hand, always when I change the flag of n

[2020-07-06 14:36] byCedric commented on #9103
Hi @ludwig-adoria, thanks for the issue report. Unfortunately, I don't see any `onBarCodeScanned` handler in the reproducible demo. And when I test it manually, I can't reproduce this. Could you update that with your handler?

[2020-07-06 14:52] cruzach commented on #9044
@garrett-gottlieb the snack you linked is using the legacy notifications module, which isn't supported in the bare workflow. Could you instead try using the code found in the snack in our [push notification guide](https://docs.expo.io/push-notifications/overview/)?

[2020-07-06 14:53] mczernek commented on #9037
Surprising as it is, you're right.

I haven't paid enough attention to the fact whether my phone is connected or not, but was easiy able to reproduce that even on development client. That's good news, hopefully we'll be able to address the issue.

Thanks a lot for your cooperation so far!

[2020-07-06 14:56] cruzach commented on #9096
`expo-notifications` is supported in the managed workflow in SDK 38, not in SDK 37 (which it seems from your env info is what you're using?)

[2020-07-06 14:56] ludwig-adoria commented on #9103
Snack updated  => https://snack.expo.io/@lvantours/vengeful-crackers ! Sorry I failed with my snack Copy/Paster 😅.

[2020-07-06 14:59] ludwig-adoria commented on #9103
thanks @byCedric .
It's can take several minutes to reproduce but it's happen. Just need to play a little bit with real EAN code / dismiss the Alert and tap on Scan Again....

![Screenshot_20200706-165712_Expo](https://user-images.githubusercontent.com/52496289/86607646-d01a8a80-bfa9-11ea-8626-69a53b177f8f.jpg)

[2020-07-06 15:02] cruzach commented on #9056
I believe this should be resolved now, @jwm0 could you let me know?

[2020-07-06 15:26] #9016 closed

[2020-07-06 15:32] WazzaJB commented on #8721
You're most welcome @Federkun, just let me know if you hit any issues etc and I'll do my best to help or update the PR. Any feedback is greatly appreciated :)

[2020-07-06 15:34] WazzaJB commented on #8447
When searching for my own issue, I noticed this below. Apologies, I created a separate PR and issue for this.

See issue #8721

If you require web recording functionality, then your feedback on my PR #8791 would be most welcome :)

[2020-07-06 15:57] Federkun commented on #8721
Works great!
But I had to make some minor changes to make it work after rebasing against master. This is the patch that I applied on top of your PR:

[code]

When testing, `dataPromise` never resolved. But apart from that, I'm able to record and replay audio just fine.

A minor feedback: I think it would be better for `requestPermissionsAsync` on web to result on a noop

[2020-07-06 16:06] PolinaLiolia opened #9104 "Android build issue: missing argument for new ModuleRegistryAdapter()"
I'm trying to build an ejected React native expo project for android.

Right after eject command, I'm adding all necessary configurations for unimodules and @unimodules/react-native-adapter
according to instructions from here https://github.com/expo/expo/tree/master/packages/react-native-unimodules and
https://www.npmjs.com/package/@unimodules/react-native-adapter

Then I'm getting an error, tryin

[2020-07-06 16:23] jonathanstiansen commented on #8888
@esamelson just wondering if this has made it into a release? And if not, how do I keep track for myself without having to bug you?

[2020-07-06 16:38] jeanlucnguyen commented on #9056
It's working for me now

[2020-07-06 16:59] wardjk87 opened #9105 "[jest-expo] Upgrading from Jest-Expo 37 to 38 Breaks tests"
## 🐛 Bug Report

### Summary of Issue
After using the expo upgrade command to upgrade from sdk 37 to 38, all my jest tests broke with following error:

`Test suite failed to run

    TypeError: this._getEventHandlerFor is not a function

      at Object.get (node_modules/jsdom/lib/jsdom/living/helpers/create-event-accessor.js:86:26)
          at Array.forEach (<anonymous>)
`

 Only reverting expo-

[2020-07-06 17:01] rkbhochalya commented on #7832
For me it throws error for content URIs (`content://`) returned by `react-native-document-picker`. The same URI works with `react-native-video` so it's not a permissions issue.

[2020-07-06 17:14] brunoaduarte opened #9106 "[expo-notifications][ios] Error when using removeAllNotificationListeners with fast refresh"
## 🐛 Bug Report

### Summary of Issue

Error running the basic expo-notifications example.
Caused by this line
`Notifications.removeAllNotificationListeners();`

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

Target: iOS (iPhone 6 real device)

### Reproducible Demo

[code]

### Steps to Reproduce

[code]

### Expected Behavior vs Actual Behavior

![image](https

[2020-07-06 17:16] KemikalGeneral commented on #9079
Hi @byCedric ,

Just to answer your questions:

- You granted the CAMERA_ROLL permissions (READ_/WRITE_EXTERNAL_STORAGE)
  - **Yes**
- In the Expo Client app, they return as granted
  - **Yes**
- In your standalone app, the permissions return as undetermined (even while granted)
  - **Yes, undetermined when user granted, denied when user not granted**
- When using the ImagePicker, you can perform

[2020-07-06 17:29] jonathanstiansen opened #9107 "[bare][expo-updates] Calling fetch updates twice causes hangs only on android"
## 🐛 Bug Report

### Summary of Issue

When an OTA is available, calling `Updates.fetchUpdateAsync` twice prevents both calls to resolve.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
Expo CLI 3.20.9 environment info:
    System:
      OS: macOS 10.15.4
      Shell: 5.7.1 - /bin/zsh
    Binaries:
      Node: 12.18.1 - ~/.nvm/versions/node/v12.18.1/bin/node

[2020-07-06 18:07] cruzach commented on #9056
Awesome! will close the issue then

[2020-07-06 18:07] #9056 closed

[2020-07-06 18:32] cruzach commented on #9092
@ermenkov in the legacy version of the notifications module, there was no way to handle notifications that came in while the app was backgrounded and the notification was **not** selected (see [this part](https://docs.expo.io/versions/latest/sdk/legacy-notifications/#notification)) of the docs). Handling notifications (without responses i.e. tapping the notification) while the app is backgrounded

[2020-07-06 18:36] sd commented on #6726
Leaving a comment here for those, like us, who find this issue while searching for ways to compress images.

There is no bug in compression levels. The "original" image used as a reference is already compressed at around 50% quality, so the "original file size" of 1.37MB is not what you should use to compare results.

@wodin tried to make this point, but not directly.

Graphics compression is over

[2020-07-06 18:40] dmbrooking commented on #6840
how did you solve this?

[2020-07-06 18:45] Ananas120 commented on #6840
I just send mp3 file instead of wav file and it works (don’t know why ^^’) you can convert file format with pydub (to save as mp3) if you want

[2020-07-06 18:52] GollyJer commented on #6726
@sd
It's hard for me to agree with your assessment.
To focus the conversation let's talk only about JPEG images.  JPEG is what most phones take as the the "original photo".

Starting with an original jpeg image (a picture taken with a phone camera) how can it ever be expected that applying compression, will increase the size?

Are you saying the Expo Manipulator uncompresses the image to it's orig

[2020-07-06 19:42] sd commented on #6726
think of it this way. You have a EXAMPLE.TXT file, and you compress it inside an EXAMPLE.ZIP file. You then try to test other ZIP compression parameters using the EXAMPLE.ZIP as the input. You'll see unexpected results. You need to use the uncompressed input as the reference, not a previously compressed file.

Expo Manipulator, and any other image processor, will not be compressing your original j

[2020-07-06 20:01] yolpsoftware opened #9109 "react-native-reanimated cannot be loaded in Expo Snacks with SDK >= 36"
Please have a look at the following Snack:

https://snack.expo.io/@yolpsoftware/reanimated-snacks

With SDK 35, it works well, the blue ScrollView appears. If you switch the Snack to SDK 36, 37 or 38, you get the following error message:

[code]

Same problem if you add `react-native-reanimated` to `package.json` as a dependency.

Tested on Web and iOS, same problem.

[2020-07-06 20:25] garrett-gottlieb commented on #9044
Same thing happens - hangs.
ᐧ

On Mon, Jul 6, 2020 at 10:53 AM Charlie Cruzan <notifications@github.com>
wrote:

--
*Garrett*

[2020-07-06 20:56] AaronStackBarnes commented on #1057
Has anyone found a work around for this?

[2020-07-06 21:21] archcorsair opened #9110 "useFonts hook does not exist in expo-font"
## 🐛 Bug Report

### Summary of Issue
- The documentation [here](/node_modules/expo-font/build/Font.js) states that there is a `useFonts` hook available.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
 - When trying to use `useFonts`, getting this error: `TypeError: (0 , _expoFont.useFonts) is not a function`

### Reproducible Demo
Using `"expo-font": "~8.1.0"`

[2020-07-06 21:43] #9110 closed

[2020-07-06 22:07] duganchen commented on #9042
I'm dealing this. I've isolated a react-apollo "export default compose" statement in an imported module that causes it to happen. Obviously, it's crashing so hard (when the module is being being imported) that it takes down the error handling mechanism, resulting in this error message.

Prior to the upgrade (from 37), the project was using react-apollo 2.5.8, which is listed as the stable version

[2020-07-06 22:35] brunoaduarte commented on #9106
Workaround

[code]

[2020-07-06 22:41] brentvatne commented on #9042
@duganchen - `expo upgrade` does not touch any of the dependencies that it knows nothing about it, and so we leave react-apollo as-is. it sounds like there is some bug with react-apollo latest and react-native@0.62/expo@sdk-38

[2020-07-06 23:25] jonathanstiansen commented on #9107
I'm closing this, I believe it is an issue with the modals and app state changes.

[2020-07-06 23:25] #9107 closed

[2020-07-07 00:54] GollyJer commented on #6726
Thanks for taking the time to discuss. 🙏

Pictures from phones are WAY bigger than we need for our "track your meals with pictures" app. What we are trying to do is save on server cpu and storage cost by pre-processing images on devices before saving them to our cloud.

User takes a picture > Expo Manipulator compresses > picture sent to server.

I guess the problem here is the image compressors a

[2020-07-07 01:16] sd commented on #6726
Compression algorithms have been adjusted for device memory and cpu capacity, so the end result is not always the same.

Not every phone pic is a JPEG. On iOS, for example, you might be using HEIC files. Both Android and iOS also support RAW formats. And depending on how Expo Manipulator is retrieving the image data, it might even be getting the pure bitmap at full resolution.

Set the `quality` p

[2020-07-07 04:17] ermenkov commented on #9092
@cruzach thanks for taking the time to look at the issue.

One such is a messaging app. Say playing a custom short mp3 instead of the default sound.

I venture to say that they are working on **Android**. App is fully expo managed. Tested in standalone and in-expo modes.
[code]
Did I stumble upon an accidental feature? :)

I still haven't had chance to test it on **iOS**.

[2020-07-07 05:05] offfffz opened #9111 "Croping image with ImageManipulator on web giving larger result"
## 🐛 Bug Report

### Summary of Issue
ImageManipulator gives a larger image than expected when using crop. The result image width becomes `width + originX` instead of just `witdth`

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
[code]

### Reproducible Demo

### Steps to Reproduce

### Expected Behavior vs Actual Behavior
When cropping an image with ImageManipul

[2020-07-07 06:16] netpoe commented on #9096
Any updates with this one?

Environment:

- `"expo": "^37.0.0",`
- `"expo-notifications": "~0.1.1",`

I'm getting this error when using `expo-notifications` as described in the [expo-documentation](https://docs.expo.io/versions/latest/sdk/notifications/#setbadgecountasyncbadgecount-number-options-setbadgecountoptions-promiseboolean):

<img width="376" alt="Screen Shot 2020-07-03 at 00 05 52" src="

[2020-07-07 06:18] brentvatne commented on #9096
expo-notifications is only available in managed workflow in SDK38+

[2020-07-07 06:58] 1337LutZ commented on #9062
Any update on this?

[2020-07-07 07:26] zanona opened #9112 "adjust error message article url when importing node modules"
https://docs.expo.io/introduction/faq/#can-i-use-nodejs-packages-with-expo doesn't seem to point to a valid resource any more?

https://github.com/expo/expo/blob/5eba5f7f2a6232e70d8febfbd1285953db18f46c/docs/scripts/test-links.js#L19

Possibility, the correct link to point to, is:
https://forums.expo.io/t/can-i-use-node-js-packages-with-expo/29060

_Btw, I would also leave that forum post open to

[2020-07-07 07:33] Sharvin26 commented on #9096
Yes I tried with Expo SDK38 and it's working perfectly now. I haven't tested the notifications working but I am not getting any error on IOS Simulator when I am importing the `expo-notifications`.
I think expo documentation for Notifications must indicate that `expo-notifications is supported in the managed workflow in SDK38+`.
Thanks

[2020-07-07 07:33] #9096 closed

[2020-07-07 07:52] YahyaBagia commented on #9092
@cruzach I've tested it in the standalone app apk (built by expo cli / managed workflow).  If the app was terminated / killed / closed, then tapping on the notification launches the app but the listener does not get fired. If you don't encounter this issue then please share your code where you added the listener, maybe we missed a little-bit and messed-up the listener.

[2020-07-07 07:52] 1337LutZ commented on #9096
Well to be fair, when checking the docs, in the top left it says SDK38. When you select SDK37 you get a different page with different code: https://docs.expo.io/versions/v37.0.0/sdk/notifications/

[2020-07-07 07:58] lukmccall commented on #7832
Hi @rkbhochalya, `VideoThumbnails` doesn't support `content` schema. Please create a new issue with a future request ;)

[2020-07-07 08:04] lukmccall commented on #9079
I have one more question @KemikalGeneral. How do you ask for permission? Are you using `Permissions.askAsync()`?  Or `ImagePicker.requestPermissionsAsync()`?

[2020-07-07 08:14] yesIamFaded opened #9113 "How to connect my Expo with my REST API and a local DB?"
Hello there I hope you are all good, I have some questions regarding React Native with EXPO.

I have created an App that depends on a postgresql DB and communicates with my own REST API. I have one Folder where my Frontend lives - here I query with my Computers IP address and with the routes I defined in my Backend.

Like this: 192.xx.xx.xx:8080/api/hours/getDay/:userid

My Backend is in another F

[2020-07-07 08:15] gesposito commented on #7946
I've tested it with `Developer options` activated and tried enabling/disabling `Don't keep activities` and I can replicate (with flag **on**) the original crash that was happening to me

[2020-07-07 08:20] SimenB commented on #7946
This issue is about Android, not web

[2020-07-07 08:58] HOllarves commented on #8900
I'm still having this issue. Any updates about this?

[2020-07-07 10:16] giautm opened #9114 "[android][SDK-37] expo-status-bar unsupported"
.

[2020-07-07 10:19] #9095 closed

[2020-07-07 10:21] IjzerenHein commented on #9095
Hey guys, we've just released the fix for this, thanks for reporting!

[2020-07-07 10:26] LucaRed commented on #8200
This issue happens for me too.

It correctly shows as spinner mode in Expo client, but when generating a standalone apk the "normal" calendar appears.

[2020-07-07 11:14] zaherbasamak commented on #9010
Same problem here

[2020-07-07 11:24] tsapeta opened #9115 "Upgrade and setup for Reanimated v2"
It would be great if we upgrade Reanimated to v2 in the next SDK (39). That may require some additional work and setup other than just running `et update-module` 😞

[2020-07-07 11:27] lukmccall commented on #9010
@zaherbasamak, please see https://github.com/expo/expo/issues/9058#issuecomment-653464268

[2020-07-07 11:47] YuraChernii commented on #9042
@brentvatne. I find such project - https://github.com/devSchacht/react-native-app/tree/l2
yesterday i could bulding this project without any problems but today i can not

[2020-07-07 11:58] #9058 closed

[2020-07-07 12:05] zaherbasamak commented on #9010
I upgraded everything (expo sdk, expo cli) and for now the error doesn't appear

[2020-07-07 12:23] pascalchristian opened #9118 "Inconsistent notification object between ios and android"
## 🐛 Bug Report

### Summary of Issue
Notification object (especially the `data` object) is presented differently between ios and android

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
[code]

Target: ios (real device) and android (real device, `"useNextNotificationsApi": true`)

### Reproducible Demo
[code]

### Steps to Reproduce
Send push notification, click

[2020-07-07 12:24] pascalchristian commented on #9118
Might be related to https://github.com/expo/expo/issues/9059

[2020-07-07 12:35] zaherbasamak commented on #9010
In my case the error was happenning when calling
const subscription = Notifications.addNotificationResponseReceivedListener(response => {
      const url = response.notification.request.content.data.url;
      Linking.openUrl(url);
    });

[2020-07-07 13:41] nea commented on #9035
Hi there

I am facing the exact same issue. Upgraded to 38, on Android it works, on iOS cannot find the Specification.

I, too, did everything based on the existing upgrade kit. And we want to change to Bare, but need to build an intermediate version atm as 38 should still work, before we change from ExpoKit to Bare.

If anybody has any idea how to get around this, any hint is highly appreciated.

[2020-07-07 13:43] alex-mironov commented on #8691
Any idea how to fix it? Why is this step needed at all?
[code]

[2020-07-07 13:58] Shizerq opened #9120 "[expo-localization] Incompatibility with Jest 26+"
## 🐛 Bug Report

### Summary of Issue
Running unit tests of components, that use expo-localization ends with error caused by removing `require.requireActual`
in Jest 26+  ([facebook/jest/pull/9854]((https://github.com/facebook/jest/pull/9854))
### Steps to Reproduce
Write unit tests with Jest for components, that use expo-localization and simply run them.

### Expected Behavior vs Actual Behavior

[2020-07-07 14:01] YuraChernii commented on #9042
please hellppppp!!!

[2020-07-07 14:17] cruzach commented on #9042
@YuraChernii I would refrain from adding any comments that aren't providing additional information, it can result in these threads getting really long, really fast.

We're looking into a way to better show the error that really matters here- `Invariant Violation: "main" has not been registered.` is most likely the result of another error that is showing up after upgrading your app (with a dependen

[2020-07-07 14:29] marcusleeeugene opened #9121 "Importing Notifications from 'expo-notifications': Native module cannot be null"
Hi I am running expo on my Iphone,

In my code, `import * as Notifications from 'expo-notifications';` always throws me the following error.
![IMG_564CDBE1C70C-1](https://user-images.githubusercontent.com/19762656/86796414-24ecfc80-c0a1-11ea-8983-04eb9190ad2e.jpeg)

The error message didn't tell me much, but I figured out the the import line was the problem from commenting it out.

I followed the

[2020-07-07 14:32] #9114 closed

[2020-07-07 14:32] JustynaKK commented on #8210
After updating to 1.1.1, initial screen in still rotating on iPad pro
https://vimeo.com/user114959970/review/436104636/afbc59ab40?fbclid=IwAR1J2EHMjd-F0p6CgQ8PeXsCbafW6dmR2O0z3kqbvhecE0iRa5YbgG3O648

[2020-07-07 14:32] cruzach commented on #9092
Okay @YahyaBagia I've reproduced the bug you're referring to- `addNotificationResponseReceivedListener` doesn't fire in the managed workflow when the app is killed and the user selects the notification. I was testing this in the bare workflow, and it works there as expected (same version)

[2020-07-07 14:36] AdamJNavarro commented on #9121
Hey @marcusleeeugene,

What type of Expo project are you running? Also, could you try re-installing the module via `expo install expo-notifications`?

[2020-07-07 14:37] duganchen commented on #9042
I just reproduced the crash in the iOS simulator and checked the system logs. Neither "main" nor "registered" appear anywhere.

[2020-07-07 14:38] AdamJNavarro commented on #9111
Hey @offfffz,

Thanks for filing a bug report. Could you provide a minimal reproducible example that we can use to test on our end?

Cheers,
Adam

[2020-07-07 14:41] AdamJNavarro commented on #9113
Hey Faded,

Thanks for your interest in using Expo. We try to reserve Github Issues for reproducible and actionable bug reports. For questions such as this one, please head over to our [Forums](forums.expo.io) (which I see you already did and that you got some help from another Expo user 😄 ).

Cheers,
Adam

[2020-07-07 14:41] #9113 closed

[2020-07-07 14:41] cruzach commented on #9121
@marcusleeeugene this error indicates you're probably still using SDK 37, which does not contain the native code for `expo-notifications`. Please upgrade your app, or `expo init` new one using SDK 38, and try the same code again. You can also use the [snack](https://docs.expo.io/push-notifications/overview/#example-usage) in our push notification guide to double check

[2020-07-07 14:45] lukmccall commented on #9106
I believe that is a bug in this demo. This should look like this:
[code]

[2020-07-07 14:47] cruzach commented on #7747
Closing this for inactivity since I wasn't able to reproduce. If you're able to reproduce this behavior on SDK 38 with the new `expo-notifications` module, please open a new issue!

[2020-07-07 14:47] #7747 closed

[2020-07-07 15:02] AdamJNavarro commented on #9100
Hey @Zurdge,

We try to reserve Github Issues for reproducible and actionable bug reports. For questions such as this one, could you please head over to our [Forums](forums.expo.io) and create a post?

Cheers,
Adam

[2020-07-07 15:02] #9100 closed

[2020-07-07 15:06] YuraChernii commented on #9042
![image](https://user-images.githubusercontent.com/67958005/86801052-4edff800-c07c-11ea-8517-45b187ed5cd0.png)
![image](https://user-images.githubusercontent.com/67958005/86801117-5d2e1400-c07c-11ea-9d15-48ab6b058855.png)
PROJECT - https://github.com/devSchacht/react-native-app/tree/l2

[2020-07-07 15:10] cruzach commented on #8128
Was able to reproduce this on android with the new `expo-notifications` module

[2020-07-07 15:12] lukmccall commented on #8210
Unfortunetly, your link doesn't work: ![image](https://user-images.githubusercontent.com/9578601/86802131-fbb67700-c074-11ea-9d31-8ec728b5f1ce.png)

[2020-07-07 15:12] pascalchristian commented on #9106
I have this code on my live project (use effect run only once), but still stumbles into the same bug in ios only. Specifically with live reload enabled on the expo mobile client.

[2020-07-07 15:16] dor6 opened #9122 "[Contacts] Contact.updateContactAsync fails on android"
## 🐛 Bug Report

### Summary of Issue
Contact.updateContactAsync throws an error on android.
The error is "Insert Failed" and some giberish about an unknown error

the function got the following input:
{
  "lastName": "Bba",
  "lookupKey": "0r2701-29292B2B",
  "name": "Aa Bb",
  "imageAvailable": false,
  "contactType": "person",
  "id": "3583",
  "firstName": "Aab",
  "phoneNumbers": [
    {

[2020-07-07 15:24] MaheshaBhat opened #9123 "publish and build of app from expo snacks"
Hi,
I want publish and build my application from expo snacks.
please let me know if its possible. if not then please let me know
if any way to run these commands online.
its urgent issue, looking for any solutions.

[2020-07-07 15:25] cenksari commented on #9042
I find a solution.

1 ) Create a fresh new project with `expo init project-name` command. This comes `expo@8.0.8` SDK version.
2 ) Select workflow (I choose "managed workflow")
3) Install all dependencies with `expo install` command. Example: `expo install @react-native-community/async-storage`
4) Go to main project and delete "**node_modules**" folder, "**package.json**", "**yarn.lock**" and "**p

[2020-07-07 15:28] AdamJNavarro commented on #9123
Hey @MaheshaBhat,

In the top right of Snack you'll see an arrow down icon labelled "Download as zip". You'll want to click that to create a local project were you can then configure your `app.json` and do any publish or building actions.

One last note, we try to reserve Github Issues for reproducible and actionable bugs. In the future, if you could direct questions like these to our [Forums](for

[2020-07-07 15:28] #9123 closed

[2020-07-07 15:33] hardcodet commented on #9047
Can we just get rid of that dependency altogether again? I had to install it to get it running on android, now had to actually run the config script to get it running on ios, too, which now broke my android setup. and i really don't want that splash screen in the first place :)

[2020-07-07 15:33] maurohmartinez commented on #6943
I got the same problem since I upgraded to `expo-notification`. I am using sdk38 managed workflow, standalone app (I rebuilt the bundle), and it occurs in both iOS and Android.
Thank you @cruzach for your help!

[2020-07-07 15:38] AdamJNavarro commented on #9122
Hey @dor6, can you try using `presentFormAsync` as `updateContactAsync` is currently an iOS-only method? https://docs.expo.io/versions/v38.0.0/sdk/contacts/#contactsupdatecontactasynccontact

[2020-07-07 15:41] dor6 commented on #9122
Preset from async opens a menu I need not to open a menu.
On sdk 37 the method worked but duplicated the contact, I referenced the issue that was resolved a few days ago.

[2020-07-07 15:44] MaheshaBhat commented on #9123
i wanted to publish app online without downloading it to the local. so is there any this can be done?

[2020-07-07 15:53] kadirguloglu commented on #6328
is solution provided? I have the same problem. sdk38

[2020-07-07 15:58] MaheshaBhat commented on #9123
i wanted to publish the app online without downloading it to the local. so is there any way, this can be done?

[2020-07-07 15:58] marcusleeeugene commented on #9121
You are right! Upgraded to SDK 38 and it works now! Thank you so much! :)

[2020-07-07 15:58] #9121 closed

[2020-07-07 16:09] AdamJNavarro commented on #9112
cc @brentvatne How do you think we should handle this? Update error messaging or pull forum FAQs into docs?

[2020-07-07 16:16] YuraChernii commented on #9042
i did it step by step but
![image](https://user-images.githubusercontent.com/67958005/86811075-31b02700-c086-11ea-981f-5023c8e6db5a.png)

then

![image](https://user-images.githubusercontent.com/67958005/86811180-4a204180-c086-11ea-97e8-f6e5460899ec.png)
![image](https://user-images.githubusercontent.com/67958005/86811249-5d331180-c086-11ea-9fed-e1d4b7d4cb53.png)

[2020-07-07 16:40] trikota commented on #4850
Comrades, I come to you from battling a similar issue.

`expo-av` audio stops after playing for few minutes in background on Android devices.
I figured that newer androids have App Standby mode that attempts to reduce battery consumption by restricting background apps from network and other stuff.
https://developer.android.com/training/monitoring-device-state/doze-standby

My app plays audio from

[2020-07-07 17:05] Alloyce opened #9124 "[SDK 38] expo-notifications works on expo client but not on react native android standalone and playstore"
## 🐛 Bug Report

### Summary of Issue
when running await Notifications.getExpoPushTokenAsync() or await Notifications.getDevicePushTokenAsync() on Expo cli it gets the expo pushtoken, but when I try the same on standalone or the client app on playstore it does not return any token. So I figured it must be related to the package itself expo-notifications since even Notifications.permission behaves

[2020-07-07 17:09] duganchen commented on #9042
The problem went away after I switched from Node 12 to Node 14.

[2020-07-07 17:17] kickbk opened #9125 "eslint-config-universe react-hooks possible bug?"
## 🐛 Bug Report

### Summary of Issue
I am not sure this is a bug, perhaps I'm doing something wrong, but after installing [eslint-config-universe](https://github.com/expo/expo/tree/master/packages/eslint-config-universe), I am not seeing warnings for incorrect react-hooks violations.

### Steps to Reproduce

#### Setup

[code]

#### Introduce the error and check if we get a warning

Added useEffe

[2020-07-07 17:34] AdamJNavarro commented on #9124
Hey @Alloyce,

Can you make sure you have your FCM credentials properly configured. When testing in the Expo client, it relies on the credentials from the client but once you create a standalone app, you must supply and configure your own. https://docs.expo.io/push-notifications/using-fcm/

Here's another report similar to yours that was due to FCM not being configured. https://github.com/expo/exp

[2020-07-07 17:36] Jasmine-Bascom commented on #9042
@cenksari I'm still getting the same issue after trying those steps as well.

[2020-07-07 17:38] cruzach commented on #3946
It looks like this was fixed in the new `expo-notifications` module! 🎉

Here's the code I used to test this, make sure you're using Expo SDK 38, and have installed the new module with `expo install expo-notifications`: https://snack.expo.io/@charliecruzan/notifications3946

If you're still seeing this bug, please let me know and I can reopen the issue

[2020-07-07 17:38] #3946 closed

[2020-07-07 17:47] cruzach commented on #2187
Hi everyone, sorry for the lack of response here. We did a complete revamp of the notifications module, giving devs a lot more power, flexibility, and consistency.

I tested out scheduling a repeating notification with the new `expo-notifications` module in SDK 38, and it's working as expected without any crashes, you can try it out with this Snack if you download the newest Expo client app: https

[2020-07-07 17:47] #2187 closed

[2020-07-07 17:51] byCedric commented on #9125
Hi @kickbk, thanks for the issue report! It looks like we never published this version on NPM, so the code you are looking into is newer than the latest published version on NPM. Thanks for letting us know, we should fix that.

Meanwhile, you can also manually enable it in your project:
- `yarn add --dev eslint-plugin-react-hooks`
- Update your `.eslintrc.js` to:
[code]

As a side note, I would re

[2020-07-07 17:56] #9042 closed

[2020-07-07 17:56] lkeshavan commented on #7562
I crash simply by having this line in the Code import * as Permissions from 'expo-permissions';

[2020-07-07 17:58] TylerKnvpp commented on #9042
I updated the expo-cli and the issue has been resolved.

[2020-07-07 18:10] Jasmine-Bascom commented on #9042
@TylerKnvpp on updating expo-cli I still have the same issue.

[2020-07-07 18:12] kickbk commented on #9125
Bedankt @byCedric. That works. I am not crazy after all :) I should have compared with NPM.
I know it's unrelated, but would you recommend using eslint-config-airbnb in addition to eslint-config-universe? Are there any benefits? Is it an overkill? I imagine it's a personal choice, but my gut feeling is telling me universe is all we really need.

[2020-07-07 18:12] brentvatne commented on #9042
- upgrade to expo@38.0.8 in your package.json
- remove your yarn.lock or package-lock.json
- remove node_modules
- run `yarn` or `npm install`
- start the app again

[2020-07-07 18:17] byCedric commented on #9120
Hi @Shizerq, thanks for your issue report. We have [patched the usage of `require.requireActual` in this PR](https://github.com/expo/expo/pull/8347), and should be included in SDK 38. I'm not sure what you are currently using, but upgrading to 38 should fix this for you.

I'm not sure why you get this error in `expo-localization`. The tests in that one shouldn't run in your project. We did have so

[2020-07-07 18:17] #9120 closed

[2020-07-07 18:21] cruzach commented on #5799
I created a Snack here to try and reproduce this: https://snack.expo.io/@charliecruzan/notifications5799

To test it, run the app on your device and tap `Press to send notification` -> all 3 notifications come in at their scheduled times (as evidenced by the logs)

I'm going to close this since it seems like the new `expo-notifications` module has fixed this issue 🎉 but if you do still see this bu

[2020-07-07 18:21] #5799 closed

[2020-07-07 18:22] KemikalGeneral commented on #9079
Hi @lukmccall ,

I've tried asking permission both ways:

[code]
or
[code]
... and then use control flow for the functionality...
[code]
Either way, if I print the permissions state, the permissions end up as explained above.

Thanks,

[2020-07-07 18:28] cruzach commented on #4121
Hi everyone- I can confirm this is fixed in the managed workflow on SDK 38 now, with the new `expo-notifications` module 🎉

You can test it with this snack- https://snack.expo.io/@charliecruzan/notifications4121 - just press the button, reset your device, and the notification should come through in 120 seconds. make sure you have the most recent Expo client downloaded!

[2020-07-07 18:28] #4121 closed

[2020-07-07 18:34] cruzach commented on #8025
hey @TrevorSundberg - to follow up on the comment above, we've integrated the new `expo-notifications` module into the managed workflow now 🎉

I created a Snack here to try and reproduce this behavior: https://snack.expo.io/@charliecruzan/notifications5799

To test it, run the app on your device and tap Press to send notification -> all 3 notifications come in at their scheduled times (as evidence

[2020-07-07 18:34] #8025 closed

[2020-07-07 18:48] cruzach commented on #7443
This has been fixed in the new `expo-notifications` module, if you're running into this issue, you should upgrade to SDK 38 and follow this documentation: https://docs.expo.io/versions/latest/sdk/notifications/

[2020-07-07 18:48] #7443 closed

[2020-07-07 18:53] ha77an commented on #6860
@robertveloso
I solved the problem with this way

Remove the Node module.
 `rm -rf node_modules/`

 install again
 `npm install`

 then try with
`expo start`

[2020-07-07 18:59] cruzach commented on #9118
This is duplicate of 9059 (linked above), so I'm going to close it to keep the conversation in one place

[2020-07-07 18:59] #9118 closed

[2020-07-07 19:14] byCedric commented on #9125
Haha, geen probleem! I wouldn't combine Airbnb and Universe configurations, some of the rules might collide. There is no good or bad choice here, but they are slightly different.

- Airbnb is focusing more on a [specific style outlined here](https://github.com/airbnb/javascript), it's also flagging "errors" for proper code but written in a slightly different style.
- Universe is more focusing on e

[2020-07-07 19:24] #9125 closed

[2020-07-07 19:35] byCedric commented on #9125
Quick update on the release, we are holding off for a bit because we have some breaking changes in master. We don't want to cause issues here, so it will be a new major release. For now, I would recommend the manual integration. ([see example](https://github.com/expo/expo/pull/8455#issuecomment-655071826))

[2020-07-07 19:42] expjess commented on #4070
Looks like @brentvatne made this [optional/experimental](https://github.com/expo/expo/blob/bb19ae51ec436f1e229fa7da178f6e70e8008291/docs/pages/versions/v37.0.0/react-native/stylesheet.md#methods) ❤️

[2020-07-07 19:42] #4070 closed

[2020-07-07 19:43] #4123 closed

[2020-07-07 19:50] ph-sw commented on #9084
Updating the expo client solved the problem with Lottie. not working. Thanks!

[2020-07-07 19:50] #9084 closed

[2020-07-07 19:51] expjess commented on #4506
Hey @changLiuUNSW - sorry we haven't addressed this specifically in the ExpoKit docs. We realized we needed a better, end-to-end experience for customizing Expo-made apps with native code, and have addressed this with the [Bare workflow](https://docs.expo.io/introduction/managed-vs-bare/).

[ExpoKit is now deprecated](https://blog.expo.io/time-to-start-using-expos-bare-workflow-expokit-now-depreca

[2020-07-07 19:51] #4506 closed

[2020-07-07 19:52] yonureker commented on #7854
@IjzerenHein same as @SimonHausdorf. Is it possible to add the invisible recapthca as mentioned here?  https://firebase.google.com/docs/auth/web/phone-auth#use-invisible-recaptcha

[2020-07-07 19:56] #5908 closed

[2020-07-07 19:58] cruzach commented on #9106
@pascalchristian I updated the demo, but can confirm that I see the same behavior on iOS when running the snack locally with expo-cli (even with the updated code)

When I switch to removing the subscriptions one by one with `Notifications.removeNotificationSubscription(subscription)`, like this:
[code]

I no longer see this error developing locally

[2020-07-07 20:01] expjess commented on #5927
Hey @danmaas - would you be willing to open a PR to take a stab at filling out the extra guidance around unsuccessful purchases?

[2020-07-07 20:06] #4243 closed

[2020-07-07 20:08] brentvatne commented on #4070
indeed this is no longer needed anymore in bare apps because we no longer apply any scoping prefix to font family names in bare apps

[2020-07-07 20:13] expjess commented on #5820
Hi @christiandave090697 - are you still having trouble after [removing the file(s) from your src folder](After SDK 38, your ExpoKit apps in the App Store and Play Store will continue to run indefinitely, but you’ll need to migrate to the Bare or Managed workflows in order to get bugfixes and new features in Expo modules)? Looks like that worked for @pencilcheck and others.

[2020-07-07 20:16] expjess commented on #5496
Hi @Rojdestv - we haven't heard from you for awhile so maybe you solved this problem? If not, can you please open a new issue with more details and a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) so we can help figure out what's going? Thanks!

[2020-07-07 20:16] #5496 closed

[2020-07-07 20:20] idudinov commented on #7132
hi there! I’m seeing this crash again with the same expo configuration/libraries but on the newer iOS 14.0 (18A5301v)

![D831C697-18B9-4A5E-95CE-E12AAFA99BFE](https://user-images.githubusercontent.com/15375564/86837935-469db200-c0a8-11ea-865d-0ef0e652e743.jpeg)

[2020-07-07 20:30] Alloyce commented on #9124
Thanks Adam, that solved my problem.

[2020-07-07 20:30] #9124 closed

[2020-07-07 20:32] ide commented on #9125
As I understand it, the Airbnb linter configuration takes more of a stance of: if there is a possibility something could go wrong, treat it as a lint error.

The Expo linter configuration's stance is more: minimize how much attention the linter takes away from an expert programmer. False positives and needing `// eslint-ignore` costs attention. If something is unequivocally an error (syntax error,

[2020-07-07 21:01] kickbk commented on #9125
@ide, I like the approach you guys took in regard to eslint (and Prettier). eslint-config-universe bundles the linting nightmare into one (apparent) line of extend code. It's **very** elegant. Honestly, I would consider giving it more prominence in your docs, or perhaps even add an option in expo init to add it to the mix, such as `Expo init myApp -lint`.

Regarding `exhaustive-deps` being noisy -

[2020-07-07 21:10] cruzach commented on #5057
Closing this for inactivity- if you still see this behavior then please provide a minimal reproducible demo

[2020-07-07 21:10] #5057 closed

[2020-07-07 21:37] cruzach commented on #5842
Hi everyone- glad to say this is fixed in SDK 38 with the new `expo-notifications` module 🎉 [here's the relevant documentation](https://docs.expo.io/versions/latest/sdk/notifications/).

You can now configure your notification handling with `Notifications.setNotificationHandler`, this particular behavior is controlled via `shouldShowAlert`

I should note that you can still pass `_displayInForegrou

[2020-07-07 21:37] #5842 closed

[2020-07-07 23:58] thedarkcder commented on #8691
Any ideas @byCedric ?

[2020-07-08 00:10] expjess commented on #9066
Hi @linaia! It'd be great to get a reproducible example and more info so we can help look into this. (Here's more guidance on how to do this if you need it: https://stackoverflow.com/help/minimal-reproducible-example.)

If you can reproduce your suspected problem, then it'll help us to investigate!

[2020-07-08 00:11] MeFon commented on #8752
Problem was solved by reinstalling the app (couple times....) and clearing all cache info  [using this guide](https://www.androidcentral.com/how-and-when-clear-app-cache-or-data-android)
Special thanks to @pacheco7

[2020-07-08 00:11] #8752 closed

[2020-07-08 00:34] sophiaritchie opened #9129 "Jest tests failing with type error after upgrading to expo-jest 38.0.0 & expo 38.0.0"
## 🐛 Bug Report

### Summary of Issue
Jest test type exception after upgrading to expo sdk 38.0.0 and expo-jest to v 38.0.0, expo types is on latest 25.1.3

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
[code]

### Reproducible Demo
Running our jest tests fails with a type error
[code]

### Steps to Reproduce
Run npm test with updated sdk

### Expected Behavior

[2020-07-08 00:48] danmaas commented on #5927
Ya I wouldn't mind - what file should I be updating? Is it `docs/pages/versions/unversioned/sdk/in-app-purchases.md` ?

Incidentally, I have a couple of questions regarding the roadmap for `expo-in-app-purchases`:
- currently it uses v2.0.0 of the Google Play Billing library on Android; v3.0.0 is now available and it includes a couple of fixes and deprecations (there is a minor API change around h

[2020-07-08 01:28] expjess commented on #6266
Closing this since SDK33 docs are now extinct; flagging this for @esamelson re: release process.

[2020-07-08 01:28] #6266 closed

[2020-07-08 02:08] esamelson commented on #8888
Hey @jonathanstiansen -- I've just published `expo-av@8.3.0` (tagged as `next` on NPM) with this commit included. Apologies it took so long; generally updates to individual packages between SDK releases are haphazard, though we'd like to publish more frequently! For now, you can check the [package CHANGELOG](https://github.com/expo/expo/blob/master/packages/expo-av/CHANGELOG.md) to determine how r

[2020-07-08 04:13] SimonHausdorf commented on #7854
https://github.com/expo/expo/blob/sdk-38/packages/expo-firebase-recaptcha/src/FirebaseRecaptcha.tsx#L36

This is the line responsible for the appearance of the captcha. However, I wasn't able to figure out how to implement the invisible one. It needs a bit more than just replacing it with `invisible`. Maybe someone will find some time and can open a PR.

[2020-07-08 04:54] expjess commented on #9109
It doesn't work for me with Snack switched to any version (tried 35-38) and gives me an error that this Snack was written <=SDK34. I think all of SDK35-38 are on `react-native-reanimated` 1.2.0 (vs 1.1.0 in SDK34) -- maybe related?

[2020-07-08 05:18] MathMesquita commented on #7374
Happening here in SDK 37, setting `primaryColor` didn't take any effect. :(

[2020-07-08 06:37] yesIamFaded commented on #9113
Yeah :D thanks

[2020-07-08 06:46] mczernek commented on #4850
@trikota Foreground service is actually very good and preferable approach to prevent from killing an app. The assumption is that app won't be killed as long as user is aware and visibly notified of app's presence.

[2020-07-08 07:03] lukmccall commented on #9106
Ok then, it looks like the bug is in the `UMReactNativeEventEmitter` - see `https://github.com/expo/expo/blob/62aa41504c39c964c3ba0fdffc82b69f1676e047/packages/%40unimodules/react-native-adapter/ios/UMReactNativeAdapter/Services/UMReactNativeEventEmitter.m#L87-L124`.
For some reasons, this method is called tree times 😕

[2020-07-08 07:47] viewpnt1 commented on #9035
IMO, its best for you to migrate the project to the bare workflow as
suggested. If your project is not heavy on custom native code and project
configuration, you'll probably spend less time migrating than upgrading. I
eventually did that and it actually took less time than I've spent trying
to upgrade.

On Tue, Jul 7, 2020 at 3:42 PM Savas Ziplies <notifications@github.com>
wrote:

--
[image: Phot

[2020-07-08 07:50] nea commented on #9035
Hi @viewpnt1

Thanks. But at least we are heavy on some native custom plugins we did, why we postponed it as the documentation stated 38 would still work and planned our Sprints accordingly.
This is why we were looking for a solution to get it working now to have a running version before a longer time of migration because of not just a normal project but several native sections to work on.

Thanks

[2020-07-08 07:53] alex-mironov commented on #8691
<img width="701" alt="Screen Shot 2020-07-08 at 10 51 07" src="https://user-images.githubusercontent.com/2544767/86892502-01f63300-c109-11ea-8bae-34797b7551ad.png">
Can someone pls describe what `create-manifest-ios.sh` is supposed to do?

The Archive doesn't work without running the packager. Is it how it's supposed to be?

[2020-07-08 07:54] viewpnt1 commented on #9035
I agree, the documentation is misleading and should probably be updated since there is no way to actually upgrade now.

[2020-07-08 07:56] IjzerenHein commented on #9109
The snack is missing the `react-native-reanimated` dependency, if you add it it will work:

[code]

Reanimated was imported by default in snack for sdk34 but that behaviour was changed in sdk35, so it needs to be added as a dependency explicitly. We are working on making importing dependencies easier. Once that lands you will be prompted to add the dependency an it will also help you select matchi

[2020-07-08 08:06] JustynaKK commented on #8210
This should work: https://vimeo.com/436104636

[2020-07-08 08:09] lukmccall commented on #8210
That will be very tricky :/ Please, create a new issue for that. I'll look at this and try to fix it.

[2020-07-08 08:30] #8990 closed

[2020-07-08 08:40] gesposito commented on #7946
Sorry about missing context, I was trying to work around the current issue, but faced what seems to be the same problem even on other apps (Chrome is able to recover, Expo is not). It seems something weird going on with Android itself.

[2020-07-08 08:42] JustynaKK opened #9131 "iPad initial orientation rotates to portrait"
## 🐛 Bug Report

Opening the app in the landscape orientation (physical and display is in the landscape), app automatically switches to portrait.
https://vimeo.com/436104636

Tested on: iPad Pro, iOS: 13.4.1

It was working in SDK 36, before moving the expo-screen-orientation to the separate module.

### Environment
[code]

[2020-07-08 08:44] JustynaKK commented on #8210
I submitted the issue: https://github.com/expo/expo/issues/9131
It seems as the same problem as in this issue: https://github.com/jellyfin/jellyfin-expo/issues/74

[2020-07-08 08:47] gesposito commented on #7946
In my case a similar(?) error appears even on Chrome with this sample here
https://mdn.mozillademos.org/en-US/docs/Web/API/FileReader/readAsDataURL$samples/Example?revision=1604552

[2020-07-08 08:47] lukmccall commented on #9131
Thanks for creating a new issue ;)

[2020-07-08 08:47] Alloyce opened #9132 "[SDK 38] Google login (Google.logInAsync) redirects to google home page after login in android standalone app"
## 🐛 Bug Report

### Summary of Issue
Googgle Login works well in expo cli, however, in the standalone (expo build:android) and apk installed from playstore, it redirects to the home page after choosing the account and allowing permissions. I tried adding the redireUrl to the code but doesn't work. I am using Google from 'expo-google-app-auth'.

### Environment - output of `expo diagnostics` & the

[2020-07-08 08:48] fooshyangsong opened #9133 "Standalone Release app in iOS hangs on white loading screen on launch"
## 🐛 Bug Report

### Summary of Issue
My app had been rejected by Expo due to the reason, the app stuck at white screen with a loading indicator on top.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
iOS Standalone, im using expo to build and upload my iPad to Apple. Expo CLI 3.22

app.json
{
  "expo": {
    "name": "xxxxxxxxx",
    "androidStatusBar": {
      "

[2020-07-08 10:01] MohabAbugabal commented on #7802
Hello everyone. I have the same problem and these solutions are not working? Any help, please?
![Screen Shot 2020-07-08 at 12 01 15 PM](https://user-images.githubusercontent.com/66527143/86905701-c06a8580-c112-11ea-9310-acfedc1ec63f.png)

[2020-07-08 10:06] lukmccall commented on #9079
@KemikalGeneral, I've tried to reproduce your bug. Unfortunately, I wasn't able to do it. Could you provide your phone manufacture? And it will be nice if you could test your app on a different device/emulator too. Later today, I'll provide you a simple demo that I've created.

This bug can be connected with changes to `external storage permissions`, which were made in Android 10.

[2020-07-08 10:16] byCedric commented on #9132
Hi @Alloyce, thanks for the issue report. Did you [follow the steps for Android standalone apps here](https://docs.expo.io/versions/latest/sdk/google/#deploying-to-a-standalone-app-on-android)? If it's working in the Expo Client, but not in a standalone app I think it's related to one (or more) of these steps. The good news here is that your JavaScript should be fine 😄  If you followed these steps

[2020-07-08 10:24] Alloyce commented on #9132
Hi Cedric, thanks for your reply. Yes I followed those steps and it works till after allowing the app, so it does not return to the app but rather navigates to google.com. Meaning something is not right with the redirectUrl.

[2020-07-08 10:26] lukmccall commented on #9079
https://github.com/lukmccall/camera-roll-permissions-issue <- demo
https://github.com/lukmccall/camera-roll-permissions-issue/blob/master/imagePickerBugUpgraded-107e731c08514bd1aaa41ead9b48ea6b-signed.apk <- here you can find compiled apk

[2020-07-08 10:28] yolpsoftware commented on #9109
@IjzerenHein Thanks, this really seems to work.

I did try that, but instead of `1.9.0` I tried `1.2.0` because `1.2.0` is the latest `reanimated` version included in the Expo SDK.

Why can we use `1.9.0` in Expo Snacks, if there is no Expo SDK with `react-native-reanimated: 1.9.0`?

Why are we seeing errrors when using `1.2.0` or `1.7.0`?

[2020-07-08 10:31] byCedric commented on #9129
Hi @sophiaritchie, thanks for your issue report! We are aware of [unexpected behavior with NPM and Yarn related to the `bin` section in the `package.json`](https://github.com/expo/expo/issues/8983#issuecomment-651149439). This is patched already but we still need to publish this. You can work around the issue in 3 ways:

- Patch the `./node_modules/.bin/jest` with [this piece of code](https://gith

[2020-07-08 10:31] #9129 closed

[2020-07-08 10:36] linaia commented on #9066
Do you really need a reproducible example to check if expo-firebase-analytics could be updated to use Firebase/Core version 6.25.0 (currently used 6.14.0 maybe old...).
Imho, relying triage only on "is there a reproducible example" is not the best choice. I understand that with 758 open issues, you have to choose the priority. This is not high priority and can be checked with expo-firebase-analyti

[2020-07-08 10:44] imdeepakchahar opened #9134 "Can't get Phone number"
@expo-contacts
**Code:**

[code]
**Output**
[code]

[2020-07-08 11:07] actuallymentor commented on #9039
Correct solution or not, my tests run again and I see little harm in this.

[2020-07-08 11:36] JUDOKICK opened #9135 "Unhandled Rejection (Error): Expected font asset of type `string | FontResource | Asset` (number is not supported on web) instead got: null"
## 🐛 Bug Report

### Summary of Issue
Unable to load any fonts using Font.loadAsync or useFonts

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

[code]

### Reproducible Demo

[code]

### Steps to Reproduce

### Expected Behavior vs Actual Behavior

Expecting the fonts to load in the web expo, currently does not. Using latest Expo SDK 38.0.8

[2020-07-08 11:39] JUDOKICK commented on #9135
I suspect this has to do with something how the expo/webpack packs the fonts for use in the Web version. But i cant seem to pinpoint the issue. It claims that the fonts being loaded resolve to a number rather than the string that is provided.

[2020-07-08 12:14] byCedric commented on #9135
Hi @JUDOKICK, thanks for the issue! Could you create a small example or repo where this happens for you? I can't seem to reproduce this in a new blank project. Just for my understanding, this is working for you in Android/iOS but not on Web right?

[2020-07-08 12:21] ermenkov commented on #9092
Gotcha. Thanks for the support @cruzach

[2020-07-08 12:23] #9092 closed

[2020-07-08 12:26] JUDOKICK commented on #9135
Hey @byCedric

Thanks for the reply. Yes, I can load fonts in Android and iOS but not Web. I also cannot reproduce it in a new project.

I've tried the usual, removing node_modules, reinstalling packages, etc. No dice. Even cleared caches.

[2020-07-08 12:27] kub1x opened #9136 "MapView from react-native-maps crushing when ran on APK."
## 🐛 Bug Report
Expo app with only single component `<MapView />` runs normally in Expo client with js sources fetched from server and from console, but when built into APK it crashes every time.

I've made this version https://github.com/kub1x/expo-maps-repro with just the one MapView compnent. It freezes on splashscreen.

When MapView is on next screen of react-navigations `bottomTabView` the ap

[2020-07-08 12:28] kub1x commented on #6229
I see @megahertzon is using `react-native-maps` in the project.
The component is crushing my apk build, so maybe it is related.
https://github.com/expo/expo/issues/9136
https://github.com/react-native-community/react-native-maps/issues/3477

[2020-07-08 12:38] byCedric commented on #9134
Hi @imdeepakchahar, thanks for the issue report. Unfortunately, we need a bit more info to help you find the issue here. Please create a new issue and fill in the issue template. It's good that you added the code, but we need more info. For example, I have no idea which SDK you are using, what platform this happens, your project type (managed/bare) etc.

I've tested this with the example from the

[2020-07-08 12:38] #9134 closed

[2020-07-08 12:38] Blixten84 commented on #9131
I just wanted to say that I'm also facing this issue. When starting up my standalone expo app when the device is physically in landscape mode, the splash screen loads correctly in landscape, but then the screen rotates to a portrait mode.

[2020-07-08 12:40] kub1x commented on #5810
Just in case it is somehow related: for me apk built from my managed Expo app also crashes.
https://github.com/expo/expo/issues/9136
https://github.com/react-native-community/react-native-maps/issues/3477

[2020-07-08 12:42] byCedric commented on #9135
Hmm, if we can't reproduce this it's not really possible for us to find the issue here. You can try debugging this yourself by removing all fonts and render a placeholder. After that, you can add the fonts back 1 by 1 to see from when this issue occurs. But again, without being able to reproduce this we can't help that much.

[2020-07-08 12:52] lukmccall commented on #9131
@Blixten84 are you using an iPad too?

[2020-07-08 12:52] byCedric commented on #9136
Hi @kub1x, thanks for the issue report and example! I can see that you are using the correct `react-native-maps` version for the SDK, and everything else looks pretty good. I did notice there is no configuration for standalone builds (like `android.config.googleMaps.apiKey`), [have you followed the steps listed here](https://docs.expo.io/versions/latest/sdk/map-view/#deploying-to-a-standalone-app-

[2020-07-08 13:14] cruzach commented on #9104
Hi @PolinaLiolia ! For questions like this, it's always better to post on our [forums]() rather than open an issue on github since we keep github reserved for bug reports.

I've answered your question here- https://forums.expo.io/t/configure-unimodules-after-ejecting/40072

[2020-07-08 13:14] #9104 closed

[2020-07-08 13:22] Blixten84 commented on #9131
Not iPad, but I’m using both my physical and simulated iPhone X running iOS 13.5.
The same issue happening for both the release build and the dev build (with metro).

[2020-07-08 13:35] lukmccall commented on #9131
And you are using `expo-screen-orientation: 1.1.1`?

[2020-07-08 13:47] maurohmartinez commented on #9092
@cruzach so, where to follow the issue `addNotificationResponseReceivedListener` ??

[2020-07-08 13:49] cruzach commented on #9092
I linked it above ^ https://github.com/expo/expo/issues/9092#issuecomment-654905834

[2020-07-08 13:53] maurohmartinez commented on #6943
@cruzach is there any info you need from us? I can provide the code I am using to see if it is possible to reproduce the bug. Thanks!

[2020-07-08 14:20] Blixten84 commented on #9131
Yes.

And it seems to work as expected when I tested it on an Android emulator. So this seems to be an issue only for iOS.

[2020-07-08 14:30] lukmccall commented on #9131
Ohh, I see. This bug was fixed by https://github.com/expo/expo/pull/8727 and https://github.com/expo/expo/pull/8836. Unfortunately, these changes weren't published yet.

[2020-07-08 14:32] frodoe7 opened #9138 "Sharing functionality in Expo"
## 🐛 Bug Report

### Summary of Issue
This is a report about some limitation in the Expo Sharing plugin (not literally a bug)

here's the code in brief
Sharing.shareAsync("localFilePath", { dialogTitle : "Title" })

### Expected Behavior vs Actual Behavior

What expected is to share the image include the title

The actual behavior , it only shares the image without the title

----

also note , thi

[2020-07-08 14:34] lukmccall commented on #9131
@JustynaKK, I'm not sure if these fixes will help in your case. IPads differently handle screen orientation.

[2020-07-08 14:37] cruzach commented on #9133
Hi! We have a guide on debugging standalone issues like this [here](https://docs.expo.io/workflow/debugging/#production-errors). I would go through your native device logs to see if you can get some useful information from there, and then provide it in your issue

Note that after changing any `updates` keys in app.json, you'll need to rebuild the app with `expo build:ios`, not just run `expo publi

[2020-07-08 14:47] bsgbryan opened #9139 "BasCodeScanner camera view freezes"
## 🐛 Bug Report

### Summary of Issue

1. Create two components that use BarCodeScanner (A and B)
1. Navigate between components: A -> B, then B -> A
1. Camera view in component A is frozen
1. Navigating back to component B, camera view is not frozen
1. Navigating between components, behavior is consistent: camera in component A is frozen, camera in component B is not frozen

### Environment

[cod

[2020-07-08 14:52] cruzach commented on #9138
Hi! This is working for me correctly in this snack (tested on a OnePlus) - https://snack.expo.io/@charliecruzan/sharing-with-title

I'm going to close this issue since, without the information we ask for in the issue template, it can be really hard to try to help. If you can edit the issue to include all of the info we ask for, I'll be happy to reopen it

[2020-07-08 14:52] #9138 closed

[2020-07-08 15:08] cruzach commented on #6229
@kub1x you should follow the guide we provide [here](https://docs.expo.io/workflow/debugging/#production-errors) for debugging standalone app crashes (specifically, you should run `adb logcat` to get the device logs and search for "fatal", which should identify the relevant logs)

Since we haven't received any updates on this issue like a repro, and Expo now has multiple SDKs released on RN .60 an

[2020-07-08 15:08] #6229 closed

[2020-07-08 15:13] JUDOKICK commented on #9135
Here's a flat boilerplate that demonstrates the issue perfectly. Its completely unable to open in Web due to the fonts not loading.

https://github.com/mcnamee/react-native-expo-starter-kit

[2020-07-08 15:23] cruzach commented on #4344
Hey @vasyas, sorry for the lack of response here, but this has been fixed in the new `expo-notifications` module which was released with SDK 38 🎉 [here's the relevant documentation](https://docs.expo.io/versions/latest/sdk/notifications/)

I used [this snack](https://snack.expo.io/@charliecruzan/notifications4344) to test on an Android 6 emulator (had to use local notifications since emulators don

[2020-07-08 15:23] #4344 closed

[2020-07-08 15:29] tom-nuyts commented on #7351
Having the same issue. Any updates on this one?
@Saifadin Did you find a fallback option in the meantime?

[2020-07-08 15:36] Saifadin commented on #7351
@tom-nuyts unfortunately no, we show an error message at the signup if the user is not on wifi. It's a bit of a problem unfortunately... It is kinda killing our conversion.

[2020-07-08 15:54] cruzach commented on #7156
Hi everyone, I put together [this snack](https://snack.expo.io/@charliecruzan/notifications7156) to try and reproduce this on the new `expo-notifications` module we released with SDK 38, and it looks to be working as expected. Since I wasn't able to reproduce this on the old version either, I'd like to hear if this snack also works for you, so let me know! If it doesn't, please provide details abo

[2020-07-08 15:54] #7156 closed

[2020-07-08 15:56] tom-nuyts commented on #7351
I've found another package to use just to retrieve the public ip address: https://www.npmjs.com/package/react-native-public-ip
Don't know if you might use it, but at least it works 😄

[2020-07-08 16:02] Saifadin commented on #7351
oh, interesting. I will have a look and try it!

[2020-07-08 16:08] lenarmazitov commented on #8756
I also have crash when I trying to use Permissions module on IOS

[2020-07-08 16:18] JUDOKICK commented on #9135
I've also created a barebones app demonstrating the issue.

https://github.com/JUDOKICK/expo-font-loadasync

It recreates no problem. Seems to be consistent now.  When you run ```expo start:web``` It gives the unhandled rejection error.

[2020-07-08 17:15] JUDOKICK commented on #9135
I seemed to have created a fix for it. Seems to fix it.

if you import like so. Then it runs.

[code]

Can't explain why, but this pattern seems to satisfy the requirements for the Expo Web build.

[2020-07-08 18:09] wata-peter commented on #9132
Hi @byCedric,
I also have a similar problem like @Alloyce. Google Login works well in expo cli, but when I got the standalone (expo build:android) and after apk installed from playstore, when I click login button (Google or Apple ID) it does not navigate to Google/Apple's page (Nothing happened).
And I also have followed the steps you mentioned about.
Do you have any advise?

[2020-07-08 18:30] jsilvao commented on #9135
Sometimes It's amazing how regular users are more helpful than maintainers. Really good work @JUDOKICK .

[2020-07-08 18:44] jhowpaes commented on #5419
@Tinkvision  Were you able to solve the problem? Because I'm experiencing the same problem where the pedometer activates on Motorola phones, but not on samsung. Use react-native with unimodules expo package.

[2020-07-08 18:56] byCedric commented on #9135
Awesome, thanks for digging into this. I think I might know why this is happening, inline `require` might be handled as dynamic import in Webpack. If this happens, the `require` method returns a promise instead of the icon resource itself. This is something we can investigate and work on, thanks! The workaround looks great, it shouldn't behave differently on native as well so good find!

Let's kee

[2020-07-08 19:14] byCedric opened #9142 "[docs] Keep 3rd party documentation and versions in SDK in sync"
Right now it's hard for us to keep the documentation for 3rd party libraries in sync.

- Links might point to newer versions of the library, causing developer confusion
- No way of detecting/fixing these pages for us

**Potential fixes**

- Link to versioned 3rd docs (e.g. by tag or commit)
- Add meta info to the docs and compare it with `bundledNativeModules.json`
- Expand `et update-vendor-modul

[2020-07-08 20:47] albertcito opened #9143 "Speech.speak Unhandled promise rejection"
## 🐛 Bug Report

### Summary of Issue
- Different audios are reproduced in different screens (using [react-navigation/native](https://reactnavigation.org/)), but after the to reproduce many kinds of audios, it shown a warning.
- It's a warning that appears only in **Android**.
- After the warning is shown, the Speech.speak doesn't works anymore.

### Environment

### Reproducible Demo
Unfortunatel

[2020-07-08 20:48] brentvatne commented on #9143
hi! we need a reproducible example to help with this. please create a new issue and provide an example that we can run to demonstrate the issue. this is likely a bug in your own code and trying to provide a minimal reproducible example will help you to locate that bug! if you can reproduce it then it'll help us to investigate! more guidance on how to do this if you need it: https://stackoverflow.c

[2020-07-08 20:48] #9143 closed

[2020-07-08 20:49] brentvatne commented on #9143
- are you using a video player in your app anywhere?
- are you using any other kind of audio?

[2020-07-08 21:15] danmaas commented on #9135
This also seems to affect sound and image assets. JUDOKICK's work-around fixes those too.

[2020-07-08 23:04] gregdburns commented on #8726
@byCedric I've updated to Expo SDK 38, but we're still seeing this show up in a scan:

"introduced by react-native@https://github.com/exp/react-native/architec/sdk-38.0.0.tar.gz > @react-native-community/cli-platform-android@4.7.0 > logkitty@0.6.1 and 1 other path(s)."

Did I misunderstand the resolution, or miss a step?

Thanks!

[2020-07-08 23:09] kub1x commented on #9136
@byCedric Hey, you're right! It looks like it helped. Seeing the `react-native-maps` package to _just work_ in Expo client probably made me not even look for those additional steps, just used the packages docs.

Still though, crashing the whole app because of a missing field in config seems a bit lot and would've never searched for such kind of error. It feels like an exception should've been caug

[2020-07-09 00:12] rickerp commented on #9135
I too had this problem. Thanks for the fix @JUDOKICK.

I then found the problem is in `require`.

Not related I think, but I realized that my images stopped loading. I then replaced where I'm using `require` with `import` in the top, and now its working.
Very weird...

[2020-07-09 01:15] expjess commented on #9142
Is there also a workaround where we at least expose the conflict? Or would the way we print "version in SDK" info require just as much remembering/work as simply updating the documentation to match?

[2020-07-09 01:45] zcr1 commented on #9088
I had this error when importing as `Import Permissions from 'expo-permissions';` make sure you use `Import * as Permissions`.

[2020-07-09 05:07] shubhamdeol commented on #6782
How can I ignore unsupported dependencies expo web bare work flow. I am getting ```no loader are configured error``` from one of dependency. due to which I am unable to run my web version.

[code]

[2020-07-09 06:09] hussainahmad commented on #8830
Hey @AdamJNavarro  Sorry for responding late, I created Demo  [Expo Task Manager](https://github.com/hussainahmad/Expo-Task-Manager)  for the above issue. after locking the mobile almost after 5 min this issue will arise.

[2020-07-09 06:17] vasujogani opened #9146 "Notifications in standalone version"
I have implemented a notification handler by doing `Notifications.addListener((notification) => { alert('hi'); })`. This works when I test the app on Expo on both Android and IOS. However, after doing `expo publish`, this doesn't work on the standalone app for IOS. The Notifications are received by iOS when the app is closed. Notifications are _not_ seen when app is in the foreground/open, but I'm

[2020-07-09 07:09] IjzerenHein commented on #9109
That's not entirely correct. Here is the table of `react-native-reanimated` versions shipped with the latest clients

[code]

Reanimated is sort of a special library that requires a very tight integration. Because of that the Expo client only the latest version of the native code (as opposed to multiple editions, one per supported sdk).
I'm not entirely sure but I think that is the reason that the

[2020-07-09 07:15] JustynaKK commented on #9131
ok,I will wait for the changes to be published and I will let know if it helped with iPads.

[2020-07-09 07:46] tsapeta commented on #9136
We as a team are not the owners of `react-native-maps` module where such check for missing api key should be added, but we will try to do something with this.

[2020-07-09 07:49] tsapeta commented on #5810
Due to inactivity of this thread and no other reports of similar crashes in bare workflow, I'm closing this issue. If you've encountered crashes in managed workflow, then see the comment above ☝️, especially #9136 where you can find a solution.

[2020-07-09 07:49] #5810 closed

[2020-07-09 07:54] yolpsoftware commented on #9109
I see, thanks.

[2020-07-09 07:54] #9109 closed

[2020-07-09 08:12] tsapeta commented on #9035
Hi guys, I apologize I've forgotten to temporarily bring this podspec back to the root folder 🙈
It was going to be removed from the root folder for SDK39 (which won't support ExpoKit) and not SDK38.
I just published a `ios/2.16.1` tag, can you try using it?

[2020-07-09 08:24] tsapeta commented on #7802
@MohabAbugabal Looks like you're trying to run SDK38 project on the old client version that doesn't support SDK38. Could you please update the app? If that issue still exists after updating, please open a new bug report and provide some more info.

I'm closing this issue since we didn't get similar issues for SDK38 yet, so hopefully it's been fixed. Feel free to open a new bug report if it still p

[2020-07-09 08:24] #7802 closed

[2020-07-09 08:29] tsapeta commented on #5064
I'm closing this issue since we no longer support using ExpoKit (SDK38 was the last release of ExpoKit) and the bug report was made for pretty old versions SDK32/33. If you're still experiencing this in SDK38 then please open a new bug report, but I encourage you to use bare workflow instead of ExpoKit – it gives you more control on what's being installed, the configuration and so on.

[2020-07-09 08:29] #5064 closed

[2020-07-09 08:31] tsapeta commented on #1628
Closing this as it's pretty old issue and we no longer support SDK26 and ExpoKit.

[2020-07-09 08:31] #1628 closed

[2020-07-09 08:32] tsapeta commented on #1918
Closing this issue because we no longer support ejecting to ExpoKit. I encourage you to use bare workflow instead of ExpoKit.

[2020-07-09 08:32] #1918 closed

[2020-07-09 08:35] tsapeta commented on #3714
Closing this as we no longer support ExpoKit and this issue report was made for pretty old SDK32. Please open a new bug report if this issue still exists in bare workflow.

[2020-07-09 08:35] #3714 closed

[2020-07-09 08:37] tsapeta commented on #4076
Closing this as we no longer support ExpoKit. If you can't use managed workflow, we recommend to use bare workflow and use `expo-splash-screen` module. If you will still experience such behavior please open a new bug report.

[2020-07-09 08:37] #4076 closed

[2020-07-09 08:45] tsapeta commented on #5087
We no longer support ExpoKit and I encourage you to use bare workflow instead if you're still experiencing this issue. Closing this report, but feel free to open a new one if this still happens in bare workflow 🙂

[2020-07-09 08:45] #5087 closed

[2020-07-09 08:48] tsapeta commented on #5650
We no longer support ExpoKit so I encourage you to use bare workflow instead. If this issue still exists in bare workflow then please open a new bug report with more details about your dependencies and errors that you're having.

[2020-07-09 08:48] #5650 closed

[2020-07-09 08:50] tsapeta commented on #5820
As we no longer support ExpoKit and the potential workaround has been posted above, I'm closing this bug report. Please migrate to managed or bare workflow instead of using ExpoKit 😉

[2020-07-09 08:50] #5820 closed

[2020-07-09 08:52] tr-joe commented on #9062
HI Dude, I saw on Monday @lukmccall  you picked it up mate and made a pull request that failed... Do you have any update on when this will be completed and can you confirm this will resolve the Issue of not being able to save Notification Icon and change color? Additionally, I also noticed that when you create an Android channel using new API although you set light color and other properties it ju

[2020-07-09 08:52] nea commented on #9035
Hey @tsapeta

Awesome, thanks. I just tried everything and in general pods are building again. I was able to update, install and everything.

I just face a different problem now, that in `Core/EXUserNotificationManager.h` there is an import for `#import <EXNotifications/EXNotificationsDelegate.h>` which fails as `file not found`.

I don't know if this is related.

Cheers

[2020-07-09 08:55] Melekhin opened #9149 "Props font-weight doesn't work on iOS by use expo-font and custom font"
Hello, guys!

Added custom font (sf pro text regular, sf pro display regular) to the project. The font is substituted correctly, but when I try to change the font weight of a given font, nothing happens on iOS. On Android, the font weight changes only if you pass the value bold. And if you transfer font weight with a number, nothing happens on the Android or on the iOS.

[code]

What is the way to

[2020-07-09 08:58] pioNavarro commented on #9044
Having same issue here.

`  Expo CLI 3.20.9 environment info:
    System:
      OS: macOS 10.15.5
      Shell: 5.7.1 - /bin/zsh
    Binaries:
      Node: 12.16.3 - /usr/local/bin/node
      Yarn: 1.17.3 - /usr/local/bin/yarn
      npm: 6.14.4 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    IDEs:
      Android Studio: 3.6 AI-192.7142.36.36.6392135
      Xcode: 11.5/11E608c

[2020-07-09 09:03] lukmccall commented on #9062
Hi @tr-joe, the PR which you mentioned will be merged soon. However, I don't know when it will be published.

By

did you mean `Notifications.getChannelAsync()`? If yes, please create a new issue for that ;)

[2020-07-09 09:04] tsapeta commented on #5972
If I understand correctly, you were trying to add support for in app purchases in managed workflow, right? Unfortunately we can't do this because Apple wouldn't allow us to have any references to in app purchases and so we would get rejected when submitting an app to the App Store. Also, the process of building a shell app is not documented and personally I don't recommend it.

[2020-07-09 09:04] #5972 closed

[2020-07-09 09:07] tsapeta commented on #6206
Because of inactivity for longer period of time and the fact that we no longer support ejecting to ExpoKit, I'm gonna close this issue. I recommend migrating your apps to managed or bare workflow instead, and if it still happens to you reopen a new bug report with some more and up-to-date details.

[2020-07-09 09:07] #6206 closed

[2020-07-09 09:16] tsapeta commented on #9035
Hmm, yeah, it seems to be an issue because ExpoKit doesn't provide `EXNotifications` framework itself. I would say that you need to install `expo-notifications` to make this error go away. Again sorry for this.
Anyway, even if installing notifications solves a problem, I really recommend to migrate to bare workflow (or managed if you can) where you will have more control on what's being installed

[2020-07-09 09:16] #9035 closed

[2020-07-09 09:18] nea commented on #9035
Hi @tsapeta

Story to change to Bare is already in the Sprint, so being worked on ^^Just thought I make an intermediate build.

Thanks

[2020-07-09 09:21] tsapeta commented on #7154
I've tested this scenario during QA for SDK38 and hopefully it's no longer an issue in that SDK. Anyway, I really encourage you to migrate to bare workflow (or managed if you can) and then use the most recent version of `expo-sms` (there is a chance my PR #8575 solved this).
I'm gonna close this but feel free to reopen or create a new bug report if this issue still exists in the latest version.

[2020-07-09 09:21] #7154 closed

[2020-07-09 09:26] tsapeta commented on #5609
Due to inactivity in this thread, I'm gonna close this issue. Feel free to reopen if you're still experiencing this in the most recent SDK — SDK38.

[2020-07-09 09:26] #5609 closed

[2020-07-09 09:31] tsapeta commented on #5760
After reading comments above, looks like there is a workaround for this issue. Because we no longer support ExpoKit, we're not going to fix this, however I recommend you to migrate to bare workflow (or managed if you can) where this workaround won't be needed.

[2020-07-09 09:31] #5760 closed

[2020-07-09 09:31] lukmccall commented on #9131
I'll also try to reproduce it with this fix ;)

[2020-07-09 09:35] tsapeta commented on #7683
Due to inactivity in this thread, I'm going to close this. Feel free to comment here if you're still experiencing this issue and the above comment didn't help.

[2020-07-09 09:35] #7683 closed

[2020-07-09 09:45] JamieS1211 commented on #9146
I have also had significant problems here. In expo SDK 37 I found that the `Notifications.getExpoPushTokenAsync()` function would hang and never resolve, and as of SDK 38 the replacement function how throws an error #9061

[2020-07-09 10:00] #9136 closed

[2020-07-09 10:14] sbrighiu commented on #8134
I don't follow @simoneb where do you add that code? And how will it force the AuthSession auth methods to return the resulting url?

[2020-07-09 10:18] simoneb commented on #8134
Anywhere in the app as long as it executes when the login process redirects back to the app. Executing that code will close the login popup.

[2020-07-09 10:21] sbrighiu commented on #8134
My problem is that the popup does not close and instead opens the redirect url inside it. Closing the window doesnt help me since the main window dod not receive the payload

[2020-07-09 10:22] #9062 closed

[2020-07-09 10:23] summerkiflain commented on #6943
For me `addNotificationResponseReceivedListener` doesn't trigger only when app is closed already or user force closes it, it triggers fine when app is foreground or background, even its works in expo-client if its foreground or backgrounded, I am testing on Expo SDK 38 and physical iPhone device.

[2020-07-09 10:25] YahyaBagia commented on #6943
I'm having the same issue. Waiting for the solution or some workaround.

[2020-07-09 10:43] simoneb commented on #8134
Then you may be having a different issue

[2020-07-09 10:43] byCedric commented on #9149
Hi @Melekhin! Unfortunately, React Native has certain limitations to custom fonts. On Android, as you mention, only the `normal` and `bold` font weights are supported. Because of this, the best approach to this is declare them as a different font family. Here is an [example on Stack Overflow](https://stackoverflow.com/a/38820631) and [one in our docs](https://docs.expo.io/guides/using-custom-fonts

[2020-07-09 10:43] #9149 closed

[2020-07-09 10:44] sbrighiu commented on #8134
Could be :) Thanks for clarifying :)

[2020-07-09 11:45] byCedric commented on #9142
Right now I don't think we have something to detect or expose these conflicts. We do know the versions bundled in specific SDK versions, using the `expo/bundledNativeModules.json`. But we don't know the versions within the SDK documentation pages. So I guess we have to fix that first 😄

I think adding meta info like `externalLibrary: @react-native-community/netinfo@5.x.x` would be the best approac

[2020-07-09 12:07] summerkiflain commented on #9059
everything about expo-notifications is Effed up!
I receive `data` like `response.notification.request.content.data` on android /  from local notifications and from push notifications,
but receiving `data` like `response.notification.request.content.data.body` on iOS only from push notifications, local notifications on iOS return `data` like android.

It should be inside `body` everywhere, iOS push

[2020-07-09 12:16] RodolfoGS commented on #9146
Maybe the problem is related with the `useNextNotificationsApi` flag. Read this and test add that flag to `app.json`: https://docs.expo.io/versions/latest/sdk/notifications/#android

Also test `addNotificationReceivedListener` and `addNotificationResponseReceivedListener` methods.

---
To show the notification when the app is in foreground: https://docs.expo.io/versions/latest/sdk/notifications/#h

[2020-07-09 12:20] lukmccall commented on #9146
`useNextNotificationsApi` flag only affects android. On iOS, you don't have to have this flag set to true.

[2020-07-09 12:24] RodolfoGS commented on #9146
Oh, It's true, the flag is only for Android, my fail 🤦‍♂️

[2020-07-09 12:32] byCedric opened #9150 "Motion permission on web has status granted but is not granted"
## 🐛 Bug Report

### Summary of Issue

When requesting the `Permissions.MOTION` on web, through Snack, I see the `status` is `granted` but `granted` is `false.`

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

SDK 38, on web

[code]

### Reproducible Demo

See [this Snack](https://snack.expo.io/@bycedric/57b9ee).

### Steps to Reproduce

- Open Snack
- Show on we

[2020-07-09 13:08] byCedric opened #9151 "Device motion on web throws DeviceMotionEvent not defined"
## 🐛 Bug Report

### Summary of Issue

When requesting or checking permissions for Device motion (`Permissions.MOTION`) on Android, I get an unexpected error.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

SDK 38, on web (from Android)

[code]

### Reproducible Demo

See [this repo](https://github.com/byCedric/expo-web-device-motion-issue).

### Steps to Reprod

[2020-07-09 13:13] Tinkvision commented on #5419
Hello @jhowpaes,

Sorry I haven't found a solution and in the meantime I've changed company so I can't say if my successor has found a solution to the problem.

I had disabled the functionality on the devices that have the problem.

[2020-07-09 13:30] cruzach commented on #6943
Nope, I was able to reproduce this with the demo from the docs. We're aware of the issue and will investigate/resolve as soon as we can!

[2020-07-09 13:34] byCedric opened #9152 "Full (system) brightness on OnePlus 6 is only 40%"
## 🐛 Bug Report

### Summary of Issue

When setting the system brightness to 100%, on a OnePlus 6, I only get ±40% of screen brightness.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

SDK 38, on Android 10 (OnePlus 6)

[code]

### Reproducible Demo

See [this snack](https://snack.expo.io/@bycedric/brightness-oneplus-6-issue).

### Steps to Reproduce

See video

[2020-07-09 14:06] cruzach commented on #9061
@JamieS1211 the snack you shared doesn't run 🙁

I tested this myself on SDK 38 with a standalone app on Android 9, and getting the push token didn't cause any problems, and I was able to successfully send/receive push notifications. I used the code from the [docs demo](https://docs.expo.io/versions/latest/sdk/notifications/) and here is the relevant portion of app.json:
[code]

Can either of you t

[2020-07-09 14:15] cruzach commented on #9146
@vasujogani we provide an issue template so that you can provide all the information we need to help you. Unfortunately, without that information, it's hard for us to move forward.

On Android, you will need to follow [this FCM setup guide](https://docs.expo.io/push-notifications/using-fcm/) and then rebuild your app (not just run `expo publish).  Also, `Notifications.addListener` is for the legac

[2020-07-09 14:15] #9146 closed

[2020-07-09 14:33] cruzach commented on #7863
Hey @YahiaBadr - I was able to reproduce this issue myself on SDK 37, thanks for bringing it up! This has been resolved with the new `expo-notifications` module, since you now handle whether or not the notification displays while the app is foregrounded with [`setNotificationHandler`](https://docs.expo.io/versions/latest/sdk/notifications/#setnotificationhandlerhandler-notificationhandler--null-vo

[2020-07-09 14:33] #7863 closed

[2020-07-09 15:22] OscarYuen commented on #9139
According to Camera Doc,
only one active Camera preview is supported currently. When using navigation, the best practice is to unmount previously rendered Camera component so next screens can use camera without issues.

I think it also applied to BarCodeScanner

[2020-07-09 15:28] cruzach commented on #7831
@dhcmega it seems like your questions should all be answered by [this response](https://github.com/expo/expo/issues/7727#issuecomment-616674874) that has been linked previously, especially this section:

In short, your SDK 36 users shouldn't be affected.

It looks like this issue can be closed, if you're running into this error then you should check that your fcm configuration is valid by running

[2020-07-09 15:28] #7831 closed

[2020-07-09 15:35] cruzach commented on #6414
Closing this issue for inactivity.

The order of receipts returned doesn't match the order of tickets submitted. Since it's possible to return no receipt for a given id (in the case of a receipt for that ID not existing, [read docs for more info](https://docs.expo.io/push-notifications/sending-notifications/#push-receipts)), returning the receipts in the same order wouldn't actually be very benefi

[2020-07-09 15:35] #6414 closed

[2020-07-09 15:46] cruzach commented on #6693
This is fixed now in SDK 38, with the new [`expo-notifications` module](https://docs.expo.io/versions/latest/sdk/notifications/) 🎉

In the new module, you configure how the app handles notifications that come in while the app is foregrounded through the `setNotificationHandler` method, which allows you to set whether notifications will show an alert, play a sound, etc. Additionally, the notion of

[2020-07-09 15:46] #6693 closed

[2020-07-09 15:49] cruzach commented on #9044
@pioNavarro this issue is for iOS, not android. It sounds to me like you may not have setup FCM for your project. You can follow [this guide](https://docs.expo.io/push-notifications/using-fcm/) to do that

[2020-07-09 16:02] Blkc opened #9153 "[docs] FirebaseAnalytics Web"
I think on https://docs.expo.io/guides/setup-native-firebase/?redirected#web there is a typo. It should be Add Firebase to your Web app instead of Add Firebase to your iOS app

[2020-07-09 16:21] jhowpaes commented on #5419
Hello @Tinkvision,

Thank you for giving feedback.

[2020-07-09 17:44] #9153 closed

[2020-07-09 18:20] ericlewis commented on #9028
Stealing this from @EvanBacon on twitter:
[code]

if you don't need copy and paste stuff for now, just throw this in your `App.js`

[2020-07-09 19:07] rphlmr commented on #8220
@valentinbourqui I was in the same use case, migrating from vanilla React Native to expo in one of my app.

You'll need that :
[code]

This is how I read vanilla storage on android and ios.

Thanks to other people in this page (and their gist).

It's not the best code of the year but it works 😂

https://gist.github.com/rphlmr/8e7f864a792b67215f2e37a2cef099e3

[2020-07-09 19:47] Blkc commented on #9135
I ran into this issue when I have `import { FontAwesome5 } from '@expo/vector-icons'` and `<FontAwesome5 name="comment-dollar" size={22} color="rgba(0,0,0,0.35)" />`. Not sure how to fix at the moment.

[2020-07-09 20:43] EvanBacon commented on #9135
This has been fixed in https://github.com/expo/expo-cli/pull/2346 we will publish the fix promptly.

[2020-07-09 20:43] #9135 closed

[2020-07-09 20:51] EvanBacon commented on #9135
Tested that `with-custom-fonts` example works with `expo-cli@3.22.1` in web.

[2020-07-09 21:01] Danielgb23 opened #9155 "Can't change option for sound and vibration on scheduleNotificationAsync from expo-notifications"
## 🐛 Bug Report

### Summary of Issue
When I change the options for vibration or sound in the scheduleNotificationAsync function data like using 'sound:false' in the input object. The notification always plays the sound and vibrates irregardless of the input.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
I am using expo in bare workflow that has been ejected an

[2020-07-09 21:03] skhanker commented on #9061
Was following this as I had a smattering of Push Notifications issues after upgrading a project from sdk37 to sdk38 (testing standalone apk builds).

After upgrading from expo-cli v3.21.13 to v3.22.0, creating a new sdk38 project and testing this out, it worked as expected. Slowly porting over my old project code into this new one and testing builds, it hasn't broken again.

[2020-07-09 21:38] cruzach commented on #6943
Still investigating, but it seems like the listener may be added too late? When I define
[code]
in the global scope, outside of any component, the listener fires when selecting a notification after the app has been fully killed

[2020-07-09 21:58] maurohmartinez commented on #6943
@cruzach it is weird because I haven’t changed anything in my code (which worked with sdk37), I simply upgraded to sdk38 and changed the functions according to the new `expo-notifications`. So, in my case, the listener is added in the same instance as it was before when it worked. If that makes sense! 😃

[2020-07-09 22:15] netpoe opened #9156 "Expo SDK 38: Unable to resolve module from symlinked local dependency"
## 🐛 Bug Report

### Summary of Issue

I started my app with managed workflow with Expo SDK 37 and a monorepo managed by lerna. Everything was working fine with local dependencies imports. I updated to Expo SDK 38 this week and now I get:

<img width="376" alt="Screen Shot 2020-07-09 at 16 13 29" src="https://user-images.githubusercontent.com/4053518/87096040-2cc2b300-c1ff-11ea-8711-79b44a25d885.p

[2020-07-09 22:20] cruzach commented on #6943
Yeah that makes sense, I'm saying in my case moving it outside of the component resolved the issue. Try the code in this gist- https://gist.github.com/cruzach/eadbf47990e57b9ff4c808dd377d44c7

[2020-07-09 22:37] Albert-Gao commented on #9135
Tried, works now, thanks!

[2020-07-10 00:33] #7211 closed

[2020-07-10 02:38] TrustyTechSG commented on #8819
I have the exact same problem, this causing me concern over the stability of expo libraries....

[2020-07-10 02:44] YahyaBagia commented on #6943
@cruzach Does this work only in standalone apps? i.e. Using Expo app won't work with this?

[2020-07-10 02:51] DungVu-VTD opened #9161 "ImagePicker"
Hi guy,
I'm used method **launchCameraAsync()** and got the  problem:
1. front camera : image always mirror. Seem prop **mirrorImage** default is true
2. back camera : just nomal

Options for this method not support **mirrorImage** seem RN base ?

[2020-07-10 07:40] hardcodet commented on #9115
Keep in mind that Reanimated 2 is currently still in Alpha, and - more importantly - only works on Hermes on Android, which on the other hand currently breaks other packages.

[2020-07-10 08:22] jpenjgusic opened #9163 "Expo-notifications, App closed notifications are not showing."
## 🐛 Bug Report

### Summary of Issue
On android standalone build, when app is closed push notifications are not showing up.
I'm using expo-notifications ~0.3.3 in managed workflow.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
Expo CLI 3.21.13 environment info:
    System:
      OS: Windows 10 10.0.18362
    Binaries:
      Node: 10.16.0 - C:\Program Files\nod

[2020-07-10 08:52] summerkiflain commented on #6943
Still not firing up for me even if I move the listener to above component like your gist, only fires when app is foreground or backgrounded, If the app is forced closed from the recent apps list, and user taps the notifications app loads showing splash but no alert from the listener's callback. (Testing on iPhone on expo sdk 38)

I am using react-navigation 4, how would I redirect to another scree

[2020-07-10 09:21] davidcian commented on #5437
Any news on this? I have an app which relies on the camera, and while I'm down-playing the issue for the time being, it would be nice to have the same zoom as the default iOS camera app.

[2020-07-10 09:33] lukmccall commented on #9163
Hi @jpenjgusic, the bug with the notification icon should be fixed by https://github.com/expo/expo/pull/9116.

Unfortunately, I wasn't able to reproduce the bug with the notification tray.  Could you provide a simple demo app?

[2020-07-10 09:33] maurohmartinez commented on #6943
Just tried the code in a standalone App iOS and nothing happens. When the app is running, it does work, but once the App is killed, it doesn't trigger when the push opened the App first time :(

[2020-07-10 10:01] lukmccall commented on #9155
Hi @Danielgb23, the `vibrate` parameter doesn't receive a boolean value. However, when you pass an empty array, it doesn't work either. I will look closely to this issue ;)

[2020-07-10 10:56] YahyaBagia commented on #6943
You could use [this](https://reactnavigation.org/docs/4.x/navigating-without-navigation-prop) approach when you can't access the navigation prop.

[2020-07-10 11:05] barthap opened #9165 "[expo-file-system] uploadAsync() returns empty body on iOS"
## 🐛 Bug Report

### Summary of Issue
uploadAsync() returned empty response body, but response Content-Length header was non-zero.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
SDK 38.0, target platform: iOS

### Reproducible Demo
https://snack.expo.io/@barthap10/expo-file-system-uploadasync-bug-demo

### Steps to Reproduce
Run demo on iOS (change API or obtain

[2020-07-10 12:12] #9165 closed

[2020-07-10 12:44] Melekhin commented on #9149
@byCedric, Thank you very much for the quick response!
It’s a pity that the React Native does not yet allow you to adjust the weight for custom fonts.

The links turned out to be very useful, thank's!

[2020-07-10 13:22] byCedric commented on #9156
Hi @netpoe, thanks for the issue report and repro! In general, using symlinks is not the best solution for Metro. Officially they don't support symlinks. When you upgraded to SDK 38 you also upgraded Metro, this could include the removal of experimental features related to that. Luckily, there is a way to run your monorepo with the structure you want 😄

We have a library called [`expo-yarn-workspa

[2020-07-10 13:22] #9156 closed

[2020-07-10 13:34] byCedric commented on #9161
Hi @DungVu-VTD, thanks for your issue report. Unfortunately, I'm not sure what you mean. In the [`launchCameraAsync` docs](https://docs.expo.io/versions/latest/sdk/imagepicker/#imagepickerlaunchcameraasyncoptions), there is no way to ask for front- or back camera. There is also no property to ask for a mirrored image. Are you using `expo-image-picker` or [`react-native-image-picker`](https://githu

[2020-07-10 13:34] #9161 closed

[2020-07-10 13:35] imdeepakchahar opened #9168 "Notifications.getExpoPushTokenAsync(); not returning token"
**Code**
[code]

[code]

**Error**

[code]

[2020-07-10 13:37] lukmccall commented on #9168
Hi @imdeepakchahar, are you using the bare workflow?

[2020-07-10 13:43] imdeepakchahar commented on #9168
@lukmccall Yes clean expo code

[2020-07-10 13:46] lukmccall commented on #9168
I see the `expo` package, so you have the ejected project, yes?

[2020-07-10 13:47] imdeepakchahar commented on #9168
No, I didn't ejected

how I provide simple demo code?

[2020-07-10 13:51] lukmccall commented on #9168
Ohh, so you are using the managed workflow (https://docs.expo.io/introduction/managed-vs-bare/#managed-workflow).

The `expo-notifications` wasn't supported in the SDK 37.  If you want to use them, you need to upgrade to SDK 38. Or you can use the legacy API - https://docs.expo.io/versions/v37.0.0/sdk/notifications/.

[2020-07-10 13:56] DungVu-VTD commented on #9161
Hi,
Yep i used expo-image-picker
call func launchCameraAsync , we have icon flip camera in the bottom right.
Click that to flip front camera. Then take a photo. Anddd photo was
mirrored ( right to left). I dont see any props to prevent it

Vào Th 6, 10 thg 7, 2020 lúc 20:34 Cedric van Putten <
notifications@github.com> đã viết:

--
Best regards,
Vũ Tiến Dũng

[2020-07-10 13:57] imdeepakchahar commented on #9168
Yes, it worked with ` import { Notifications } from 'expo';`
but other commands are not working like

[code]

[code]

[code]

These all giving error

[2020-07-10 14:05] cruzach commented on #8586
@LuHugo you can't build bare apps with `expo-cli` (yet). There should be a warning in the CLI when you try to saying:
[code]

I just tested manually checking for updates with your updates config in both a bare app (built with Android Studio) and a managed app, and it worked in both cases

[2020-07-10 14:23] lukmccall commented on #9168
You're using functions from the new API. You don't find them in the old documentation - see https://docs.expo.io/versions/v37.0.0/sdk/notifications/.

To fix it you have to options:
- delete `expo-notification` and use notification from the `expo` package -> https://docs.expo.io/versions/v37.0.0/sdk/notifications/
- upgrade to SDK 38 and use the new API -> https://docs.expo.io/versions/v38.0.0/sdk

[2020-07-10 14:24] #9059 closed

[2020-07-10 14:40] #9168 closed

[2020-07-10 15:11] #8927 closed

[2020-07-10 15:12] cruzach commented on #8927
Hey @Ysrbolles , I updated the docs since we were missing the step where you add your certificate hash to the googleServices file. To do that: go to your Firebase project's settings, scroll down to "Your apps" and select your Android app. Under `SHA certificate fingerprints`, click `Add fingerprint`, and paste the value of you get for `Google Certificate Fingerprint` when running `expo fetch:andro

[2020-07-10 15:25] cruzach commented on #9139
I'm not sure if this is the same case as with `expo-camera`, since the camera behavior is the same on iOS and Android and this is just happening on iOS for barcode-scanner

[2020-07-10 18:06] ide commented on #4581
Closing this since we revisited the error boundary in https://github.com/expo/expo/pull/8050.

[2020-07-10 18:06] #4581 closed

[2020-07-10 18:08] ide commented on #2569
Closing since we didn't get to this in over a year and it's not high enough of a priority.

[2020-07-10 18:08] #2569 closed

[2020-07-10 18:14] bsgbryan commented on #3516
Has this been worked on? This is an issue for me, and the workaround mentioned by @awinograd does not work for me.

[2020-07-10 19:05] awinograd commented on #3516
@bsgbryan make sure you're calling reloadApp (https://github.com/expo/detox-expo-helpers/blob/4474232f6c5f9ab259e2b80133e14a4270f57a1c/index.js#L69) with the proper permissions. I pass in:

[code]

[2020-07-10 19:14] bsgbryan commented on #3516
Thanks for your quick reply!

Below is the full code for the test:

[code]

Line 22 never gets reached because line 18 does not yield until I manually tap Allow.

I have tried placing the `tap()` call on line 19. That does not work either, as line 18 does not yield.

[2020-07-10 20:11] awinograd commented on #3516
@bsgbryan not sure what might be going on. If the dialog says access was already granted for another experience, then it's definitely an expo dialog controlled by the app and I previously was able to find it `by.text`

We've since moved to the bare workflow so I haven't had to deall with this specific issue in a whihle

[2020-07-10 20:17] bsgbryan commented on #9139
My code, the snack code, and the documentation code for BarCodeScanner, all use functional components - so mount/unmount happens automatically and is guaranteed.

I'm unclear as to what more info is needed.

[2020-07-10 20:25] Vista1nik commented on #8185
Hi. I was using your guide (https://docs.expo.io/guides/authentication/#google) and got error 400 when used code from the guide:

[code]
Android:
<img src="https://user-images.githubusercontent.com/16061243/87197005-e22a5f00-c302-11ea-928e-36c937a19d13.jpg" width="300" />

Web:
<img src="https://user-images.githubusercontent.com/16061243/87199424-c7a4b580-c303-11ea-9df6-db80016b8329.png" width="30

[2020-07-10 21:59] cruzach commented on #9139
I'm not sure this is true, since if I replace the `BarcodeScanner` components in the snack with `Camera` components, the same issue occurs

[2020-07-10 22:04] gyoung-panopto opened #9171 "Error running jest tests for files that import expo-file-system after Expo 38 upgrade"
## 🐛 Bug Report

### Summary of Issue

Some tests that were passing before the version upgrade are now failing with an obtuse error. The only difference between these files and others that work is that the components they have an import of expo-file-system.

ReferenceError: You are trying to `import` a file after the Jest environment has been torn down.

      10 | {
      11 |     session: Sessio

[2020-07-10 22:25] samjam48 commented on #4850
@trikota Are you able to recommend the best 'repos on github' for running `foreground` service` on expo?

@mczernek Do you have any updates on the comment from Dec 2019 about the issue being considered.

[2020-07-11 04:18] anto004 commented on #7802
Thanks, updating the expo app client in the simulator worked for me🙂 I had this problem when I upgraded from expo 37 to expo 38

[2020-07-11 05:55] OscarYuen commented on #9139
According to life cycle from react-navigation(https://reactnavigation.org/docs/navigation-lifecycle/),  A is still mounted when tab B is being navigated. You could also confirm it by using cleanup function in useEffect hook to see cleanup function is called in A when navigation to B from A.

I made it a little experiment on your snack by adding useFocusEffect hook to unmount Barcode component manu

[2020-07-11 08:48] MohabAbugabal commented on #7802
Thank you all! Yes, it's working fine now.

[2020-07-11 09:06] trikota commented on #4850
@samjam48  , I'm already `ejected` from expo workflow so it was easy for me to use
https://github.com/voximplant/react-native-foreground-service

No idea if its possible to launch foreground service in expo without ejecting ...

[2020-07-11 13:03] RodolfoGS commented on #9037
@lukmccall @mczernek Hi guys, any update about this?

[2020-07-11 14:27] RodolfoGS opened #9175 "[sentry-expo] Source code was not found"
## 🐛 Bug Report

### Summary of Issue

In Expo SDK 38 with `sentry-expo` + `expo-updates` the source maps never are found.
The bug happen in iOS and Android.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

[code]

### Reproducible Demo

1. Clone demo repo: https://github.com/RodolfoGS/expo-sentry-source-map
2. `npm install`
3. Configure Sentry following this ins

[2020-07-11 16:14] tsapeta commented on #5487
We were not able to successfully reproduce this issue and it refers to SDK that we no longer support, so I'm closing it.
Feel free to open a new issue with updated details and repro steps if it's still happening in newer SDK versions.

[2020-07-11 16:14] #5487 closed

[2020-07-11 16:18] tsapeta commented on #7975
Closing due to no response to the previous comment, not being able to reproduce it and no other user reports similar to this.

[2020-07-11 16:18] #7975 closed

[2020-07-11 16:18] 1099366461 opened #9176 "Reading pdf417 with expo barcode scaner does not return correct data"
## 🐛 Bug Report

reading pdf417 with expo barcode scaner does not return correct data

Expo barcode scaner

### Reproducible Demo

it is required to read the barcode pdf417 that is in the Colombian ID, it is done with the example of expo

https://snack.expo.io/?platform=android&name=Basic%20BarCodeScanner%20usage&sdkVersion=38.0.0&dependencies=expo-barcode-scanner&sourceUrl=https%3A%2F%2Fdocs.expo

[2020-07-11 17:32] tsapeta commented on #8724
As you and Cedric said, iOS geocoding is not as accurate as Google Maps, but I'm sorry to say that we're not planning to implement such functionality in near future. The goal was to provide and expose system's APIs and that being said, if you need more accurate results then you should probably use it as you wrote in the demo, by https call to Google APIs.
I'm closing this issue, but also keeping c

[2020-07-11 17:32] #8724 closed

[2020-07-11 17:38] #3089 closed

[2020-07-11 18:14] tsapeta commented on #4415
Just tested this with SDK38 using https://snack.expo.io/@tsapeta/simultaneoushandlers-ios-issue demo.
Looks like it works fine now, so I'm closing the issue 🙂

[2020-07-11 18:14] #4415 closed

[2020-07-11 18:18] tsapeta commented on #2137
Closing the issue as SDK28 is no longer supported and we didn't get similar issue reports referring to currently supported SDKs 🙂 Feel free to open a new issue if you're still encountering this.

[2020-07-11 18:18] #2137 closed

[2020-07-11 18:26] renanmav commented on #9105
I’m facing the same problem

[2020-07-11 18:38] tsapeta commented on #4020
@brettdh, this new module `expo-splash-screen` is not yet integrated with managed workflow, especially with the client app but also with standalone builds. We're targeting to finish the integration in the next SDK (39). So far you can safely use it only in bare workflow. I'm closing this thread because the original issue seems to be resolved but feel free to open a new issue with some more details

[2020-07-11 18:38] #4020 closed

[2020-07-11 18:40] brettdh commented on #4020
@tsapeta in my last comment, I mentioned that I encountered this in the bare workflow using the new API and command-line tool.

[2020-07-11 18:44] tsapeta commented on #4020
Ahh, sorry, I've read it too fast 🙈 Anyway, could you open a new issue for this and provide as much info as you can?

cc @bbarthec who works on the new splash screen

[2020-07-11 18:45] RodolfoGS opened #9180 "[expo-background-fetch] Doesn't work in Android Bare workflow with proguard enabled"
## 🐛 Bug Report

### Summary of Issue

In Android bare `expo-background-fetch` doesn't work, it get the error:
[code]

I found a fix in another issue https://github.com/expo/expo/issues/3918#issuecomment-479772865 related to `expo-location`. To fix this add the following line to `proguard-rules.pro`:
[code]

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
[code]

[2020-07-11 18:50] vishwaefor commented on #7940
Reading local image as following worked for me

        const data = await FileSystem.readAsStringAsync('file://' + uri, {
          encoding: FileSystem.EncodingType.Base64,
        });

        const imageData = 'data:image/png;base64,' + data;

        pdfBody += `
          <div class="wrapper">
            <img src="${imageData}" width="100%"  />
          </div>`

[2020-07-11 20:25] SleeplessByte commented on #2137
I've not seen this error, FWIW!

[2020-07-11 20:57] tsapeta commented on #4468
SDK33 is no longer supported and we haven't seen any similar reports referring to newer SDK versions, so I'm closing this one. Feel free to open a new issue if you're still experiencing this in the latest SDK.

[2020-07-11 20:57] #4468 closed

[2020-07-11 21:00] tsapeta commented on #4737
Looks like this issue has been fixed and released long time ago, so I'm gonna close it 🙂

[2020-07-11 21:00] #4737 closed

[2020-07-11 21:05] tsapeta commented on #1758
Are you still facing this issue? I wasn't able to reproduce it and a lot of time has passed, so I'm closing this but feel free to comment here if this is still happening 🙂

[2020-07-11 21:05] #1758 closed

[2020-07-11 21:07] tsapeta commented on #1994
This issue seems to be already outdated and SDK28 is no longer supported, so I'm closing this but feel free to open a new issue if you're still facing it 🙂

[2020-07-11 21:07] #1994 closed

[2020-07-11 21:10] tsapeta commented on #2497
This issue seems to be outdated – SDK30 is no longer supported and a lot of changes have been made since that time, so I'm closing it but feel free to comment here or open a new issue if you're still experiencing this 🙂

[2020-07-11 21:10] #2497 closed

[2020-07-11 21:13] tsapeta commented on #370
A lot of time has passed since this issue was reported, so I'm closing this as we haven't heard similar reports referring to newer SDK versions. Feel free to comment here or open a new issue if you're still facing this in the latest SDK version 🙂

[2020-07-11 21:13] #370 closed

[2020-07-11 21:16] tsapeta commented on #2562
It seems to be resolved – as far as I know we're already reloading the manifest in such cases.

[2020-07-11 21:16] #2562 closed

[2020-07-11 21:18] tsapeta commented on #3171
I believe this issue has already been resolved in the new versions, so I'm closing it but feel free to open a new issue with updated details if I'm wrong 🙂

[2020-07-11 21:18] #3171 closed

[2020-07-11 21:20] tsapeta commented on #3422
The SDK version that this issue refers to is already not supported and I believe it's been fixed already. Feel free to open a new issue if I'm wrong tho 🙂

[2020-07-11 21:20] #3422 closed

[2020-07-11 21:22] #3189 closed

[2020-07-11 21:23] #2637 closed

[2020-07-11 21:25] #2926 closed

[2020-07-11 21:29] #3008 closed

[2020-07-11 21:38] tsapeta commented on #2988
The above explanation seems to be enough to close this thread. Also I think logging animated values in reanimated is not a good idea because the actual value is stored on the native side so even if you can get its value, it might be not up-to-date if some animations are running.

[2020-07-11 21:38] #2988 closed

[2020-07-11 21:41] tsapeta commented on #3052
It seems to be already fixed in the docs.

[2020-07-11 21:41] #3052 closed

[2020-07-11 21:44] samjam48 commented on #4850
Thanks @trikota I guess we'll see what happens 🙏

Not sure if it can be done with Expo notification channels - https://docs.expo.io/guides/notification-channels/
or Firecloud Messaging - https://firebase.google.com/docs/cloud-messaging/

Android background service deets suggest it's possible 🤞 - https://developer.android.com/about/versions/oreo/background#services

[2020-07-11 21:44] tsapeta commented on #3033
A lot of time has passed and a lot of changes have been made since this report, so I'm closing it. Feel free to open a new report if you're still experiencing it in the latest SDK version 🙂

[2020-07-11 21:44] #3033 closed

[2020-07-11 21:45] #3250 closed

[2020-07-11 21:45] zholmes1 opened #9182 "Standalone doesn't update on launch. It fetches the update, but requires the user to close and reopen the app to see the changes."
## 🐛 Bug Report

### Summary of Issue

When I make a publish, wait a few minutes, then open my standalone app (fresh launch where I can see the splash screen), I find that I am still in the old version of the app. If I close out the app and relaunch it, then I will be in the updated version.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

  Expo CLI 3.22.1 envir

[2020-07-11 21:47] #3356 closed

[2020-07-11 21:49] #3882 closed

[2020-07-11 21:51] tsapeta commented on #3442
SDK32 is no longer supported and a lot of time has passed, so let me close this issue. Feel free to open a new one if you're still facing it in the latest SDK 🙂

[2020-07-11 21:51] #3442 closed

[2020-07-11 21:53] tsapeta commented on #1813
This seems to be a pretty old issue and we already made a lot of changes in this module since that time, so let me close it 🙂 Feel free to open a new report if it still happens to you in the latest SDK.

[2020-07-11 21:53] #1813 closed

[2020-07-11 21:56] tsapeta commented on #3247
The above comment seems to be a solution to this problem, so let me close this issue 🙂

[2020-07-11 21:56] #3247 closed

[2020-07-11 22:58] leonimurilo opened #9183 "Help with sending expo-camera image to Google cloud storage signedUrl"
Could someone help me with this please?

I am using expo-camera "[takePictureAsync](https://docs.expo.io/versions/latest/sdk/camera/#takepictureasync)" which returns: `{uri, base64 ... }`.

I need to send a PUT request with `'Content-Type': 'image/jpeg'` and the body of the request as the image itself to Google storage using a presigned URL.

The problem is that I have no idea whether I should sen

[2020-07-12 03:16] r20 opened #9184 "expo-calendar can't create events with notification alarms on Android"
## 🐛 Bug Report

### Summary of Issue
I can't create an event with alarms on Android.  Depending on the attributes to the createEventAsync event object, I get a crash or error.  This happens with both all day events and non-all-day.  It happens if the relativeOffset is in the past or future.  It used to work in expo-calendar 8.1.0

### Environment
Android, with expo-calendar 8.2.1

[code]

### Rep

[2020-07-12 04:56] netpoe commented on #9156
@byCedric thank you very much.
Your solution worked very well with the test project. I pulled your PR, ran `lerna boostrap`, `expo start -c` and opened the project from metro in an iOS simulator without trouble.

However, applying your changes to my real project, brought new problems:

<img width="1440" alt="Screen Shot 2020-07-11 at 22 52 29" src="https://user-images.githubusercontent.com/4053518

[2020-07-12 07:33] tsapeta commented on #9183
I believe using FormData is the best choice and as far as I know Google Cloud supports that way. Maybe that can help https://cloud.google.com/storage/docs/json_api/v1/how-tos/multipart-upload ?

[2020-07-12 09:10] ahmetbicer opened #9185 "[expo-av] NullPointerException at VideoView.java"
## 🐛 Bug Report

### Summary of Issue
I have an app that uses expo-av to show videos from users gallery. I am getting crash reports from play console.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
I am using expo-av on bare react native project.

react-native : 0.62.2
expo-av: 8.2.1
expo-image-picker: 8.3.0
react-native-unimodules: 0.10.1

buildToolsVersion = "

[2020-07-12 09:54] tsapeta commented on #1036
We're not receiving other reports about this and AppEntry takes care of this now, so I'm closing it. If anyone is still experiencing this please see the post linked in the previous comment and if this doesn't help then open a new issue 🙂

[2020-07-12 09:54] #1036 closed

[2020-07-12 10:02] tsapeta commented on #7940
The workaround posted by @vishwaefor seems to be the proper way to fix it. I'm afraid we can't do anything more with this 😞 I'm gonna add a note about this in the docs.

[2020-07-12 10:02] #7940 closed

[2020-07-12 11:42] Vista1nik commented on #9090
Usage of Web Client ID in AuthSession `redirectUri` as native will cause `Error 400: Custom scheme URIs are not allowed for 'Web' client type`.

Looks like you need to create Android and IOS clients ID and pass them to AuthSession if app is standalone.
If app is expo client or web, you need to pass Web Client ID.

https://github.com/expo/expo/pull/9177#issuecomment-657209447

[2020-07-12 14:11] WazzaJB commented on #8721
Thanks so much for the feedback @Federkun ! Out of curiosity, what browser were you testing on?

Using the `ondataavailable` callback works fine for me in Chrome.

[2020-07-12 15:13] leonimurilo commented on #9183
Thank you @tsapeta

I before reading your response, I managed to send the image without form data.

I used [this](https://www.npmjs.com/package/buffer) package to turn the base64 into a buffer and then sending the buffer fixed the issue with google cloud API. I honestly don't know if this is the best approach but now we might have 2 approaches to help someone in the future since I found a few peop

[2020-07-12 15:13] #9183 closed

[2020-07-12 16:15] 2manoj1 commented on #9000
Same issue with new expo-cli project. blank project. Any solution?

[2020-07-12 16:29] ChesterLaborde commented on #5781
Having the same issue as @dankras , `"usesAppleSignIn": true` and running `expo build:ios --clear-provisioning-profile --revoke-credentials`. Building simulator IPA and it's not working, I'm testing with archive build now to see if it changes anything

[2020-07-12 16:59] SrBrahma opened #9186 "I want to use a feature of Firebase 7.14.0 (increments), but expo Firebase version is 7.9.0"
First I installed manually the Firebase version 7.16.0, but when I runned npm start, it warned me that it wasn't supported and I should install it via `expo install firebase`, and it installed the version 7.9.0. However, I want to use a feature only available since version 7.14.0, the `firebase.database.ServerValue.increment()`.

Would I have problems if I used the "non-supported" version of Fireb

[2020-07-12 17:00] brentvatne commented on #9186
we recommend a specific version because more recent versions have regressed support for react-native in some ways. the firebase team is working on resolving those issues. if you would like to install the latest version anyways, you can do that and just ignore the warning.

[2020-07-12 17:00] #9186 closed

[2020-07-12 17:21] syedhaider03 commented on #9083
Getting the same error when logging out of the app and then login to the home screen (unsubscribing from location updates in logout and then subscribing again ) , but not on when the app is reopened after being killed.

[2020-07-12 17:23] SrBrahma commented on #9186
Thanks for the quick answer :)
Is there any link where I can read more about those drawbacks, so I can check if it's worth for my case?

[2020-07-12 17:36] Astrejoe commented on #9047
Any updates?

[2020-07-12 18:09] Zanchee opened #9187 "[expo-permissions] The status key on the Location Permissions object contradicts OS level settings when switching through OS settings at runtime"
## 🐛 Bug Report

### Summary of Issue

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
![Capture](https://user-images.githubusercontent.com/13373737/87253412-efe9fc80-c448-11ea-9ab1-8ec0566c0808.PNG)

### Steps to Reproduce
1. Prompt user for location permissions.
2. User denies location permissions.
3. NOTE - `Permissions.getAsync(Permissions.LOCATION)` returns a

[2020-07-12 18:19] brunohkbx commented on #9050
+1
This change here introduced the issue:
https://github.com/facebook/jest/pull/8894/files#diff-9787071c48fc2896fbe36394532b7288R294

[2020-07-12 18:29] pioNavarro commented on #9044
i tried following the process but i got this error.

[2020-07-12 18:36] syedhaider03 opened #9188 "Getting the following error on getLocationUpdatesAsync as Error: Attempt to invoke interface method 'java.util.Map org.unimodules.interfaces.taskManager.TaskInterface.getOptions()' on a null object reference"
## 🐛 Bug Report

### Summary of Issue
Getting the error on get background location updates async and the app crashes after sometime when on background

Error: Attempt to invoke interface method 'java.util.Map org.unimodules.interfaces.taskManager.TaskInterface.getOptions()' on a null object reference

sometimes its works fine but most of the time its gives an error

### Environment - output of `ex

[2020-07-12 19:36] tsdmrfth opened #9189 "constructor ModuleRegistryAdapter in class ModuleRegistryAdapter cannot be applied to given types"
Android project fails when starting build process. Everything about expo unimodules configuration looks correct but still build gives error.

In generated java file package com.facebook.react.PackageList new ModuleRegistryAdapter() is created without passing required constructor parameter.

There is an another question asked on stackoverflow but it has no correct answer. Thanks in advance.

[code]

[2020-07-12 23:27] patrickomeara commented on #6693
Thanks @cruzach 👍

[2020-07-13 00:57] changLiuUNSW commented on #9175
I have exactly the same issue in my app which is based on Expo 37 Bare workflow.
![image](https://user-images.githubusercontent.com/7379922/87260918-8543ca00-c4f7-11ea-8682-6cda4d713b69.png)

[2020-07-13 01:04] angelmiy commented on #8691
We are also seeing the same errors in pipelines

[code]

after updating to Expo 38

[2020-07-13 01:07] changLiuUNSW commented on #8691
I have exactly the same issue in CI.
For IOS, I use fastlane ```scan``` to build the app for testing:
[code]
I got below error:
[code]

For Android, I use ```fastlane gradle task assemble``` to build the release:
[code]
I got below error:
[code]

[2020-07-13 02:40] WeZinc commented on #6328
same here

[2020-07-13 02:57] jmzwar commented on #9188
I am also experiencing this issue in a managed app.

[2020-07-13 07:13] LuHugo commented on #8586
@cruzach Thanks for the reply. I think maybe it is not possible to use the own server to store the bundle files. The automatic update on application startup was successful is maybe because of checking for updates from the expo server, and the manual update I used was Hoping to check the bundle file from my server for updates and then failing to do so.

[2020-07-13 08:30] mczernek commented on #9037
Hey @RodolfoGS!

We found the root cause, but it turned to be more complicated than we anticipated. We need to do some major refactor of core notifications functionality in order to address this issue. We're on it and it should land soon.

[2020-07-13 08:31] dragslag commented on #9082
I put one globally in the App.js and also locally in my payments.js screen which fixed the problem, thank you @SleeplessByte!

[2020-07-13 08:31] #9082 closed

[2020-07-13 08:53] #5955 closed

[2020-07-13 08:55] syedhaider03 commented on #8483
I am using it in bare react native app with unimodules installed and experience the same issue, when the app is launched from killed state it works fine but when we try to use it in already running app it always gives the error and then crashes the app after some time and you will need to kill the app and start it again to start working.
![Screenshot_1594578786](https://user-images.githubuserconte

[2020-07-13 08:59] lukmccall commented on #9189
Hi @tsdmrfth, could you provide your `package.json`? It'll be nice if you also create a simple demo.
However, I think this is connected with incompatible package versions.

[2020-07-13 09:26] syedhaider03 commented on #6017
Did someone find the problem?
I am using it in bare react native app on android with unimodules installed and experience the same issue, when the app is launched from killed state it works fine but when we try to use it in already running app it always gives the error and then crashes the app after some time and you will need to kill the app and start it again to start working.
![Screenshot_159457

[2020-07-13 09:30] valentinbourqui commented on #8220
@rphlmr  Thank you for your response unfortunately I was in a hurry and I fixed it differently. Just implemented a new RN project with react-native-unimodules and expo modules that I need.

But I think your answer may help many others. :)

[2020-07-13 09:44] hardcodet opened #9192 "Background downloads API lacking download checks after restart?"
## 🐛 Bug (or Documentation Issue) Report

### Summary of Issue

Either this is not documented, or the downloads API in `expo-file-system` does not provide the means to simply monitor / reattach / check on a running downloads that were scheduled on earlier app runs. This also doesn't seem to be possible with resumables, since they seem to have been built for paused download only.

So basically, I c

[2020-07-13 09:49] arberK commented on #9067
My project was initialised with react-native-init .
I have not set the "expo.modules.updates.EXPO_LEGACY_MANIFEST" anywhere in my configuration.  I belive this issue is related to [this ](https://forums.expo.io/t/android-expo-updates-issues/38250)

[2020-07-13 09:55] mikkelwf commented on #9074
I think my problems ultimately came down to the google documentation not begin clear on what is actually happening.

I've tried your suggestion to set `visible` to `sticky-immersive` and setting `backgroundColor` to a non transparent color. This did not work, and expo seemed to ignore the set color all together.

I then removed the `visible` all together, which had the desired effect. Also not the

[2020-07-13 09:58] tsdmrfth commented on #9189
@lukmccall Here it is.
[code]

[2020-07-13 10:18] AKclown opened #9193 "Update SDK to 38, error in debug mode"
question：
Error: Unable to resolve module `./debugger-ui/debuggerWorker.cff11639.js` from ``

surroundings：
    "expo": "^38.0.0",
    "react-native": "https://github.com/expo/react-native/archive/sdk-38.0.2.tar.gz",
  "@react-native-community/cli-debugger-ui" "^4.9.0"

How to solve it?  thanks

[2020-07-13 10:20] lukmccall commented on #9193
This is a bug in the react-native bundler -> https://github.com/facebook/react-native/issues/28844

[2020-07-13 10:22] macuna commented on #6943
I'm having the same issue here. Bare workflow with SDK 38.

It works in IOS but not in Android when the app is killed.

[2020-07-13 10:33] tsdmrfth commented on #9189
@lukmccall is there any version mismatch?

[2020-07-13 10:36] lukmccall commented on #9189
Unfortunately, I didn't see anything wrong here. However, I will double-check it ;)

[2020-07-13 10:47] tsdmrfth commented on #9189
@lukmccall I fixed issue 🎉thank you for giving me the idea of version mismatch. Downgrading react-native-unimodules from 0.10.1 to 0.9.1 and removing `@unimodules/react-native-adapter` and `@unimodules/core` packages fixed issue. I don't know why. I followed installation documentation correctly.

[2020-07-13 10:56] lukmccall commented on #9189
I'm glad to hear that you find a solution to your problem. However, version 0.10.1 should work correctly with `react-native 0.62.2`. You can try to upgrade it to `0.10.1` and not adding the `@unimodules/react-native-adapter` and `@unimodules/core`. Moreover, after that, you should clean the build folder using Android Studio.

[2020-07-13 11:05] tsdmrfth commented on #9189
I guess i can't dare to change it anymore 😂

[2020-07-13 11:06] lukmccall commented on #9189
Ok, so I'm closing this issue for now ;)

[2020-07-13 11:06] #9189 closed

[2020-07-13 11:09] pioNavarro commented on #9044
My bad I followed the SDK 38 .

The fix i have made is i added this codes from my app.json
ios:
`"googleServicesFile":"./GoogleService-Info.plist",`

android:
`"googleServicesFile":"./google-services.json",`

then setup the FCM Api Key on expo credentials:manager

[2020-07-13 11:34] byCedric commented on #9074
Let's re-open this issue as documentation improvement! Thanks for your input @mikkelwf

[2020-07-13 11:40] DevYuns opened #9194 "Cannot Aligning animation value center in Circle in WEB"
## 🐛 Bug Report

### Summary of Issue

Hi. I'm having trouble aligning animation value center in Circle to making a RadioButton in the `web`. The problem is that animation value is placed out of the center a little bit randomly. Some Value place in center, but others are not. It depends on size value.  There are no problems in `ios` and `android`.

It looks below. Green button is centered, but red

[2020-07-13 11:51] byCedric commented on #9156
I'm not exactly sure, monorepos are a complex piece of tech and there are a lot of things that might go wrong. Are you able to temporarily give me access so I can check it out? I don't think it's something related to `expo-yarn-workspaces` because the expo/expo repo is doing just fine. But I want to see if we need to document other stuff that's going wrong.

You can ping me on the Expo community s

[2020-07-13 11:55] modsoussi commented on #8279
UPDATE: Realized I hadn't included the `application continueUserActivity` `App Delegate` method. Once that was added in, I had to add code to handle redirects because `AuthSession` by itself wasn't dismissing the `WebBrowser` instance for example, and with that everything worked on the XCode Simulator. Now I'm facing another issue where redirects are happening properly on the simulator, but on an

[2020-07-13 12:25] manodupont opened #9195 "Blank screen"
## 🐛 Bug Report

### Summary of Issue
The screen is not showing any datetime picker.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
[code]

### Reproducible Demo
<img width="494" alt="Screenshot 2020-07-13 at 14 18 10" src="https://user-images.githubusercontent.com/7568033/87303995-64d63880-c514-11ea-9c63-0ba4c35b39ff.png">

### Steps to Reproduce
expo install @

[2020-07-13 12:28] BeKnowDo commented on #4121
I had such high hopes your example would work but for some reason, it doesn't show after rebooting the device. That's with the latest expo client installed :-/

[2020-07-13 12:33] chinnanaresh opened #9196 "expo start error"
expo start
EPERM: operation not permitted, read
Error: EPERM: operation not permitted, read
    at Object.readSync (fs.js:524:3)
    at tryReadSync (fs.js:349:20)
    at Object.readFileSync (fs.js:378:19)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:1152:22)
    at Module.load (internal/modules/cjs/loader.js:977:32)
    at Function.Module._load (internal/modules/cjs/loader.

[2020-07-13 12:39] byCedric commented on #9171
Hi @gyoung-panopto, thanks for your issue report! Unfortunately, I can't reproduce this in a new tabs project. The configuration you mentioned contains a lot of stuff that `jest-expo` should take care of already.

Have you tried running your project with the following configuration instead? If not, it might be related to something in your `setupTests.js`. But, without a reproducible example, it's

[2020-07-13 12:46] lukmccall commented on #9131
@JustynaKK, I've tested the unpublished version on iPad Pro and it seems to work ;)
So I'm closing this issue for know. Feel free to reopen it when the bug occurs for you on the next version.

[2020-07-13 12:46] #9131 closed

[2020-07-13 13:02] lukmccall commented on #7946
I think that I know what happens here. Thanks, @gesposito, for mentioning `Don't keep activities` option. Sometimes Android kills the invisible activity because the system needs more memory or computing power. This causing reloading of the app.

You can also find a similar issue in `react-native-image-picker` https://github.com/react-native-community/react-native-image-picker/issues/471. Unfortuna

[2020-07-13 13:07] chinnanaresh commented on #9196
Help !!!

[2020-07-13 13:15] cruzach commented on #4121
@BeKnowDo can you double-check for me that _not_ resetting your device results in the push notification being delivered? You also may have to test outside of snack, running the app locally with expo-cli, and add [this configuration](https://docs.expo.io/versions/latest/sdk/notifications/#android)

[2020-07-13 13:16] cruzach commented on #6693
anytime 😄

let me know if there's anything unclear about the new way of configuring this behavior, and we can update the documentation

[2020-07-13 13:21] byCedric commented on #9175
Hi people! Thanks for the issue reports. We are currently working on integrating `sentry-expo` in Expo bare, including the no-publish workflow. I'll put in some efforts to merge and release a new version once it's done. It will be a breaking change because there are a lot of changes to support the bare workflow.

Let's keep this issue open until a new version is released!

[2020-07-13 13:31] Infinitism commented on #5487
This is an issue I experience with SDK 37 as well. Can we open this back up please?

[2020-07-13 13:35] cruzach commented on #6328
We have an open issue for this here- https://github.com/expo/expo/issues/8905

Please provide a reproducible demo there

[2020-07-13 13:56] cruzach commented on #9193
@AKclown you may want to try some of the fixes listed in that issue, like clearing Google Chrome cache or uninstalling the app & restarting the device?

[2020-07-13 13:58] cruzach commented on #9196
Hi @chinnanaresh, this is most likely not a bug with Expo but rather with your npm permissions - https://stackoverflow.com/questions/34600932/npm-eperm-operation-not-permitted-on-windows

[2020-07-13 13:58] #9196 closed

[2020-07-13 14:02] cruzach commented on #9195
Hi @manodupont, I tried this on both SDK 38 and 37, and it's working correctly for me.

Can you try running [this snack](https://snack.expo.io/@charliecruzan/funny-cereal) and tell me if it works?

[2020-07-13 14:45] cruzach commented on #9182
Hey @zholmes1 , good news is you can configure the exact behavior you want your OTA updates to exhibit! For instance, you can set a longer timeout (app.json `updates. fallbackToCacheTimeout`) so that your users will most likely get the most recent bundle. You can also disable automatic automatic updates and instead write your own update-handling code with the `expo-updates` module- https://docs.ex

[2020-07-13 14:45] #9182 closed

[2020-07-13 15:08] AdamJNavarro commented on #8905
Hey @esteban199, just wanted to follow up with a question here. Do you have teams enabled and the 'owners' field in `app.json` configured?

[2020-07-13 15:29] mozgbrasil opened #9197 "scripts/start-metro.sh: linha 24: open: not found"
## 🐛 Bug Report

### Summary of Issue

Good morning my friends

Who can help

In my environment the error below is returned

	scripts/start-metro.sh: linha 24: open: not found

Also, many alerts

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

	$ expo diagnostics

	  Expo CLI 3.22.1 environment info:
	    System:
	      OS: Linux 5.4 Ubuntu 20.04 LTS (Focal Fossa

[2020-07-13 15:45] kamalpandey opened #9198 "Is there any issue when upgrading from expo 33 to 35"
Most of the users are complaining about the startup crash for android but I am not getting any issue on the sentry.

Is there any way i could track the issue.

It was working fine before the upgrade.

[2020-07-13 16:28] kamalpandey commented on #9198
`{
  "main": "node_modules/expo/AppEntry.js",
  "private": true,
  "scripts": {
    "test": "node_modules/.bin/jest",
    "lint": "node_modules/eslint/bin/eslint.js configs helpers src App.js"
  },
  "jest": {
    "preset": "jest-expo",
    "setupFiles": [
      "./configs/JestSetup.js"
    ],
    "moduleNameMapper": {
      "styled-components": "<rootDir>/node_modules/styled-components/dist/style

[2020-07-13 16:30] kamalpandey commented on #9198
[code]

[2020-07-13 16:31] kamalpandey commented on #9198
[code]

[2020-07-13 16:40] arqex opened #9199 "getLastLocation is always returning error 'E_LOCATION_UNAUTHORIZED' in android 11"
## 🐛 Bug Report

### Summary of Issue
Seems that in Android 11, it's not possible to get the location in the background.

The policy to access to the location has changed in this version of android (https://developer.android.com/preview/privacy/location) and using expo-location I can't get the location in a background task, even if I grant allowing the app to access to the location all the time.

[2020-07-13 16:58] bscheideldyrt commented on #6439
I'm getting the same error when I try to run snapshot tests, but the app itself runs fine.  The fix from @shawn-lim doesn't work with `react-native-navigation` since this line doesn't exist.  Any other thoughts on how to get snapshot tests working in a bare React-Native app?

[2020-07-13 17:21] gyoung-panopto commented on #9171
Thank you for taking a look at this! I decided to try removing all the packages and following Expo's guide to set up jest from scratch, which basically resulted in removing all the config you specified. I'm now getting a different error on every test - I feel like I'm getting close but still missing a crucial piece of config:

SyntaxError: C:\tfs\Panopto\react-native-mobile\node_modules\react-nati

[2020-07-13 17:23] gyoung-panopto commented on #9039
@actuallymentor Could you share your working package.json for jest-related packages? I ran into the same issue as on this thread but am now hitting this error with every single test and feel like I am missing a crucial piece of config.

SyntaxError: C:\tfs\Panopto\react-native-mobile\node_modules\react-native\Libraries\polyfills\error-guard.js: Unexpected token, expected ";" (14:5)

      12 | let

[2020-07-13 17:32] lukmccall commented on #6674
We already made a lot of changes in this module since that time, so let me close it :D  Feel free to open a new report if it still happens to you in the latest SDK.

[2020-07-13 17:32] #6674 closed

[2020-07-13 18:09] aborchew commented on #6660
@michaelgira23 thank you so much.

[2020-07-13 18:30] krachtstefan opened #9200 "Location.startLocationUpdatesAsync - no realtime updates on android, when in background (even with foregroundService)"
## 🐛 Bug Report

### Summary of Issue
Using `Location.startLocationUpdatesAsync` with `foregroundService` gets much less updates than when the app is opened and in foreground.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
 Expo CLI 3.22.1 environment info:
    System:
      OS: macOS 10.15.5
      Shell: 5.7.1 - /bin/zsh
    Binaries:
      Node: 12.18.0 - ~/.n

[2020-07-13 18:43] zholmes1 commented on #9182
@cruzach That's great. I set the fallback timeout to 15000 and when I launch the APK, I now get the newest version. This is exactly what I wanted. I really think you should consider making something like that the default rather than 0. I figured 0 meant that there was no timeout, and it would just wait until it got a new version

[2020-07-13 18:48] netpoe commented on #9156
Hi @byCedric thanks for following-up on this.
Unfortunately I cannot give you access to the private repo. However, I was able to keep SDK 38 by pulling extensions from the npm registry, so `expo-yarn-workspaces` is no longer necessary :/

[2020-07-13 19:13] cruzach commented on #9182
Glad that worked for you! And we'll think about that, but the current default is what most folks go with so changing that behavior isn't very likely for now

0 means the timeout is literally 0 seconds, AKA it will instantly go towards loading the app. This is explained in the [docs](https://docs.expo.io/guides/configuring-ota-updates/#automatic-updates)

[2020-07-13 20:23] elallaouielmehdi commented on #9132
Hello everyone, i facing the same issue and as @Alloyce  said i followed the exact steps from the documentation.
it works fine in expo, but when i generate the APK it goes to google.com after login.

[2020-07-13 22:13] cruzach commented on #8603
For anyone running into a similar issue, I was looking into this further and it doesn’t look as simple as adding in `android.intent.action.VIEW`. [Android recommends using their “ShareSheet” to share data between apps](https://developer.android.com/training/sharing/send), and that requires using the `ACTION_SEND` action.
It seems like maybe it is Excel and Sheets who need to [update how they’re ha

[2020-07-13 23:18] gyoung-panopto commented on #9039
I figured it out - was missing the recommended babel.config.js file at the root. Thanks!

[2020-07-14 00:11] gyoung-panopto commented on #9171
I figured this out - I was missing the recommended babel.config.js at the root directory. Thanks!

[2020-07-14 00:11] #9171 closed

[2020-07-14 01:16] AKclown commented on #9193
thanks, This is very helpful to me。 clearing Google Chrome cache and Reload the app

[2020-07-14 01:17] AKclown commented on #9193
Thanks, let me see

[2020-07-14 01:50] ErkanSensei commented on #9195
I'm having the same issue, the snack seems to work but in my local code it seems to fail. I'm on expo v38.0.8

[2020-07-14 01:53] #9193 closed

[2020-07-14 02:07] yadirhb commented on #7721
Is there any workaround to solve this? Yes I got the idea that it doesn't work, the same for me, Constants.manifest is null when you execute the app with: react-native run-android or react-native run-ios. Is there any solution that work for expo managed and bare workflow? I was following this: https://docs.expo.io/guides/environment-variables/ but sadly it doesn't work as expected! That's a shame

[2020-07-14 05:15] Macattack1999-teck commented on #6782
Getting this error on web:
index.js:1 TypeError: react_native_web_dist_exports_Animated__WEBPACK_IMPORTED_MODULE_12__.default.subtract is not a function

Pinpoints to this:
const YOLO = Animated.modulo(
      | ^  138 |     Animated.divide(
  139 |       Animated.modulo(Animated.subtract(_angle, angleOffset), oneTurn),
  140 |       new Animated.Value(angleBySegment)

[2020-07-14 05:38] AKclown opened #9204 "the app is displayed very small on the iPad"
question:

  [Apple app connect-Test Flight] There is a problem with the resolution of the downloaded app, the app is displayed very small on the iPad

surroundings：

  "expo": "^38.0.0",
  "react-native": "0.62.2",
   iPad 2019 Wi-Fi 10.2“

view：
![image](https://user-images.githubusercontent.com/33648653/87388436-61f04c00-c5d7-11ea-96e3-81cd43ce2bb1.png)

[2020-07-14 06:30] OscarYuen commented on #9204
You need to configure `supportsTablet` to `true` in app.json
https://docs.expo.io/versions/latest/config/app/

[2020-07-14 06:51] shamilovtim opened #9205 "[expo-splash-screen] Two splash screens back to back on iOS after upgrading to Expo 38"
Using Expo 38, Bare workflow.

After upgrading to Expo 38 on iOS there is an obvious artifact where the splash screen re-renders and fires again. You can see it in the flash of light in the emulator near when the green dev box appears.

![Screen Recording 2020-07-14 at 2 39 54 AM](https://user-images.githubusercontent.com/3495974/87393108-ad750c80-c57b-11ea-9264-e11371654ced.gif)

[2020-07-14 06:53] andreas-arkulpa commented on #5781
same behavior here.

[2020-07-14 08:20] Ashok1602 commented on #2848
Thanks restarting pc worked for me

[2020-07-14 08:20] IjzerenHein commented on #6108
Verified that this has been fixed in Expo client for SDK 38.

When dark mode is enabled:

![image](https://user-images.githubusercontent.com/6184593/87402252-95bd7880-c5bb-11ea-8b4d-f2dce7936e8e.png)

And in light mode:

![image](https://user-images.githubusercontent.com/6184593/87402274-9c4bf000-c5bb-11ea-9ff0-ee7c1b4c5930.png)

Closing this issue.

[2020-07-14 08:20] #6108 closed

[2020-07-14 09:52] to-str commented on #8598
We are currently hit by this problem, is there a workaround for the time being?

[2020-07-14 11:21] dvester commented on #9188
Also experiencing this issue, works fine for a while, then the app begins to crash repeatedly. On SDK 37 Managed.

![Screenshot_20200714-071421_Google](https://user-images.githubusercontent.com/55589943/87420022-82ea7a00-c5a2-11ea-9063-e6870df3c6d4.jpg)

[2020-07-14 11:27] dvester commented on #9083
Also experiencing this issue. This is what I see after sometime, and it loops, so it crashes (Expo has stopped working), I dismiss the error, and in 30 seconds or so, it crashes again, it won't even allow me to open the expo app anymore untill I clear app storage.

![Screenshot_20200714-071421_Google](https://user-images.githubusercontent.com/55589943/87420555-803c5480-c5a3-11ea-856a-a4609ab9fddc.

[2020-07-14 11:31] 026binit opened #9206 "The method or property Expo.Notifications.setBadgeNumberAsync is not available on android, are you sure you’ve linked all the native dependencies properly?"
## 🐛 Bug Report

### Summary of Issue

Expo.Notifications.setBadgeNumberAsync throws error on android. i have wrapped inside Platfor.os === "ios" but still error occurs.
i have wrapped Notifications.setBadgeNumberAsync(0) inside Platform.OS === "ios" but still throws error.
if (
      this.state.appState.match(/inactive|background/) &&
      nextAppState === "active" &&
      Platform.OS === "ios"

[2020-07-14 11:38] syedhaider03 commented on #9188
@dvester @jmzwar i was having this issue in sdk 38 which i have integrated it in my bare react native app, I was able to workaround this by deleting these four lines
@Override
  public void didUnregister() {
    stopLocationUpdates();
    stopForegroundService();
    //  mTask = null;
    // mPendingIntent = null;
    // mLocationRequest = null;
    // mLocationClient = null;
  }

in didUnregister

[2020-07-14 14:06] dvester commented on #9188
@syedhaider03 any way to make this work in the managed workflow?

[2020-07-14 14:25] OscarYuen commented on #9205
Same here for bare workflow.

I found that Expo team has already made a PR for this fews days ago.
https://github.com/expo/expo/pull/8739

[2020-07-14 14:25] albertcito commented on #7309
I tested it in the expo version: ^38.0.8 and expo sqlite version ~8.2.1, and now it's working in Brave (Chromium). But not in Safari or Firefox.

[2020-07-14 14:48] byCedric commented on #9204
Hi @AKclown, like Oscar mentioned, you need to configure this in your app manifest. Please [check this guide](https://docs.expo.io/distribution/app-stores/#make-sure-your-app-works-on-many) to see if you are missing something else.

Hope it helps!

[2020-07-14 14:48] #9204 closed

[2020-07-14 14:56] syedhaider03 commented on #9188
@dvester you need to either wait for expo team to fix it or you can eject and correct the file mentioned above.

[2020-07-14 15:10] byCedric commented on #9197
Hi @mozgbrasil, I'm a bit confused here. There are 3 different errors, one you mentioned, one from the steps to reproduce, and one from the screenshot. I'm not sure what you want to do here, you are trying to open the expo client bare app on Linux right?

If you just want to create a new Expo app, please [see the tutorial](https://docs.expo.io/tutorial/planning/). If you want to contribute to Expo

[2020-07-14 15:10] #9197 closed

[2020-07-14 16:37] AdamJNavarro commented on #9176
Hey @1099366461,

I've been unable to reproduce this behavior on both Android and iOS. Can you share what platform you're encountering this on and what barcode you are scanning to test with?

![Barcode](https://user-images.githubusercontent.com/8992878/87451951-39138b00-c5c6-11ea-84ad-03bdffc61ac9.jpg)

![BarcodeScan](https://user-images.githubusercontent.com/8992878/87452051-5b0d0d80-c5c6-11ea-91

[2020-07-14 16:46] tkoolreact commented on #6489
Hi ....I too was pulling my hair out for almost 2 days, deleting nodes and all of the above hints with no luck. If you don't wish to upgrade to 37/ 38 yet (like me), I overcame this by starting a new project with SDK 36. I then copied all the source code back into the new project and voilà - Magic!  No more error.

To create your SDK36 project use:
expo init --template expo-template-blank@sdk-36

[2020-07-14 16:57] AdamJNavarro commented on #9184
Hey @r20,

Thanks for submitting a bug report! Would you be able to create a fully reproducible example of this crash so that we can test it on our end?

Cheers,
Adam

[2020-07-14 17:05] AdamJNavarro commented on #9206
Hey @026binit,

As the documentation states, this method is not available on Android and it will reject so this is expected behavior. If you need Android support, you'll need to upgrade to SDK38 and use the new `expo-notifications` module.

Cheers,
Adam

[2020-07-14 17:05] #9206 closed

[2020-07-14 17:44] alex-mironov commented on #8691
I ended up removing expo-updates as I was not actually using them. Obviously that fixes the issue https://github.com/expo/expo/blob/master/packages/expo-updates/README.md#removing-pre-installed-expo-updates

[2020-07-14 17:45] Federkun commented on #8721
Chrome as well. If I do get some time, i'll check again

[2020-07-14 17:45] AdamJNavarro commented on #9195
Hey @ErkanSensei,

Is this occurring on iOS for you as well? If someone could provide a full-fledged reproducible example that would be great.

[2020-07-14 17:49] r20 commented on #9184
@AdamJNavarro  I've tried creating a [snack ](https://snack.expo.io/@rjosh/cc71f0) but I can't get it to ask for calendar permissions and proceed.   I've tried on an android device and the android emulator within snack.

[2020-07-14 18:22] 1337LutZ commented on #9062
@lukmccall Was this fix already published?

[2020-07-14 18:22] ide commented on #8598
I don't think there is a shortcut. The diagnosis is described above: https://github.com/expo/expo/issues/8598#issuecomment-652629473

[2020-07-14 19:24] FiberJW commented on #8722
This seems to be resolved, so I'll close this for now. If you run into a similar error that is reproducible, feel free to open up a new issue!

[2020-07-14 19:24] #8722 closed

[2020-07-14 19:28] FiberJW commented on #7832
Due to inactivity from the OP, I'm going to close this. If this is still a problem for you and it's reproducible using the latest SDK version, feel free to open up a new issue!

[2020-07-14 19:28] #7832 closed

[2020-07-14 19:39] cruzach commented on #5459
I tested this with the code in [this snack](https://snack.expo.io/@charliecruzan/amplitude5459) (running locally) on both iOS and Android, and wasn't able to reproduce the error. Since it's been a while since we've heard from OP here, and there's no repro, I'm going to close this issue

@matt454 if you're seeing this issue, I would make sure you're initializing before logging any events. If you're

[2020-07-14 19:39] #5459 closed

[2020-07-14 19:40] FiberJW commented on #6836
To agree with Charlie Cruzan, I believe that this is more of a feature request than a bug report so I'm going to close this issue.

I'd suggest programming for the common denominator, which is the Android case where data does not persist across installs. If you find any other bugs related to SecureStore, feel free to open up another issue!

P.S. There are some changes to storage in Android 11 if y

[2020-07-14 19:40] #6836 closed

[2020-07-14 19:54] FiberJW commented on #5127
I can't reproduce this on a fresh iPhone 11 simulator on SDK 38 by importing expo-localization and `console.log(Localization.locale)`.

This may have been fixed with this commit https://github.com/expo/expo/commit/ed1edcc5b1452bff0f3a7d691ca442a90907a004#diff-83dc1ff5af2424b1de2fc7c3259dfdf8, so I'm going to close this for now.

If you can reproduce this with the current SDK version, feel free to

[2020-07-14 19:54] #5127 closed

[2020-07-14 20:03] tommybru commented on #6375
Due to inactivity from the OP, I am going to assume that the suggestions from @sjchmiela worked to solve this issue, so I am going to go ahead and close this.

If you come across a similar issue that is reproducible with the latest SDK version, please feel free to open a new issue.

[2020-07-14 20:03] #6375 closed

[2020-07-14 20:45] hbendix opened #9213 "Cookie not persisting on iOS devices after app has shut down"
I'm having an issue with persisting cookies in iOS on React Native/Expo using Axios.

I have a Nest.js server that is using passport to authenticate users and when a user logs in a cookie is placed on the device for all subsequent requests. I'm handling this behavior with the header `credentials: 'include'` on each request. This is all working fine and well on Android and even on iOS **until** the

[2020-07-14 21:03] lewazo opened #9214 "[expo-image-picker] Jumpy animation at bottom of screen when the picker is closing"
## 🐛 Bug Report

### Summary of Issue
On iOS, When cancelling in the image library or selecting a picture with the option `allowsEditing` set to false, there is a glitch or flicker happening on the bottom of the screen when the closing animation ends. This happens on bare and also on a brand new `expo init` managed workflow app. When `allowsEditing` is set to true this doesn't happen, I guess beca

[2020-07-14 21:13] brentvatne commented on #9214
this seems like it might be a bug with `UIImagePickerController` - which is part of the ios standard library. if someone wants to verify this you can create a simple native ios app that invokes this control and compare the result. the code around dismissing the `UIImagePickerController` is pretty straightforward: https://github.com/expo/expo/blob/75d29fa3f8a2f8cb7b8cb54797dd50ebec2e3b6e/packages/e

[2020-07-14 21:14] brentvatne commented on #9205
@OscarYuen - that was over a month ago 😅

[2020-07-14 21:16] #9133 closed

[2020-07-14 21:16] brentvatne commented on #8738
closing because we can't reproduce and the issue is inactive

[2020-07-14 21:16] #8738 closed

[2020-07-14 21:40] brentvatne commented on #8708
the `ios.config` and `android.config` keys are not included in your production manifest because they contain api keys that some might want to keep private, such as your google maps api key. we only use those during the build process. @tommybru will update the documentation to make this more clear. we may want to reconsider this in the future for clarity, or remove the config keys in development as

[2020-07-14 21:51] brentvatne commented on #9194
hi there! I don't quite understand the example. I opened it on snack and it looks exactly the same on ios and android.

[2020-07-14 21:53] #9194 closed

[2020-07-14 21:56] brentvatne commented on #9112
@AdamJNavarro - it's probably best for us to link to this: https://docs.expo.io/workflow/using-libraries/#determining-third-party-library-compatibility

[2020-07-14 22:16] ErkanSensei commented on #9195
Yes, this is happening on iOS for me as well. The snack provided by @cruzach works when used from his snack, but the same code on my local app doesn't seem to work. It seems like @manodupont is also on 38.0.8, something might have broken in a minor version bump?

[2020-07-14 22:32] brentvatne commented on #9195
the problem is with `alignItems: "center"` - this component doesn't appear to have an intrinsic width, so when it's centered it shrinks to 0 width. set the width on it to 100% to fix this, or remove `alignItems: "center"`:

[code]

more info in https://github.com/react-native-community/datetimepicker/issues/71

[2020-07-14 22:32] #9195 closed

[2020-07-14 22:36] brentvatne commented on #9112
https://github.com/expo/expo-cli/commit/e186eaecbdeea5a48d5da1c06b3850cdb409d20c

updated link here, will go out on next deploy of expo-cli

[2020-07-14 22:36] #9112 closed

[2020-07-14 22:37] 1099366461 commented on #9176
Thanks for the reply,
I am trying to scan the barcode found on the Colombian ID.

Attachment 3 example of identifications.

![barcode](https://user-images.githubusercontent.com/68158747/87483119-8ad50900-c5f8-11ea-9750-7233c870e312.jpg)

[2020-07-14 22:41] fullhdpixel opened #9215 "expo build:android java.lang.ClassNotFoundException: host.exp.exponent.taskManager.ExpoHeadlessAppLoader"
## 🐛 Bug Report

### Summary of Issue

App works perfectly fine in development and production mode, however when the app is build using expo and then downloaded & installed the app immediately crashes

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

[code]

Logs: https://pastebin.com/raw/kq8EmP09

### Reproducible Demo

git clone https://github.com/fullhdpixel/ve

[2020-07-14 22:58] brentvatne commented on #9215
did you use `expo build` to produce the app or what? this is a bare app and so you cannot use `expo build`

[2020-07-14 23:06] fullhdpixel commented on #9215
@brentvatne Hi, this should actually be a managed app. I only used js/typescript during development. Did I actually create a bare app? How do I now turn to a managed app.

[2020-07-14 23:09] brentvatne commented on #9215
you can delete the ios and android directories and remove react-native-unimodules from your package.json. i'm not sure how you created the project - maybe you ran `create-react-native-app` or maybe you did `expo init` and chose a bare template. web works the same in managed and bare apps. it looks like you're using `react-native-flurry-sdk` which is not supported in the managed workflow

[2020-07-14 23:19] fullhdpixel commented on #9215
Thanks a lot. I have removed the package entry and the directories. Yes this issue is directly related to creating a bare workflow app while it should have been a managed workflow.

[2020-07-14 23:19] #9215 closed

[2020-07-14 23:20] brentvatne commented on #9213
hi there! this sounds like an upstream issue with react-native's handling of cookies. it would be helpful to create a [mcve](https://stackoverflow.com/help/mcve) and repost this as an issue on https://github.com/facebook/react-native/issues

[2020-07-14 23:22] brentvatne commented on #9213
possibly related issue: https://github.com/facebook/react-native/issues/29134

[2020-07-14 23:23] hieu292 opened #9216 "[lottie-react-native][Android] TypeError: undefined is not an object (evaluating '_reactNative.UIManager.LottieAnimationView.Commands') after upgrade Expo 38"
## 🐛 Bug Report

### Summary of Issue
I have an issue with Lottie on Android (IOS works normally) TypeError: undefined is not an object (evaluating '_reactNative.UIManager.LottieAnimationView.Commands') when after upgrade expo 38. Currently, "lottie-react-native": "~2.6.1" in package.json

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
  Expo CLI 3.21.13 environm

[2020-07-14 23:25] brentvatne commented on #9199
is there a reason that you're not using (Location.startLocationUpdatesAsync(taskName, options))[https://docs.expo.io/versions/latest/sdk/location/#background-location-methods] for watching location in the background?

[2020-07-14 23:39] jonathanstiansen commented on #9099
@SleeplessByte that's not correct anymore, in fact if you publish first with the no-publish workflow it's functionally useless.
Since it's got a built in bundle with a newer timestamp then the published one, so it never retrieves it.

@CharlyPoppins Any reason you closed this? Publishing after (or not at all) should be valid

@brentvatne can you comment if it's intended to have this error if you b

[2020-07-14 23:40] jonathanstiansen commented on #9099
@CharlyPoppins as I'm reading your error though, you seem to need an experience-id to get this working.

[2020-07-15 01:07] AKclown commented on #9204
Thank you solved

[2020-07-15 02:01] 026binit commented on #9206
Thanks @adamjnav does checking the platform will not get rid of the error?

I am still on 35 and want to get rid of this one until i go with 38

i am checking platform.OS === "ios" in the code.

[2020-07-15 02:12] Danielgb23 commented on #9155
but isn't it what it says here? https://docs.expo.io/versions/latest/sdk/notifications/#notificationcontentinput
[code]

[2020-07-15 02:27] heyhyungi opened #9218 "expo-facebook crashed in testflight"
## 🐛 Bug Report

### Summary of Issue
facebook login crashed in testflight.
It worked well in emulator and Android, but not working while test through testflight.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
Expo CLI 3.20.9 environment info:
    System:
      OS: macOS 10.15.2
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 14.4.0 - /usr/local/bin/no

[2020-07-15 02:31] brentvatne commented on #9218
which version of expo-facebook do you have in your package.json?

[2020-07-15 02:32] halfmatthalfcat commented on #8691
It looks like the `create-manifest` script needs to startup the bundler, just as the react-native `xcode.sh` script does. Unless you can find a way to run the bundler separately in another process...but in a CI environment that's a bit tricky as we're seeing.

[2020-07-15 02:41] brentvatne commented on #9218
also, did you configure app.json properly? https://docs.expo.io/versions/latest/sdk/facebook/#configure-appjson

also, it is easier to test this locally without needing to deploy to testflight by doing a simulator build: `expo build:ios -t simulator`

[2020-07-15 02:50] thedarkcder commented on #8691
This is used, if you are using bare workflow to build the JA asset manifest. The manifest previously built using expo publish CMD. I wasn't able to identify why the built process isn't able to spawn another process as I don't have a test box.

Few key points. The android build script seems to be very temperamental and doesn't always launch the metro builder. For me to get the complete c.i build wo

[2020-07-15 04:12] Mersall opened #9220 "Could not find google-services.json"
hello,
I'm tried to get expo push-notification work but in standalone app -android it's not work because should google-services file be placed in right place, discovered when building stand-alone this got this error every time in the log ==>  "Could not find google-services.json while looking in [src/nullnull/debug, src/debug/nullnull, src/nullnull, src/debug, src/nullnullDebug]
registerResGenerat

[2020-07-15 04:15] brentvatne commented on #9220
hello! did you add the google-services file like this? https://docs.expo.io/push-notifications/using-fcm/#client-setup

can you give me the link to your project on expo.io? eg: https://expo.io/@notbrent/hour-power

[2020-07-15 04:16] brentvatne commented on #9216
hi! we need a reproducible example to help with this. please create a new issue and provide an example that we can run to demonstrate the issue. this is likely a bug in your own code and trying to provide a minimal reproducible example will help you to locate that bug! if you can reproduce it then it'll help us to investigate! more guidance on how to do this if you need it: https://stackoverflow.c

[2020-07-15 04:16] #9216 closed

[2020-07-15 04:17] Mersall commented on #9220
yes I did everything in documentation also in set FCM DOCUMENTATION

[2020-07-15 04:19] brentvatne commented on #9216
here's an example of lottie working as expected on ios and android in sdk38: https://snack.expo.io/@notbrent/lottie-example?platform=android

[2020-07-15 04:19] Mersall commented on #9220
https://expo.io/@mersall44/cfm-sae  here is the link, thank you

[2020-07-15 04:41] heyhyungi commented on #9218
I found that I missed facebookScheme on app.json.
Thank you for replying!

[2020-07-15 04:41] #9218 closed

[2020-07-15 04:43] mikeRChambers610 opened #9221 "Cannot read property 'measureInWindow' of undefined"
## 🐛 Bug Report

**Issue:**
I am upgrading from Expo SDK 37 to Expo SDK 38. Directly after the upgrade I am facing the following issue.

TypeError: TaskQueue: Error with task : Cannot read property 'measureInWindow' of undefined.

When I search my app's root folder I am not finding any instance of a 'measureInWindow', so I can not pinpoint where the error is coming from.

**ios error output:**
Typ

[2020-07-15 04:49] brentvatne commented on #9221
see: https://github.com/react-navigation/react-native-safe-area-view/issues/118#issuecomment-628078811

you can use yarn resolutions to force react-navigation to install a more recent version of react-native-safe-area-view, or you can update to a more recent version of react-navigation. we don't document breaking changes in all libraries, eg: react-native-safe-area-view, because we don't track the

[2020-07-15 04:49] #9221 closed

[2020-07-15 05:02] brentvatne commented on #9220
from the logs on a build a couple of hours ago:

it looks like in your most recent build this issue is resolved. so that will probably fix the issue for you.

[2020-07-15 05:06] Mersall commented on #9220
i really appreciate your effort, Thank you, but go to add  googleSignIn manually trying to solve this problem, but actually, when removed it the problem still there with it or without it, this issue takes 3 days tried everything on the internet

[2020-07-15 05:25] mikeRChambers610 commented on #9221
Thanks a lot for the quick response Brent. Upgrading my react-navigation fixed the issue.

Now I will just need to continue adding the necessary packages to align with the upgrade. I appreciate the help.

[2020-07-15 05:42] teppa-rootstack commented on #6169
hey guys did you find a solution I have the same issue when the img src comes from a local file uri.

[2020-07-15 07:15] barthap opened #9222 "[expo-sharing] Sharing photos from MediaLibrary throws on Android"
## 🐛 Bug Report

### Summary of Issue
When I try to share with `Sharing.shareAsync()` a photo from camera roll retrieved using `MediaLibrary.getAssetsAsync()` and `MediaLibrary.getAssetInfoAsync()`, iOS works great, but on Android I get an exception:
[code]

I suspect it may be a problem of missing permissions in manifest.

### Environment
Android - emulator, API level 29 & 30
[code]

### Reproduc

[2020-07-15 07:32] lukmccall commented on #9155
Oh, you are right 👍  I was looking at ts types.

However, I know the root cause of this problem. I will fix it soon ;)

[2020-07-15 07:34] barthap commented on #9222
This looks like it is the same issue as [here](https://stackoverflow.com/questions/61240694/how-to-share-a-local-photo-using-react-expo-sharing-shareasync).

[2020-07-15 07:42] lukmccall commented on #6224
Closing this issue due to inactivity. Moreover, we can't reproduce it either. If this is still a problem for you and it's reproducible using the latest SDK version, feel free to open up a new issue!

[2020-07-15 07:42] #6224 closed

[2020-07-15 07:44] lukmccall commented on #5548
Closing this issue due to inactivity. Moreover, we can't reproduce it either. If this is still a problem for you and it's reproducible using the latest SDK version, feel free to open up a new issue!

[2020-07-15 07:44] #5548 closed

[2020-07-15 08:41] lukmccall commented on #6729
I'm closing this issue due to inactivity. Moreover, we can't reproduce it either. If this is still a problem for you and it's reproducible using the latest SDK version, feel free to open up a new issue!

[2020-07-15 08:41] #6729 closed

[2020-07-15 10:21] #9222 closed

[2020-07-15 11:13] to-str commented on #8598
We worked around server side, if anyone has the problem on rails. Our solution completely disables all caching possibilities to avoid `304` responses were you might not even have the data at all. This has solved the problem in our case, just leaving it here to maybe save somebody an hour or two.

In an initializer:
[code]

In `application_controller.rb` (or whatever makes sense for you)
[code]

[2020-07-15 12:05] mikkelwf commented on #9074
Much appreciated.. :)

Keep up the good work.. :D

[2020-07-15 12:23] samedb opened #9225 "BackgroundFetch not working after reboot on newer versions of Android"
## 🐛 Bug Report

### I'm having a few issues with the background fetch library. Everything works well when I tested it in Android 6, the task was running while the app was in the background, when it was terminated and when the phone rebooted, as it should. But then when I tried it on Android 10 it worked while being in the background and after being terminated but after rebooting the phone i get n

[2020-07-15 12:31] kreativka commented on #8598
From what I gather you're sending headers without ETag, and with Cache-control: no-cache. This doesn't solve the issue here, you still have every request/response stored in ```/data/user/0/host.exp.exponent/files/okhttp``` .

[2020-07-15 13:17] MaheshaBhat opened #9228 "Expo Login is failing with error"
I am trying to execute expo login error but I am getting "unable to get local issuer certificate" error.
I am using expo SDK: 38.0.0.
all expo commands are failing.
what should I do to fix this problem?

[2020-07-15 13:26] RodolfoGS commented on #5548
@lukmccall sorry, I don't saw your comment.
Yes, was fixed with https://github.com/expo/expo/pull/8910 Thank you so much for your help, you are great 🥇

[2020-07-15 13:31] cruzach commented on #4356
Closing since this fix was released (also we've added a new notifications module, [`expo-notifications`](https://docs.expo.io/versions/latest/sdk/notifications/), so if you're using the legacy notifications module, you should upgrade to SDK 38 👍 to use the new one)

[2020-07-15 13:31] #4356 closed

[2020-07-15 13:51] cruzach commented on #9175
We have an RC version of `sentry-expo` published as `next` right now, so you guys can give that a try and let me know if it fixes the issue? You'll also need to follow the additional [bare workflow setup steps](https://github.com/expo/sentry-expo#bare-workflow-setup)

[2020-07-15 13:54] cruzach commented on #9228
What version of `expo-cli` are you using?

[2020-07-15 13:55] klmop opened #9229 "expo start --web, not compiling"
## 🐛 Bug Report

### Expo start --web, not compiling , cannot find : node_modules/expo/build/launch/SplashScreen.js

### Environment - Expo 3.22.1,

### expo start --web

### Expected Web version.

[2020-07-15 14:46] byCedric commented on #9229
Hi @klmop! I'm sorry to hear you are having issues with Expo. Unfortunately, we can't help you if you don't supply the information we need. If you think you found a bug, open a new issue and provide all information that we ask there (e.g. environment info, short issue description, steps to reproduce, etc). If you just have a question related to this, feel free to ask it on the [forums](https://for

[2020-07-15 14:46] #9229 closed

[2020-07-15 15:35] germancardenasm opened #9233 "BarCodeScanner not reading (probably non-standard) PDF-417"
## 🐛 Bug Report
BarCodeScanner not reading PDF-417 code
### Summary of Issue
The BarCodeScanner is having problems reading a PDF-417 code from an ID used in my country that I need to read. The specifications for this bar code says it is a PDF417 with a 30% correction.
The component never read the codes in this ID at all.

Trying with other mobile apps as PDF417, and web services as https://demo.dy

[2020-07-15 16:09] rphlmr commented on #5839
Same problem here on some devices (same stack https://github.com/expo/expo/issues/5839#issuecomment-649716057)
Trying to disable OTA. We'll see  ¯\ (ツ) /¯

[2020-07-15 16:42] to-str commented on #8598
@kreativka You are correct, the problem we had primarily is that our client did not persist any data. So if the server gave the answer "304" which does not include data, our app fell flat on its face because of this. The rails changes at least make it work, and as we are not depending on caching at the moment, don't have a performance impact. The saving of the local cache data is another problem e

[2020-07-15 17:58] Danielgb23 commented on #9155
Good, thanks a lot for your attention! :)

[2020-07-15 18:05] danmaas commented on #7367
Just wanted to note that I'm also seeing some crash logs on Android that imply a similar behavior is happening - it looks like OpenGL ES methods are being called after the app's main Activity transitions to a paused state. I'm guessing it has something to do with the OpenGL or JavaScript threads not syncing up with the Android UI thread when an Activity transition happens.

I'm interested in volun

[2020-07-15 18:30] rameshd100 commented on #2848
You can either restart the pc or try killing the adb.exe process.

[2020-07-15 18:41] whusterj commented on #6858
FWIW, we also just encountered this issue. It may be tied to the app being rejected (ours just was) or it may be that there is a new payments agreement that needs to be accepted. We are seeing the following in AppStore Connect:

<img width="959" alt="Screen Shot 2020-07-15 at 2 29 31 PM" src="https://user-images.githubusercontent.com/1354713/87582781-ebbc1a00-c6a8-11ea-9532-d70e33d8edca.png">

Not

[2020-07-15 18:51] brentvatne commented on #9233
i opened [this snack](https://snack.expo.io/?platform=android&name=Basic%20BarCodeScanner%20usage&sdkVersion=38.0.0&dependencies=expo-barcode-scanner&sourceUrl=https%3A%2F%2Fdocs.expo.io%2Fstatic%2Fexamples%2Fv38.0.0%2Fbar-code-scanner.js) on my phone and scanned the example pdf417 barcode from https://en.wikipedia.org/wiki/PDF417 and it works as expected and also on my driver's license and random

[2020-07-15 18:55] #9233 closed

[2020-07-15 20:23] RodolfoGS commented on #9175
@cruzach wow thanks, I'll test in next weekend, I keep you updated if it works! Again, thank you so much for your help!

[2020-07-15 20:34] EvanBacon opened #9234 "Fix usePermissions require cycle"