[2020-05-28 12:58] fernandobecker commented on #8527
I have a problem similar to the linear-gradient expo
`({"Object. <anonymous>": function (module, exports, require, __ dirname, __ filename, global, jest) {export {default as LinearGradient} from './LinearGradient';
                                                                                              ^^^^^^
     SyntaxError: Unexpected token export

       4 | import PropTypes from 'prop-ty

[2020-05-28 13:01] ste-hibo commented on #2010
I have the same issue.
Any solution to this?
This is the issue I am experiencing:
![bar-1](https://user-images.githubusercontent.com/59731643/83144142-426a9600-a0f3-11ea-89f0-2a98874ea865.png)
This happens installing my app from a standard apk after I built it.

And this is the behaviour I expect and that IT WORKS COMPLETELY FINE launching the same app through Expo:
![bar-2](https://user-images.gi

[2020-05-28 13:06] ryanmitchell commented on #8178
+1 on this - it would be great to sync in with the new tipsi beta to allow SCA support in expo

[2020-05-28 13:22] wazzupex commented on #8238
Hi @fhenri42

It was an issue with the FB configuration in the App.json... I was about to change from Expo Facebook to Facebook React-native APIs when I decided "refactor" all the App.json and it worked

Regards,
Alex F Borba

[2020-05-28 13:22] #8238 closed

[2020-05-28 13:56] anuragdani16 commented on #8377
Hi!

Tried gradlew clean and then ran gradlew bundleRelease --stacktrace
Got the same error

here is the stacktrace -

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':app:createReleaseExpoManifest'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter$3.accept(ExecuteActionsTaskExecuter.java:166)
        at org.gradle.api.internal.t

[2020-05-28 14:02] r3b311i0n commented on #7352
Apologies. I kind of forgot about this issue. I updated to expo 37.0.0 and specifying `type` works for me now (also works without `type` specified).

[2020-05-28 14:05] kharbouch1 commented on #2848
restarting worked for me ,thanks

[2020-05-28 14:13] nebmesemaou commented on #8377
it seams packager not start
try react-native run-android --variant=release
or open seperate window with react-native start
then run gradlew bundleRelease

[2020-05-28 14:34] anuragdani16 commented on #8377
No luck man. Got other errors.

[2020-05-28 14:38] anuragdani16 commented on #8377
@esamelson Can you please help.
I am having the same errors and the solutions mentioned above didn't solve them.

'react-native': '~0.61.5'
'expo': '~37.0.12'
'expo-updates': '0.2.7' ('expo-updates': '2.0.5' gave the same error as well)

Steps to reproduce -

1. expo init test
2. expo eject
3. Configure for signed apk release by following docs here - https://reactnative.dev/docs/signed-apk-android

[2020-05-28 15:11] byCedric commented on #8530
Hi @Bardiamist! Thanks for reporting this, I see we are currently asking for the `USE_FINGERPRINT` permission. Which is deprecated and not enough for the new BiometricPrompt. We will get this fixed asap!

[2020-05-28 15:16] byCedric commented on #8514
It looks like you are using a package that requires `node-sass`, and something is up with that. Expo doesn't include it because it's incompatible with native code. Could you share a small repo with this issue? Without that, I'm not sure what's going on. 😄

[2020-05-28 15:22] byCedric commented on #8511
Hi @LinusU! Thanks for the issue report! It looks like fbjs is one of those special packages that require a lot of attention, and I'm sorry that it broke. I also tested this on Android (through Snack), which seems to work. We will get to this asap! 😄

[2020-05-28 15:37] jarvisluong opened #8541 "[expo-media-library] [ios] show if an asset is an icloud asset"
So I've been building an app which need to create a media picker. The problem is when user's phone has images or videos stored on icloud (and not yet locally). In order to display those icloud asset properly I would need to wait until the asset is downloaded (as already defined in here: https://github.com/expo/expo/blob/e166a8d8b72263a5ab75f04871e7a5d2da9729e9/packages/expo-media-library/ios/EXMed

[2020-05-28 16:51] #8536 closed

[2020-05-28 17:16] bkioshn opened #8543 "Speech.speak is not working when I re-enter the app (Android)"
### Environment
[code]

Speech.speak works for the first time when I entered the app, but when I quit the app and re-enter it again, it doesn't work.
`
Speech.speak(text, {
      language: 'th',
    onStart: () => {console.log('hi')}})
`
I tried to debug and it turns out that Speech.speak only invoke for the first time I enterd the app. No error logs are provided for me even when I use onError.

I

[2020-05-28 18:03] antgel commented on #4828
My forum post didn't get any traction and I don't want to keep tagging devs who I don't know personally on an open-source basis. But this is sure frustrating. :man_shrugging:

[2020-05-28 18:10] Jekiwijaya opened #8545 "[expo-local-authentication] nothing happened in Samsung s8"
## 🐛 Bug Report

### Environment

### Steps to Reproduce
I'm using Samsung Galaxy S8 using expo local authentication

![Screenshot_20200517-201851_Expo](https://user-images.githubusercontent.com/6567775/83176955-80de7000-a148-11ea-9784-e9bf69c0b151.jpg)
My device already enrolled for fingerprint, but when I tried to authenticate, nothing happened.

When I tried to log, the authenticate throw an er

[2020-05-28 18:58] alexhulbert opened #8547 "Error: Cannot find module '/scripts/createManifest.js'"
## 🐛 Bug Report

When running `react-native run-android --variant=release` or `./gradlew assembleRelease`, I get the following error:

[code]

This issue is happening because `expoUpdatesDir` is empty in `create-manifest-android.gradle`. I'm able to fix the error by setting the value of this variable to `node_modules/expo-updates`. When I run the command whose output was originally stored in `expo

[2020-05-28 19:20] ujjuboay commented on #8443
I am also getting the same error and I tried of viewing log as you suggested but I am not able to undestand the output of logs.
Please help with the white screen.

[2020-05-28 19:30] onurgule opened #8548 "[expo-ads-admob] I can't use SSV"
### I can't use ServerSideVerifications for Expo Admob

I am using expo-ads-admob in my app. I set my ad for server side verification but I can't set user_id or custom data for ad in my app.

`await AdMobRewarded.requestAdAsync({ servePersonalizedAds: true, additionalRequestParams: {user_id:122}});`

I am getting transaction_id in my server but I can't receive user_id.

Also I tried to get transac

[2020-05-28 19:45] actuallymentor commented on #6895
Bumping. Please give some indication what can be done and I'm happy to spend some time on a pull request.

[2020-05-28 19:51] brentvatne commented on #8443
Follow these steps:
- Change `updates` `fallbackToCacheTimeout` to something large like `30000` and rebuild your apk, open it in the Android simulator
- Observe it not working as you explained
- Change your root component to be something simple like `<Text>Hello world</Text>` and then run `expo publish`
- Close and reopen the app in the simulator
- Do you see "Hello world?" - probably! Now you kno

[2020-05-28 21:44] leekuo commented on #8245
Seeing the exact same problem for local notification permissions on iOS simulator.  The status is never "granted" but always "undetermined".  The individual notification permissions like "allowsBadge", "allowsSound", "allowsAlert" seem to be returned.  The same problem with askAsync also affects the getAsync function results.

[2020-05-28 22:09] CatPerry commented on #7802
@caulfield2 Late to this question, but I fixed the same error by just downgrading the versions of Expo and react-native-screens:

In the `package.json` file, change from `"expo": "~37.0.0"` and `"react-native-screens": "~2.2.0"` to the below versions.

Then re-run `yarn install`. And lastly, run either `expo start` or `yarn start`.

[code]

[2020-05-28 22:33] avinashpatnaik opened #8551 "Expo Speech resume and pause methods not working on Android"
import * as React from 'react';
import { View, StyleSheet, Button } from 'react-native';
import Constants from 'expo-constants';
import * as Speech from 'expo-speech';

export default class App extends React.Component {
  speak() {
    var thingToSay = 'Some Text here. I am writing this to test few features.';
    Speech.speak(thingToSay);
  }

  pausePlay(){
    Speech.pause();
  }

  resumePlay(

[2020-05-28 23:26] esamelson commented on #8377
Hi there! Sorry you're having trouble. As @nebmesemaou helpfully noted, you need to have a separate terminal window with the packager running. If you run `react-native run-android --variant Release` it will do this automatically for you, otherwise you can manually run `react-native start` in a separate terminal window.

If you've tried that and it's giving you other errors, please read and post th

[2020-05-28 23:50] Enricopv commented on #8084
Confirming also that it works for Android, but not for iOS with the same error as above:

`Another async call to this method is in progress. Await the first Promise.`

[2020-05-28 23:57] byCedric opened #8553 "Move AppLoading to separate module"
Would make it easier to reuse in bare/managed and removed yet another module from `expo`. 😄

[2020-05-28 23:58] brentvatne opened #8554 "Extract AppLoading into expo-app-loading"
This is one of the last APIs left that people import from the `expo` package. It should only require JS changes to extract this package.

[2020-05-28 23:58] brentvatne commented on #8554
closing in favor of https://github.com/expo/expo/issues/8553

[2020-05-28 23:58] #8554 closed

[2020-05-28 23:58] byCedric commented on #8554
Duplicate of #8553

[2020-05-29 03:33] GollyJer commented on #7209
100% agree with @LinusU.  Standardizing with the community would be the ideal solution.

But I'd take the update to expo-random if it were to come faster. Removing async calls whenever possible simplifies development.

[2020-05-29 03:37] arveenkumar55 commented on #8536
@lukmccall yes I have disabled notification manually through setting. But now i want to if user hasn't permission it will ask from user in android.  Looking for your response.

[2020-05-29 03:51] arveenkumar55 opened #8556 "[ANDROID] Permissions.askAsync(Permissions.NOTIFICATIONS) does not show notification modal"
I have this code and tested on my android device, Huwaei, and when I run this function the notification modal does not show up.
[code]
I don't understand why the granted var is true and the status is denied.
 I have disabled notification manually through setting. But now I want to if the user hasn't permission it will ask from the user in android. Is there any way to ask notification permission fr

[2020-05-29 03:53] anuragdani16 commented on #8377
Hey guys!

Thanks a lot @nebmesemaou and @esamelson.

At first the suggested methods were throwing the following error - * What went wrong:
Execution failed for task ':app:bundleReleaseJsAndAssets'.

Error: Command failed: gradlew.bat app:installRelease -PreactNativeDevServerPort=8081
error ENOENT: no such file or directory,

On running gradlew clean in the android folder and then running react-na

[2020-05-29 05:15] kalliub commented on #8133
I'm having a very similar problem. My Android Updates lib works properly.

In my case, I'm importing "Updates" like documentation says, like this:
[code]
So here goes what happened to me:
Published version 1.4 of my app with these new changes (adding manual OTA updates) and it was working 100% on Android. I went to iOS to make some tests and my app installs v1.3.7 from the App Store (which is its

[2020-05-29 05:33] AwesomeZaidi commented on #5472
This is a huge issue

[2020-05-29 05:36] iainnash commented on #6118
I can try to work on thiss iif @agar23 hasn't already.

[2020-05-29 05:58] emroot commented on #7996
that's interesting. thanks for sharing. It worked for me, but only in development. With a production build `next build`, it breaks on safari and iOS browsers. When I first load the page it works fine, however if I refresh the page, I get `setimmediate is not defined`. Investigating what's up.

[2020-05-29 06:09] nandorojo commented on #7996
Try this:

[code]

[2020-05-29 06:50] emroot commented on #7996
I'm not sure why, but adding the polyfill in a different place worked.
I'm importing the polyfill right before I make my call to `react-native-reanimated`, lower down the chain instead of `pages/_app.tsx` and it fixes the issue.

[2020-05-29 06:57] nandorojo commented on #7996
Oh, got it. I did this in my `pages/_app.tsx` before importing reanimated, since the pollyfill didn’t always work for me.

[2020-05-29 09:13] bidetaggle opened #8559 "[docs] InAppPurchases doesn't seem to work as explained"
Hello,

I'm working on android (I plan to make also an iOS version) and I really have a hard time understanding how to use InAppPurchases.

Using the following code from the doc:
[code]

`results` always keep getting `"acknowledged": false` and `"purchaseState": 1` and it's just piling up on the older purchases each time I buy a new item until I close the app.

If I comment `finishTransactionAsync

[2020-05-29 09:15] jarvisluong commented on #8466
closed because #8546 is merged

[2020-05-29 09:15] #8466 closed

[2020-05-29 09:22] miversen commented on #7339
I found the solution that works on device and emulator after studying the Video and Audio classes a bit closer. I should note that I'm also using expo-asset 8.1.5.

This does NOT work for me, it's not loading the video on android devices:

[code]

This DOES works for me:

[code]

[code]

And for Audio, it's the same, so this does NOT work for me on android device:

[code]

And this DOES works for

[2020-05-29 09:28] miversen commented on #7922
I also found the require did not work for me, but I couldn't use uri either, so here is how I managed to solve it. Not that I'm using expo-asset (8.1.5) also.

This does NOT work for me, it's not loading the video on android devices:

<Video source={require('video.mp4')} />

This DOES works for me:

<Video ref={this.handleVideoRef} />
handleVideoRef = async (component) => {
    if (component && !t

[2020-05-29 09:31] christiandave090697 commented on #5820
are there any update on this? im facing the same issue :(

[2020-05-29 09:42] yapdianhao opened #8561 "Converting Android recording extension from .m4a to .mp3 issue"
Hi,

I am currently working on the project that requires to send a voice recording and send it to IBM watson for Speech to Text translations. It works fine with IOS, but I am having some problems with Android. Because the default recording extension is .m4a which is not supported by IBM as shown [here](https://cloud.ibm.com/docs/speech-to-text-data?topic=speech-to-text-data-audio-formats), therefo

[2020-05-29 09:45] SimNee commented on #8561
Facing similar issue here too. Any advices? It seems to me that expo audio is only able to record in m4a or 3gp extensions. However, mp3 is what I wanted to have.

[2020-05-29 10:11] ndantonio opened #8562 "ESOCKETTIMEDOUT on expo react-native SDK (expo init or yarn install)"
Hi, I am encountering this error while doing **expo init <project>**. I've also tried **yarn install** but to no avail. I'm on Fedora 30 with good internet connection. Please help.

![image](https://user-images.githubusercontent.com/20949522/83248369-8a62e900-a1d7-11ea-85f3-23a4a3417bcc.png)

**UPDATED:** This is what I am encountering right now:

Error: https://github.com/expo/react-native/archiv

[2020-05-29 10:29] fhenri42 commented on #8238
Can you share your app.json ? plz

[2020-05-29 11:35] ngioldasis commented on #8551
The same problem here.
(expo sdk 36.0.1)

[2020-05-29 11:44] bsgbryan opened #8563 "`expo install` installs incorrect versions of dependencies"
I followed the instructions [here](https://reactnavigation.org/docs/getting-started) to get React Navigation setup.

However, after executing `expo install react-native-gesture-handler react-native-reanimated react-native-screens react-native-safe-area-context @react-native-community/masked-view` I get the following warnings when I execute `npm run ios`:

[code]

And I get the following errors:

[

[2020-05-29 12:04] byCedric commented on #8562
Hi @ndantonio! This seems to be an issue with either Yarn, GitHub or your network. There are a couple of things that you can try to remedy this. The first one I would try is removing `yarn.lock` and `node_modules` manually, and retrying `yarn install`. If that didn't help, [you can try one of these methods](https://github.com/yarnpkg/yarn/issues/5259) (like clearing Yarn's cache and/or disable any

[2020-05-29 12:04] #8562 closed

[2020-05-29 13:42] #7352 closed

[2020-05-29 13:50] LinusU opened #8564 "[expo-secure-store] Cannot read data from Unimodule from Expo App"
## 🐛 Bug Report

We are currently rewriting our existing React Native app in a clean code base with Expo. Our plan is to release this version as just a new version of the old app, invisible to the user.

We have added `expo-secure-store` to the current app, so that it saves the user token in a way that will be compatible with the new app.

However, we cannot get reading of the saved data to work i

[2020-05-29 14:05] hanselsen commented on #8483
Hey guys. Any news on this? This is really annoying and I failed in finding what it is or how to fix it.

[2020-05-29 16:24] brentvatne opened #8566 "[docs] Call out OS-level limitations more clearly and generally mitigate frustration"
This should be more prominent, imo.

<hr />

In general people have a hard time getting BackgroundFetch working - https://github.com/expo/expo/issues/3582. We should provide a minimal working example and be very clear that it may take some time for the task to run. We should also clearly list any limitations of the API currently on the docs page.

[2020-05-29 16:40] adrenaline681 commented on #8226
@cruzach So with the new SDK v37 is not possible to do Facebook login with a REST API like Firebase or Django without using a custom expo client or building a standalone app?

[2020-05-29 17:33] adrenaline681 commented on #8196
@oanaprf Were you able to get Facebook login in Firebase with the Expo Client? I'm having trouble getting it to work.

[2020-05-29 18:01] oanaprf commented on #8196
Nope, only works when you run the app with an emulator & I'm too afraid to downgrade right now(running out of time till my deadline)

[2020-05-29 19:46] nebmesemaou commented on #8547
delete node_modules folder and pacage-lock.json | yarn.lock
then update your expo-cli with `npm install -g expo-cli`
then rebuild

hope it helps !

[2020-05-29 21:50] justindmyers opened #8567 "MediaLibrary.createAssetAsync - Created asset is completely different from original file"
## 🐛 Bug Report

### Environment
iOS (Not tested on Android)

### Steps to Reproduce

* Create a new asset from an existing file:
   * `MediaLibrary.createAssetAsync(uri);`
* Get asset info of newly created asset:
   * `MediaLibrary.getAssetInfoAsync(asset); `
   * `FileSystem.getInfoAsync(asset.uri, { md5: true });`
* Compare against original file info: `FileSystem.getInfoAsync(uri, {md5: true })

[2020-05-29 21:57] macintoshhelper opened #8568 "[react-native-unimodules] AppDelegate examples are outdated, causing unimodules to break"
## 🐛 Bug Report

Notification events are broken in a bare Expo app, setup using the `react-native-unimodules` instructions: https://gist.github.com/brentvatne/1ece8c32a3c5c9d0ac3a470460c65603

I managed to fix this by adding the line `[super application:application didFinishLaunchingWithOptions:launchOptions];` in `AppDelegate.m` and using `UMAppDelegateWrapper` in `AppDelegate.h`.

I'm not using

[2020-05-29 22:30] ARChatco opened #8569 "Is normal I do a build:android or build:ios and this is published into production environment in the playstore and applestore?"
If the answer that is impossible..

is possible that happened because I did expo publish?

because I did something like did and my users in production(From stores) got some changes, and it was quite fast, and then when I get this APK or IPA and I publish manually, I spend a lot...

(Well after build:android I saw the message.. Publish complete)
If this is happening, how can I disable this automati

[2020-05-29 22:54] barnu5 opened #8571 "Do test in-app payments work on Expo client app running from development server ?"
WORKING in app payments: If I build app with xcode.

NOT WORKNG in app payments: Using Expo client iOS app (can't access payments at all)

Is this expected? Do test in-app payments work on a locally run app instance via expo client app?

[2020-05-29 23:01] tsapeta commented on #8567
Could you try to use `asset.localUri` instead of `asset.uri` in `FileSystem.getInfoAsync`?

I don't have good news – this is expected behavior. On iOS you can download an image from the internet, save it to photo library multiple times and you'll get them duplicated. That's how it works under the hood in the operating system and there is nothing we can do as far as I know.

[2020-05-29 23:35] misraelson commented on #1873
HUGE THANKS @fbricker !! This worked for me after MULTIPLE attempts trying to implement other solutions. LIFE SAVER, or APP SAVER

[2020-05-30 01:41] avinashpatnaik commented on #8551
Found any alternative?

[2020-05-30 02:10] Rohansi commented on #7815
I ended up using a hybrid of two workarounds for this. For Android phones I'm [taking this path](https://github.com/facebook/react-native/issues/23693#issuecomment-523640102) because I lock them to portrait. For Android tablets I'm falling back to [this one](https://github.com/expo/expo/issues/7815#issuecomment-614721573) minus the `StatusBar` stuff. iOS and others don't need any of this of course

[2020-05-30 04:11] psyanite commented on #2010
FYI I'm using Flutter now :)

[2020-05-30 06:59] tsapeta commented on #8541
Hey! Yeah, it sounds like a good idea! 🙂
However I wouldn't use `iCloud` in this key — who knows, maybe one day we will be able to add similar thing on Android? This way we will avoid any breaking changes 😉 What about `isLocalAsset`, `isNetworkAsset`, `needsDownloading`?

[2020-05-30 07:07] jarvisluong commented on #8541
That's a valid point, I would say `isNetworkAsset` fits in this case

[2020-05-30 07:15] jarvisluong commented on #8564
Hi! I believe the reason is because during development, you are running with the Expo client, which has a different bundle id from the old react-native app, so that's why you can't read the same keychain content.

[2020-05-30 08:03] tsapeta commented on #8541
Great, feel free to open a PR if you'd like!

[2020-05-30 10:24] tareksmoubarak commented on #8084
Same error after ejecting

[2020-05-30 11:16] gbkwiatt commented on #7374
solution is to use  in your app.json `"primaryColor": "#FFFFFF",`

[2020-05-30 14:25] menglingyu opened #8576 "video play slow, Always wait until the data is fully loaded"
video play slow, Always wait until the data is fully loaded,   how to Play while loading data

[2020-05-30 15:43] tsapeta commented on #6519
Since we've already moved a lot to GitHub Actions this issue can be considered as closed 🙂

[2020-05-30 15:43] #6519 closed

[2020-05-30 15:52] tsapeta commented on #6178
I think we can consider this issue as closed - appropriate action was taken in #7570 and now it just needs some small improvements and ramping up to other people.

[2020-05-30 15:52] #6178 closed

[2020-05-30 16:39] kdawgwilk opened #26157 "Support Gemfile for pod-install"
Running npx pod-install should check for the presence of a Gemfile and run `bundle exec pod install`

[2020-05-30 17:40] raffaelst commented on #8084
Hi all,

I was able to fix it by passing the DevicePushToken as a parameter to getExpoPushTokenAsync function.

[2020-05-30 18:14] AwesomeZaidi commented on #5472
iAny other known audio players that can handle this functionality in React Native?

[2020-05-30 18:41] sergeichestakov commented on #8571
Hey @barnu5, that is correct. IAP will not work inside the Expo client. This is because the In App Purchase library expects the ID of the app it's running on to match the Application/Bundle ID of the app you configured in App Store Connect and Google Play Console. This is part of the reason you currently have to eject in order to use it.

[2020-05-30 19:51] #7884 closed

[2020-05-30 22:15] kevinjpetersen commented on #7589
+1, I really hope for a fix soon!

[2020-05-30 22:32] AwesomeZaidi commented on #5472
@sjchmiela @cruzach any thoughts here?

[2020-05-30 22:36] brentvatne commented on #5472
from our [managed workflow limitations docs page](https://docs.expo.io/introduction/why-not-expo/)

<img width="1082" alt="Screen Shot 2020-05-30 at 3 34 52 PM" src="https://user-images.githubusercontent.com/90494/83340295-33b6e700-a28b-11ea-847c-179f5114ccb9.png">

you may need to eject if you want more complete background audio functionality, for now

[2020-05-31 01:24] Vn-ChemGio commented on #7677
I found that error in expo-cli 3.20.3 @brentvatne

[2020-05-31 01:41] brentvatne commented on #7677
3.21.3 is latest.

this error usually means that something in your project is breaking webpack and it's not using the proper alias for react-native-web. you might want to go back to your last working version of your app and then add things back slowly until you find what package or code is causing problems

[2020-05-31 05:11] barnu5 commented on #8571
Great response, thanks @sergeichestakov

[2020-05-31 05:11] #8571 closed

[2020-05-31 06:04] knoxgon opened #8578 "(Solved) Maximum call stack size exceeded - After downloading Javascript bundle 100% stuck"
## 🐛 Bug Report

### Environment

Expo CLI 3.21.3 environment info:
    System:
      OS: Windows 10 10.0.18362
    Binaries:
      Node: 12.17.0 - C:\Program Files\nodejs\node.EXE
      npm: 6.14.5 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.6.0.0 AI-192.7142.36.36.6241897
    npmPackages:
      expo: ^37.0.12 => 37.0.12
      react: ~16.9.0 => 16.9.0
      react-

[2020-05-31 06:13] brentvatne commented on #8578
something in your app is causing an infinite loop. we would need to see your source code to help more. based on your package.json there is more to the app than just an empty hello world.

[2020-05-31 06:14] knoxgon commented on #8578
I'm posting the source code, hold on

[2020-05-31 06:37] knoxgon commented on #8578
Just uploaded the source code [Here](https://snack.expo.io/@knoxgon/9fdc81)

[2020-05-31 07:01] brentvatne commented on #8578
unfortunately i can’t read the source code from there, when published it’s transpiled and minimified. can you push it to a github repo?

[2020-05-31 07:06] knoxgon commented on #8578
Strange behaviour
I imported the exact code to github as you requested, [here](https://github.com/knoxgon/github-issue-max-size-exceed)

[2020-05-31 07:31] knoxgon commented on #8578
I found the problem...
The problem is produced by the following libraries
dependencies:
    "@react-navigation/native": "^5.5.0",
    "@react-navigation/stack": "^5.4.1",

devDependencies:
    "eslint": "^6.8.0",
    "eslint-config-airbnb": "^18.1.0",
    "eslint-plugin-import": "^2.20.2",
    "eslint-plugin-jsx-a11y": "^6.2.3",
    "eslint-plugin-react": "^7.20.0",
    "eslint-plugin-react-hooks"

[2020-05-31 09:23] Palsson123 opened #8579 "Background fetch never runs for iOS"
## 🐛 Bug Report

### Environment

  Expo CLI 3.21.1 environment info:
    System:
      OS: macOS Mojave 10.14.4
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 12.17.0 - ~/.nvm/versions/node/v12.17.0/bin/node
      Yarn: 1.22.0 - ~/.yarn/bin/yarn
      npm: 6.14.4 - ~/.nvm/versions/node/v12.17.0/bin/npm
    IDEs:
      Xcode: 11.2.1/11B500 - /usr/bin/xcodebuild
    npmPackages:
      expo:

[2020-05-31 10:12] arqex commented on #8260
Seem that location is always picking the main icon of the app for the foreground notification, and that icon usually have a filled background, that's why it's always showing a blank square or circle 😞

[2020-05-31 10:42] LinusU commented on #8564
@jarvisluong thanks for the response, I don't believe that is it though.

If you look at the reproduction steps and the `app.json` in the second checkout you'll see that it uses the same bundle id. This can also be confirmed by seeing that the apps gets replaced in the simulator, and that there isn't now two apps installed.

I've also experienced this with an app that was distributed via TestFligh

[2020-05-31 11:14] roncodingenthusiast opened #8580 "[docs] Use functional components as examples instead of class components"
With most things moving to functional components, it'd be great to have example in the documentation that use functional components. Essentially moving all the class components to functional components in the docs.

[2020-05-31 11:15] roncodingenthusiast commented on #8580
let me know if this is a good idea, i can open a PR for this

[2020-05-31 12:36] knoxgon commented on #8578
Ok - I found the problem

The problem was that I had a json file that was well over 30mb in size. And I had no way of knowing that it was the root cause. The error message did not provide me with enough information to track it.
When running on browsers, I did not receive any faulty message or crashes. This exact problem was not present during web deployment.

So the rule of thumb: do not use local

[2020-05-31 12:38] #8578 closed

[2020-05-31 12:43] cipriancaba commented on #8423
Hi @esamelson I still have the same problem with expo-updates `0.2.8`

*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Could not find the expected embedded asset package.json. Check that expo-updates is installed correctly.'
*** First throw call stack:
(0x1859b8300 0x1856ccc1c 0x1009b9074 0x185656ec4 0x18565833c 0x18565e85c 0x18565f290 0x185668928 0x1856b

[2020-05-31 13:34] abhishekramesh commented on #7802
@CatPerry
I have the same issue, i changed my dependencies to the following listed above and performed yarn install, but i still get the same exception on running expo start.
Should i try changing this
    "react-native": "https://github.com/expo/react-native/archive/sdk-37.0.1.tar.gz",
to a lower version?

[2020-05-31 13:46] wazzupex commented on #8238
@fhenri42 Find it below... The important part is the 3 properties of facebook and not to mistaken them.

`{
  "expo": {
    "name": "<my App's name>",
    "description": "<my App's description>",
    "slug": "<my App's slug>",
    "facebookScheme": "<your facebook schema starting with fb...>",
    "facebookAppId": "<your facebook App Id>",
    "facebookDisplayName": "<your App Display Name>",

[2020-05-31 16:25] #5193 closed

[2020-05-31 17:14] HarryPaulo commented on #4850
i have the same problem using google pixel, sansung and LG, but with moto G5 work normally.

[2020-05-31 18:41] arqex opened #8583 "expo-updates crash on bare workflow"
## 🐛 Bug Report

### Environment

Expo 37, expo-updates 0.2.5. Android Q.

### Steps to Reproduce

I have a bare react native app, ejected from expo some time ago. I have added expo-updates following the instructions.

Everything works ok when I run `react-native run-android --variant=release`, the app works properly.

Then I do `expo publish` to create a new update.

When the app start, it just c

[2020-05-31 18:47] bsgbryan commented on #8563
Is there anything I can do to help this along?

[2020-05-31 20:22] jSkrills commented on #7621
@sjchmiela thoughts on my comment to you above?

[2020-05-31 20:42] bsgbryan commented on #8563
Doing an `expo install react-native-safe-area-context` caused the same warning listed above, and my app to crash. So I decided to look into this further.

I tried an `expo doctor`, but it said everything was fine. Then I tried an `expo upgrade` It failed saying there wasn't a valid Expo config. I googled that and found out I need an `app.json` in my project root. Why doesn't Expo add this by defau

[2020-05-31 20:43] AdamGerthel commented on #1873
@misraelson There shouldn't be any different between async/await and `.then`. Is the parent function async? I can't see the problem from looking at your code, but it shouldn't have anything to do with async/wait vs `.then`.

[2020-05-31 22:34] brentvatne commented on #8579
@tsapeta - probably worth investigating after sdk 38 release

[2020-05-31 22:35] brentvatne commented on #8583
can you share your app privately with us? i'd be happy to investigate

[2020-06-01 02:34] dineshmatta commented on #6435
Hey @cruzach

I am using SDK 37 but still getting the issue after eject. My Xcode version is also the latest(11.5)

[2020-06-01 03:05] sanjanadhikaridev opened #8584 "Always return san fransico."
## 🐛 Bug Report

### Environment

### Steps to Reproduce

### Expected Behavior

### Actual Behavior

### Reproducible Demo

[2020-06-01 03:20] brentvatne commented on #8584
this how location works in the ios simulator by default - it chooses cupertino. see https://stackoverflow.com/questions/214416/set-the-location-in-iphone-simulator for customizing location

[2020-06-01 03:20] #8584 closed

[2020-06-01 04:29] dineshmatta commented on #8583
My Expo app is also crashing in the release mode on IOS devices. Its a brand new project started with Expo SDK 37 and then ejected in bare flow.

In debug mode app works fine in IOS simulator but crashes in release mode.

[2020-06-01 04:37] brentvatne opened #8585 "Make react-native-maps render UnimplementedView on web"
A user reported that "importing react-native-maps crashes web, even if you don't render it on web" - we probably send a PR to react-native-maps to have it not crash and to render an UnimplementedView

[2020-06-01 04:43] brentvatne commented on #8583
@dineshmatta - can you share your app privately with us? i'd be happy to investigate

[2020-06-01 05:16] dineshmatta commented on #8583
Hey @brentvatne I gave you access to my repo. Let me know if you need anything else.
FYI, running the app locally on simulator in release mode after expo Publish

[2020-06-01 05:55] brentvatne commented on #8583
i can look at it tomorrow! just heading to bed. in the meantime, you might want to give this article a read https://blog.expo.io/over-the-air-updates-from-expo-are-now-even-easier-to-use-376e2213fabf and make sure you’re on the latest version of expo updates, which is a bit easier to use than the initial release

[2020-06-01 05:59] LuHugo opened #8586 "Manually checking for updates doesn't work."
When I set `"checkAutomatically": "ON_LOAD"` in app.json every update will work and the app will be updated at launch. But when I set it to `"ON_ERROR_RECOVERY"` and click the update button in the page it doesn't work, it returns the error `{"code": "ERR_UNAVAILABLE", "line": ...}`

My code:
[code]
[code]
[code]
[code]

[code]

[code]

[2020-06-01 07:02] AmineZeggaf99 commented on #3663
Omg Thank you so much

[2020-06-01 08:15] mczernek commented on #7591
@jb9229 This issue seems unrelated. Please provide some more info and open seperate issue.

@Andrea-Arguello Package and location of `AppLoaderPackagesProviderInterface` has changed indeed. However, main purpose of this package is to be used in managed workflow. Hence, we haven't seen it appropriate to include it in migration guide, as most users do not use this package whatsoever.

Can you please

[2020-06-01 08:48] mczernek commented on #8209
If I understand correctly, this issue is related to `tipsi-stripe`. Since I haven't heard from you for a while, and there is great possibility that this issue is not related to expo-av, let me close it for now.

Whenever I hear back from you with some more details or suspicions that this is indeed expo-av issue, I will reopen it eagerly!

[2020-06-01 08:48] #8209 closed

[2020-06-01 08:49] mczernek commented on #7591
@Andrea-Arguello Let me close this for now. If I misunderstood you or missed something, we will either reopen or create new issue accordingly.

[2020-06-01 08:49] #7591 closed

[2020-06-01 09:23] todorone commented on #8084
I'm not sure if it's the same issue but I guess they are related. I have bare workflow, unimodules.

Whole notifications flow works perfectly on Android(getting token, sending, receiving) but on iOS `Notifications.getDevicePushTokenAsync`(and as a result `Notifications.getExpoPushTokenAsync`) never resolves, it doesn't throw any errors(JS or native), just silently being run forever.

[2020-06-01 09:26] sjchmiela commented on #8084
Thank you all for reports of this problem. Frankly speaking the _being run forever_ makes the most sense—there is no way another Promise would be run if you didn't run it. I'll take a look at it as soon as possible, I've also heard @tsapeta has reproduced it—the Promise didn't resolve immediately and only after a long while the system permissions dialog showed up—maybe it's some kind of iOS bug? I

[2020-06-01 10:05] todorone commented on #8084
Thanks for the update @sjchmiela, in my case the issue is that `Notifications.getDevicePushTokenAsync` does not throw any error at all(which is obviously there) so no chance to figure out the reason of fail, so please check that it throws when something goes wrong...

[2020-06-01 10:51] byCedric commented on #8576
Hi @menglingyu! I'm not sure what you mean by "playing slow". Do you mean it's pausing during play because of buffering? Or is the playback decreased? If you are able to, could you provide a small example? That way we can investigate this properly 😄

[2020-06-01 10:58] spoilerdo opened #8589 "Upgrade copy-webpack-plugin for the webpack-config npm package"
When I ran `npm i` on an empty expo typescript template I got one moderate vulnerability:
![image](https://user-images.githubusercontent.com/21689486/83402299-c3cd6b80-a406-11ea-904f-753e0d9c1352.png)

Currently I use version: 0.12.11 of the @expo/webpack-config npm package. Maybe better to update this in the package itself. copy-webpack-plugin current version is 6.0.1 (which uses version 3.0.0 of

[2020-06-01 10:58] byCedric commented on #8569
Hi @ARChatco! Yes, this is definitely possible. What happens during a build is that it also creates a newly published version to make sure your manifest settings are up to date with the build. This is the default behavior, but you can turn this off using the `--no-publish`-flag (see `expo build:android --help` for more).

When you decide not to publish during build, keep in mind that any change in

[2020-06-01 10:58] #8569 closed

[2020-06-01 12:57] macintoshhelper opened #8590 "Implement createCategoryAsync for expo-notifications"
As part of the effort of effort to unify the SDK Notifications and `expo-notifications` APIs, it would be great to start with implementing `createCategoryAsync` in `expo-notifications`. I can open a PR for this.

[2020-06-01 13:00] jackow98 commented on #8447
Hello, wondering if you have any updates/insight into this issue?

[2020-06-01 13:42] cruzach commented on #6435
@dineshmatta could you provide steps to reproduce the issue?

[2020-06-01 14:05] byCedric commented on #3323
This should now be [resolved with `expo-linking`](https://github.com/expo/expo/pull/7934). Please open up a new issue if this still doesn't work for you with `expo-linking`!

Hope it helps 😄

[2020-06-01 14:05] #3323 closed

[2020-06-01 14:44] Davidzhu001 opened #8592 "expo login error"
## 🐛 Bug Report

### macos
[code]

[2020-06-01 15:34] cruzach commented on #8545
@Jekiwijaya I think this is the same root cause as https://github.com/expo/expo/issues/8530

do you have `Face recognition` as your `Preferred biometric` in system Settings -> Biometrics and security ->Biometric preferences ?

[2020-06-01 15:38] byCedric commented on #8592
Hi @Davidzhu001! Could you provide a bit more info about your system? The template for a bug report should contain the necessary steps to provide them. Without that, I'm not sure what's going on. You could try to remedy this by doing the following:

- Remove `node_modules` and `package-lock.json` or `yarn.lock`, and reinstall.
- Make sure you are using the latest Node LTS version (currently v12)
-

[2020-06-01 15:41] byCedric commented on #8590
Hi @macintoshhelper! Yes, that would be great to have and any help getting this in is appreciated 😄 If you are able to, feel free to create a PR and receive the eternal gratitude from me 👍

[2020-06-01 15:45] byCedric commented on #8589
Hi @spoilerdo, thanks for bringing this up! It's kind of unfortunate that the advisories are popping up in places where it shouldn't. The advisory clearly states that it's only a moderate risk when using outside Node, and this is used in Node 😅 But that's a topic for another discussion I think.

Any help upgrading this is appreciated, if you can feel free to open a PR. If not, don't worry, we will

[2020-06-01 15:47] cruzach commented on #7793
@collaorodrigo7 are you still having issues viewing a project in the expo client?

[2020-06-01 15:48] cruzach commented on #8586
hi @LuHugo - could you share the whole error message?

[2020-06-01 15:57] cruzach commented on #8532
@sudomaze `AsyncStorage` can be used to store key-value pairs, not sound files (for that, you can use `expo-file-system`)

Also, your example doesn't make any calls to `AsyncStorage`, so I'm a little confused. From your description, it seems like this might be a state management issue rather than a bug with the Expo SDK? If you do think this is a bug with Expo, you should create a minimal reproduc

[2020-06-01 16:00] #8586 closed

[2020-06-01 16:06] cruzach commented on #8551
looks like there's the same issue on web - https://snack.expo.io/@charliecruzan/speech

[2020-06-01 16:07] cruzach commented on #8543
Is this in the Expo client from the google play store, or in a standalone apk?

[2020-06-01 16:16] sjchmiela commented on #8084
Hm, ok, so in general I've reread the documentation around configuring push notifications and [the docs](https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/HandlingRemoteNotifications.html) say:

which would explain why on the second call (after restarting the application) it may be quicker.

In a [Troubleshooting document](https://develop

[2020-06-01 16:25] simplesthing commented on #6679
I am having this same issue with a fresh install of all expo packages, when I inspect code I see the old code using - "name": "expo-web-browser",  "version": "8.2.1", was there a regression or the code was not merged into the correct place?

[2020-06-01 16:50] Mickael-FAVRE-FELIX commented on #7689
I have the same message error, and I have to call : SplashScreen.hideAsync() in App.js (without any call to  SplashScreen.preventAutoHide()), to hide the splash screen (otherwise the splash screen doesn't hide)

I tried esamelson modifications but it doesn't work.

Any solution ?

[2020-06-01 17:04] Davidzhu001 commented on #8592
it is fix after remove node_modules and rerun yarn install @byCedric thanks so mucch

[2020-06-01 17:04] #8592 closed

[2020-06-01 17:29] #7621 closed

[2020-06-01 17:40] sjchmiela commented on #7621
Hey all, I just published `expo-payments-stripe@8.2.2` which includes Stripe at `~> 14.0.1` by default — this should get rid of that nasty problem. Thank you for your patience!

[2020-06-01 17:47] esamelson commented on #8423
@cipriancaba - any chance you could provide a fully reproducible demo? Either step by step instructions or a repo would be really helpful in debugging this and getting a fix out more quickly.

[2020-06-01 18:19] brentvatne commented on #8583
@dineshmatta - you didn't configure your AppDelegate properly, please refer to https://github.com/expo/expo/blob/master/packages/expo-updates/README.md#appdelegateh in the expo-updates README for what you need to do

[2020-06-01 18:33] JuanDavidLopez95 commented on #6679
Hi @simplesthing ,

I was encountering the same issue as you on Android.

Using `AuthSession.startAsync()`, the result of this function always returned `{ type: 'dismiss" } `even after successful authentication. I was able to get this fixed by supplying a `returnUrl` to the config object parameter passed to `AuthSession.startAsync()`. The `AuthSession.startAsync()` object parameters are outlined [

[2020-06-01 18:47] HarryPaulo commented on #4850
how i can fix this bug??

[2020-06-01 18:50] simplesthing commented on #6679
@JuanDavidLopez95  Thank you for your response, i have read that issue as well, I am confused as to what the `./helpers` file links to and what the `getAuthorizeUrl` is doing, I have serarched for this in documentation I do not find anything. I am supplying a redirect uri  and everything logs correctly.  When I Google `makeRedirectUri` all I find is an issue that this is not included on expo. http

[2020-06-01 19:02] dineshmatta commented on #8583
Thanks @brentvatne for finding out the issue, after posting it yesterday night I too realized that my AppDelgate is not configured, I tried configuring it as per the docs, but was getting interfacing errors, I will try again today with latest version of expo-updates which you mentioned and then I will update you if I am still facing an issue.

[2020-06-01 19:09] brentvatne commented on #8583
the interface errors may be a result of the AppDelegate header file, be sure to configure that as well

[2020-06-01 19:39] #8580 closed

[2020-06-01 19:43] FiberJW opened #8597 "[auth-session] Auth.expo.io Proxy doesn't handle URL fragments"
## 🐛 Bug Report

When creating an app using AniList's API and Auth provider, I ran into issues using `auth-session`'s proxy redirect URL: https://auth.expo.io/@fiberjw/goodweebs. I haven't done a RCA, but it seems like the Expo auth proxy doesn't handle URL fragments/Implicit Grant flows.

AniList returns the `access_token` via a URL fragment which, to my understanding, is only available on the br

[2020-06-01 20:14] arnaud-zg commented on #8117
I can reproduce the bug when the application is published on a channel, for example `expo publish --release-channel staging`. I think this PR https://github.com/expo/expo/pull/7687 might fix it, but it seems `expo-auth-session@1.3.1` is not compatible with `expo@37.x.x`.

[2020-06-01 20:16] brentvatne commented on #8117
from that thread @arnaud-zg:

[2020-06-01 20:19] kreativka opened #8598 "Cache-Control has a bug on Android"
## 🐛 Bug Report

expo doesn't respect ```fetch(url,{cache: 'no-store', headers:{'Cache-Control':'no-store'});```

Like in #1639 expo caches all HTTP requests to ```/data/user/0/host.exp.exponent/files/okhttp```
or ```/data/user/0/com.nameofaap/files/okhttp```.
This works well with React Native 61.4, 62.2.

### Environment

  Expo CLI 3.21.3 environment info:
    System:
      OS: macOS 10.15.5

[2020-06-01 21:25] tsapeta commented on #8371
I'm closing this issue as almost all steps are done, ensuring nothing is broken in shell apps is gonna be a part of QA so we no longer need to track it here 🙂

[2020-06-01 21:25] #8371 closed

[2020-06-01 21:59] adriaanbalt commented on #7725
@IjzerenHein  I'm still having issues with [Firebase Recaptcha](https://docs.expo.io/versions/latest/sdk/firebase-recaptcha/).

The [Snack demo referenced in above link](https://snack.expo.io/@ijzerenhein/firebase-phone-full-auth-demo) doesn’t work when I use my phone as the device simulator.  I get an error that reads: `Error: Invalid format.`.  I reviewed my "OAuth redirect domains" aka "Authori

[2020-06-01 22:10] arnaud-zg commented on #8117
Thanks, I'm currently using `AuthSession.useAuthRequest`, I guess it was introduced recently, so I need to use `AuthSession.startAsync`.

[2020-06-01 22:14] brentvatne commented on #8117
that should work as expected there as well - it works for me on https://github.com/brentvatne/hour-power - you can verify yourself by scanning the qr code at https://expo.io/@notbrent/hour-power?release-channel=lol and looking at the related code in the repo.

if you can provide a [https://stackoverflow.com/help/mcve](https://stackoverflow.com/help/mcve) and open a new issue we can look into it mo

[2020-06-01 22:25] brentvatne commented on #8598
i am able to reproduce this in expo client and in standalone apps.

i am not able to reproduce it in a bare project (both in rn 62 and 61). so this is indeed an issue with react-native on android in the managed expo environment

[2020-06-01 23:31] pioNavarro opened #8602 "32-bit app compatibility with macOS High Sierra 10.13.4 and later"
I tried to build the APP as a simulator. I'm having a problem running the app on iOS simulator because of this error.

![image](https://user-images.githubusercontent.com/51459273/83464281-fdec4b00-a4a2-11ea-8dbf-0ae0a593ef11.png)

anyway this is my current macOS
![image](https://user-images.githubusercontent.com/51459273/83464342-312eda00-a4a3-11ea-8e0f-c99886df00ce.png)

[2020-06-01 23:33] brentvatne commented on #8602
you should be able to resolve it with the instructions from this message when you run the build:

[code]

cc @byCedric - maybe apple has gone ahead and thrown another curveball and changed the message :\

[2020-06-01 23:36] gregdburns opened #8603 "Can't open an Excel document using the Sharing API"
## 🐛 Bug Report
When using the Expo Sharing API, Android emulators and phones cannot open certain apps (Microsoft Excel, Google Sheets).

### Environment

**Android Emulator**
Pixel 3a API 29

**Android Phone**
Version: 10
Security Patch level: May 5th, 2020
Google Play system update: May 1, 2020

Run using the Expo Managed workflow, SDK 36.

### Steps to Reproduce

1. Install either Microsoft Exc

[2020-06-01 23:39] GregBlackLine commented on #8603
It looks like the Sharing API uses android.intent.action.SEND, however android.intent.action.VIEW appears to be what's accepted by Excel and Sheets.

The following workaround appears to work using the Expo IntentLauncher:

`const cUri = await FileSystem.getContentUriAsync(filePath)

    await IntentLauncher.startActivityAsync('android.intent.action.VIEW', {
      data: cUri.uri,
      flags: 1

[2020-06-02 00:04] dineshmatta commented on #8583
Hey @brentvatne

I tried upgrading expo-updates to latest version and followed all the steps mentioned in the blog and documentation, now I am getting different error when building the project

Here are some of the error screenshots from my Xcode, also I have updated my branch so you can also check the code( you already have access to it)

![image](https://user-images.githubusercontent.com/1083007

[2020-06-02 01:52] augustolp commented on #5349
Hello! is there any experienced dev here that can help me with expo & branch implementation? Please contact me at augusto@lemmonet.com to discuss collaboration fees ... thanks!

[2020-06-02 03:21] tomas932 commented on #7589
It worked! Try this everybody. Fixed styles for root component over root navigation. Useful upvote

[2020-06-02 04:14] aalbaharnah commented on #7373
you need to change  `import **com.doingmything**.generated.BasePackageList;`
"com.doingmything" should be your app package name.
in your case in particular it's com.statscan

[2020-06-02 05:12] g4m3r2 opened #8606 "ALREADY TRIED POSTED SOLUTIONS - Uncaught error: packager is not running at http://10.0.1.243:19005"
I've tried:
1. Restarting my computer, android emulator, Visual Studio and Chrome
2. Being on the same network as my computer (I am using an emulator so by default this is the case)
 3. Following the steps here https://forums.expo.io/t/how-to-clear-the-react-native-packager/1352
4. reinstalling npm install -g expo-cli
5. Opening other projects
 6. Trying Expo on my mobile phone
7. Turning my firew

[2020-06-02 05:21] brentvatne commented on #8606
your phone is unable to reach your computer on your network. i can’t help with config issues around that, but you can switch to a tunnel connection

[2020-06-02 05:27] jarvisluong opened #8607 "[expo-gl] [web] next.js build fail with expo-gl 8.2.0 and react-native-web 0.11.7"
webpack build from nextjs will fail with the above combination of the above mentioned package:

Here is the build error log:

[code]

Apparently unstable_createElement is only available in react-native-web@0.12.0, but that will also fail for the import of createElement.

I think we should explicitly check for the compatible version of react-native-web and better handling the import of those two fu

[2020-06-02 05:40] g4m3r2 commented on #8606
UPDATE: tried a few more things still to no avail:
1. Switched to Tunnel connection,
![image](https://user-images.githubusercontent.com/17416681/83483960-b0e38700-a458-11ea-828a-fd31eabfee62.png)
2. Added 19000 on firewall (inbound rules -> new rule-> specific local port 19000
3. Making my home wifi private

[2020-06-02 05:50] brentvatne commented on #8606
can you open web page running on a web server that is running on your computer from your phone?

[2020-06-02 05:51] g4m3r2 commented on #8606
Sorry, could you please explain how I can do this? I am not in IT/am a beginner coder

[2020-06-02 05:57] brentvatne commented on #8606
if you put a an index.html file in some directory on your computer and then run npx serve in that directory it will start a web server. if you then open a web browser on your phone and type in http://yournetworkip:port then you probably won’t be able to connect due to network configuration issues.

i’d suggest as another alternative that you connect your phone to your computer. run expo start --lo

[2020-06-02 06:00] g4m3r2 commented on #8606
I receive the following error:
PS C:\Users\Charles\React Native\realblog> expo start -- localhost
The expected package.json path: C:\Users\Charles\React Native\realblog\localhost\package.json does not exist

[2020-06-02 06:02] brentvatne commented on #8606
there is no space between -- and localhost

[2020-06-02 06:04] g4m3r2 commented on #8606
Thanks, but I receive the error that says could not load exp://127.0.0.1: 19000.

Interestingly the URL states http://localhost:19002/ ... would such discrepancy cause the problem?

[2020-06-02 06:15] brentvatne commented on #8606
127.0.0.1 is the same as localhost :) i’m sorry i am going to sleep now. you may want to try installing an android emulator and working on your computer for now until you can figure out network issues. here is a guide for installing the emulator https://docs.expo.io/workflow/android-studio-emulator/

[2020-06-02 06:18] g4m3r2 commented on #8606
Ok. I am also working on the issue on an emulator at the same time with no relief. But thank you for your help thus far :)

[2020-06-02 06:26] g4m3r2 commented on #8606
Fixed it! Had to run expo upgrade!!

[2020-06-02 07:21] RupamShaw commented on #8084
Notifications.getDevicePushTokenAsync() also gives same error. Another async call to this method is in progress. Await the first Promise.

[2020-06-02 07:37] IjzerenHein commented on #7725
@adriaanbalt I believe `invalid format` means that the phone number that you entered is not recognised as a valid phone number. You can try by adding a test phone number in the firebase console `Authentication -> Sign in method -> Phone`

[2020-06-02 07:44] rphlmr commented on #7725
In case of, don't forget to add the country indicator with the phone number : ex +1 22 etc

[2020-06-02 08:41] RupamShaw commented on #7921
same issue with getDevicePushTokenAsync()

[2020-06-02 08:55] gie3d commented on #8286
Hi @byCedric thank you very much. I'm really looking forward for that PR. Seen it's been merged but would this be release as part of the new expo version or this can be added the latest version manually? (I tried `expo install expo-local-notification@9.1.1`)

[2020-06-02 09:27] leimichelle commented on #8226
expo SDK 37 works for the Faceboook login part, but we still can't use the credential to login with Firebase for the reason you mentioned 🤯
So I think this issue should be closed? since it's  Problem login with Facebook **and Firebase**

[2020-06-02 09:45] sjchmiela commented on #8095
That's the problem!

`expo-notifications` is only able to recognize notifications presented by it—in your case the notifications are presented by Firebase. Sorry for missing that!

I'll see what we can do about it and if not much, add this information to documentation.

[2020-06-02 09:59] arqex commented on #8583
Hey @brentvatne, thanks for having a look!

I'm trying to create a project to reproduce it. I can't share the main code, so I copied the main structure, removed the JS code and details:

https://github.com/arqex/otaTestApp

I can't reproduce the crash, because it seems I the updates are not working well in this project? I don't get a manifest from the Updates module and seems that it's never picki

[2020-06-02 10:33] kopax commented on #4046
Hello, just to get an update status on this. in may 2020, after (I hope so) the world pandemic, isn't there no new solution done while waiting home for this? I want to avoid ejecting and after a few hours of research and reading, I am thinking to use expo-stripe http client and make my own elements, or do a web view for target ios native and web. It's unclear now and I feel there's just old inform

[2020-06-02 10:41] #8084 closed

[2020-06-02 12:46] YoranBrondsema commented on #6679
I'm having an issue with `AuthSession` as well, but with `useAuthRequest`. I described it on the [Expo forum](https://forums.expo.io/t/useauthrequest-always-returns-dismiss/38476) but mentioning it here in case anyone has any ideas. I tried the `AppState.currentState` "trick" but that didn't work for me.

[2020-06-02 14:31] bkioshn commented on #8543
A standalone apk

[2020-06-02 14:36] joshg2k commented on #1759
+1 this issue as it's relevant to our project

[2020-06-02 17:09] kokaneka opened #8618 "Freshly created expo app crashes when run on ios simulator"
## 🐛 Bug Report
Getting this error
**FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory**
when trying to run a bare bones expo app with any changes at all.
### Environment
Macos 10.14.6

  Expo CLI 3.20.1 environment info:
    System:
      OS: macOS Mojave 10.14.6
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.16.0 - /usr/local/b

[2020-06-02 17:17] lukmccall opened #8619 "[unimodules-core] ensure that the compilation handler is called only when all subcontractors are done."
Follow up to the https://github.com/expo/expo/pull/8599#discussion_r433690970.

[2020-06-02 17:24] byCedric commented on #8602
I just verified this with the [`use-expo` example app](https://github.com/byCedric/use-expo/tree/master/example). It worked and I had to do the following steps, maybe it helps:

[code]

[2020-06-02 19:16] bkoether commented on #7562
@sjchmiela I'm still experience this issue with `Location.requestPermissionsAsync()`
Using SDK 37 and the latest version of the CLI. Build iOS app on Friday. Works just fine in iOS simulator, but the app crashes in TestFlight. Briefly shows the "Grant permissions" modal and the crashes. Other permissions work though, like access to photos or the camera.

[2020-06-02 20:13] dineshmatta commented on #8583
Hi @brentvatne

Did you get chance to look the error I am getting, still receiving the same error event without upgrading the expo-updates package

[2020-06-02 20:27] brentvatne commented on #8583
@dineshmatta - i would strongly advise initializing a new project with `npx create-react-native-app` and then comparing the AppDelegate.m and AppDelegate.h with your project to see where you made the mistake :)

[2020-06-02 20:28] brentvatne commented on #8583
@arqex - you don't get a manifest in development for bare projects or for your first build

see: https://blog.expo.io/over-the-air-updates-from-expo-are-now-even-easier-to-use-376e2213fabf - under the heading "Build-time updates have no manifest"

[2020-06-02 20:45] karam94 commented on #5297
I have this problem too. Unfortunately it doesn't look like there's any interest in fixing it, so I'll have to migrate away from using expo-av some time further down the line I would guess.

*sigh*

[2020-06-02 21:26] conan19842002 opened #8621 "FileSystem.readAsStringAsync does not work in jest"
FileSystem.readAsStringAsync does not seem to work in test environment. This is the code:
import * as VcfVerifier from '../utils/VcfVerifier';
import * as FileSystem from 'expo-file-system';

const DATA_PATH = "../../tools/vcf_test/";
beforeEach(async () => {
    jest.setTimeout(10000)
  })
describe('Test returned message', () => {
    it('does not have correct column number', async () => {

    c

[2020-06-02 22:06] gyoung-panopto commented on #8395
Any updates on this? Are you able to reproduce the issue?

[2020-06-02 22:42] isavega commented on #8189
https://github.com/expo/expo-cli/issues/99

[2020-06-02 23:10] byCedric commented on #8602
@pioNavarro Could you share a bit more info on your project? e.g. version of the `expo` are you using or the command you used? It looks like the build you are getting is still 32-bit, but I can't replicate that issue in a new or existing project.

[2020-06-02 23:44] jonlu commented on #6983
@NiallJoeMaher did you get a chance to create a remote container for windows development?

[2020-06-02 23:56] byCedric commented on #8286
Hi @gie3d! You should be able to install `9.1.1`, outside the `expo install` command 😄 e.g. with `yarn add expo-local-authentication@9.1.1`. But be aware, this only works for bare workflow projects at the moment (includes native code changes). I'm afraid this change won't make SDK 37. We are currently testing and packing SDK 38, so most of our resources go to this now. We hope to get this out soon

[2020-06-03 03:37] kumarmukul771 opened #8625 "How to upload audio files in expo apps??"
### Please note that discussions opened as issues in the core Expo repository will be closed.

  If you have a question about Expo or want to discuss about related aspects, consider posting it
  on our forums at https://forums.expo.io/. 🙂

[2020-06-03 04:24] arveenkumar55 opened #8626 "How to test DeviceNotRegisteredError (Expo push notifications)"
The token generated by expo is unique per device-installation. That means that if a user removes the app and re-installs it, a new token will be generated for that device. How i check the old expo token is not valid. Is there any way to detect that old expo token is not valid anymore?

Thanks

[2020-06-03 05:59] LuHugo commented on #8586
@cruzach
### reproducible

1. Expo init `demo`
2. Choose a template: `expo-template-bare-typescript`
3. add updates configuration in app.json
[code]
4. modify App.tsx file
[code]
6. build apk
[code]
my demo apk:
https://exp-shell-app-assets.s3.us-west-1.amazonaws.com/android/%40luhugo/muzhiApp-3cd63c44156b436db4f5bdc11fa4f12c-signed.apk

7. export bundle and upload to my server
[code]

[2020-06-03 07:06] mashuk999 commented on #8374
Running a react-native start in another terminal fix the issue. Also make sure to run in Administrator, it will resolve most of problems

[2020-06-03 07:53] birdca commented on #5842
any updates? or is there any workaround solutions for now?

[2020-06-03 08:06] RupamShaw commented on #8084
Thanks for fix. When it will get release?

[2020-06-03 08:27] yesIamFaded opened #8627 "Expo App crashes using Lottie"
Hi guys I have mad a small React Native App and I wanted to rebuild it in Expo.

I moved all the code and installed the dependencies. First I noticed that my font wont work but thats ok.

On 1 Screen in my App I have a Lottie Animation of a glass filling up. The problem I have is that in my old build (without expo) my Animation was working perfectly. NOW HOWEVER when I click on the screen that con

[2020-06-03 08:32] yesIamFaded commented on #8627
Ok I noticed when I use another animation it works... But I need the one I had before. How is that possible because it was working before?

[2020-06-03 08:42] NiallJoeMaher commented on #6983
I'll push up one later today or early tomorrow. 💜

[2020-06-03 08:54] arqex commented on #8583
@brentvatne that explains why I was getting an empty manifest :)

I have updated the repo and now it reproduces issues error! I had to update all the package names from `com.whatever` to `com.otatestapi` to make it find the updates.

What I do to reproduce it:
* Install the app using `react-native run-android --variant=release`
* Update something in Root.tsx
* run `expo publish`
* reloading the ap

[2020-06-03 09:13] franciscosuca commented on #8021
@KrallXZ I'm sorry but I have not found another workaround, and the one that I described before is not working anymore. In the meantime I am using WSL1 for running expo projects and WSL2 for the rest of my local servers (i.e. node, react, nginx, etc...).

[2020-06-03 10:24] byCedric commented on #8627
Hi @yesIamFaded! I think this is the same issue as [#8011](https://github.com/expo/expo/issues/8011#issuecomment-619993859), right? Your other animation is probable exported for little v2, that's why it should work 😄 If you export your new animation for v2, this should work too. We will upgrade lottie to v3 as soon as we are able to.

Hope it helps!

[2020-06-03 10:28] byCedric commented on #8625
Hi @kumarmukul771! You can check out the [image upload example](https://github.com/expo/image-upload-example), and more precisely [this method](https://github.com/expo/image-upload-example/blob/7705b137487a9e5a4d610884a616dc29f035527f/frontend/App.js#L165-L197). Both images and audio are considered files, so you should be able to repurpose this code for your audio upload. If you have any questions

[2020-06-03 10:28] #8625 closed

[2020-06-03 10:39] byCedric commented on #8621
Hi @conan19842002! I think it's because `expo-file-system` is a [mocked module when using `jest-expo`](https://github.com/expo/expo/blob/master/packages/jest-expo/src/preset/setup.js#L120). You should be able to load it with [`jest.requireActual`](https://jestjs.io/docs/en/jest-object#jestrequireactualmodulename), but keep in mind that this module was created for native platforms and not necessari

[2020-06-03 10:40] yesIamFaded commented on #8627
Hi so is expo lottie on that version that I am using working different then you can use it in a bare React Native app? Because my animationfile and my lottie version did not change from the bare app to expo.

But ty for the hint still I dont know if this is my issue.

[2020-06-03 10:46] conan19842002 commented on #8621
Hi, thank you for the answer. I unfortunately can't use fs since this would require native code and I'm testing on client side in Expo. Is there any a workaround on this matter please?

[2020-06-03 10:54] fhenri42 commented on #8238
Thx a lot @wazzupex

[2020-06-03 11:00] byCedric commented on #8606
Awesome! Glad you resolved this 😄 If there is anything else, please let us know!

[2020-06-03 11:00] #8606 closed

[2020-06-03 11:39] 2016CS112 opened #8629 "TypeError: "exports" is read-only"
![image](https://user-images.githubusercontent.com/38519481/83632590-f74ff780-a5b8-11ea-9e9f-f6f020bb7ef9.png)
Dependenices :
 "@expo/vector-icons": "^10.0.6",
    "@react-native-community/async-storage": "^1.8.1",
    "@react-native-community/masked-view": "^0.1.5",
    "@use-expo/font": "^2.0.0",
    "axios": "^0.19.2",
    "config": "^3.3.1",
    "date-fns": "^2.12.0",
    "expo": "~36.0.0",

[2020-06-03 12:21] sjchmiela commented on #4573
Both `standalone-ncl` and `expo-payments` have been removed in favor of a single native app, `bare-expo`, capable of incorporating both `test-suite` and `native-component-list`.

[2020-06-03 12:21] #4573 closed

[2020-06-03 13:34] lukmccall commented on #4740
To add these checks, we need to apply a lot of changes to our infrastructure. After a small discussion about it with @sjchmiela, we decided that it isn't worth maintaining. It's worth to mention that we currently don't have a lot of `// TODO: remove once` in our code.

[2020-06-03 13:34] #4740 closed

[2020-06-03 13:44] byCedric commented on #8629
Hi @2016CS112! It looks like something is up with the `react-native-floating-labels` package. A quick search resulted in [this issue](https://github.com/mayank-patel/react-native-floating-labels/issues/48). There is not a lot we can do to provide this, it might help if you comment on that issue and provide some more context and/or an example for that maintainer.

One thing you can do, is to manual

[2020-06-03 14:51] gpbaculio opened #8632 "expo-av: Fire a callback when native controls is fired, e.g.: play, pause, next/prev 15 seconds, how many minutes the user watched?"
i'm trying to implement video analytics in a video using expo-av: https://docs.expo.io/versions/latest/sdk/video/

what i want use to achieve that is use a callback when native controls is called. e.g.: play, pause, next 15 secs, is called by using native controls? i'm not really sure what to use, i'd need idea how to get it done.

[2020-06-03 15:03] davidbiller opened #8633 "WEB - expo-linking first path is always index.html"
Linking.parseInitialURLAsync();
At the first start this is always on index.html.

![Bildschirmfoto 2020-06-03 um 16 56 00](https://user-images.githubusercontent.com/7137361/83653067-a097ed00-a5bb-11ea-9459-5af782ba1687.png)

So the url is:
https://www.aivy.app/my-skills?partner=test

So when you refresh the page, all is fine.

![Bildschirmfoto 2020-06-03 um 17 01 09](https://user-images.githubuser

[2020-06-03 15:24] gpbaculio opened #8634 "onPlaybackStatusUpdate when useNativeControls=false don't run on android"
## 🐛 Bug Report

### Environment

Expo CLI 3.21.3 environment info:
    System:
      OS: Windows 10 10.0.18363
    Binaries:
      Node: 12.16.1 - C:\Program Files\nodejs\node.EXE
      Yarn: 1.22.4 - C:\Users\Baculio\AppData\Roaming\npm\yarn.CMD
      npm: 6.13.4 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.6.0.0 AI-192.7142.36.36.6392135
    npmPackages:
      ex

[2020-06-03 15:26] sebastienlabine commented on #8300
@EvanBacon  +1. It should have the same behavior as `expo-app-auth` for code exchange, because **that's is considered the best practice** for requesting Access Tokens. The **implicit flow is not recommanded** as per [OAuth2 documentation](https://auth0.com/docs/flows/concepts/implicit), and it makes no sence for expo to recommand using the Implicit Flow.

[2020-06-03 15:48] shubhamdeol commented on #8374
@brentvatne  I have installed expo update. When trying to build the app I am getting this error.

[code]

If I run react-native start in another tab and than build the app it successfully builds. why my build is having a dependency on react-native start to create build now. Is this expected?

[2020-06-03 16:02] karimcambridge commented on #5667
No matter what I do, I continue to get my country or a highway in the Caribbean, when I place a marker anywhere on the island

[code]

[2020-06-03 16:27] karimcambridge opened #8636 "expo-location returns bad reversed geocode"
https://github.com/expo/expo/blob/b91f886f5006959a9e30db505d333a31069c1fbd/packages/expo-location/src/Location.ts#L362

From geocoder API (Using axios to get the geocode myself)

[code]

Google returns the correct information.

1. The geocode result (expo -> `Location.reverseGeocodeAsync`) is always of 1 length.

2. The geocode is returning the LAST result

[code]

I think the function needs a sma

[2020-06-03 16:28] MickDev-X opened #8637 "Could not create task ':app:bundleDebugExpoUpdatesAssets' with expo-updates.gradle"
I'm not sure but I think the problem appeared after an Android Studio update.
All worked good before.

I don't understand what appens

I have the following message error that I don't manage to solve :

## 🐛 Bug Report

Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gr

[2020-06-03 16:57] lachlanglen commented on #8538
Any thoughts on this? I'm planning to eject from Expo in a few days to implement In-App-Purchases so if there's a fix I can make in the native code, or something specific I should look for, I'd be very glad to know about it!

[2020-06-03 17:10] sjchmiela commented on #8084
It should be available as `expo-notifications@0.3.1`! If you're on an older version I recommend you check out [changelog](https://github.com/expo/expo/blob/master/packages/expo-notifications/CHANGELOG.md)—there haven't been many breaking changes (in fact, there was one and only "half-breaking"). Let me know if the upgrade or [the explanatory comment](https://github.com/expo/expo/issues/8084#issuec

[2020-06-03 17:39] sjchmiela commented on #8095
Should be fixed in `0.3.1`. 🙂

[2020-06-03 17:48] zanona commented on #8262
Hi, @SunsetShimmer-ops. Did you manage to sort this out?
I'm also getting this issue, unfortunately.

[2020-06-03 18:26] caieu commented on #8637
What's the version of your `expo-updates` package? I had this problem when i updated mine to `~0.2.0`, and i had to change on `app/build.gradle`:

from: `apply from: "../../node_modules/expo-updates/expo-updates.gradle"`
ro: `apply from: "../../node_modules/expo-updates/scripts/create-manifest-android.gradle"`

https://github.com/expo/expo/tree/master/packages/expo-updates#appbuildgradle

[2020-06-03 18:29] #8633 closed

[2020-06-03 18:38] brentvatne commented on #8636
hi there. can you please follow the issue template when creating an issue? it makes it very hard to understand when issues aren't structured according to the template.

i'm not sure what the original motivation was for falling back to google only on web and android. it may make sense for this to be possible on ios too. my best guess was that many android devices don't actually support native geoco

[2020-06-03 18:38] #8636 closed

[2020-06-03 18:49] mashuk999 commented on #8374
Yes. They are working very hard to make expo updates run without this but it will take some more time. Till then this is the only choice

[2020-06-03 18:50] brentvatne commented on #8374
@shubhamdeol - i assume you're following the guide here? https://reactnative.dev/docs/signed-apk-android#generating-the-release-apk

i think that page should be updated to let users know that they need to have the react-native server running :) maybe you could open a PR to clarify that

[2020-06-03 19:20] brentvatne opened #8638 "[docs] Help users more with common submission questions"
Let's gather some common questions here and ensure to provide some guidance in our documentation around how to answer these questions.

- [ ] "Does your app use encryption? Select Yes even if your app only uses the standard encryption within Apple's operating system."
- [ ] Help to create a privacy policy - link to a template, provide information on where it can be hosted.

[2020-06-03 19:39] justindmyers commented on #8567
This is the only data I'm getting back from `createAssetAsync`, only `uri` exists, not `localUri`

[code]

I figured this might be the case. Obviously not a huge deal, just wanted to mention it.

--------

To note, I've tested this tons of ways in my standalone app and couldn't come up with any solution except for storing a reference between the initial file and the created asset in AsyncStorage a

[2020-06-03 19:48] MickDev-X commented on #8637
it's "expo-updates": "~0.2.0"

Many thanks, it works !

[2020-06-03 19:48] #8637 closed

[2020-06-03 19:56] andordavoti commented on #8638
Size limit for the assets when using managed workflow. Haven't found a clear limit for it, the builds failed earlier with 30mb SQLite DB asset, now it works for a DB that's 32.6mb. It would be great to know the limit so I know if I will need to eject.

[2020-06-03 21:31] tsapeta commented on #8567
Yeah, `createAssetAsync` doesn't return `localUri` because getting it is more expensive, but `getAssetInfoAsync` does return it. I'm just wondering whether `localUri` from asset info isn't the same as the `uri` you passed to `createAssetAsync` (if only the initial asset is local). Sorry if I was unclear 😉

[2020-06-03 22:12] #6951 closed

[2020-06-04 00:58] brentvatne opened #8640 "[docs] Pass over all mentions of ExpoKit to remove wherever it has now been replaced by bare workflow"
eg: https://docs.expo.io/versions/latest/sdk/payments/

[2020-06-04 01:02] brentvatne commented on #8282
fixed in https://github.com/expo/expo/commit/16070ee44aeb75895094979be2e05ed2daaf0ac7

[2020-06-04 01:02] #8282 closed

[2020-06-04 01:03] brentvatne opened #8641 "[docs] Add right sidebar to index within selected page"
eg: how https://reactnative.dev does it

[2020-06-04 01:15] esamelson opened #8643 "[expo-ads-facebook] fix test-suite on Android, add NativeAdView.onAdLoaded Android implementation"
`FBNativeAd` tests are disabled on Android by https://github.com/expo/expo/pull/8642 since they consistently fail. From a quick investigation, it looks like they rely on [the `NativeAdView.onAdLoaded` prop](https://github.com/expo/expo/blob/585b1f6cc827f67c1a61821477d32aef576ea892/packages/expo-ads-facebook/src/withNativeAd.tsx#L88) which actually doesn't exist in the Android implementation of the

[2020-06-04 01:47] outaTiME commented on #7589
Hi guys, any update about this issue?
sizing the root view with full height or using undefined in android behavior is not a valid solution / workaround, every Expo SDK version is affected by this issue (in expo client 2.15.x and in standalone mode too).

Take a look to the following example, on android (the OS affected)

running with SDK 34 (built on oct' 19) :

![CleanShot 2020-06-03 at 22 25 36]

[2020-06-04 06:30] djChika opened #8649 "Layout issue on iOS (Flex)"
Using last Expo SDK 37.

Using expo start and builded application I get normal layout (see screenshots), but App Store Review Team sent me screenshot with bad layout. I was fine on Expo SDK 36.
The code remains the same, I only upgraded SDK.

What I see:
![ipad_normal](https://user-images.githubusercontent.com/19673729/83722641-07fa7f00-a646-11ea-8d69-a1308e1f1346.jpg)

What see App Store Review T

[2020-06-04 06:32] brentvatne commented on #8649
the code that you provided is not a runnable example. please remove all components that are unrelated to what you would like to demonstrate and provide us with a minimal runnable example to demonstrate what you believe the bug to be

[2020-06-04 07:01] kwoxer commented on #7677
Adding `"expo-cli": "~3.21.3"` did NOT help me.

Error still remains.

So I have now these both. Maybe you have an idea about what's my issue? The error was not existing yesterday. Just cam this morning without changing any line of code.

[code]

[2020-06-04 07:04] brentvatne commented on #7677
why did you install that in the project? install it globally

[2020-06-04 07:05] brentvatne commented on #7677
and yes you’re right i have no idea because it could be any number of things. this is why we ask for reproducible examples, so please go create a new issue and follow the template and provide a reproducible example as it requests :) we would be very happy to help if so

[2020-06-04 07:07] brentvatne commented on #7677
locked because it’s not useful to continue posting on closed issues. users encountering a similar symptom should create a new issue and follow the issue template

[2020-06-04 07:23] isthisshivam commented on #3597
Can you please tell me the steps to workout in  IOS?

[2020-06-04 07:37] isthisshivam commented on #5906
any update on this? Thanks in advance

[2020-06-04 07:39] yo2rk commented on #3503
I'm too experiencing this on android.. Is there any update about this issue?

[2020-06-04 08:42] tsapeta opened #8653 "[test-suite] Revisit MediaLibrary tests in test-suite"
See PR's description: https://github.com/expo/expo/pull/8642

[2020-06-04 09:16] #8556 closed

[2020-06-04 11:36] andordavoti commented on #7705
Hi! I get these warnings when running unit tests in jest. I don't get these warnings when running the app in the expo client and I see the data in firebase.

Should these warnings be ignored? I'm using the managed workflow.

![image](https://user-images.githubusercontent.com/24613178/83751991-1063b180-a668-11ea-8d7c-1da520ed711b.png)

[2020-06-04 12:47] rdhox opened #8658 "Cancel GoogleSignIn process trigger red screen: The operation couldn't be completed"
## 🐛 Bug Report

### Environment

[code]

*Only iOS Simlulator and iOS device (Expo Client)*

### Steps to Reproduce

After reproducing the code for the Google Signin (https://docs.expo.io/versions/latest/sdk/google/), just try to sign in and press `cancel`. The red screen appear.

### Expected Behavior

Seeing the webview closing and going back to the application.

### Actual Behavior

RedScreen

[2020-06-04 13:38] bnussman commented on #8618
well, first things first, if your using expo, use `expo start`. I doubt that is a fix, but it may behave differently?

[2020-06-04 15:48] #6752 closed

[2020-06-04 15:56] CharlyPoppins opened #8664 "[expo-updates] Blank screen instead of launchscreen."
## 🐛 Bug Report

Hi, I'm experiencing this behaviour : App start with SplashScreen.storyboard then a blank screen during updates then my app first page is displayed.

In Xcode console I see this error : "LaunchScreen.xib is missing. Unexpected loading behavior may occur."

I saw error is triggered in this file https://github.com/expo/expo/blob/1d7ec1f5ae9a5faf1bf298b646cfa5736b403048/packages/expo

[2020-06-04 18:05] JonathanSarco commented on #7552
Hi guys,
it worked for me,
- I went to the folder of Vector Icons (./node_modules/@expo/vector/icons/build/vendor/react-native-vector-icons/Fonts/[font].tff
- Copied that font to my asset folder (in my case was Ionicons)
- Then with loadAsync, I've loaded as if it was a personal folder.

it was the only way that I could figure it out.

    async function loadFonts() {
      await Font.loadAsync({

[2020-06-04 18:14] zlanich commented on #7949
@DmitryKvant What package did you upgrade to version 8? I'm seeing something like 5.1.* highest on these packages.

[2020-06-04 18:40] brentvatne commented on #7233
we don't support wasm in JSC for iOS or Android. would love to do this one day but it's not the state of the world right now. you can open a feature request: https://expo.canny.io/feature-requests

[2020-06-04 18:40] #7233 closed

[2020-06-04 18:42] dacevedo12 commented on #8658
Also happened to me. had to wrap it around a try catch.

[2020-06-04 18:50] MattGoldwater commented on #8226
I'm still confused after reading this. Is anyone able to use SDK 37 on the managed workflow w/ Facebook and Firebase?

[2020-06-04 18:56] adamjuhasz opened #8666 "[Web] Importing createElement from react-native-web fails due to rename in v0.12 of react-native-web"
## 🐛 Bug Report

`react-native-web` renamed `createElement` to `unstable_createElement` breaking `expo-camera` and any other module that imports createElement from `react-native`.

*release notes*: https://github.com/necolas/react-native-web/releases/tag/0.12.0

*change*: https://github.com/necolas/react-native-web/commit/d4b9f35d3379e3b92b7dfe279d1a9fa58dacecb6

This causes rendering of expo-came

[2020-06-04 18:57] adrenaline681 commented on #8226
@MattGoldwater I wasnt able to make it work. Expo's Facebook AppID is supposed to be internally set but its still asking for one, when I enter my own it will not work.

I decided to drop Expo completely and I've moved my app to React Native CLI standard workflow. Facebook login is working fine now.

[2020-06-04 19:27] cruzach commented on #8226
Yes, Facebook login integrated with Firebase works on the managed workflow in SDK 37. I linked the documentation that explained this above, but since it seems to still be a point of confusion for folks, I'll explain it here:

In order to solve a bug with logging in via the Facebook **app** when developing in the App Store Expo Client, we decided to use our own Facebook App ID. This has the added b

[2020-06-04 21:21] osoluche opened #8668 "getExpoPushTokenAsync() never fired"
When run in iOs device i got an error trying get token;

OK const req = await Permissions.askAsync(Permissions.NOTIFICATIONS);

FAIL token = await Notifications.getExpoPushTokenAsync();

Fail message
TypeError: null not an object _exponenNotifications.default.getExonentPushTokenAsync

And never can get's token,   in android or with expo client, all works fine !!

[2020-06-04 21:38] AndyRC6 commented on #6680
@thomaswang It seems this workaround only works if you know the content inside the wrapper won't exceed the height of the page. If you are adding content to the page dynamically and it gets too long, it runs onto the next page and overlaps with the content there. Is there a way to ensure that if the content runs too long, it will be pushed onto its own page instead of overlapping with the next pag

[2020-06-04 22:30] jfcernel opened #8670 "RNCWKWebView not found"
## 🐛 Bug Report

Invariant Violation: requireNativeComponent: "RNCWKWebView" was not found in the UIManager

### Environment

 Expo CLI 3.20.5 environment info:
    System:
      OS: Windows 10 10.0.18362
    Binaries:
      Node: 12.16.3 - C:\Program Files\nodejs\node.EXE
      npm: 6.14.4 - C:\Program Files\nodejs\npm.CMD
    npmPackages:
      expo: ^37.0.12 => 37.0.12
      react: ^16.13.1 =>

[2020-06-04 22:33] arnaud-zg commented on #8117
Hey, I tried to reproduce the issue, but I can't, I created a new project with `expo init`. So maybe the problem comes from my app configuration, I checked my `app.json`.

After some publications and tests; I found the issue come from the expo client. On my home screen I've created a shortcut of my app with the pin button. I guess the link wasn't valid anymore, I've deleted it and create a new sho

[2020-06-04 22:47] guiferpa commented on #8547
@alexhulbert some solution for it?

[2020-06-04 22:54] MattGoldwater commented on #8226
@cruzach Thanks! Those docs were largely clear, though if I hadn't read your comment I might've not released I needed to run expo build:ios to view my app in the custom client..

[2020-06-04 22:54] brentvatne commented on #8670
can you share your code? what i imagine is happening is that the signature pad library is using an old version of react-native-webview and attempting to access a native module that no longer exists in new versions of the library. please in the future respect our request for reproducible examples in the issue template

[2020-06-04 22:56] cruzach commented on #8226
No, you don't need to run `expo build:ios` to view your app in the custom client. A standalone app (`expo build:ios`) is different from a custom client (`expo client:ios`). I recommend the docs on [standalone apps](https://docs.expo.io/distribution/building-standalone-apps/) in addition to the ones i linked above

[2020-06-04 23:06] MattGoldwater commented on #8226
@cruzach Whoops. Thanks again!

[2020-06-04 23:28] brentvatne commented on #8670
learn more about what a minimal reproducible example is here: https://stackoverflow.com/help/mcve

here is a simple reproducible example of react-native-webview working as expected https://snack.expo.io/@notbrent/carefree-popsicle

happy to look at this if you can create a minimal example to reproduce

[2020-06-04 23:28] #8670 closed

[2020-06-04 23:28] brentvatne commented on #8668
hi! we need a reproducible example to help with this. please create a new issue and provide an example that we can run to demonstrate the issue. this is likely a bug in your own code and trying to provide a minimal reproducible example will help you to locate that bug! if you can reproduce it then it'll help us to investigate! more guidance on how to do this if you need it: https://stackoverflow.c

[2020-06-04 23:28] #8668 closed

[2020-06-04 23:31] brentvatne commented on #8666
we don't support react-native-web@0.12.0 yet, we support `~0.11.7`

closing this because it's already on the radar for something that needs to be resolved to support 0.12.0

[2020-06-04 23:31] #8666 closed

[2020-06-04 23:31] brentvatne commented on #8649
closing because no repro. usual message below:

[2020-06-04 23:31] #8649 closed

[2020-06-04 23:32] brentvatne commented on #8634
hi! we need a reproducible example to help with this. please create a new issue and provide an example that we can run to demonstrate the issue. this is likely a bug in your own code and trying to provide a minimal reproducible example will help you to locate that bug! if you can reproduce it then it'll help us to investigate! more guidance on how to do this if you need it: https://stackoverflow.c

[2020-06-04 23:32] #8634 closed

[2020-06-04 23:32] brentvatne commented on #8632
hi there! this is a question which is better suited for our forums. see https://forums.expo.io.

[2020-06-04 23:32] #8632 closed

[2020-06-04 23:32] #8629 closed

[2020-06-04 23:34] brentvatne commented on #8627
let us know if you determine that this is a bug in expo. it seems like it is caused by an incompatibility in lottie file formats. if that's not the case and you can demonstrate it then please open a new issue and provide a mcve https://stackoverflow.com/help/mcve

thanks!

[2020-06-04 23:34] #8627 closed

[2020-06-04 23:35] brentvatne commented on #8626
hi there! this is a question which is better suited for expo forums - https://forums.expo.io. the issues are reserved for demonstrable bug reports.

[2020-06-04 23:35] #8626 closed

[2020-06-04 23:37] brentvatne commented on #8621
you could refer to how test-suite is set up: https://github.com/expo/expo/blob/master/apps/test-suite/tests/FileSystem.js. but this is not something that just works out of the box with jest. the code needs to run on your device to work, there is no node.js implementation of expo-file-system.

<hr />

if you'd like to continue discussing, please continue to expo forums - https://forums.expo.io. the

[2020-06-04 23:37] #8621 closed

[2020-06-04 23:37] brentvatne commented on #8618
hi! we need a reproducible example to help with this. please create a new issue and provide an example that we can run to demonstrate the issue. this is likely a bug in your own code and trying to provide a minimal reproducible example will help you to locate that bug! if you can reproduce it then it'll help us to investigate! more guidance on how to do this if you need it: https://stackoverflow.c

[2020-06-04 23:37] #8618 closed

[2020-06-04 23:40] brentvatne commented on #8590
i'm going to close this issue because issues are reserved for bug reports, appreciate the pr though :)

[2020-06-04 23:40] #8590 closed

[2020-06-04 23:41] brentvatne commented on #8583
@arqex - do you have an ios and android directory in your project? do you have `react-native-unimodules` in your package.json? are you using the latest version of expo-cli?

[2020-06-04 23:41] brentvatne commented on #8576
hi! we need a reproducible example to help with this. please create a new issue and provide an example that we can run to demonstrate the issue. this is likely a bug in your own code and trying to provide a minimal reproducible example will help you to locate that bug! if you can reproduce it then it'll help us to investigate! more guidance on how to do this if you need it: https://stackoverflow.c

[2020-06-04 23:41] #8576 closed

[2020-06-04 23:45] adamjuhasz commented on #8666
I’d recommend adding something to the docs about this. https://docs.expo.io/guides/running-in-the-browser/#adding-web-support-to-expo-projects

Maybe changing all the yarn add react-native-web to yarn add react-native-web@0.11.7?
On Jun 4, 2020, 4:31 PM -0700, Brent Vatne <notifications@github.com>, wrote:

[2020-06-04 23:49] brentvatne commented on #8666
yeah i think we should change those to `expo install react-native-web` like other pkgs that need to line up with sdk version. getting this all sorted out is one of the reasons web is still in beta

[2020-06-05 01:25] ericpereira commented on #5504
Work for me on Pixel 2 API 24

[2020-06-05 04:17] EvanBacon commented on #8295
resolved in #8451

[2020-06-05 04:17] #8295 closed

[2020-06-05 04:21] EvanBacon commented on #7979
resolved in #8451

[2020-06-05 04:21] #7979 closed

[2020-06-05 07:31] #8643 closed

[2020-06-05 07:42] sjchmiela commented on #8568
Hey, thank you for notifying us of this issue — this indeed is a problem with the example `AppDelegate.m` linked to in `react-native-unimodules`', it's soo outdated… I'll take care of this!

[2020-06-05 07:57] #6953 closed

[2020-06-05 08:05] EvanBacon commented on #8658
Sorry for the inconvenience :/ we are planning on revisiting the Google packages soon. Unfortunately the API changes often so the surface area has become large over time. I would suggest using the new AuthSession API which has a guide for using [Google Auth](https://docs.expo.io/guides/authentication/#google). This is also the only solution that supports Expo web as well.

When using the `Google`

[2020-06-05 08:16] EvanBacon opened #8682 "Delete unimodulePeerDependencies?"
Does this property serve a purpose currently? Can we remove it in favor of `peerDependencies`? cc @sjchmiela @brentvatne

[2020-06-05 08:19] #8607 closed

[2020-06-05 08:32] EvanBacon opened #8684 "Align babel-preset-expo in packages"
Some packages include `babel-preset-expo` as a dev dependency, others rely on expo-module-scripts (which includes `babel-preset-expo`). We should align all of the packages for consistency (outside of the core packages expo, react-native-adapter, core, etc.).

I would imagine that we could remove babel-preset-expo from most of the packages and have expo-module-scripts be the sole dev dependency, wh

[2020-06-05 08:34] actuallymentor commented on #6895
Tagging @ide and @bbarthec as you commented on my previous PR. What can I do to make this happen? With some basic guidance I'm happy to draft a PR.

[2020-06-05 08:48] EvanBacon commented on #7978
resolved in https://github.com/expo/expo/pull/8038

[2020-06-05 08:48] #7978 closed

[2020-06-05 09:29] sjchmiela commented on #8682
I think this should be removable — I haven't been able to find any place where it is used exclusively, the only ones were:
- https://github.com/expo/universe/blob/7412040476d468013e396f8d3803647e383a59c0/server/snackager/src/utils/resolveDependencies.js#L12 (used alongside `peerDependencies`)
- https://github.com/expo/expo/blob/7427045453472ad2a1dabe97c7f0898691043a27/tools/expotools/src/Packages.

[2020-06-05 09:42] arqex commented on #8583
Hey! Yes, ios and android dirs are in place, but I've only tried with android for this error. Here is the repo to reproduce it:

https://github.com/arqex/otaTestApp

`react-native-unimodules` is in package.json and I'm using `expo-cli` version 3.21.5.

[2020-06-05 11:37] #8568 closed

[2020-06-05 13:07] creativemind1 opened #8689 "Understanding Release Channels for ExpoKit"
Hello,

I've read about the documentation about Release channels many times but It doesn't make me understand how it works. I'm writing here to ask developers how it works.

So let's say I've my iOS App in production which was released with `expo publish --release-channel prod-10`. So let's say I'm making some changes in the native files of iOS and again publish the expo with `expo publish --relea

[2020-06-05 13:37] ugurdnlr commented on #3582
I have the same problem. Have there been any developments?

[2020-06-05 14:13] macintoshhelper commented on #8568
Great, thanks!

[2020-06-05 14:22] jfcernel commented on #8670
I started working on creating a small demo to see if I could get a reproducible issue.  I used the expo init command to create a new project.  In the new project, it works just fine.  It's the same component, same version, etc.  Is there anything you can think of that could possibly explain why it works with expo init and why it doesn't in my old app?  package.json differences?  expo cli differenc

[2020-06-05 14:30] #8465 closed

[2020-06-05 14:39] kamalpandey commented on #6436
Also occurring for me after upgrade to sdk 35.

Error: Unable to resolve host "d1wp6m56sqw74a.cloudfront.net": No address associated with hostname
--

[2020-06-05 15:15] jfcernel commented on #8670
What I ended up doing was I just literally copied everything in my old app into the new bare expo init project and it worked just fine.  The only differences I could realistically point out was that I was on version 37.0.12 of expo and the expo init uses 37.0.3.

[2020-06-05 15:18] thedarkcder opened #8691 "create-manifest-ios.sh Bundle Expo Assets fails via on GITHUB Actions/ using Fastlane"
[code]

Latest CLi is is installed on the build server via https://github.com/expo/expo-github-action

package json

[code]

Tried removing create-manifest-ios.sh from the build phase but the app doesn't start due to it not finding the bundle.

[2020-06-05 16:04] macintoshhelper commented on #8590
Thanks :) . For the future, should I just open a draft PR straight away? I noticed the note in the issue template regarding feature requests, but wasn't sure on the process, as this is a feature that already exists in the SDK. For web API parity, should PRs be opened linking to the umbrella web support issue?

[2020-06-05 16:09] byCedric commented on #8691
Hi @thedarkcder! What is the Github action configuration you are using? I'm not sure if you need the Expo CLI installed, because it looks like you are using the bare workflow? Or are you trying to push a new update on GH actions?

[2020-06-05 16:22] thedarkcder commented on #8691
I guess i am following advice from https://forums.expo.io/t/expo-bare-app-center-build/36472/8

[code]

a bit dirty

[2020-06-05 17:37] celandro commented on #6452
With the change to expo-updates 0.2.X, this is now even more important

I am using this with expo 0.1.0 :

[code]

I tried this, but it does not work:
[code]

[2020-06-05 18:00] ohsik commented on #5472
@brentvatne Wondering if there's a plan to work on this in the near future?

[2020-06-05 18:04] brentvatne commented on #5472
i wish we had time to but are pretty busy at the moment with bigger infrastructure improvements because that work will unblock users from solving issues like this for themselves.

if anyone here would like to hire someone to work on this feature for you, i would recommend reaching out to https://swmansion.com/ - we are partners with them and they have a lot of experience at the org with expo and r

[2020-06-05 18:34] #8658 closed

[2020-06-05 18:53] srborines commented on #7745
Hi! I have being trying to use the debugView but I am not able to do it. I have followed the next steps:
1-Add with npm expo-firebase-analytics 2.3.0.
2- Create an app web at my Firebase Console.
3- Copy the configuration unde expo.web.config.firebase at my app.json
4- Call `Analytics.setDebugModeEnabled(true);` at my App.tsx
5- Execute my app in my phone with Expo cliente mode.

After following t

[2020-06-05 19:17] ZeinHajjAli commented on #6361
I'm still having the same problem on sdk37, torch on iOS still has the flash turn off when recordAsync is called. Setting the flashMode state before or after recordAsync doesn't solve it either.

[2020-06-05 19:51] bkoether commented on #7562
@sjchmiela Should I open another ticket for this? Still experiencing this issue with the location permissions.

[2020-06-05 20:36] guanhuay opened #8695 "For Bare Workflow, is it mandatory to include expo as a dependency in package.json?"
### Please note that discussions opened as issues in the core Expo repository will be closed.

For my project, i used the bare-minimum-template from expo to start off my project. I noticed, in the package.json, there is an expo dependency. I suspect by including this library, it significantly increase my app size.

My question is, by utilize the expo function in bare-workflow, shouldn't we just us

[2020-06-05 20:56] ohsik commented on #5472
@brentvatne Thank you for the response. Hope to see that update soon!

[2020-06-05 21:32] EvanBacon commented on #8695
The `expo` package is a [light-weight](https://packagephobia.now.sh/result?p=expo) module that provides a universal entry point (web, native), error handling, and other dev utilities like logging that get stripped in production. It also includes `babel-preset-expo` which provides improved tree-shaking for web projects.

FWIU you don't need the expo package to use [react-native-unimodules](https://

[2020-06-05 21:32] #8695 closed

[2020-06-06 00:55] brentvatne opened #8698 "[docs] Add page for Profiling that explains how to use the React Profiler"

[2020-06-06 01:03] ide commented on #6895
I really appreciate the collaborative sentiment. There isn't a lot of possible work on the client library quite yet because we need to support web credentials (i.e., VAPID) for Expo services. There are several prerequisite steps to get there (e.g., complex database migrations) that take time to complete but will also lay the groundwork to support notifications across more platforms in the future.

[2020-06-06 02:04] mrodriguez-endava opened #8699 "[expo-apple-authentication] Bare workflow: requireNativeComponent was not found in UIManager (ExpoAppleAuthenticationSignInWhite + others)"
## 🐛 Bug Report
After adding an `AppleAuthenticationButton` to a view, the bare workflow project crashes on iOS Simulator from the view that loads it.

The critical error crash shows `Invariant violation: requireNativeComponent "ViewManagerAdapter_ExpoAppleAdapterAuthenticationButtonSignInWhite" was not found in UIManager.`

Several warnings are shown with the SDK components (`*SignInWhite`, `*Sig

[2020-06-06 03:29] brentvatne commented on #8695
also using the `expo` package allows you to use expo client as described in https://docs.expo.io/bare/using-expo-client/

you're welcome to remove it though, as @EvanBacon said

[2020-06-06 03:41] alexxfreitag commented on #6567
works for me too, thanks!

[2020-06-06 03:59] alexxfreitag commented on #6567
`expo client:install:android` work for me :)

[2020-06-06 05:41] ricardonava commented on #8473
Why was this closed?

[2020-06-06 06:03] yzalvov commented on #7745
@srborines did you create any native app in Firebase and put the settings to your `app.js` as described by the docs? I guess only web settings might be not enough.

[2020-06-06 07:25] actuallymentor commented on #6895
Thanks for the elaboration, if there is anything I can support with during the process let me know!

[2020-06-06 09:05] LuHugo commented on #7762
I'm having the same problem. My app splash image with 1242 pixels wide and 2436 pixels tall. expo sdk version is 37.
[code]

[2020-06-06 10:06] kamalpandey opened #8700 "Warning from upgrade to sdk 36 from 35"
expo > babel-preset-expo > @babel/plugin-proposal-decorators > @babel/helper-create-class-features-plugin@7.10.2" has unmet peer dependency "@babel/core@^7.0.0".
warning "expo > babel-preset-expo > @babel/plugin-proposal-decorators > @babel/plugin-syntax-decorators@7.10.1" has unmet peer dependency "@babel/core@^7.0.0-0".
warning "expo > babel-preset-expo > @babel/preset-env > @babel/helper-compil

[2020-06-06 10:16] actuallymentor opened #8701 "[ Web ] expo-updates not retrieving latest version"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)

`expo-updates` does not work reliably on web.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

[code]

### Reproducible Demo

Not a repro since that requires a full project, but if you want me to set up a full project for this let me know.

[code]

### Steps to Reproduce

1. Use `expo-updates`
2. Manua

[2020-06-06 11:44] MuZeQiu opened #8702 "GLView Demo !!!"
GLView Demo !!!

[2020-06-06 12:50] raarts commented on #8473
I think using `ResponseToken.Token` initiates the implicit flow, which is not a recommended flow in the RFC.

[2020-06-06 17:58] inglesuniversal commented on #6782
@EvanBacon first of all, I was very excited watching your conference in January of this year in Berlin, where you showcased all the latest features of Expo that this year have gone into another dimension of progress. Way to go!!!

From your experience: what is the best approach to handle WebView in RN, which works beautifully on iOS and Android... but for the web (since current library does not su

[2020-06-06 18:52] chanonroy commented on #8527
Update: I found the fix.

The issue was that I was using `testing-library/react-native` and was not adding `jest-expo` to my jest config.

Adding this to my `jest.config.js` managed to resolve it:
[code]

[2020-06-06 22:35] gbferreira commented on #7921
Same issues

[2020-06-06 23:51] #6081 closed

[2020-06-07 01:20] wood1986 opened #8706 "[docs] [react-native-unimodules] recent README.md instruction crash on startup in iOS"
https://github.com/expo/expo/blob/master/packages/react-native-unimodules/README.md

[code]

If I change it back to `UIResponder`, it runs

[2020-06-07 04:36] peterKaleta commented on #2089
Same issue here. When updating the app from appstore our users are logged-out.
Did anyone come up wih a workaround other than ejecting expo kit?

[2020-06-07 07:46] jambanagar opened #8707 "WebBrowser.openBrowserAsync with package parameter not working"
## 🐛 Bug Report

WebBrowser.openBrowserAsync() with package parameter set to "com.android.chrome" does not automatically open chrome rather it shows browser selection dialog on Android.

com.android.chrome

`WebBrowser.openBrowserAsync("https://facebook.com", {package: 'com.android.chrome'})
`

1. Install chrome for Android and at least one other browser app in your device such as firefox or edge

[2020-06-07 08:53] RatebSeirawan commented on #8706
+1

[2020-06-07 09:24] SaimAhmedSheikh opened #8708 "TypeError: undefined is not an object (evaluating 'l.default.manifest.android.config.googleMaps')"
## 🐛 Bug Report

TypeError: undefined is not an object (evaluating 'l.default.manifest.android.config.googleMaps')
  at Ul([native code])
  at Pl([native code])
  at callImmediates([native code])
  at value([native code])
  at value([native code])

### Summary of Issue (just a few sentences)
React native maps not working on Android standalone app. App is crashing and not rendering any maps on scre

[2020-06-07 09:59] Albert-Gao commented on #6782
Just a quick question, how to update the HTML template, I need to add a <div> there. Thanks

[2020-06-07 11:10] BrodaNoel commented on #8210
I'm having the same problem here.

My `app.json` has:
[code]

And I am using ReactNative Modal in this way:
[code]

In order to reproduce the issue, I have to follow these steps:

1. Put the phone on Portrait
2. Open a modal
3. Put the phone on Landscape (nothing is gonna happens)
4. Close the Modal.

After closing the modal, you are going to see that the app is in Landscape mode

Then, you can mo

[2020-06-07 15:05] fredcox opened #8710 "Android adaptive Icon not display"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)
I edit my app.json with following lines

The app icon continue with square borders. I want white background for square borders .
![Screenshot_20200607_112056](https://user-images.githubusercontent.com/65084421/83972543-1c917e00-a8b7-11ea-8538-8a4be5533f60.jpg)

[2020-06-07 15:46] happyruss opened #8711 "expo-av OnPlaybackStatusUpdate Android Weirdness"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)
When attempting to use 2 expo-av players on a single component to implement a cross-fader on itself, this works fine in iOS, but in android, the playbackStatusUpdate is triggered multiple times for one of the players and almost never for the other.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
Expo CL

[2020-06-07 16:10] tSixTM commented on #6937
iPhone XS
iOS 13.5.1

The problem still persists. I've recreated the project from scratch using the latest packages. However, I'm not using a try catch block and the async keyword. Instead, I'm using the .catch on the Promise from .then after loadAsync. This is the pattern I wish to follow. Which function throws the Promise Rejection Error: Seeking Interrupted? I assumed loadAsync, but possibly (p

[2020-06-07 18:06] luizjr92 opened #8712 "Inconsistent AsyncStorage location after ejecting [iOS][Android]"
I had an app running on Expo SDK 37 Managed Workflow that used Firebasejs for auth, the current user auth information was kept (by firebase) using RN's AsyncStorage.

After ejecting and republishing the app, the AsyncStorage is pointing to a different location. The bundle id is the same.

On TestFlight I'm able to switch builds and verify that the managed build is logged in w/ Firebase as one user

[2020-06-07 18:32] RodolfoGS opened #8713 "Missing SecureStore and AsyncStorage data migrating from Expokit to Bare"
## 🐛 Bug Report

### Summary of Issue
When I want to migrate a project from Expokit to Bare it lost all SecureStore and AsyncStorage data.

### Environment
[code]

The Issue appear in iOS and Android

### Reproducible Demo

- You must have an Expokit project
- Save data in SecureStore
- Save data in AsyncStorage

### Steps to Reproduce

1. You must have an Expokit project
2. Save values in SecureS

[2020-06-07 19:24] wood1986 commented on #2693
why it has not been fixed for a while?

[2020-06-07 21:18] nomi9995 opened #8715 "Unable to resolve “../../App” from “node_modules/expo/AppEntry.js”"
## 🐛 Bug Report

### Summary of Issue
I am making a CLI `create-expo-library` npm package so user can make expo packages easily. my CLI is create template which have example directory to test but when i try to expo start in example directory then i get this error

### Environment
[code]

### Steps to Reproduce
https://github.com/nomi9995/create-expo-library
this repo is my CLI repo and now it is i

[2020-06-07 22:40] ricardonava commented on #8473
I guess the issue is not solved right?
this should be opened again?

[2020-06-07 23:12] pacoelayudante commented on #2693
I did a weird fix like this for my case, don't know if might interest you
https://forums.expo.io/t/asset-to-file/35206/5

[2020-06-07 23:34] wood1986 opened #8716 "[expo-gl][expo-gl-cpp] Android crash on live reload due to Cause: null pointer dereference"
## 🐛 Bug Report

### Env
react-native: 0.62.2
expo-gl: 8.2.0

### Summary of Issue (just a few sentences)
Live reload is broken for both real and emulator android. Here is the log. As it is talking about unordered_map, I believe there is something wrong in EXGLContext.h

[code]

Here is the example

1. clone my repo
[code]
2. make some dummy change

for example change this line to "red"

https://g

[2020-06-08 02:23] ishandikshit commented on #8447
I am having the same issue as well

[2020-06-08 04:29] imwilliamxy opened #8717 "[expo-web-browser]swiper right turn off WebBrowser, can not open again. This bug still exist since 2017."
## 🐛 Bug Report

### Summary of Issue

When use genture swiper right turn off WebBrowser, it can not open again.
Error message: Another WebBrowser is already being presented
This web brwoser bug since 2017 still exist.

https://github.com/expo/expo/issues/135

### Environment
Expo CLI 3.15.4 environment info:
    System:
      OS: macOS Mojave 10.14.6
      Shell: 5.3 - /bin/zsh
    Binaries:

[2020-06-08 04:32] lysontrung1706 commented on #8716
I got this issue

[2020-06-08 05:22] robertwt7 opened #8718 "@expo/vector-icons has been ignored because it contains invalid config"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)

Hey guys, I'm trying to use `@expo/vector-icons`, instead I got this

[code]

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
[code]

I'm using WSL in windows if that matters... seems to have a lot of problem by using WSL lately. I'm just wondering if I should just install all my stuff in windows now in

[2020-06-08 05:33] robertwt7 commented on #8718
It seems that adding vector-icons manually `yarn add @expo/vector-icons` gave me an empty package.json in `/node_modules/@expo/vector-icons/package.json`

Not sure why

[2020-06-08 06:38] jambanagar commented on #8707
It looks like the documentation might be incorrect. If I set the key to "browserPackage" instead of "package" it works.

Please confirm.

[2020-06-08 06:41] WazzaJB opened #8721 "@expo/av doesn't support audio recording on web"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)
The documentation claims full support for this library on the web, however the recording aspect is missing.

`src/ExponentAV.web.ts` has empty methods for recording at the bottom:

[code]

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
[code]

### Reproducible Demo
Add expo-av to a project, and call:

[

[2020-06-08 07:26] julius-lae opened #8722 "expo install react-native-svg: installs a not working version"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)
When I install react-native-svg using expo install it installs version 11.0.1 but I get this error from Metro when opening my app:
`Unable to resolve "./LocalSvg" from "node_modules\react-native-svg\src\ReactNativeSVG.ts"`

### Environment
SDK 37

### Expected Behavior vs Actual Behavior
I installed the latest version (12.1.0) now its wo

[2020-06-08 07:58] mfkrause opened #8723 "[unimodules] App doesn't launch on RN 0.62.2"
I've tried to set-up unimodules on a bare RN 0.62.2 project. During the configuration process, I've already encountered some differences to the documentation (especially when it comes to Flipper, which has newly been implemented in RN 0.62 and was missing in the example AppDelegate files).
These are my AppDelegate.m and AppDelegate.h as of now:

**AppDelegate.m**
[code]

**AppDelegate.h**
[code]

[2020-06-08 08:11] todorone commented on #8723
Confirming immediate crash on iOS bare workflow project when setting up due to unimodules setup instruction.

@tsapeta The new instruction(https://github.com/expo/expo/pull/8683) is much better than previous one, but I guess something is missed in it, bc it leads to crash...

[2020-06-08 08:37] karimcambridge opened #8724 "expo-location returns bad reversed geocode"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)

iOS native geo coding simply sucks

[code]

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

[code]

iOS & Android

### Reproducible Demo

[code]

### Steps to Reproduce

- Simply run the code above, run a geocode from android and then run one from iOS, the iOS has a ridiculously less accurate result.

[2020-06-08 09:20] srborines commented on #7745
@yzalvov yes, I had created also ios and android apps in firebase to my builds.

I have it already working, it just took some time to start working, like two hours after I created the web app in firebase console.

I can see now the events but anyway not all events are being registered in my DebugView, I don't really understand why. I see them all logged in my expo console but I can't see them all

[2020-06-08 09:30] byCedric commented on #8724
Hi @karimcambridge! Thanks for the issue report! Unfortunately, Apple is not "the best" method to perform the reverse geolocation lookup. And you are not alone in this ([this](https://stackoverflow.com/questions/31331093/clgeocoder-returns-wrong-results-when-city-name-is-equal-to-some-countrys-name), [that](https://stackoverflow.com/questions/11614721/clgeocoder-geocoding-is-hopelessly-inaccurate)

[2020-06-08 11:13] HidemitsuHashimoto opened #8725 "Logkitty vulnerability found in yarn.lock"
Whenever I start a new project at the expo this error occurs on github.

![image](https://user-images.githubusercontent.com/37240367/84023935-5ae27800-a95f-11ea-9fd8-80e07e961c4b.png)

When checking yarn.lock I find this line:

[code]

How can i fix that?

[2020-06-08 11:15] byCedric commented on #8483
Hi @hanselsen! It looks like this might be caused by the [`onStartCommand` getting a `null`](https://www.hellsoft.se/how-to-service-on-android---part-2/#onstartcommand-) for intent. ([on this line](https://github.com/expo/expo/blob/master/packages/expo-location/android/src/main/java/expo/modules/location/services/LocationTaskService.java#L45)). I'm not 100% sure how we can handle the channel ID wi

[2020-06-08 11:45] byCedric commented on #8725
Hi @HidemitsuHashimoto! Don't forget to add some context of your environment (as described in the template) next time 😄 That would help us a lot. This particular issue [is already fixed in the React Native CLI](https://github.com/react-native-community/cli/issues/1189), so I would suggest upgrade to the latest version. If that doesn't work, please open a new issue with the required info to help yo

[2020-06-08 11:45] #8725 closed

[2020-06-08 12:04] HidemitsuHashimoto opened #8726 "Expo SDK old dependencies"
## 🐛 Bug Report
Logkitty vulnerability

### Summary of Issue (just a few sentences)
Whenever I start a new project at the expo this error occurs on github.

I saw it yarn lock that the expo SDK uses an outdated version of @react-native-community/cli-platform-android (^3.0.0-alpha.1)

How can i upgrade that?

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
"react-n

[2020-06-08 13:42] #8718 closed

[2020-06-08 14:17] byCedric commented on #8722
Hi @julius-lae! Thanks for the issue report, but I don't seem to be able to reproduce this issue. `react-native-svg` requires some native code that we ship with the Expo Client. If you are in the managed flow, this might break if you use `12.1.0`. If you are using the bare workflow, you should not run into issues 😄

I also double-checked the [`./LocalSvg` you mentioned in the source code](https://

[2020-06-08 14:22] byCedric commented on #8721
Hi @WazzaJB! Thanks for mentioning this, we should properly reflect the state of web implementation in the docs. I'll create a PR to fix that part, but I think others can benefit from good web support as well. Any help making this possible is greatly appreciated, I'd be happy to check your PR 😄

[2020-06-08 14:33] univers3 commented on #2559
Same here!
I think it' the combination of a portrait only app and the need to take landscape photos.
On iOS works like a charm.
On android when you take a landscape photo (horizontal phone) you will get a portrait one.
Even the exif is wrong.

I think the only workaround possible is to read the device physical orientation when a user will take the photo. With https://docs.expo.io/versions/latest/s

[2020-06-08 14:59] #7504 closed

[2020-06-08 15:03] cruzach commented on #8710
duplicate of https://github.com/expo/expo/issues/7374

[2020-06-08 15:03] #8710 closed

[2020-06-08 15:20] IjzerenHein commented on #7705
@andordavoti Yes you can ignore these warnings in unit tests. Do be aware that these packages are native packages, so if you want to use them then you would need to mock them.

[2020-06-08 15:22] andordavoti commented on #7705
@IjzerenHein thanks!

[2020-06-08 15:33] cruzach commented on #8717
duplicate of https://github.com/expo/expo/issues/6918

[2020-06-08 15:33] #8717 closed

[2020-06-08 15:35] cruzach commented on #8712
Hi! sorry about this, we're aware of the issue and are tracking it here - https://github.com/expo/expo/issues/8220

For now, you'll have to migrate that data manually while we come up with a better solution.

[2020-06-08 15:35] #8712 closed

[2020-06-08 15:37] cruzach commented on #8713
hey @RodolfoGS , sorry about this behavior 🙁

But i think it'd be better to keep track of this in https://github.com/expo/expo/issues/8220 since it already covers AsyncStorage there. It might be useful to also test `expo-sqlite` as well to see if you lose that data?

[2020-06-08 15:37] #8713 closed

[2020-06-08 15:43] cruzach commented on #8716
Hi! this is most likely because you're on the next version of RN. This should be resolved in the soon-to-be-released SDK 38

[2020-06-08 15:55] luizjr92 commented on #8220
Does anyone have a snippet for migrating the entire AsyncStorage on Android?

[2020-06-08 15:59] yaroslavnikiforov opened #8728 "[expo-gl][bare workflow] App crashes when rendering GLView on Android when Hermes is enabled"
## 🐛 Bug Report

### Environment

| software         | version
| ---------------- | -------
| react-native | 0.62.2
| react-native-unimodules | 0.9.1
| expo-gl-cpp  | 8.2.0
| expo-gl | 8.2.0
| platform OS | Android

### Reproducible Demo

[GitHub](https://github.com/yaroslavnikiforov/hermes-expo-gl-test)

### Steps to Reproduce

1. react-native init <ProjectName>.
2. install react-native-unimodule

[2020-06-08 16:33] tsapeta commented on #8728
I confirm this issue exists and we are aware of that. Since `expo-gl` is written in C++ and it bypasses a bridge and calls JSC directly, it needs special care to make it work with other JavaScript engines, so it doesn't support Hermes yet.

We've taken some actions to fix it (#7948), but we can't do this entirely without React Native team cooperation – we're waiting for this PR https://github.com/

[2020-06-08 16:34] byCedric commented on #8708
Hi @SaimAhmedSheikh. How did you build your app? Because, if you edit some parts of the manifest, you have to create a publish and build. Normally that's already done with `expo build`, but if you use `expo build --no-publish` you won't get any changes within your manifest. In the APK you linked, I don't see any references to `android.config`, which might explain this.

Hope it helps!

[2020-06-08 16:51] SaimAhmedSheikh commented on #8708
To build the app, I've run this command:  expo build:android -t apk

[2020-06-08 17:17] wood1986 commented on #8723
see https://github.com/expo/expo/issues/8706

[2020-06-08 17:18] wood1986 commented on #8716
FYI: I did not use the expo-cli. I wire them manually

[2020-06-08 17:40] alexandersandberg commented on #5487
I'm also experiencing this issue with:
[code]

It seemed to be working fine yesterday and today suddenly stopped. Running on a physical iPad device.

[2020-06-08 17:45] tcdavis opened #19742 "Register Push Tokens for owner specified by owner key"
Currently when calling Notifications.getExpoPushTokenAsync in development the push token is registered under the currently authed user.

The value passed to getExpoPushTokenAsync comes from the experienceId supplied in the manifest
If an owner key is supplied in app.json, the experienceId in manifests served to development projects should be '@owner/slug'

[2020-06-08 17:48] shaman-apprentice opened #8730 "nodejs module "fs""
I tried to use [azure-storage](https://www.npmjs.com/package/azure-storage) with expo. It works fine in browser, but throws on Android and Smart Phone:

[code]

I am surprised that the transpile process can browserify `fs` for web, but not for react-native. Help how to work around this, is very much appreciated.

Anyway, the link from the error message https://docs.expo.io/introduction/faq/#can-i-

[2020-06-08 18:27] nomi9995 commented on #8715
@terribleben @brentvatne @byCedric can you help me

[2020-06-08 18:56] sudomaze commented on #8532
@cruzach I am storing the path of the audio file (e.g. file:///data/user/0/host.exp.exponent/cache/ExperienceData/%2540sudomaze%252FCrowdSound/Audio/recording-24b6714a-0ce3-477d-85d4-6535314f5e4a.m4a) on the device then I am trying to read the audio file recorded on a different screen. I will be assign some information related to the sound recorded and encode the audio file to be sent to a NodeJS

[2020-06-08 19:03] miradario opened #8732 "In-App expo purchase"
We are working on the in-app expo package. With some difficulty but we are progressing.
Now, we couldn't find how to manage to unsubscribe action from a subscription generated.
Please tell us how to catch the unsubscribe action.

[2020-06-08 19:06] #8640 closed

[2020-06-08 20:18] #7938 closed

[2020-06-08 20:31] sebastienlabine commented on #8473
There's this issue https://github.com/expo/expo/issues/8300 that's open

[2020-06-08 20:35] renanmav commented on #7545
This isn’t available to us @morwalz

[2020-06-08 20:44] harveyjo commented on #3582
+1 on needed this to be more reliable. Having the same issues many have described above after checking many sources of documentation and many forums. Have been developing an app for months that is basically done besides needing this feature to work, ASAP.

[2020-06-08 23:13] GregBlackLine commented on #8726
+1 - this is coming up in scans from our security tools.

[2020-06-08 23:52] ide commented on #7941
Closing as this has been addressed by https://github.com/expo/expo/pull/8577.

[2020-06-08 23:52] #7941 closed

[2020-06-09 00:36] bayoremit commented on #8155
Ditto. Thanks
Here is what we did if it helps
[code]

[2020-06-09 07:07] auseika commented on #8374
Ok, basically, I looks like I can't run a separate process with bundler when using Bitrise.
Any workarounds?

[2020-06-09 07:36] subhadipdutta21 opened #8738 "BARCODE SCAN ISSUE"
So I have encountered the following issue while using the barcode on expo -

1. when I scan the barcode in different orientations or mostly while scanning it upside down
the decoded value comes differently.

2. This is not happening on **IOS** at all
3. Happening on **Android** several times

[2020-06-09 08:36] lattespirit commented on #8722
I got the same error when downgrading from 12.1.0 to 11.0.1

remove node_modules folder and reinstall again works for me.

[2020-06-09 08:56] mczernek commented on #3582
There is example for virtually every module we provide available within our repository. Here's one for [BackgroundFetch(https://github.com/expo/expo/blob/master/apps/native-component-list/src/screens/BackgroundFetchScreen.tsx).
There might seem obsolete sometimes (no hooks and so on) but we test it regularly so they should, most of the time, show each module works and should be used.

We are havin

[2020-06-09 08:56] #3582 closed

[2020-06-09 09:08] whiteadi commented on #8726
#metoo

[2020-06-09 09:33] sjchmiela commented on #8723
Hey all, I've just verified that I got Flipper running alongside Unimodules. The project, created by:

- `expo init` a bare workflow app ([init](https://github.com/sjchmiela/flipper-with-unimodules/commit/185d62f05cc935c52f21e532facfb2af13cabfd2), [small stuff](https://github.com/sjchmiela/flipper-with-unimodules/commit/c2ae7c434d039e1f4b7f6ede7957b365ad2e7987))
- upgrading React Native to 0.62.2

[2020-06-09 09:41] sjchmiela commented on #8706
The cited diff makes sure that `AppDelegate`'s superclass is `UMAppDelegateWrapper`, which is required for unimodules to work properly. `UMAppDelegateWrapper` is a simple class that makes sure that all the `UIApplicationDelegate` method calls are forwarded on unimodules' _application delegates_ if they need. Thus, it's probably not a problem of documentation but of some inner component or app's co

[2020-06-09 11:00] Speedy1991 commented on #8732
This is only possible via AppStore or Playstore.
A quick fix is to add a Button with a deeplink to the store

[2020-06-09 11:08] blazerroad opened #8741 "IOS ::: No suitable image URL loader found for assets-library://asset/asset"
Hi guys,
in IOS  at this code :
[code]
item.uri  is : assets-library://asset/asset.PNG?id=8602ACD9-04C2-4FA9-B8A1-F65E1C1299DD&ext=PNG

it work at andriod but IOS comes with this error :

im using exp-camera , expo-media-library
that work fine on EXPO CLIENT app but after eject im getting this error
<img width="980" alt="Screen Shot 1399-03-20 at 14 10 13" src="https://user-images.githubuserconten

[2020-06-09 13:52] asobralr commented on #8732
Hi, I'm having a similar problem. I'm working with auto renewable subscriptions too. Users are able to cancel the subscription from the AppStore/Playstore but I don't know how to listen to that event from the app, in order to prevent them from accessing premium content from now on. Thanks for your help.

[2020-06-09 14:08] Speedy1991 commented on #8732
As far I know there is no listener.
You can check the purchase history (in IOS pick the latest received reipe) and validate these.

Google: https://developers.google.com/android-publisher/api-ref/purchases/subscriptions/get
IOS: https://developer.apple.com/documentation/appstorereceipts/verifyreceipt

On these endpoints you will get expiryTimes. Use this information to refetch PurchaseHistory with

[2020-06-09 14:17] lukmccall commented on #5337
In the general case, MOV files are not natively supported by Android phones and Android tablets. So, we can't provide support for them. I suggest changing video format to something that is supported in both platforms (for example `.mp4`).

I'm closing this issue for now. Feel free to create a new one if this bug only occurs when the file is the external one and when you copy it on the device it st

[2020-06-09 14:42] Charlie-Hua commented on #7901
hi @gwumkt , how did you `redo all the project` exactly? thanks!

[2020-06-09 14:46] lukmccall commented on #5869
Hi everyone, the notifications module was reworked. You can try the new API in the bare workflow for now. However, in a couple of days, it will be available in the SDK 38 🎉

[2020-06-09 14:51] lukmccall commented on #7901
Hi @Charlie-Hua, I'm not sure how gwumkt delt with it. However, you can try to clean the build folder using Android Studio. Then, close the editor and remove `.idea` folder.

[2020-06-09 15:14] Speedy1991 opened #8745 "Getting duplicates symbols after installing expo-notifications in a bare project (ios)"
Getting duplicates symbols after installing expo-notifications in a bare project

`yarn add expo-notifications && cd ios && pod install`

Deploying the app with xcode to a local device leads to duplicate symbols.

I already checked if there is some manual linking going on, but Libraries are clean. Linking is only against pods.

[code]

Targets:
- IOS
- Android (runs fine)

Versions:
[code]

I don'

[2020-06-09 16:13] lukmccall commented on #8738
Hi @subhadipdutta21, could you provide more information like your iOS and Android version, the output from `expo diagnostics`. Which barcode types did you use? Do you have an orientation in your app locked or no?

I've tested it and I couldn't reproduce this bug.

[2020-06-09 16:26] andyhmltn commented on #8745
Also experiencing the same error:

[code]

[2020-06-09 16:37] tonuegbu commented on #7729
Same issue for me. "Error: Another async call to this method is in progress" when I try a second time.

[2020-06-09 16:44] andyhmltn commented on #8745
FYI @Speedy1991 - I was able to successfully build without this error by downgrading to `0.1.4`

[2020-06-09 17:38] EQuimper commented on #8745
@Speedy1991 look like you are right. Did get the same issue and decide to exclude expo-permissions and I was able to build. For now I will use react-native-permissions

[2020-06-09 17:53] #6738 closed

[2020-06-09 18:21] MrFaisal100 commented on #8723
I am having the exact issue ,, with new project created with RN.0.62.2
I tried to follow the project settings https://github.com/sjchmiela/flipper-with-unimodules but still same issue

[2020-06-09 18:22] sjchmiela commented on #8723
The project was created the other way around — first, it was a unimodules project and only then I upgraded it to RN 0.62.2 and added Flipper. How did you initialize your project? I'll try to go through the process like you would do and find the bug this way. Or could you provide me with a preconfigured repository I could clone and tinker around with?

[2020-06-09 18:24] wood1986 commented on #8706
I close this one and use 8723 to discuss

[2020-06-09 18:24] #8706 closed

[2020-06-09 18:27] MrFaisal100 commented on #8723
If you share you email I would grant you access to my gitlab project

[2020-06-09 18:32] sjchmiela commented on #8723
Please contact me on [Expo's Slack](https://slack.expo.io), the username is @sjchmiela, I'd rather not share my public e-mail in plaintext here. 🙂

[2020-06-09 18:56] MrFaisal100 commented on #8723
Messaged you on slack

[2020-06-09 20:10] luizjr92 commented on #8220
If you're reading this and thinking if there's an easy workaround, here goes nothing. (Use at your own risk)

https://gist.github.com/luizjr92/db091719f09617abc5909ba64485e395

Just make sure to replace your experience id on line 50

[2020-06-09 20:40] cruzach opened #8748 "[docs] Make it more obvious that inline snacks don't show the full code"
Right now, inline snacks show the minimum amount of code to get the idea across. This saves space and scrolling in the docs, and if the person wants to see the full example, they can click the button to "Open in snack"

But this has confused people here and there, so we should figure out a way to make this better

[2020-06-09 21:14] drdpedroso commented on #8637
@caieu solution also works for `^0.2.7`.

[2020-06-09 21:38] AlefiyaG opened #8751 "Runtime version usage in expo"
### Please note that discussions opened as issues in the core Expo repository will be closed.

  If you have a question about Expo or want to discuss about related aspects, consider posting it
  on our forums at https://forums.expo.io/. 🙂

Hi Team,
i am trying to use the runtime version feature in a bare workflow to avoid update compatibility. the assets and bundles is self hosted. We just want to

[2020-06-09 21:41] WazzaJB commented on #8721
Thanks for the feedback @byCedric.

I have made some good progress, but am struggling with testing.

I have added the Recording tests (as they are) to `TestSuite-test.web.js`, but I wanted to check what is the correct/best approach for this?

If I wanted to test in a dummy project, how would I best do that within the context of the expo project? I think it might help me to move faster on immediate

[2020-06-09 22:41] Olaide-EO commented on #8562
I have the same issue.

At first I was getting this error:

Trace:
  SyntaxError: C:\Users\DELL\AppData\Local\Yarn\Cache\v6\npm-@types-lodash-4.14.155-e2b4514f46a261fd11542e47519c20ebce7bc23a-integrity\node_modules\@types\lodash\.yarn-metadata.json: Unexpected token <0x00> in JSON at position 0
      at JSON.parse (<anonymous>)
      at C:\Users\DELL\AppData\Roaming\npm\node_modules\yarn\lib\cli.j

[2020-06-09 23:00] brentvatne commented on #8294
possible solutions:

- update to the latest version of expo-cli, undo your eject and eject again
- kill all metro bundler instances (or reboot your machine if you're unsure how)

if these don't resolve your issue, please open a new issue and fill in the issue template :)

[2020-06-10 00:06] Andrea-Arguello commented on #8745
Getting this same issue. Will try @andyhmltn's and @EQuimper's solutions.

[2020-06-10 00:13] brentvatne commented on #8745
can you show me the output of running `pod install` in the ios directory?

[2020-06-10 01:27] MeFon opened #8752 "Expo Client doesn't open in android"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)
The app freezes in splash sreen. I can't even open the camera to get the QR code to emulate my project. Is there any known issue?

### Expected Behavior vs Actual Behavior
The app should open so i Could scan the QR code. It freezes o splash screen.

I have already reinstalled and given all permissions. Feels like a silly question... But

[2020-06-10 06:54] andyhmltn commented on #8745
For my solution, I also removed `expo-permission`. It seems as if `expo-notifications` has some methods for requesting permissions so this worked for me

[2020-06-10 07:14] actuallymentor commented on #8245
@byCedric you tagged this `status: needs more info`, please indicate what info I can supply to help.

[2020-06-10 07:54] Speedy1991 commented on #8745
[code]

I can confirm: Removing `expo-permissions` is working, but not really a fix IMO

[2020-06-10 08:00] samehgirgis commented on #8745
Speedy 1991

[2020-06-10 08:41] Speedy1991 commented on #8745
Downgrading to 0.1.7 causes an other problem: https://github.com/expo/expo/issues/8084#issuecomment-638332660

[2020-06-10 09:57] SaimAhmedSheikh commented on #8708
I am very confused and need help to figue out this issue. I'm stuck and find no solution to this problem. Please help.

[2020-06-10 10:24] EQuimper commented on #8745
@Speedy1991 make sure to clear your pods. When i did remove it I did make sure to delete my pods folder and Podfile.lock

[2020-06-10 11:02] minhdang-idev opened #8754 "[iOS] BarcodeScanner should include bounds of detected barcodes"
### Summary of Issue (just a few sentences)
When using the BarCodeScanner component to scan for QRcode, onBarCodeScanned callback on Android returns bounding data (coordinates of detected QRcode). But on iOS, it doesn't return bounding data.
Because in the documentation, it's not mentioned that bounds are available on Android only, I think it's a bug or a missing feature that I think we really nee

[2020-06-10 11:15] lukmccall commented on #8707
Hi @jambanagar, you are right. This argument should be called `browserPackage`. I've changed the documentation.

[2020-06-10 11:26] #8745 closed

[2020-06-10 11:29] #8707 closed

[2020-06-10 11:29] bidetaggle opened #8756 "[docs] react-native-unimodules app crash on iOS"
Hello,

I ejected the code from expo in order to use expo-in-app-purchases. I followed the instructions to install `react-native-unimodules` but I end up having a crash with this error:

[code]

- Podfile

[code]

- AppDelegate.m

[code]

- AppDelegate.h

[code]

[2020-06-10 11:31] sjchmiela commented on #8745
Hey all, sorry for introducing this bug. For those interested, it has been introduced in https://github.com/expo/expo/pull/8486 (you can read the discussion underneath _merge_ event).

Good news is the fix has just landed on `master` and I also published it as `expo-notifications@0.3.2`, so go get the upgrade while it's hot!

[2020-06-10 12:33] Speedy1991 opened #8757 "[ios] Notifications.getDevicePushTokenAsync() does not resolve in bare workflow"
Looks related to #8084 which should have fixed this bug

[code]

Pods:
[code]
Example code:
[code]

Output:
[code]

- Wifi is up and running
- Permission is already granted
- No error is thrown

[2020-06-10 13:27] sekistner opened #8758 "Web Region doesn't work if the locale is just a language"
https://github.com/expo/expo/blob/23e89c1b5f35b60b048a92817ab50bb435a83725/packages/expo-localization/src/ExpoLocalization.web.ts#L33-L39

If the current locale is just `"en"` for example it returns `"EN"` what is not a valid ISO code or an incorrect one.
It should be undefined, so check if a `-` does exist.
Instead of substring you can just check if `locale.split("-")[1]` is defined and the resul

[2020-06-10 14:09] sharesomething opened #8759 "Expo WebView Android doesn't work"
## 🐛 Bug Report

###  WebView Android doesn't work

The problem is that when I use [WebView](https://docs.expo.io/versions/v37.0.0/sdk/webview/) and want to load some html page or custom HTML with external .js files it is not shown on Android.
It works with simple HTML tags but not when I use param - uri.

I have no problem with same code for iPhone XR but for Android there are a error:

**Error l

[2020-06-10 19:00] Bryksin opened #8763 "[Push] Include expo token in response ticket body"
Hi

According to [documentation](https://docs.expo.io/guides/push-notifications/#sending-notifications-from-your-server):
[code]
Considering automated chunking performed based on the number of messages to be sent in a single request (limit 100) and each message filed `to` which also accept a list limited to 100 per request it is a pain for every developer to track order of how it was sent, which o

[2020-06-10 21:59] awinograd opened #8769 "[ios] No permission to access certain videos from MediaLibrary"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)

I'm using `MediaLibrary.getAssetsAsync` and `MediaLibrary.getAssetInfoAsync` to display a custom rendered media library picker. My assets render fine except for certain video assets (that I believe are backed up to iCloud rather than immediately available on the device).

If I try to call `VideoThumbnails.getThumbnailAsync(asset.localUr

[2020-06-10 23:05] faustoct commented on #6816
I can say it works on SAMSUNG A5 but doesn't on SAMSUNG GALAXY S7 Edge.

[2020-06-10 23:46] denisdenes opened #8770 "How to access release-channel in app.config.js?"
Hi!

How can i see the release-channel in app.config.js? I saw that is exposed in this [pull request](https://github.com/expo/expo-cli/pull/1524/files), but it returns 'undefined'. I tried also the 'mode' param, but it also returns 'undefined'. Checked the [docs](https://docs.expo.io/workflow/configuration/#app-config), but couldn't spot anything there either.

What I am trying to do, is to drop t

[2020-06-10 23:50] brentvatne commented on #8770
app.config.js is evaluated at publish time. if you want to pass something into it, you can do

`SOME_ENV_VAR=some-value expo publish --release-channel whatever`

then check for `process.env.SOME_ENV_VAR`

[2020-06-11 00:26] enesccinar opened #8772 "Activate audio for videos in silent mode when the volume is changed"
Hi,

I am trying to find a way to activate audio if the user changed the volume level by physical buttons.

Regards,
Enes

[2020-06-11 05:35] CapelliC commented on #7940
For iOS, I have encoded in base64, following @IjzerenHein hint. Be sure to test your App with small devices, the workaround probably requires a fair amount of RAM.
You can see [here](https://github.com/CapelliC/expo-print-test-pdf-file-uri-missing-ios) the testbed. Hope it's still working...

[2020-06-11 07:16] ngtrhieu commented on #3323
I still encounter this issue which prevent oauth2 authentication callback. For example:
[code]
Authenticating with this callbackUrl will result expo complaining "There was a problem loading the requested app" with the url look something like this: `exp://<YOUR_HOST>/ios-index.json//?code=<AUTH_CODE>`

Can expo launch the app from url such as 'exp://<YOUR_HOST>' instead of 'exp://<YOUR_HOST>/ios-in

[2020-06-11 08:50] tsapeta commented on #8741
Hmm ok, could you try version `8.2.1`? It contains a fix for that 😉 It's been already published, but not promoted to `latest` tag on npm yet, so `8.1.0` is installed by default still.
As this issue is already solved in my opinion, I'm closing this thread but feel free to come back here if not 😄

[2020-06-11 08:50] #8741 closed

[2020-06-11 09:34] pacheco7 commented on #8752
No, I'm asked about mobile app hehe. Sometimes (in most) a simple app update from store solves your problem ;)

[2020-06-11 11:08] byCedric commented on #8726
Hi, this is a dependency of `react-native`. As of now, the `react-native` version used in SDK 37 uses the semver range starting from `^3.0.0-alpha.1`. Luckily, the [logkitty issue is already solved](https://github.com/react-native-community/cli/issues/1189) in the react native cli, and should be available if you run `yarn update` or `npm update`.

If you don't receive this update, please double ch

[2020-06-11 11:08] #8726 closed

[2020-06-11 11:41] MeFon commented on #8752
Ooh, sorry about that then. (Good morning also!)

I'm running expo 2.15.4

*Afonso Brunelli Ferragut*

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Livre
de vírus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>.
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

Em qu

[2020-06-11 11:41] byCedric commented on #8351
Hi @GMoon777! Unfortunately, geofencing isn't exactly "precise". On both Android and iOS, the behaves differently. There are a lot of posts on the accuracy of geofencing on iOS, here are some highlights:

**[Apple's Developer documentation](https://developer.apple.com/library/archive/documentation/UserExperience/Conceptual/LocationAwarenessPG/RegionMonitoring/RegionMonitoring.html#//apple_ref/doc/

[2020-06-11 11:46] byCedric commented on #8527
Hi @chanonroy! Sorry for the delay. Awesome, glad you figured it out! It is easy to overlook the jest configuration, maybe we should add a bit more documentation on how to use `testing-library` with Expo since it's quite a popular library (I also use it 😄). I'll add the docs label and consider the original issue solved.

Thanks for the comment with your fix!

[2020-06-11 12:21] chanonroy commented on #8527
@byCedric - not a problem! 😄 Thanks for circling back.
Yeah, it would be wonderful to have more documentation on using the `jest-expo` and `@testing-library/react-native` presets together.

I imagine it will be a common use case for people to want to use the universal testing of jest-expo with the capabilities of testing-library.

Anyways - thanks again !

[2020-06-11 12:49] pacheco7 commented on #8752
Good morning, haha.

Please, update to 2.15.5 and try again.

[2020-06-11 12:51] denisdenes commented on #8770
@brentvatne Thank you for your answer. Yeah, it's a good option, I just hoped that "mode" parameter could be useful in some way, that I don't need to have custom scripts in package.json.

Currently I have this in package.json:
` "publish:prod": "expo publish --config src/config/prod/app.prod.json --release-channel prod",`,

Passing an env var in the `expo publish` command and then access it in app

[2020-06-11 13:09] sandrina-p commented on #4069
Today I'm facing the same issue.

I didn't understand why OTA updates weren't working on iOS. I released a new build (standalone and hosted on my own servers) to testFlight.

It has a new button "Check for new updates" that calls `Updates.checkForUpdateAsync()`. When I click it, it fails with the error "Failed to fetch new update" and I don't know what I should change :/

[2020-06-11 13:32] MeFon commented on #8752
Maybe I'm missing something so obvious, but I really cannot update it
anywhere...
I have just deinstalled and reinstalled, and it comes as version  2.15.4
In playstore, there is no Update option. I can only deinstall or open it.
And "update automatically" is also checked. But my version is 2.15.4

[image: image.png]
[image: image.png]

Am I doing something wrong? That seems like it should be simpl

[2020-06-11 13:34] sandrina-p commented on #4069
Actually, I already understood what @u0x01 meant.

In my case, I'm using Firebase to host my app. At `firebase.json` I need to explicitly set the headers for JS files and add `Content-type` as `application/javascript`.

[code]

[2020-06-11 13:38] alishehzad2017 opened #8777 "Local Connection in Expo"
It seems that there are three ways to run an expo app: Tunnel, Lan and Local connection.

When is local connection used and how to use it?

[2020-06-11 13:43] pacheco7 commented on #8752
No, maybe the version 2.15.5 isn't available in android (I forget to write what I using iOS (d'oh) hahaha). I'll test with another phone here (Android, this time).

[2020-06-11 14:11] Gautam8080 commented on #7940
Thank you so much! I actually tried converting to base64 by AssetUtils.base64forImageUriAsync but didn't work. I spent hours yesterday to sort this out but unfortunately, there isn't much documentation out there to solve the problem, except this thread. I believe the RAM isn't an issue at the moment or as it seems. I will keep that in mind though.

[2020-06-11 14:25] whiteadi commented on #8726
yarn update does not exist :)

[2020-06-11 15:15] mfkrause commented on #8723
Thanks a lot @sjchmiela, updating to the next tag indeed fixed it.
Going to close this issue.

[2020-06-11 15:15] #8723 closed

[2020-06-11 15:19] pacheco7 commented on #8752
[UPDATE] - I test the QR code read in Android 7.0 Kernel 3.18.35 and it not crash.

I used this code as example: https://snack.expo.io/@_pacheco7/groaning-watermelon

Can you try it on your device?

[2020-06-11 15:30] MeFon commented on #8752
Can you help me how to do it?
My app literally does not leave this screen:
[image: image.png]

Nothing else happens, there is nowhere I can scan QR codes or input
anything or click anything. It only opens this first image and stays on it,
no matter what I do.
That's it, it does nothing else. Only this screen.

*Afonso Brunelli Ferragut*

Em qui., 11 de jun. de 2020 às 12:19, Raphael <notifications

[2020-06-11 15:55] pacheco7 commented on #8772
Hi @enesccinar !

Actually, expo doesn't have a module for that, but you can use [react-native-system-setting](https://github.com/c19354837/react-native-system-setting). Also, in the [Expo Roadmap](https://expo.canny.io/feature-requests/p/hardware-keys-api-volume-updown-power-button) we have a feature request pending to approval.

[2020-06-11 16:22] jorjordandan commented on #8235
Working on my iphone Xs version 13.4.1 (reads "I am a test" over and over)

[2020-06-11 16:24] byCedric commented on #8730
Hi @shaman-apprentice! It looks like `azure-storage` only supports node and browser environments. Although it might look like React Native is a node-like environment, it's actually another one. I see that they added support for browsers by splitting out `common/common.js` into [`common.browser.js`](https://github.com/Azure/azure-storage-node/blob/master/lib/common/common.browser.js), [`common.node

[2020-06-11 16:29] duckbrain commented on #8751
See #8231; it seems like the manifest is not provided to apps in the bare workflow.

[2020-06-11 16:30] jameschetwood commented on #8235
Im not sure exactly when it works and doest, but my actual app is live and a lot of people are reporting that it's not working. So Im confident this is a real issue.

[2020-06-11 16:32] #7004 closed

[2020-06-11 16:34] duckbrain commented on #8231
So this is intentional behavior? I was using this to get the `releaseChannel`, `version`, and `revisionId`.

I'm experimenting with generating a file to include the release channel and version with the build, but the `revisionId` is created on `expo publish`, so I don't see a way to inject that.

[2020-06-11 16:34] brentvatne commented on #8235
it won't work if their audio is muted, perhaps your friends can double check that?

[2020-06-11 16:38] jameschetwood commented on #8235
It's also not working on my iPhone. Ive just checked and YouTube plays fine.

Here is where I posted my app on Reddit. Quite a few people (in addition to friends) are reporting the sound doesn't work so I don't think they could all be user error:
https://www.reddit.com/r/bodyweightfitness/comments/gxs2ei/sharable_hiit_timer/

[2020-06-11 16:55] dev0809 commented on #8235
Hi @jameschetwood

I had met such case and solved issue using WebView on Expo.
Code snippets here.
[code]

this.audio contains base64-encoded audio content from Google Speech API.

[2020-06-11 17:02] joebochill commented on #8563
Running into the same issue here. We are using a library that has a peerDependency for `react-native-safe-area-context@^3.0.0`. Because some of the APIs changed in 1.0.0, the library won't work with the older version...and Expo won't work with the newer one (and you can't have both installed or React Native complains about multiple components with the same name).

Would be great if the next versio

[2020-06-11 17:07] byCedric commented on #8777
Hi @alishehzad2017! You can switch between the connection types in the devtools page, [just below the production/development mode switch](https://docs.expo.io/workflow/development-mode/#toggling-development-mode-in-expo-dev-tools). This mostly affects the metro bundler and to what connections it should listen to.  You can also start expo with a specific connection type to quickly start up everythi

[2020-06-11 17:07] #8777 closed

[2020-06-11 17:08] shaman-apprentice commented on #8730
I thought, that the browser version should work everywhere, but thinking about it, it makes total sense that things like `fs` need a different implementation. Thanks a lot for your detailed reply!

(In case anyone stumbles over this, I create a [related feature request at azure-storage here](https://github.com/Azure/azure-storage-node/issues/646).

[2020-06-11 17:30] brentvatne commented on #8235
@jameschetwood - is your ringer muted?

[2020-06-11 17:34] jameschetwood commented on #8235
@brentvatne No I just checked and it wasn't.

[2020-06-11 17:35] brentvatne commented on #8235
to clarify - this means the switch on the side of your phone is in the position such that it will say "Silent mode: off" when it's toggled to that position

[2020-06-11 17:47] brentvatne commented on #8235
I think what we need to do here is ensure that audio mode configured by expo-av is used by expo-speech, such that `Audio.setAudioModeAsync({ playsInSilentModeIOS: true })` will result in the `Speech.speak` being audible when ios silent mode is enabled

[2020-06-11 17:59] jameschetwood commented on #8235
Working for me! I'll message my friends who it didn't work for and get them to confirm.

I agree that ideally it should still play when iOS silent mode is on as this did seem to confuse a number of people.

[2020-06-11 18:03] byCedric commented on #8730
No problem! In this case, the browser version should work (I haven't tested it though). But because the browser implementation is defined with `.browser.js`, it's not picked up by react native. If they just add a `common.native.js` with the contents of `common.browser.js` re-exported, it might work 😄  Maybe it's something you are able to test? You can add it in `node_modules`, and just run it 😄

[2020-06-11 18:11] jameschetwood commented on #8235
@brentvatne is there any way for me to implement a workout around for even monkey patch this as a short term fix?

[2020-06-11 18:27] shaman-apprentice commented on #8730
In case they don't plan to support react-native, I will give it a try 👍

[2020-06-11 18:31] pdandradeb commented on #6756
hey @brentvatne, I'd like to work on this issue. Is there any development already? Do you think is still possible to deliver on SDK 38?

In our case, users authenticate via SAML and cookies are set by many different hosts in the process and I'd like to be able to remove all previously set cookies when user logs out.

[2020-06-11 19:56] pioNavarro commented on #8602
Im using the SDK37 and this are the versions im currently using
![image](https://user-images.githubusercontent.com/51459273/84433276-9e3f2e00-ac60-11ea-9a24-5baa5c75245c.png)

[2020-06-11 20:07] pioNavarro commented on #8602
I followed this steps and its working fine now.

Thank you!

[2020-06-11 20:07] #8602 closed

[2020-06-11 21:31] brentvatne commented on #6756
@pdandradeb - a workaround for now could be to have an endpoint to clear those cookies, and call that when signing out or before signing in. usually auth providers also give you some query param you can pass in to either force the user to auth again or to give them the option to, that could be another possibility here.

we won't have this ready for sdk 38, i don't think i have a clear picture of e

[2020-06-11 21:41] martinezguillaume commented on #8757
Same problem here !q

[2020-06-11 21:49] brentvatne commented on #8235
cc @sjchmiela who has more context on expo-av and what may be needed for this to play nicely with expo-speech

[2020-06-12 01:23] profimedica commented on #5064
[code]

[2020-06-12 02:31] faustoct commented on #4304
**Any workaround to fix it?** It's been hard to deal with. It looks like `Location.getCurrentPositionAsync({})` is not that reliable once we can't guarantee the same behavior on different android decives.

[2020-06-12 04:03] enesccinar commented on #8772
Hi @pacheco7,

I do not want to eject the project. I will wait for the new feature. It is not a matter of life or death after all for the project that I have been working on :)

thanks for the answer btw. regards.

[2020-06-12 04:03] #8772 closed

[2020-06-12 05:33] subhadipdutta21 commented on #8738
Hey @lukmccall  thanks for the callback. On **IOS** no problem is there . Android versions we tried are- 9 , 8.
I tried with **barcode type 32** initially and also the other barcodes around in order to check. U have to scan the barcode **multiple times** and **multiple orientations** by **rotating the barcode image on your screen** or whatever but keep the **device camera fixed** and look at the

[2020-06-12 08:40] GiverDead opened #8781 "Expo manifest.android.config missing in build apk"
**TypeError** undefined is not an object (evaluating 'f.default.manifest.android.config.googleMaps')

https://sentry.io/ error show me that key config are missing in my **manifest** in apk.

Any ideas how to fix it?

Expo 36.0.0
expo-managed app

**APK**
<image src="https://i.stack.imgur.com/oWvs1.png">

**DEV**
<image src="https://i.stack.imgur.com/5dhcn.png">

[2020-06-12 10:52] jSkrills commented on #7621
I can confirm this, it's even working with xcode 11.5. Thanks so much for your time on this @sjchmiela

[2020-06-12 11:32] arbre-abuche commented on #6782
Expo web is in beta, please report any bugs or missing features on the Expo repo.       │
You can follow the V1 release for more info: https://github.com/expo/expo/issues/6782
----------------------------------------------------
One error is not fixed on my computer :
----------------------------------------------------
Emulator: E0612 13:24:33.694699843 25920 socket_utils_common_posix.cc:201] che

[2020-06-12 11:56] byCedric commented on #8781
Hi @GiverDead! I'm not sure yet what's happening here. So the general `android.config` property is used for all values to apply to the `AndroidManifest.xml`. It might be possible that this is removed from the manifest when either ejecting or creating standalone apps, but I'll have to dig deeper into this. Would you mind sharing your environment as well (`expo diagnostics`)? Could also explain #870

[2020-06-12 12:23] GiverDead commented on #8781
Expo CLI 3.21.5 environment info:
    System:
      OS: Windows 10 10.0.18363
    Binaries:
      Node: 12.16.3 - C:\Program Files\nodejs\node.EXE
      npm: 6.14.4 - C:\Program Files\nodejs\npm.CMD
    npmPackages:
      expo: ^37.0.0 => 37.0.12
      react: 16.9.0 => 16.9.0
      react-dom: 16.9.0 => 16.9.0
      react-native: https://github.com/expo/react-native/archive/sdk-37.0.1.tar.gz => 0.6

[2020-06-12 12:29] GiverDead commented on #8781
ios.config missed to!

[2020-06-12 13:06] GiverDead commented on #8781
I solved this by replacing **Constants.manifest.android.config.googleMaps.apiKey** call with my own small config json (or just string) in all project. On standalone apk **Constants.manifest.android.config.googleMaps.apiKey** - is not exists.
react-native-map works fine

[2020-06-12 13:06] #8781 closed

[2020-06-12 13:14] byCedric commented on #8781
Sounds like a good workaround for now. I'll double-check internally if it works like it should, and update the docs to make this a bit more understandable.

[2020-06-12 13:32] byCedric commented on #8759
Hi @sharesomething, thanks for the issue report! I think this issue matches your error, right? https://github.com/react-native-community/react-native-webview/issues/1101. I can't reproduce this issue on my end, using OnePlus 6 or Pixel 2, so I guess it's something vendor or android version-specific. Because the upstream issue is kind of "popular", let's track this issue on our end as well.

[2020-06-12 13:40] lukmccall commented on #8738
Sorry for my misunderstanding (for some reason, I've thought it happens only on iOS 🤷🏼‍♂️)🤦‍♂️ I'll try it on Android. Thank you for providing more information 🏅

[2020-06-12 14:58] byCedric commented on #8769
Hi @awinograd, thanks for the issue report! As always, it's well documented 👍 I think this is similar to issue #8541, right? To fetch the thumbnail of a remote video, e.g. iCloud, we need to download the asset first. Unfortunately, such an API to do that doesn't exist at the moment. But, we are definitely open to any PR making this possible.

As for the "You don't have permission", you could try m

[2020-06-12 15:10] byCedric commented on #8754
Hi @minhdang-idev! Thanks for the report. It looks like the bounding box is currently only implemented in Android as you mentioned. If you are able to add this, we would appreciate a PR. If not we will get to this when we have some bandwidth available.

[2020-06-12 15:17] byCedric commented on #8752
Hi @MeFon! Could you try clearing the app's local storage? That should clean all existing data from the app and should solve this for you. You should be able to do this [using this guide](https://www.androidcentral.com/how-and-when-clear-app-cache-or-data-android), but instead of cache go for all data of the app.

Hope it helps! 😄

[2020-06-12 15:19] airic37 opened #8783 "Auth-session leads to app refresh on Android 11"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)
Pixel 3a XL running Android 11 Beta 1 expo-auth-session causes a new instance of the app to generate rather than returning to the original app after redirect. See #8117

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
Expo CLI 3.21.5 environment info:
    System:
      OS: Windows 10 10.0.17134
    Binar

[2020-06-12 15:29] byCedric commented on #8715
Hi @nomi9995! It looks like you want to set up a monorepo-like structure, with the library and example packages. For that, you will have to do some additional configuration. You can try using [this library](https://www.npmjs.com/package/expo-yarn-workspaces) that we built for this use case, or [check out this guide](https://dev.to/expolovers/how-to-insert-an-expo-project-in-a-monorepo-5ab0). I'll

[2020-06-12 15:29] #8715 closed

[2020-06-12 15:34] byCedric commented on #8783
Hi @airic37! Thanks for the additional info and repro steps. Unfortunately, I have no access to either a Pixel 3a XL or an emulator at the moment. When I have I'll try to repro this, that's why I will keep the "issue needs review" label on this one. One question, have you checked [this comment](https://github.com/expo/expo/issues/8117#issuecomment-639152686)? Or doesn't it apply to your use case?

[2020-06-12 15:37] byCedric commented on #8702
Hi @MuZeQiu! Thanks for the issue report. Unfortunately, this isn't a proper filled issue. If you would like to request a specific example, please check out the [`expo/examples`](https://github.com/expo/examples) repo. I think [this issue](https://github.com/expo/examples/issues/73) is already created over there. If not, feel free to open a new request in that repo.

Hope it helps.

[2020-06-12 15:37] #8702 closed

[2020-06-12 15:38] airic37 commented on #8783
I don't think that comment applies in my test. I've opened expo directly from the app drawer and don't have any shortcuts saved.

[2020-06-12 16:10] marconi commented on #8090
I have a similar issue, but for me `Constants.manifest.extra` is populated on iOS simulator but is not present on Android emulator.

[2020-06-12 16:19] awinograd commented on #8769
@byCedric the issue may be well documented but my "github search foo" could use some improvement 😆  Yep it looks like the linked issue is the same root cause. Happy to close this out. I'll add some follow-up thoughts to that issue too.

[2020-06-12 16:19] #8769 closed

[2020-06-12 16:20] awinograd commented on #8541
Something like `isNetworkAsset` would solve my use case in #8769 as well. However, I wonder if there's a suggested "workaround" for taking thumbnails / previewing the file without having to download it in its entirety. Like @jarvisluong I'm also creating a custom media picker and really just want to render a thumbnail of the remote asset and download it only if it's selected by the user.

[2020-06-12 16:26] byCedric commented on #8732
Hi people! Unfortunately, there is no event for canceled subscriptions from the stores. As @Speedy1991 said, you will have to look up if the purchase is still considered "valid" yourself I'm afraid. That being said, if you can find better ways to detect these changes in the underlying API's, feel free to open an RFC with a proposal. I'd be happy to take a look at it 😄

Keep in mind that if you "re

[2020-06-12 16:26] #8732 closed

[2020-06-12 16:26] jarvisluong commented on #8541
Interesting point, I will be working on this on the weekend so will look into that

[2020-06-12 16:34] viktor-podzigun commented on #3726
@enzomd it works for me, as per spec [here](https://www.w3.org/TR/webdatabase/) to rollback transaction you should either do not specify error handler (`null`) or return true from it:

[code]

[2020-06-12 16:35] byCedric commented on #8769
Haha, no worries, you complimented the original issue with this 😄

[2020-06-12 16:37] byCedric commented on #8541
Thanks @jarvisluong! Let me know if I can help 😄

[2020-06-12 16:51] byCedric commented on #8700
Hi! Please use the issue template when filing issues. I understand that these are warnings when upgrading, but I have no idea about
- if this is related to NPM or Yarn
- what version of the CLI you are using
- what environment you are running

Without that, it's really hard for us to reproduce it. Luckily, this shouldn't be a blocking issue at the moment because those are warnings and not errors.

[2020-06-12 16:51] #8700 closed

[2020-06-12 17:06] airic37 commented on #8783
I just confirmed in addition to my personal device I can recreate this on an emulated Pixel 3a XL running API 30

[2020-06-12 17:26] duckbrain opened #8784 "`expo-updates` uses hard-coded localhost"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)

When trying to use `REACT_NATIVE_PACKAGER_HOSTNAME` to specify where the packager is located, it doesn't work for building a release app on Android and iOS.

This prevents the builds from completing.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

Android (docker container running the Android build)

[2020-06-12 18:01] gustavolsilvano commented on #7831
I wasn't logged in on expo. To check that, run `expo whoam`i.
If you're not logged in too, just login using `expo login`.

[2020-06-12 18:41] dolubajo commented on #6245
@AshleyRudland Apologies for the long delay.

I used just `redirectUrl: urn:ietf:wg:oauth:2.0:oob`

However, I have now moved away from using AppAuth, i'm now using AuthSession.
AppAuth didn't work on Android for me with Azure AD B2C.

AuthSession worked perfectly.

[2020-06-12 19:05] brentvatne commented on #8784
seems like a reasonable change to make, thanks for the issue!

[2020-06-12 19:56] chrisdrackett opened #8785 "types for Localization come through as any"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)

The types for Localization come through as any currently. For example instead of being `boolean` Localization.isRTL is `any`.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

Expo CLI 3.21.3 environment info:
    System:
      OS: macOS 10.15.4
      Shell: 5.7.1 - /bin/zsh
    Binaries:
      Node: 12

[2020-06-12 20:29] pdandradeb commented on #6756
Hey @brentvatne, thanks for your inputs. It seems indeed that Azure AD has a parameter to force reauthentication. I'll take a look on that.

I'm still considering a client side only solution, though.

Is already known which version of RN will be used in SDK 38? Networking was [exposed in RN 0.62.0]((https://github.com/react-native-community/releases/blob/master/CHANGELOG.md#v0620)) and I'm thinkin

[2020-06-12 20:35] brentvatne commented on #6756
@pdandradeb - sdk 38 will be using 0.62.2, so it looks like that method will be included:

https://github.com/expo/react-native/blob/28ec77da0aa7888228b752e18fb0926316094f9e/Libraries/Network/RCTNetworking.ios.js#L58-L59
https://github.com/expo/react-native/blob/28ec77da0aa7888228b752e18fb0926316094f9e/Libraries/Network/RCTNetworking.android.js#L86-L88

[2020-06-12 20:38] enzomd commented on #3726
@viktor-podzigun I think your right, I tested with returning `true` from the error handler and this rolled back the transaction. Thanks for posting the solution.

Expo includes `node-websql` here:
https://github.com/expo/expo/blob/master/packages/expo-sqlite/src/SQLite.ts#L3

`ROLLBACK` is defined here:
https://github.com/nolanlawson/node-websql/blob/master/lib/websql/WebSQLDatabase.js#L10

I thin

[2020-06-12 20:39] #3726 closed

[2020-06-12 21:14] cruzach commented on #5591
The `android.config` object is not available from the manifest (it's mostly API keys so some people may want to avoid having those as part of the public manifest)

If you'd like to access this key via `Constants.manifest`, use the [`extra`](https://docs.expo.io/workflow/configuration/#extra) field of app.json

[2020-06-12 21:14] #5591 closed

[2020-06-12 21:19] cruzach commented on #8702
@MuZeQiu if you'd like to make a PR to add a GLView demo to the docs, it'd be very much appreciated!

[2020-06-12 21:31] cruzach commented on #7412
@NeOMakinG I tried to reproduce this with `animateCamera` and could not. Hopefully this snack will help you debug the code - https://snack.expo.io/@charliecruzan/animatecamera

If you still have issues, then please provide the exact steps to reproduce and I can reopen the issue

[2020-06-12 21:31] #7412 closed

[2020-06-12 22:06] chrisdrackett opened #8790 "[expo-localization] turn off localization when in SSR"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)

if you use ExpoLocalization in a SSR environment like next.js it'll fail with `ReferenceError: navigator is not defined`. It would be nice if this at least had a default fallback or similar to prevent this.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

Expo CLI 3.21.3 environment info:
    System:

[2020-06-12 22:59] WazzaJB commented on #8721
I have started the outlines of a PR above.

In order to test this in terms of real world, am I best to just manually copy the `expo-av` build files into a project?

Thanks,
Warren

[2020-06-13 04:02] #8002 closed

[2020-06-13 04:02] #8436 closed

[2020-06-13 06:33] leonaburime commented on #8226
@cruzach  I tried running `expo client:ios` command to get the "custom client's Bundle ID" from your directions.  Its giving me an error saying I have to have a paid Apple Developer Account?

- Is this supposed to happen?
- Is there a way around this?

![Screen Shot 2020-06-12 at 11 33 12 PM](https://user-images.githubusercontent.com/8000641/84561914-16f7c600-ad05-11ea-9fff-f515bc474041.png)

[2020-06-13 06:36] leonaburime commented on #8226
Also I got a Gemfile lock error. Are these two issues separate or will changing the permissions for the Gemfile.lock help me get around the Developer account issue?

![Screen Shot 2020-06-12 at 11 36 44 PM](https://user-images.githubusercontent.com/8000641/84561973-95546800-ad05-11ea-814b-8d994ca20f1c.png)

[2020-06-13 06:49] watanabeyu commented on #7339
I got same, and solved by ref.

[2020-06-13 10:55] obax opened #8794 "Documentation for SortType for iOS (Contact API)"
The documentation for Contacts (https://docs.expo.io/versions/latest/sdk/contacts) shows `SortType` as being unavailable for iOS, then later shows a table where all the possible values are acceptable in iOS. From my test, the former seems accurate. Could that be reflected in the documentation?

[2020-06-13 11:25] viktor-podzigun commented on #3726
@enzomd you are welcome, happy that it was helpful for you :)

+1 for documenting it in the expo docs together with the `readTransaction` method that is also available, will try to find a time to provide PR for it.

[2020-06-13 16:11] cruzach commented on #8226
@leonaburime you need a paid Apple Developer Account to create a custom Expo client app (this is the same account that is required to build apps that you plan to ship to the App Store)

[2020-06-13 17:06] byCedric commented on #8721
That's one way of testing, and because this should be a JS-only change you won't have to do anything with the Expo Client to get it working. We also have the [Native Components List app](https://github.com/expo/expo/tree/master/apps/native-component-list) with everything ready to test. You can use that too 😄

[2020-06-13 19:49] alactic opened #8797 "UI modification"
is there I can modify the modal UI to my own design?

[2020-06-13 22:55] fariasmateuss opened #8798 "🐛 Network request failed"
## 🐛 Bug Report

TypeError: Network request failed

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

Emulator - Pixel 2 API 28
expo: ^37.0.12

### Reproducible Demo

The building is completed, but when trying to register in the application, it mentions the error.
I emphasize that in Insomnia the requests are all made without any problem.

In the console:

[code]

[2020-06-14 05:11] janukeesh commented on #2848
Try to install in directory other that C . It worked for me .None of above methods worked.

[2020-06-14 06:28] sorxrob opened #8799 "FCM for Push Notifications in iOS apps"
Hi, I was looking at the FCM for Push Notifications docs and noticed this line:

`Note that FCM is not currently available for Expo iOS apps.`

Does this mean it is not available only in development? But will work on a real device / production?

Thanks!

[2020-06-14 06:34] jarvisluong commented on #8541
@awaisabir @byCedric The ability to generate a thumbnail is certainly possible since there is an API for that: https://developer.apple.com/documentation/photokit/phimagemanager/1616964-requestimageforasset?language=objc

Also, I see that this is already implemented in `expo-image-manipulator`: https://github.com/expo/expo/blob/8fa0b005b391412fd4ee6e429646dd7a45892e71/packages/expo-image-manipulato

[2020-06-14 08:07] jarvisluong commented on #8541
One more thing, also thanks to this PR: https://github.com/expo/expo/pull/8304, if we just want the thumbnail for the asset, upgrading to latest `expo-media-library` will allow you to pass the `uri` in `Asset` type to `Image` component and you can get the thumbnail easily

[2020-06-14 08:11] sharesomething commented on #8759
Hi @byCedric yes. It is like this one react-native-community/react-native-webview#1101. I didn't find anything related and created this one.

[2020-06-14 08:12] #8759 closed

[2020-06-14 09:00] jarvisluong opened #8801 "[expo-media-library] properly handle iOS's slow motion videos"
## 🐛 Bug Report

Currently when calling `MediaLibrary.getAssetInfoAsync` with a slow motion video from iOS will crash with this message:

```-[AVComposition URL]: unrecognized selector sent to instance```

This is because we are force casting this line:

https://github.com/expo/expo/blob/8fa0b005b391412fd4ee6e429646dd7a45892e71/packages/expo-media-library/ios/EXMediaLibrary/EXMediaLibrary.m#L425

[2020-06-14 09:02] deltamish commented on #6654
Still having this issue after installing react-native-community/async-storage
command used: yarn add @react-native-community/async-storage

 web  Failed to compile.
[code]
Its highly difficult for a newcomer to find the answer as all closed comments led to hopping back and forth between multiple pages with no definitive solution.
Guess it would be better to have text saying what exactly to do in A

[2020-06-14 13:08] AdamJNavarro commented on #8798
Hey @fariasmateuss,

Thanks for submitting a bug report. Would love to get some more information from you if possible such as is this only occurring on Android or on other platforms as well? Additionally, is this happening a physical device as well? Also have you tried testing on a different network to see if it may be something with the network environment you tested on?

Cheers,
Adam

[2020-06-14 13:18] AdamJNavarro commented on #8785
Hey @chrisdrackett, thanks for submitting a bug report. Can you let me know what editor and version of said editor you are running?

I can confirm I see the same behavior with VS Code version: 1.46.0.

Cheers,
Adam

[2020-06-14 13:26] AdamJNavarro commented on #8799
Hey @sorxrob,

FCM will not work on a real device or in production as well when you are using the Managed workflow as the Expo Push Notification service does not allow one to configure FCM to be used for iOS. If you need to use FCM, you'll want to use the Bare Workflow which would allow you to configure FCM to be used on iOS and use a different push notification delivery service or create your own

[2020-06-14 13:32] AdamJNavarro commented on #8797
Hey @alactic,

I'm not exactly sure that you are referencing. If you are talking about a basic [react native modal](https://reactnative.dev/docs/modal), you can modify the UI by styling the View component that the Modal is wrapped around. If you are talking about something else, please feel free to create a post on our [Forums](forusm.expo.io)!

We try our best to limit Github issues to reproducib

[2020-06-14 13:51] AdamJNavarro commented on #8794
Hey @obax,

We are always welcome to PRs if you are feeling up to it! The one nuance to submitting a PR to docs is that we ask that you make the changes to all applicable versions of the docs. Let me know if that's something you are willing to do. Regardless, thanks for bringing this to our attention.

Cheers,
Adam

[2020-06-14 14:03] AdamJNavarro commented on #8790
Hey @chrisdrackett,

Would you be able to create a reproducible example of this that we could use to test on our end?

Cheers,
Adam

[2020-06-14 14:23] AdamJNavarro commented on #8801
Hey @jarvisluong,

Thanks for submitting a bug report and even more so for taking the time to open a PR! We'll try and review it as quickly as we can. You're the best!

Cheers,
Adam

[2020-06-14 15:27] ShunyaWatanabe opened #8803 "Using import statement in app.config.js causes an error"
## 🐛 Bug Report

https://docs.expo.io/workflow/configuration/ tells me I can use import statements in app.config.js but it doesn't work.

### Summary of Issue (just a few sentences)

I wanted to use `import Constants from 'expo-constants';` in app.config.js but it gives me an error

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
[code]

### Reproducible Demo

- T

[2020-06-14 16:02] byCedric commented on #8803
Hi @ShunyaWatanabe! Thanks for the issue report. Although the docs states that you can use import statement, it also specifies some rules. One of them is:

This means that you can use import statements to load libraries or other configuration. It also means that Expo is not yet initialized when the config is loaded, and because of that, you can't import Expo modules that require Expo to be initial

[2020-06-14 16:02] #8803 closed

[2020-06-14 17:17] chrisdrackett commented on #8785
I’m also using vscode, but I’m not sure it has anything to do with the editor

[2020-06-14 17:31] awinograd commented on #8541
@jarvisluong thanks for your investigation and information!

I was able to find pretty good success generating thumbnails for icloud videos with expo-image-picker@8.1.0. However, sometimes (~20%) i'd still get a blank thumbnail (without an error being thrown). For what it's worth I did find a slightly better "success" rate when resizing the image to my exact needs vs maintaining the original size.

[2020-06-14 18:10] cipriancaba commented on #7941
Can we please release a new version of `expo-in-app-purchases`? the problem fixed in #8577 appears to be causing issues in production as well, rather than just on testflight

[2020-06-14 18:37] jarvisluong commented on #8541
@awinograd  Sorry if my comments are making the informations misleading, but actually what I mean was:

* `ImageManipulator.manipulateAsync` used the exact native API which is used for generate thumbnail of an `Asset` (which is `PHAsset` in iOS domain). This is not related to the versioning of `expo-media-library`

* `expo-image-library`@8.2 added a new asset loader which allows React native's `<I

[2020-06-14 19:28] awinograd commented on #8541
@jarvisluong I must have misread your comments incorrectly. Thanks for the extra clarification. Using `<Image source={{ asset.uri}} />` directly seems to be the winner!

Thanks again for your help on this issue.

[2020-06-14 22:48] juzerdhinoj commented on #5487
I am also experiencing this unexpected issue, assumed its something to do with the location permission so gave the permission 'Always' but that also didn't seem to rectify it.

Versions:
"expo": "~37.0.3",
"expo-location": "^8.1.0",

Came across this issue few days back as well, but it seemed to work again after awhile. Please look into this error.

[2020-06-15 00:01] sorxrob commented on #8799
Hi @AdamJNavarro,

Thank you for this. I have rejected my expo app already.

Hoping expo will support both ios/android soon!

[2020-06-15 00:01] #8799 closed

[2020-06-15 00:13] MattGoldwater commented on #5781
I'm getting this error only when I run it on a custom expo client on my phone. Why could that happen? Could this indicate potential issues in production?

[2020-06-15 00:56] brentvatne commented on #8799
@sorxrob - notifications work on ios as well just not through FCM without ejecting. on ios we use apples push service APNS instead.

[2020-06-15 02:17] yosukesuzuki commented on #6884
@EvanBacon what's the status of this issue after that? I'd like to implement my new application for ios/android/web with this.

[2020-06-15 05:22] ShunyaWatanabe commented on #8803
Thank you for the quick response and concise explanation!

I have two files `google-services.json` and `google-services-prod.json` that I want to switch based on which release channel the app is in.

It would be great if you could tell me how to achieve this in a different way

[code]

[2020-06-15 05:24] ide commented on #7941
We’re planning to do a new release this month hopefully (I don’t actually work on this) and this package will go out to npm then. If you need it sooner the code is in this repo and you should be able to npm pack it and install it locally or whatever works for your codebase (there’s nothing specific to Expo).

[2020-06-15 06:18] Speedy1991 commented on #8757
Thanks for the hint @martinezguillaume

Unfortunately, this doesn't work for me :/ still stuck at the async call

[2020-06-15 06:37] brambang commented on #4544
is there any solution fot this issue?
My apps upgrade to Expo SDK 37 then eject to bare, now my AppAuth.authAsync not working
`Error: ExpoAppAuth.Get Auth: Missing experienceUrl in the experience Constants`

[2020-06-15 06:52] martinezguillaume commented on #8757
@Speedy1991 are you sure you enable notification push capability in your Xcode project ? Sometimes we forgot this

[2020-06-15 06:59] Speedy1991 commented on #8757
Only have one dev phone :/ - next I'll create a testflight build and check if the error persists on a released build - if it's working in the production environment I'm convinced it's a dev/cache problem

Yes - I switched from [react-native-firebase notifications (5.x.x)](https://v5.rnfirebase.io/docs/v5.x.x/notifications/introduction) because support is dropped for local notifications in ^6.x.x.

[2020-06-15 07:22] sjchmiela commented on #7056
I have just confirmed that this issue does not appear when using `expo-notifications`. I'll let myself close this issue tentatively as the package will be available to use in SDK38 soon and is available for bare workflow already. 🙂

[2020-06-15 07:22] #7056 closed

[2020-06-15 08:51] superyarik commented on #8798
on our app we move to axios to handle network requests - fetch's errors in sentry logs showing like js error with line and column in bundle

[2020-06-15 09:16] xdajay opened #8808 "Expo APP crash in Singapore Region"
Hi Expo Team,

All of our users in Singapore facing app crash (OTA Enabled, Priority Managed workflow).
**I have also reproduced (ios) this issue via VPN and switched to Singapore IP and confirmed the app is crashing on start.**  As its crashing on start could not get any crash log on sentry. Please verify this, also share host details for OTA bundle, will test if it is blocked in Singapore.

Than

[2020-06-15 10:20] cipriancaba commented on #7941
I will definitely do this but I strongly believe this should be released ASAP.. this is happening to our customers in production with them being prompted to subscribe multiple times without any action.. this is really annoying and from the code change I saw this is not something we can fix OTA

[2020-06-15 10:37] tonuegbu commented on #7615
@brentvatne Do you run the publish command before building on Android studio or after? I've removed expo-updates and the app still crashes when I install the apk on a phone.

[2020-06-15 11:31] byCedric commented on #8808
Hi @xdajay! Thanks for mentioning this, we have received similar reports in the past about Singapore and possible blocks for the Expo infrastructure. We haven't fully discovered if we are listed, and if so, with what endpoints or urls.

The `expo-updates` package, assuming you are using the latest version, uses the `https://exp.host/@<owner>/<project>` endpoint. It uses this endpoint to download t

[2020-06-15 11:46] gamertense commented on #4544
@brambang Since you have "ejected" from Expo, I suggest you to try this package that I've been using for a while with no problem:
https://github.com/FormidableLabs/react-native-app-auth

[2020-06-15 13:51] tonuegbu commented on #7615
Just removed expo-updates and it's fine now. Had to regenerate android.bundle because I had already deleted it.
` react-native bundle --platform android --dev false --entry-file index.js --bundle-output android/app/src/main/assets/index.android.bundle --assets-dest android/app/src/main/res
`
created a new app.manifest as well.

[2020-06-15 13:58] sebastienlabine commented on #8300
Any updates?

[2020-06-15 14:49] tills98 opened #8809 "[jest-expo] mjs files issue with jest-expo/universal preset"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)
Since I've changed my jest preset in my `jest.config.js` configuration from
[code]
to:
[code]
or
[code]
all my tests including something with graphql or .mjs files (i don't know where is the issue) will fail (error at the bottom).

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
[code]
Targeted platforms

[2020-06-15 14:53] matt454 commented on #5459
Hey @lflores12 did you ever solve this?

[2020-06-15 15:01] AdamJNavarro commented on #8785
Most likely not but I like to gather as my information as possible. We'll look into this and hopefully find a resolution soon.

[2020-06-15 15:10] wdacoinin commented on #7815
Solve my code with this. (Gboard on xiaomi)

const deviceHeight = Dimensions.get("window").height;
more code...

<SafeAreaView style={styles.container}>
                <StatusBar barStyle='light-content' />
                    <KeyboardAvoidingView behavior='padding' style={styles.container} enable>

                        <TouchableWithoutFeedback style={styles.container} onPress={Keyboard.dism

[2020-06-15 15:12] lukmccall commented on #8738
@subhadipdutta21, I've tested it on the two Android phones. Unfortunately, I'm still wasn't able to reproduce it. The barcode scanner almost every time returns the correct value. It only returns the wrong value, when I was in the middle of rotation the barcode. We can't do anything with that.

Does it return the wrong value when you don't move your code? If yes, please tell me what is your phone m

[2020-06-15 15:13] Rohansi commented on #7815
FYI this will not work on Android devices with a notch because `Dimensions.get("window")` gives the wrong numbers on those devices. This solution will leave a gap at the bottom of your app for those devices - but that's probably preferable to completely broken keyboard avoiders!

[2020-06-15 15:15] #8798 closed

[2020-06-15 15:17] byCedric commented on #8798
As @A-Nav mentioned, for us it's hard to reproduce this issue without the context of your environment or reproducible steps. If this is still an issue for you, please open a new issue with the info filled in from the issue template.

[2020-06-15 15:18] #8210 closed

[2020-06-15 15:23] salockhart opened #8810 "Could not find a declaration file for module 'react-native/Libraries/vendor/emitter/EventEmitter'"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)
After importing `expo-file-system` into my Typescript project with unimodules and running `tsc`, I am getting Typescript errors.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
Not using Expo directly, but here is the output of `react-native info`:

[code]

### Reproducible Demo
https://github.com/saloc

[2020-06-15 15:24] salockhart commented on #8810
The following patch using `patch-package` seems to alleviate the issue for me, although there are likely other places we would need to update imports:

[code]

[2020-06-15 15:44] OscarYuen commented on #8194
I faced the same issue.
I ran grep -r UIWebView ios/*

and got the following result
`Binary file ios/Pods/FBAudienceNetwork/Static/FBAudienceNetwork.framework/FBAudienceNetwork matches`

I am using expo-ads-facebook (8.1.0)

[2020-06-15 15:52] byCedric commented on #8808
As a follow-up, there might be one thing you can do right now to prevent your app from crashing during startup. If you disable automatic updates by [setting `updates.checkAutomatically` to `ON_ERROR_RECOVERY` in your manifest](https://docs.expo.io/workflow/configuration/#updates).

If you [switch from the automatic OTA to manual OTA](https://docs.expo.io/guides/configuring-ota-updates/#manual-upda

[2020-06-15 15:59] cruzach commented on #4544
from - https://github.com/expo/expo/issues/5615#issuecomment-624984235

I will be deprecating expo-app-auth in favor of expo-auth-session in time.

[2020-06-15 16:45] paolo31415 opened #8813 "gl_InstanceID not recognised."
I can't seem to use `gl_InstanceID` from within my vertex shader with expo-gl. I get a "program not valid" error in the console. Is gl_InstanceID currently unsupported? I believe it does exist in WebGL 2.0.

**Additional info:**

1. https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/gl_InstanceID.xhtml

2. `gl instanceof WebGL2RenderingContext` returns `true`.

3. I notice that `gl.drawArra

[2020-06-15 17:19] gschimiti commented on #8026
Hello, I think I found another strange behavior involving the androidNavigationBar. When using the keyboard, after clicking to hide it, the navigation bar remains on the screen. Should I open an issue or is there something already notified?

[2020-06-15 17:33] karakusnavy opened #8815 ""React Navigation Stack" header is not showing"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)

"React Navigation Stack" header is not showing. This was showing just 1-2 hours ago but now this not showing.

https://hizliresim.com/z9sXxQ

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

my package json:

`{
  "main": "node_modules/expo/AppEntry.js",
  "scripts": {
    "start": "expo start",
    "an

[2020-06-15 20:33] #8797 closed

[2020-06-15 20:36] AdamJNavarro commented on #8815
Hey @karakusnavy,

This appears to be an issue specific to react-navigation rather than Expo. I would recommend creating an issue on the react-nav [repo](https://github.com/react-navigation/react-navigation) so that this can be appropriately investigated.

If this is only occurring with an Expo project and not a vanilla react-native project then we can re-open this issue and investigate further.

[2020-06-15 20:36] #8815 closed

[2020-06-15 20:38] AdamJNavarro commented on #8757
Hey all, if someone could provide us a reproducible example of this it would be very appreciated so that we can further investigate on our end.

[2020-06-15 21:17] pxr13 opened #8817 "Identify method not being called in expo-analytics-segment on Android"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)
The identify method is not being called in expo-analytics-segment on Android.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting
[code]

### Reproducible Demo
[Snack](https://snack.expo.io/@patrickxrivera/eager-candy). Make sure to use Android!

You will need to get Segment keys for iOS and Android. [Docs]

[2020-06-15 21:41] #8784 closed

[2020-06-15 21:53] esamelson commented on #8784
Hi, `expo-updates@0.2.9` has been released with this change. Please let us know if it doesn't work for you!

[2020-06-16 01:01] tattivitorino opened #8819 "Bare App Crash in Android release build due to Splash Screen"
I have an app created with expo init bare minimum.
the splash screen seems to be causing a crash on the first load of a release build.
I did all the required steps for building and signing the app and when running `npx react-native run-android --variant=release` (for testing purposes) the app builds, installs, loads but crashes exactly when the splash screen shows up.
Here's the log:

05-30 12:44:

[2020-06-16 03:07] EvanBacon commented on #8790
Good catch Chris, I've opened a PR to fix this.

[2020-06-16 04:17] EvanBacon commented on #8758
Thanks for reporting this, I opened a PR to include the proposed changes

[2020-06-16 04:23] EvanBacon commented on #8770
I removed the mode parameter before `app.config.js` was released, https://github.com/expo/expo-cli/pull/1682 it didn't work very well.

[2020-06-16 04:24] #8770 closed

[2020-06-16 04:26] #8730 closed

[2020-06-16 04:32] EvanBacon commented on #8585
Done

[2020-06-16 04:32] #8585 closed

[2020-06-16 04:35] EvanBacon commented on #8514
Removing the dependency on `node-sass` will resolve the error you've included. Metro bundler is not parsing the CSS file on native which is causing this error. On web we use Webpack which is bundling CSS as expected.

[2020-06-16 04:35] #8514 closed

[2020-06-16 04:39] EvanBacon commented on #8411
`response_type=token` works too, we use it for Firebase + Facebook auth https://docs.expo.io/guides/authentication/#facebook. Closing for now, feel free to reopen when you can reproduce the error.

[2020-06-16 04:39] #8411 closed

[2020-06-16 04:47] EvanBacon commented on #8300
This is the intended behavior, some functionality is not yet implemented in auth-session.

Token methods have been in the works for a while but they still require a lot more testing https://github.com/expo/expo/pull/8051 -- feel free to copy the features into your project if needed.
Under the hood, code exchange is performing a fetch request so I wouldn't consider this to be explicitly blocking an

[2020-06-16 04:47] #8300 closed

[2020-06-16 04:48] Razorholt opened #8829 "[axpo-av][Android] Full screen issue on Pixel 3 - gray bar at the bottom"
The gray bar ( or is it part of the video background?) appears on Pixel 3 whether the video plays in fullscreen or not.

![Screenshot_20200615-232606](https://user-images.githubusercontent.com/5605177/84732730-11e38280-af62-11ea-94a8-96d8bdf5573c.png)

Here is the code:
[code]
[code]

[2020-06-16 04:57] EvanBacon commented on #8264
Fixed in c4a8ef7

[2020-06-16 04:57] #8264 closed

[2020-06-16 05:00] EvanBacon commented on #8390
fixed in https://github.com/expo/expo/pull/8516

[2020-06-16 05:00] #8390 closed

[2020-06-16 05:03] #7990 closed

[2020-06-16 05:05] #7665 closed

[2020-06-16 08:46] #8751 closed

[2020-06-16 09:03] AlefiyaG commented on #8362
I am facing a similar issue with expo sdk 37 and expo-updates 0.2.7.
so I generate update with expo export --public-url xx --asset-url xx and host on our own server. When it tries to download the assets it doesn't use the absolute URL present in android-index.json file, it actually combines the expo update url in android manifest file with the assetUrlOverride.

Based on the documentation
https://

[2020-06-16 09:25] hussainahmad opened #8830 "[expo-task-manager] not working when mobile is locked state"
## 🐛 Bug Report
First of all thanks for the wonderful library. I m using Expo location and expo task manger for tracking App. Which is working fine as expected. but when we mobile went into locked state It is not working.

### Environment - output of `expo diagnostics` & the platform(s) you're targeting

  Expo CLI 3.11.7 environment info:
    System:
      OS: macOS 10.14.6
      Shell: 3.2.57 -

[2020-06-16 09:35] osamasayed opened #8831 "Add locale support to FirebaseRecaptcha"
I have a multi-language react-native app and I am using firebase to log users in using their phone and I am using `FirebaseRecaptcha.FirebaseRecaptchaVerifierModal` as the verifier. I want to know if it's possible to have a config to set the current language/locale? Note that [Google ReCaptcha](https://developers.google.com/recaptcha/docs/language) makes it possible to set the locale.

[2020-06-16 09:58] mikemoate commented on #8598
@brentvatne when is this issue likely to get triaged? There are security implications here, with apps using Expo caching data locally and unencrypted that should not be cached.

[2020-06-16 09:58] trexpert opened #8833 "GLView inside react-navigation 5"
## 🐛 Bug Report

### Summary
If using expo-gl inside react-navigation 5 the app crashs with an undefined is not an object exception (evaluating glexVersion.split) and (evaluating viewport[2]).
Sometimes you need to reload the app 2-3 times in order to reproduce this error.
The error happens on android device only. Been able to reproduce on real device and simulator.

Might be related to https://gi

[2020-06-16 10:15] ludgerey opened #8834 "AuthSession is not completed in Android standalone app (but deep linking works)"
## 🐛 Bug Report

### Summary of Issue (just a few sentences)
I am basically using Brent's approach for a oauth authorization (see here https://github.com/brentvatne/hour-power/blob/master/app/hooks/useSpotifyAuth.ts). It uses `useAuthRequest` and works fine with Expo clients, where it uses the `exp://` scheme.
In standalone build I need to rely on a custom scheme in `returnUrl`/`redirectUri`. This

[2020-06-16 11:53] yann-jacquet commented on #8815
Hey ! Got the same issue today, working well in dev env and simulator but not showing when building in CI. I fixed strictly the versions in the `package.json` to :

[code]

Not a long term fix but works for now until further investigations.

[2020-06-16 12:15] byCedric commented on #8817
Hi @pxr13! Thanks for the issue report and reproducible example. Unfortunately, I can't reproduce this issue (both on Android and iOS). When I create a new Segment project and test your code, I see the identities coming in (see screenshot below). Maybe your code is cached with the wrong keys by the Metro bundler? One thing you can try is (ofc) reinstalling your node modules and clear the cache of

[2020-06-16 12:15] #8817 closed

[2020-06-16 12:20] byCedric commented on #8829
hi @Razorholt! Thanks for your issue report. I don't we add a special video background to the video so I'm not sure where this is coming from. Could you create a small repro using Snack? That way we can test and maybe fix it faster 😄

[2020-06-16 13:11] AdelaPetrut commented on #6459
@cruzach is the fix available also for expo bare application? using EXPO 37 version?

[2020-06-16 13:13] AdamJNavarro commented on #8819
Hey @tattivitorino,

Thanks for submitting a bug report and for adding your crash logs! I'm hoping to get some more information from you before proceeding. To clarify, are you saying that a bare project with no additional changes is crashing? Also, have you been able to test if the crash occurs on other devices or is it specific to the Samsung A10?

Cheers,
Adam

[2020-06-16 13:25] AdamJNavarro commented on #8830
Hey @hussainahmad,

We appreciate the kind words about the library! As for the issue, we're going to need some more information before we can start our debugging efforts. Could you please let us know if this is happening on iOS, Android or both (and whether it is device/model specific). Additionally, please create a reproducible example of this behavior so that we can test it on our end.

Thanks,

[2020-06-16 13:45] #8010 closed

[2020-06-16 14:01] ludgerey commented on #8834
I found the bug. There was code in my login routine which apparently only breaks on standalone builds (notifications), which had nothing to do with the authenticator.

 I'm sorry to have bothered you!