[2017-08-23 16:58] ziudeso commented on #379
Same here, not using getExponentPushTokenAsync but still getting the same error as you guys!
"undefined is not an object (evaluating ExponentNotifications.getExponentPushTokenAsync)"
Anyone solved?

[2017-08-23 18:10] enstulen opened #539 "ERROR ITMS-90022: "Missing required icon file.""
I get this error when trying to upload the app with the Application Loader built with expo:

```ERROR ITMS-90022: "Missing required icon file. The bundle does not contain an app icon for iPhone / iPod Touch of exactly '120x120' pixels, in .png format for iOS versions >= 7.0."```

<img width="692" alt="skjermbilde 2017-08-23 kl 20 00 06" src="https://user-images.githubusercontent.com/7783861/296311

[2017-08-23 19:27] uipoet commented on #158
Now I'm automating this with the following line in my `package.json`:
[code]

The issue does not occur in macOS, only Linux.

[2017-08-23 19:47] jimmylee commented on #539
Hey @enstulen this must be frustrating, sorry you're having difficult with this.

A member of our community linked us this checklist, it has an extensive icon section - maybe you could have a look at it and let us know if you're still having trouble? https://github.com/acomito/expo-to-appstore-checklist

[2017-08-23 20:30] enstulen commented on #539
Thanks a lot for the checklist!

It doesn't say, however, where the icons should be stored. The link to Stack Overflow only includes solutions within an XCode project (https://stackoverflow.com/questions/34329715/how-to-add-icons-to-react-native-app)
I have added the icons loading, the 512x512 app icon and notification icon, but I still get the error.
I tried CFBundleIconFiles to info.plist with t

[2017-08-23 20:39] jimmylee commented on #539
I believe you're storing assets in `./src/assets` when the example code is storing them in `./assets/`

[2017-08-23 20:45] ide commented on #520
This might have been a regression, don't have more info right now.

[2017-08-23 20:46] enstulen commented on #539
Thanks! I'll try that.

[2017-08-23 21:16] enstulen commented on #539
Didn't work :( Still getting the same error.

[2017-08-23 21:26] jolocity commented on #325
+1

[2017-08-24 02:39] danopia commented on #491
Guess what, [Android Oreo is officially released](https://www.android.com/versions/oreo-8-0/). I took the update and the pin feature remains broken.

This message remains unchanged: `ActivityManager: Broadcast com.android.launcher.action.INSTALL_SHORTCUT no longer supported. It will not be delivered.`

[2017-08-24 03:12] skyride99 commented on #497
Fixed by uninstalling Node NPM and reinstalling.

[2017-08-24 03:12] #497 closed

[2017-08-24 04:19] jimmylee commented on #539
Can you share the icon asset you're using here?

[2017-08-24 04:34] jimmylee commented on #539
Bummer! well let me see if I can come up with some other ideas.

- Do you mind uploading the icon asset you're trying to use here? I can do a once over to make sure you're using the right format, or try it myself.
- Application loader comes bundled with Xcode tools. some people like to use beta releases of Xcode this time of year. Make sure you have the newest version that isn't a beta release...

[2017-08-24 05:33] ziudeso commented on #310
Hi CvBlixen, I'm having the same issue also but starting a project right from scratch with Expo..
If you got any solution rather than updating package.json please let me know =)
Thanks in advance

[2017-08-24 07:19] tomcrusader commented on #310
This occurs on a new project as @ziudeso said, when running on Android simuator.
If later versions are required @CvBlixen ; of what packages? It's high risk of incompatibility to just upgrade all packages.

[2017-08-24 09:08] ToBePlus opened #540 "[THREE.CubeTextureLoader.load] No resources found"
[code]
Image path never found.

**Code error**

Possible Unhandled Promise Rejection (id: 0):
ReferenceError: Can't find variable: document

[code]

[2017-08-24 12:02] Ruzo commented on #436
I would guess that my problem is related to this one which still happens on version 20.0.0.
I'm using MapView with Markers that open a Modal with a list of URLs which can be opened using the WebBrowser API.
Using reverseGeocodeAsync to get the location from MapView's onRegionChangeComplete latlng works fine. However, as soon as the WebBrowser API is used to open and close a URL, reverseGeocodeAsyn

[2017-08-24 12:36] JulianKingman opened #541 "Using images in Lottie with Expo"
OK, so I think this is possible, theoretically. Normally, to use an image in Lottie, you would either set the folder (Android) or add an image as an image asset (iOS), and then refer to it by name (file name, I believe). After looking at this comment (https://github.com/airbnb/lottie-react-native/issues/145#issuecomment-310788316), it looks like it should be possible to use the pre-fetched images

[2017-08-24 13:34] stochris commented on #535
In the meantime, the problem seems to have been solved.

[2017-08-24 13:59] enstulen commented on #539
I sent a message to you on Slack.

[2017-08-24 14:38] acomito commented on #332
@brentvatne is it possible to use react-devtools with expo running? The electron app startsup with the npm script, but doesn't seem to know where to grab the expo app from.

![screen shot 2017-08-24 at 10 37 47 am](https://user-images.githubusercontent.com/12701635/29671779-6244de32-88b8-11e7-86a0-c4edd2214aa5.png)

[2017-08-24 16:14] ryanvanderpol opened #542 "Multiple issues with new Splash screen API"
I've been playing with the new (SDK v20) splash screen API and have found multiple issues.

Here's what I expect to see:

1. My splash screen
2. My app

However, here is what I see when launching the app cold on iOS:

1. Blank white screen while the app maximizes
2. Screen with the background color i specified in app.json, with a loading indicator on top
3. My splash screen
4. Blank white screen
5

[2017-08-24 16:20] stochris opened #543 "Cannot disable android remotejs"
We encountered a situation where, on android, builds done with exp CLI update the javascript code on already deployed .apk's.

Currently, we are using beta releases for testing android builds, and whenever we do a local build with the exp CLI the production ( on the play store ) apps start using the staging api's.

Is there any way to avoid this kind of behaviour ?

[2017-08-24 16:33] Mohammadhunan97 opened #544 "File not working offline"
I have a video on my app built with create-react-native-app and I'm using the Video component of expo.io . I am displaying a local video, and on my application this is working when connected to the internet, but when the app is offline the video does not play/work/load.

Here is my project structure:

[code]

Here is the code for the video player component:

[code]
What am I doing wrong? Why is th

[2017-08-24 17:27] #429 closed

[2017-08-24 17:27] jesseruder commented on #429
Will be available in the next release!

[2017-08-24 18:40] dikaiosune commented on #543
Hi! I created a feature request for this: https://expo.canny.io/feature-requests/p/support-isremotejsenabled-on-android

[2017-08-24 18:40] #543 closed

[2017-08-24 18:54] dikaiosune commented on #535
@stochris I'm glad you were able to resolve this. @jpca999 can you post to our forums with your build ID? Happy to take a look at the logs for you.

[2017-08-24 18:54] #535 closed

[2017-08-24 18:55] jpca999 commented on #535
@dikaiosune  i think it got resolved now.

[2017-08-24 19:50] nsillik commented on #542
@ryanvanderpol sorry you're having trouble with this. I'm working on reproducing the issue right now but was wondering if you could answer a few questions:

1. How are you running your app on iOS and Android? i.e. are you running through the Expo app, or using the [Standalone Instructions](https://docs.expo.io/versions/latest/guides/building-standalone-apps.html)?
2. Does exp (or xde) provide any

[2017-08-24 22:00] dekm opened #545 "React Navigation problems"
I'm running into some issue trying to navigate with React-Navigate when using expo.  This is also related to redux I believe.

My tab bar and side drawer all work as intended but when I try and use props or a state to navigate it wont work.

navigate will come back undefined in the component
const {navigate} = this.props.navigation;

Then if i use a redux nav my AppNavigator never receives the cal

[2017-08-24 22:09] dikaiosune commented on #545
Hi! Please look for issues on https://github.com/react-community/react-navigation. If one doesn't exist, please open one there!

[2017-08-24 22:09] #545 closed

[2017-08-24 22:10] ryanvanderpol commented on #542
@nsillik thanks. I'm not at my desk right now but I'll try to answer your questions the best I can.

1. It is runninf standalone. For iOS it is installed via TestFlight and Android via an apk. Both were created via `exp build:ios` or `exp build:android`

2. I have not seen anything different in the CLI logs, so I think my answer is no.

3. Per the app.json I posted above, I think I *am* using `loa

[2017-08-24 22:17] nsillik commented on #542
I've set up a super basic splash screen example [here](https://github.com/nsillik/expo-splash-screen-example) and it all seems to be working after running `exp build:ios -t simulator` and running in the simulator. It also worked for me running from the Expo app itself.

[2017-08-24 22:18] nsillik commented on #542
I will say there are some improvements not yet available which should come in a release in the near future, including Android support as well. I'll let you know when that becomes available for testing as well.

[2017-08-24 22:19] dikaiosune commented on #544
Hi! It looks like you also created a [forum post](https://forums.expo.io/t/video-file-not-working-offline/2598), which I've been trying to help with. I'll close this so we can continue troubleshooting there.

[2017-08-24 22:19] #544 closed

[2017-08-24 22:25] dekm commented on #545
This isnt an issue with react-navigation its an issue with Expo blocking the props.

[2017-08-24 22:27] dikaiosune commented on #545
Sorry, could you elaborate by what you mean by "blocking the props"?

[2017-08-24 22:33] dekm commented on #545
If I were not using Expo I could add below In a render function without error.
const {navigate} = this.props.navigation;

I had the same problem with redux where i had to wrap the class like this for it to connect.
@connect( mapStateToProps, {switchDate, setTime, navRoute})
class CalendarSelector extends Component {

My navigator is not a class though so not sure how to work around that.

[2017-08-24 22:34] dikaiosune commented on #545
Can you provide a small reproduction of what you're talking about with https://snack.expo.io?

[2017-08-24 23:12] dekm commented on #545
I can try and set something up yes.

[2017-08-24 23:28] dikaiosune commented on #539
Closing for now, will reopen if that slack conversation identifies any fix we need to make. Thanks!

[2017-08-24 23:28] #539 closed

[2017-08-24 23:31] dikaiosune commented on #162
@ide is this going to happen as a product of the recent sdk work you've been doing?

[2017-08-24 23:33] ide commented on #162
Sort of - I fixed all the existing Flow types and added some to FileSystem but am not directly working towards increasing coverage.

[2017-08-24 23:33] dikaiosune commented on #537
It probably depends on what component `this` refers to. Can you provide a repro via https://snack.expo/io? Thanks!

[2017-08-24 23:34] dikaiosune commented on #158
cc @fson -- I can't assign to you but it seems like a good thing to fix in line with other things you've been doing.

[2017-08-24 23:36] dikaiosune commented on #536
Hi! It looks like the builder failed to fetch some code during a minor GitHub outage. Sorry for the inconvenience!

[2017-08-24 23:36] #536 closed

[2017-08-24 23:39] dikaiosune commented on #534
Not AFAIK -- cc @nsillik

[2017-08-24 23:39] dikaiosune commented on #533
Going to give this a close since it appears to be a general RN/react-navigation issue. Please reply back with a repro on Snack if we need to reopen! Thanks!

[2017-08-24 23:39] #533 closed

[2017-08-24 23:40] dikaiosune commented on #532
Glad to hear it! I'm assuming that this was due to a temporary network outage, but please reply back if you find this is occurring regularly. Thanks!

[2017-08-24 23:40] #532 closed

[2017-08-24 23:52] nsillik commented on #529
Hey, sorry you're having trouble with this new feature, it's still quite experimental and improvements are coming soon. I could use some info to help debug this:
1. What does your complete `app.json` look like?
2. What does your compiled manifest look like (get this by running `curl http://<your-experience>.exp.direct` and possibly piping it through `python -njson.tool` to make it look pretty).
3.

[2017-08-24 23:53] dikaiosune commented on #526
I think this seems like a pretty solid idea, but I'm guessing we'd like to see it working in practice before supporting it in the SDK. Maybe release it as an npm package and see how it goes? Closing for now, but post back if you think we should reconsider!

Also, it's usually easier to gauge how much the community would value inclusion in the SDK if you create a [feature request](https://expo.cann

[2017-08-24 23:53] #526 closed

[2017-08-25 00:01] dikaiosune commented on #525
Can you try the instructions at https://forums.expo.io/t/how-to-clear-the-react-native-packager/1352 and see if that helps?

[2017-08-25 00:05] dikaiosune commented on #420
Going to give this a close pending a reply to Ben's question above. Please let us know how to repro and we'll reopen. Thanks!

[2017-08-25 00:05] #420 closed

[2017-08-25 00:08] dikaiosune commented on #417
Seems like running the `exp path` command is resolving the issue. If you're still hitting this after running the command, please let us know and we'll reopen. Thanks!

[2017-08-25 00:08] #417 closed

[2017-08-25 00:16] dikaiosune commented on #171
Pretty sure that the error in OP description was fixed ~2 exp releases ago. Still lots of error reporting work to do with standalone builds, but those are all tracked separately AFAICT.

[2017-08-25 00:16] #171 closed

[2017-08-25 00:17] dikaiosune commented on #173
I'd also like us to add a server-side heuristic to check existing manifests and warn users that they may not need to recompile.

[2017-08-25 00:19] dikaiosune commented on #174
cc @fson this would be great to have.

[2017-08-25 00:20] dikaiosune commented on #176
I think this will be resolved by https://github.com/facebook/react-native/pull/15518, going to close this on our side for now.

[2017-08-25 00:20] #176 closed

[2017-08-25 00:21] dikaiosune commented on #179
cc @fson I believe you were looking at reviving the axios support we'd attempted previously?

[2017-08-25 00:23] dikaiosune commented on #180
cc @fson if you have time to look at this

[2017-08-25 00:24] dikaiosune commented on #186
Looks like the babel-plugin-module-resolver folks have prevented double-application in future versions: https://github.com/tleunen/babel-plugin-module-resolver/pull/176. Do we need to update @brentvatne?

[2017-08-25 00:25] dikaiosune commented on #227
Assigning @nsillik, who's been doing a pass over SDK APIs to do more JS-side validation.

[2017-08-25 00:27] dikaiosune commented on #254
Looks like https://github.com/facebook/react-native/pull/15460 will be merged soon, which should resolve this problem. Closing for now, but if that PR doesn't land we can look at other ways to handle this.

[2017-08-25 00:27] #254 closed

[2017-08-25 00:38] dikaiosune commented on #523
Hi! Unfortunately without a minimal ExpoKit-specific repro of this problem (confirming that it isn't happening in vanilla RN), it's really hard for us to help with this. Please reply back if you can confirm it's specific to using ExpoKit and I'll reopen. Thanks!

[2017-08-25 00:41] dikaiosune commented on #522
I'd be curious to know where in the JS these bad args are getting passed. Do you have any libraries that are calling directly into RN's native modules? For example

[code]

seem like likely culprits.

[2017-08-25 00:46] dikaiosune commented on #521
@isnifer we update the libraries we vendor regularly. Definitely open an issue if a critical update has released that we've missed!

Also, I bumped the credit for tipsi to the top of our docs: https://github.com/expo/expo-docs/commit/dfbfd43c253af4e175fe841d87ad72008d1ec7f1

Looks like that ex-navigation PR was merged.

Think that addresses all of the questions/concerns here, giving it a close. Th

[2017-08-25 00:46] #521 closed

[2017-08-25 00:47] dikaiosune commented on #467
Sorry this slipped through the cracks. Is this still happening?

[2017-08-25 00:48] dikaiosune commented on #472
Giving this a close since we probably won't support for a little while. Please open a [feature request](https://expo.canny.io) if you'd like to give other users a chance to vote for this! Thanks!

[2017-08-25 00:48] #472 closed

[2017-08-25 00:50] dikaiosune commented on #473
@terribleben is there a way to configure the dev menu gesture in ExpoKit?

@CrazyWr I'd suggest disabling the tunnel (gear icon -> change options to lan) since ngrok's tunnel servers are probably at a very high latency from you.

[2017-08-25 00:50] #473 closed

[2017-08-25 00:50] dikaiosune commented on #474
Related: we probably want some UI that offers users really granular control over which JS versions go out to which binary versions.

[2017-08-25 00:50] #474 closed

[2017-08-25 00:55] dikaiosune commented on #328
I believe we converted this check to a warning, please comment back if this is still blocking you.

[2017-08-25 00:55] #328 closed

[2017-08-25 00:55] dikaiosune commented on #330
Giving this a close since it's been a little while since hearing back. Post back and we'll reopen if this is still causing problems for you! Thanks!

[2017-08-25 00:55] #330 closed

[2017-08-25 00:56] dikaiosune commented on #337
cc @fson

[2017-08-25 00:58] dikaiosune commented on #357
Heads up that we have a contacts search API in progress (cc @hgale). Keep an eye out for when that's released!

[2017-08-25 00:59] dikaiosune commented on #362
Hi! Sorry that you were hitting this problem. Since we didn't hear from you I'm assuming that you weren't able to help us reproduce the issue. If you'd still like help with this, please post back and we'll reopen the issue. Thanks!

[2017-08-25 00:59] #362 closed

[2017-08-25 01:00] dikaiosune commented on #370
Hi! Sorry for the delay here. Can you try this again with the SDK 20 version of the client app?

[2017-08-25 01:01] dikaiosune commented on #371
cc @fson

[2017-08-25 01:01] dikaiosune commented on #376
@nikki93 correct me if I'm wrong but I think we're just vendoring a Google library for this, am I correct?

@aleki can you reproduce this with an SDK 20 example in https://snack.expo.io?

[2017-08-25 01:03] dikaiosune commented on #377
Sorry for the delay here!

@sbdm05 yes, we moved the template projects over to use App.js to match CRNA and Snack. This allows for a number of nice improvements that we can bundle into the `expo` npm package without requiring developers to add them into their entry points.

react-navigation definitely works with App.js, so please open another issue with a repro of the bug you're seeing if you're s

[2017-08-25 01:03] #377 closed

[2017-08-25 01:09] dikaiosune commented on #378
@cogwirrel sorry for the delay (again). In general I'd recommend implementing your own symbol mangling or obfuscation techniques before you pass your JS to the root component that is packaged by react native.

For slightly different examples of this, you might look at how Clojurescript, Typescript, or ReasonML are used in React Native -- usually they point their build tools to an output directory

[2017-08-25 01:09] #378 closed

[2017-08-25 01:11] dikaiosune commented on #519
Upstream PR is in progress, workaround is available. Going to give this a close as we generally track babel preset upgrades elsewhere. If you're finding this issue and the workaround isn't helping, please post here and we'll reopen. Thanks!

[2017-08-25 01:11] #519 closed

[2017-08-25 01:12] dikaiosune commented on #518
Chrome debugging is managed by React Native, AFAIK we don't do anything special for this. Going to give this a close for now, but if multiple debugger clients lands upstream please post back and let us know so we can double check that it works! Thanks!

[2017-08-25 01:12] #518 closed

[2017-08-25 01:13] dikaiosune commented on #379
@ziudeso that function has been renamed to `getExpoPushTokenAsync`

[2017-08-25 01:13] dikaiosune commented on #379
Not following the whole discussion here, but I'm going to give this a close since it seems like the relevant issues have been resolved. Post back if I'm wrong about that and we can reopen. Thanks!

[2017-08-25 01:13] #379 closed

[2017-08-25 01:15] dikaiosune commented on #391
Hi! Where are you located? The XDE AppImage is served from GitHub's CDN, so I suspect some networking issue is at play here.

[2017-08-25 01:16] dikaiosune commented on #393
Hi! I'm really glad you found a workaround for this issue. Unfortunately we're a small team and don't have a lot of resources to dedicate to supporting users in China right now. We plan to revisit this in the future, but for now I'll give this a close as it seems to pertain primarily to people in PRC.

[2017-08-25 01:16] #393 closed

[2017-08-25 01:17] dekm commented on #545
@dikaiosune  Here is a simple example of using the props.navigation and using it's send event in onPress.

https://snack.expo.io/r1279e6uW

Thanks

[2017-08-25 01:17] dikaiosune commented on #545
I don't see react-navigation used in that example at all?

[2017-08-25 01:18] dikaiosune commented on #514
@artemik if you're using `exp` you can run `exp android`. Thanks!

[2017-08-25 01:18] #514 closed

[2017-08-25 01:21] dikaiosune commented on #398
Hi! The tunnel service we use has a large-ish binary to download that sometimes hangs on slower internet connections. If you discover that this isn't related to your network connection or a yarn/npm bug, please post back and we'll take another look. Thanks!

[2017-08-25 01:21] #398 closed

[2017-08-25 01:22] dikaiosune commented on #415
OK, makes sense. If you hit this again please post to the forums with your build ID and I'll take another look. Thanks!

[2017-08-25 01:22] #415 closed

[2017-08-25 01:32] cogwirrel commented on #378
Thanks for the pointers, will check them out! :)

[2017-08-25 01:47] a-eid opened #546 "some icons don't work , in face few does ?"
[code]

renders a question mark with an error in the console ??

[2017-08-25 02:30] leo108 commented on #467
@dikaiosune no, it just happened that time

[2017-08-25 03:15] ignatiusbill opened #547 "How to cancel "exp build:android"?"
I started building and realized I made a typo. I couldn't find how to cancel the build on the docs. Help!

[2017-08-25 04:31] #546 closed

[2017-08-25 04:49] dikaiosune commented on #547
We don't currently have a way to cancel builds, sorry :(. Android builds usually take less than an hour though, so you should be able to try it again now.

[2017-08-25 04:49] #547 closed

[2017-08-25 05:44] aleki commented on #376
@dikaiosune Sorry, but I migrate from `create-react-native-app` to `react-native-cli`

[2017-08-25 06:10] daominhsangvn commented on #523
@dikaiosune Yes, I'm using ExpoKit

[2017-08-25 06:34] isnifer commented on #521
@dikaiosune Awesome! Thank you!

[2017-08-25 06:50] BruceHem commented on #179
this is getting annoying, well at least for me, we can't create even a blank project with xde. is there any other way i can download? thanks btw.

[2017-08-25 07:28] timbrandin commented on #415
Thx @dikaiosune, will do that.

[2017-08-25 10:34] pensierinmusica commented on #534
Meaning is the splash screen displayed before the assets get preloaded, or while the asssets are preloaded?

If you want the screen while the app load and the assets are preloaded how is that achieved?

Thx!

[2017-08-25 10:35] pensierinmusica commented on #537
It always has the same problem, no matter the component. Try to create a brand new project and log `this` inside a component lifecycle hook.

[2017-08-25 11:56] sonaye commented on #529
@nsillik Before proceeding with debugging the situation, I want to make sure that we are on the same page about what the behavior of a splash screen should be. The splash screen essentially is the view that shows immediately the second you click the app icon, then it expands to take the full dimensions of the screen, basically the xib file in IOS in a typical rn app.

Attached is a gif of your exa

[2017-08-25 12:00] sonaye commented on #542
Similar to #529.

[2017-08-25 12:02] sonaye commented on #534
I am interested in knowing about this too.

[2017-08-25 12:04] volodyad opened #548 "How do expo knows from where load new js bundles?"
According to docs expo automatically loads new js bundles
Note: Updates are handled differently on iOS and Android. On Android, updates are downloaded in the background. This means that the first time a user opens your app after an update they will get the old version while the new version is downloaded in the background. The second time they open the app they’ll get the new version. On iOS, updat

[2017-08-25 12:33] ryanvanderpol commented on #542
That's it?  I report several different visible issues and this just gets closed? Very clearly the issues I'm reporting are happening at the Expo level -- I assume during the build phase.

[2017-08-25 12:35] sonaye commented on #542
@ryanvanderpol the issue is still open.

[2017-08-25 12:36] ryanvanderpol commented on #542
Oh, yup, you're right. I noticed it got closed and then failed to notice it got reopened.

[2017-08-25 12:41] sonaye commented on #542
@ryanvanderpol I've been using expo since the sdk 5 days (over a year), I can assure that the support is top notch here, great team behind the platform, tackling this is a matter of time.

[2017-08-25 12:57] mikolajadamowicz commented on #391
Warsaw, Poland also downloading directly from github https://github.com/expo/xde solved the issue for me.

[2017-08-25 12:59] GrigoryPtashko commented on #522
@dikaiosune, thanks I'll check them. But still it is not clear to me how these js-only libs can cause problems. These libs worked so far in the exactly equal way in my web app and in the ios app. The problem appeared when I tried to look at the android version of my expo app.

[2017-08-25 14:22] mblodorn opened #549 ""Invalid Version: undefined" when running exp start inside my project."
I'm following the steps at https://docs.expo.io/versions/latest/guides/building-standalone-apps.html to generate a build, but when I try to run `exp start` the following error occurs:

[code]
I know that there may be bugs with npm, but I still want to ask if this maybe something else.

app.json file:
[code]

package.json:
[code]

[2017-08-25 16:07] nsillik commented on #542
@ryanvanderpol sorry, I accidentally fat-fingered the close button while making another comment. Take a look at my responses above, I'm hoping they can help diagnose your issues.

[2017-08-25 16:11] nsillik commented on #534
So, the `loading.splash.image.ios` key on iOS will cause the image specified to be saved directly to the app's bundle during the `exp build:ios` process. The `xib` that is used as the launch screen (and also displayed while the JS packager runs) will point to that bundled image (named `launch_background_image.png`). That means they should load immediately. This does mean however that changes to yo

[2017-08-25 16:50] pensierinmusica commented on #534
@nsillik just to make sure I understand this correctly, so you're saying that when a `loading.splash.image` property is set that overrides `loading.icon`?

[2017-08-25 18:06] ide commented on #519
babel-preset-react-native v2.0.1 (which babel-preset-expo v3 pulls in) should have the fix. If you run `yarn upgrade` you should get it.

[2017-08-25 20:43] nsillik commented on #534
Yes, the new splash screen doesn't include an icon. Also, I think I've identified a part of our build process which is failing to copy some assets correctly. I'm working on fixing that now. Hopefully shouldn't require waiting until a new SDK lands.

[2017-08-25 21:14] JunyuanZheng opened #550 "Dokcernize expo program"
Hi all,

First of all, thanks for the great tool, it's amazing!

Right now, I am trying to dockernize my development environment so I can share with my teammates. However, I am getting this error:

[code]

The dockerfile I am using is:
[code]

Can someone give me some suggestion?

[2017-08-25 21:17] JunyuanZheng commented on #550
At the same time, I got this error on from my iPhone:

![img_0950](https://user-images.githubusercontent.com/9393110/29733032-2da672a6-89a0-11e7-87a6-95d59671a8fd.PNG)

[2017-08-25 21:24] ide commented on #550
`exp` works in a Docker container for CI but we haven't really tried to use it for development. I suspect you might be better off creating VM images (or AMIs for AWS, or the equivalent for other cloud hosts). With Docker, your Docker container would need to include Chrome, or you'd need to submit a PR upstream to React Native that somehow lets it talk to Chrome outside of the container.

[2017-08-25 21:30] phenrigomes opened #551 "Hot reaload on Android Device"
I could not open the developer menu on Android device. I tried all forms following the docs, but I could not. Is there some problem with Android? I only see three buttons on the blue bar on Android. How can I open the developer menu, do I need to set a property on config, anything?

[2017-08-25 21:31] JunyuanZheng commented on #550
Ok, so basically I need to find install the chrome inside docker, and is there any way I can change the server port number from 19000 to something else?

[2017-08-25 21:44] ide commented on #550
You can create a file called .exprc in your project root, which is a JSON file. You can add a field called `manifestPort` which sets the port of the server that serves the Expo project manifest (this is 19000 by default if it is free).

In app.json you can specify:
[code]

[2017-08-25 21:56] JunyuanZheng commented on #550
Thank you so much!

[2017-08-25 21:56] #550 closed

[2017-08-26 06:33] pensierinmusica commented on #534
@nsillik I just want to make sure I understand the difference between `loading.splash.image` and `loading.icon`. Also once we have it all workign and figured out I think it'd be great to make the whole concept a bit clearer on the docs  :)  Thx!

[2017-08-26 09:37] pensierinmusica opened #553 "How to use redux-devtools with Expo"
Hi,

Can you please provide an example of how to use [redux-devtools](https://github.com/gaearon/redux-devtools) with Expo?

What do you think, would it also make sense to add it to the docs?

Thanks, cheers!

[2017-08-26 15:47] KingCosmic commented on #486
the only error im getting is "Couldn't start project on Android:" sorry for the long reply didnt see you replied lol

[2017-08-26 21:35] madaviela commented on #185
im getting an error when im trying to follow the guide for set up push notifications, im usinc expo proyect sdk 20 and also real devices, i can get the expopushtoken but when i post to my server it says an error 422

`
    async registerPN() {
        const { existingStatus } = await Permissions.getAsync(Permissions.REMOTE_NOTIFICATIONS);
        let finalStatus = existingStatus;

        // only

[2017-08-26 21:36] madaviela opened #554 "Push Notifications not working ios/android"
im getting an error when im trying to follow the guide for set up push notifications, im usinc expo proyect sdk 20 and also real devices, i can get the expopushtoken but when i post to my server it says an error 422

`
    async registerPN() {
        const { existingStatus } = await Permissions.getAsync(Permissions.REMOTE_NOTIFICATIONS);
        let finalStatus = existingStatus;

        // only

[2017-08-26 23:36] edward-shen commented on #549
Encountered the same issue with Expo SDK v20.0.0, but I fixed this by running `npm install`.

[2017-08-27 01:14] flieks commented on #486
no problem. Check your it's the right IP address. I had virtual ip's so it was taking the wrong IP. On LAN and exp. Tunnel should work mostly if LAN doesn't work.

[2017-08-27 10:54] flieks opened #555 "segment import"
Very strange but if i
`import { Segment } from 'expo'`
it seems to be importing "default"
![image](https://user-images.githubusercontent.com/5032389/29749198-ccd5a1b2-8b26-11e7-9659-855e4104982c.png)

this is my babelrc code:
[code]

[2017-08-27 11:40] mikadze opened #556 "Expo Push Notifications linked to an old app"
I used Expo Push notifications in my app and they worked, but the app got rejected from the app-store due to the naming, so I had to create the same app with different name. Changed app name and slug, but forgot to change the bundle identifier. Built app with new certificates and now when I try to send push notifications I get the following error:  The recipient "ExponentPushToken[xxxxxxxxx]" is a

[2017-08-27 17:16] brentvatne opened #557 "Standalone app guide - warn people to be careful about bundle identifier and package name"
For many folks, this will be their first time publishing an app to app / play store. We should let them know that they won't be able to change the bundle identifier and package name and that it will show up in the url in the case of the play store.

[2017-08-27 17:17] brentvatne opened #558 "In standalone app docs, warn that some apis (eg: maps) require specific config"
Currently you can see this if you go to the Map docs, for example, but it should be clear in standalone docs which apis will require special configuration for standalone builds.

[2017-08-27 17:58] Bundas opened #559 "Dismissing push notification from App itself"
Is there a way to dismiss push notification from inside of App via javascript?

I am using push notifications for informing about new messages. And if message comes and app is foregrounded, I want the push notification automatically disappear

[2017-08-27 18:05] Bundas commented on #559
Expo.Notifications.dismissNotificationAsync

[2017-08-27 18:05] #559 closed

[2017-08-27 19:05] CSamuelLents commented on #531
@aalices

Any word on this? Thanks for working on it!

[2017-08-27 22:57] 20chix opened #560 "exp build:ios failed on generate certificate."
Hi I always fail on this step, I tried nearly 10 times and also tried with -c but nothing .

i got this.

? Do you already have a distribution certificate you'd like us to use,
or do you want us to manage your certificates for you? true
[exp] Generating distribution certificate...
[exp] Error validating credentials. You may need to clear them (with `-c`) and try again.
[exp] Unable to fetch distri

[2017-08-27 23:04] jimmylee commented on #560
Hi I'm really sorry about this, we're running into some internal issues right now where the server is out of space. We will try to resolve this as soon as possible.

[2017-08-27 23:06] 20chix commented on #560
Could you please keep me update as i need to push my app?

p.s. android build worked fine just ios

[2017-08-28 01:05] ivanzhang commented on #393
@dikaiosune i am in china, i think we still need a solution for us to use proxy while a new installed apk or ipw is lunching, because if the first lunching is too slow, people will leave our app... .

We know china always been effected by GFW,  but we app owners could set up our own proxy server to expo hosts to download scripts faster while lunching app when its new or upgraded.

[2017-08-28 06:56] aalices commented on #531
@CSamuelLents It's in review. I am not sure if it will be released before SDK 21. We'll keep you informed.

[2017-08-28 10:34] anilpatnik commented on #71
This should solve the problem

in app.json

"androidStatusBarColor": "#334393",
    "androidStatusBar": {
      "barStyle": "light-content",
      "backgroundColor": "#334393"
    }

[2017-08-28 10:58] flieks opened #561 "OkHttp version incompatiblity in detached Android app"
i want to install
react-native-pdf.
All is good but because expo v20 uses RN 0.47 (and not 0.48).
I get this problem
![image](https://user-images.githubusercontent.com/5032389/29770739-b0b99a36-8bf0-11e7-866e-2e3932dd204c.png)

okhttp3 of expo is not same of RN ?

[2017-08-28 13:15] retrixe commented on #37
@mozinator you can use watch mode.

[2017-08-28 13:25] SleeplessByte opened #563 "expolib_v1 RealBufferedSinkWrite IllegalStateException"
Running in production on 1500 devices, I have encountered the following issue across android versions and devices. SDK version 20.0.0, not detached.

| Version | :boom: | % |
| ------------- | -- | -------- |
| Android 6.0 | 14 | 31.8% |
| Android 7.0 | 13 | 29.5% |
| Android 7.1 | 10 | 22.7% |
| Android 5.1 | 4 | 9.1% |
| Others | 3 | 6.8% |

| Device | :boom: | % |
| ------------- | -- | -------

[2017-08-28 15:32] nicolocardana commented on #486
I had the same problem. Just solved by uninstalling and reinstalling the Expo XDE

[2017-08-28 17:24] #227 closed

[2017-08-28 18:54] peterpme commented on #520
Related: https://forums.expo.io/t/issues-with-linking-from-webbrowser-in-standalone-app/779/36

[2017-08-28 20:21] SleeplessByte opened #564 "Make Expo Push Notification servers more robust (502 Bad Gateway)"
Pushing 3600 notifications, on 36 calls. First round 14 fail with a 502 Bad Gateway. Second round 11 fail. Worst one I had to retry 6 times before it got through. The 502 also doesn't give information about what went wrong, if it got queued or not.

Is the expo push server at it's limit? Should there be a status page reporting this?

[2017-08-28 21:13] ide commented on #564
It's possible your requests overloaded the servers, that's the most likely explanation.

[2017-08-28 21:54] SleeplessByte commented on #564
I was doing 8 calls (of a 100 tokens) each 5 minutes.

If this is too much, what algorithm should I be using? There are no mentions in the documentation; naturally I'd like not to overload the servers -- and I don't think this order of magnitude should.

[2017-08-29 04:10] dikaiosune commented on #467
Glad to hear it! Unfortunately that means we won't have a reliable reproduction that we can use to fix this. Going to give it a close for now, please comment back so I can reopen if you see it again!

[2017-08-29 04:10] #467 closed

[2017-08-29 04:10] dikaiosune commented on #376
OK. Good to know. Sorry about this issues here. Since we don't have a recent reproduction I'll give this a close.

[2017-08-29 04:10] #376 closed

[2017-08-29 04:12] dikaiosune commented on #179
@BruceHem this URL lists the templates: https://expo.io/--/api/v2/versions. You can download them and extract them manually. Sorry for the hassle here!

[2017-08-29 04:13] dikaiosune commented on #391
Interesting. @jesseruder does the download on our website go through a different CDN than GitHub releases?

[2017-08-29 04:13] dikaiosune commented on #522
I'm not an expert on the Networking native module, but it seems possible that different calls to `fetch` could cause problems in RN that are handled more gracefully than on the web.

[2017-08-29 04:15] dikaiosune commented on #185
@madaviela make sure you `await` on calls to `fetch`.

[2017-08-29 05:13] ablankenship10 commented on #554
The 422 error is a problem with your API, not expo

[2017-08-29 05:15] madaviela commented on #554
at this point its problem from my api, i cant send push notifications from laravel

[2017-08-29 06:31] jimmylee commented on #561
I'm checking on Native Directory https://native.directory/?search=pdf and it appears that `react-native-pdf` is not compatible with Expo.

Are you trying to use that library with Expo?

[2017-08-29 06:33] jimmylee commented on #560
@20chix we fixed the issue where the server was out of space, if you're still running into a build error please open another issue with the build id, since `d9486200-8b7a-11e7-a0f2-a9731e7f3721` has no logs within the last 12 hours.

[2017-08-29 06:33] #560 closed

[2017-08-29 06:36] jimmylee commented on #555
Hi there, I hope I can help you out.

I'm confused why you are using `Expo.Segment.initializeAndroid`, Shouldn't it just be

[code]

Let me know if this fixes your problem.

[2017-08-29 06:40] jimmylee commented on #553
You can use React Native Debugger :) it includes Redux DevTools

Learn more here: https://github.com/jhen0409/react-native-debugger

Here is an example of React Native Debugger + Create React Native App: https://github.com/jhen0409/react-native-debugger/tree/master/examples/counter-with-redux

Here is a medium post you can follow to use it With Expo:
https://medium.com/@jimgbest/react-native-debug

[2017-08-29 06:40] #553 closed

[2017-08-29 07:50] ablankenship10 opened #565 "Return ISO Country Code from ReverseGeocode call"
At least for Android which I believe uses the Google Reverse Geocoding API, this API should return the short-code value of country which is the 2 character ISO code. This is useful for doing things programmatically with locations and should be provided to the Expo Location.reverseGeocodeAsync results.

I believe this change should be made [here ](https://github.com/expo/expo/blob/master/android/ex

[2017-08-29 09:29] neelsenic commented on #337
If your app.json looks like :
`{
  "name": "testapp",
  "displayName": "testapp"
}`

you can fix the issue by adding the expo SDK version to the above JSON, as :

`{
  "name": "testapp",
  "displayName": "testapp",
"expo": {
    "sdkVersion": "18.0.0"
  }
}`

(You may have a different SDK version. So check for that)

[2017-08-29 12:58] mblodorn commented on #549
Thank you @edward-shen, after running npm install it was fixed here too :D I just can't understand why this happened.

[2017-08-29 13:52] #556 closed

[2017-08-29 14:03] vinils opened #566 "undefined is not an object (evaluating NativeModuels.UIManager.RCTVideo.Constants')"
![image](https://user-images.githubusercontent.com/14332724/29825060-975a15b6-8ca9-11e7-89ed-30f9467fdb5e.png)

Getting red screen of death with undefined is not an object (evaluating NativeModuels.UIManager.RCTVideo.Constants') on Android

related to https://github.com/react-native-community/react-native-video/issues/184

[2017-08-29 15:16] flieks commented on #561
Hi @jimmylee yes with detached Expo app. Thanks for that url, seems handy.

[2017-08-29 15:24] ryanvanderpol commented on #542
@nsillik I don't see much of a difference between your code and mine, but I haven't built your app and uploaded it to TestFlight, so I can't say for sure that yours doesn't exhibit the same issues as mine.  Did you do that?  Detach and upload to iTunes Connect?  Does `exp build:ios -t simulator` create the exact same experience as detaching and uploading to the App Store/TestFlight?

Also, does ch

[2017-08-29 15:45] cmeehanSL opened #567 "Keeps reloading only when in prod mode (after publishing)?"
I am trying to use the crypto-js encryption library, and everything works fine in XDE when just sharing a QR code (\__DEV__ is true). However, once I publish, when the app reaches the stage where this encryption occurs, it just reloads the bundle again.

The encryption code is basically:

`   var encryptedText = CryptoJS.AES.encrypt(text, key)
`

Does anyone know why this won't work when published

[2017-08-29 17:24] skevy commented on #566
Please provide a code example, and possibly a repro on snack.expo.io.

[2017-08-29 17:24] #566 closed

[2017-08-29 17:27] skevy commented on #564
For now @SleeplessByte the best thing to do is add backoff/retry logic in your application and just resend any pushes that fail.

It's on our roadmap to make this more robust.

[2017-08-29 17:28] skevy commented on #563
cc @jesseruder

[2017-08-29 17:32] skevy commented on #554
As @ablankenship10 mentioned, this is a problem with your API.

Please provide any specific error messages you receive from Expo's API, and we can help you further.

Closing for now.

[2017-08-29 17:32] #554 closed

[2017-08-29 17:35] #555 closed

[2017-08-29 17:39] skevy commented on #549
Please let us know if you continue to run into this again?

[2017-08-29 17:39] #549 closed

[2017-08-29 17:40] skevy commented on #551
Are you using a simulator or a real device?

If it's a real device -- shake to open the dev menu.

If it's the simulator (specifically, Genymotion), press "command + m" (or "ctrl + m" on windows/linux).

[2017-08-29 17:40] #551 closed

[2017-08-29 20:28] acomito commented on #542
I'm having the same issue. Somebody is saying a white screen is there when the app starts. They're also saying it just pops up out of nowhere while using the app. I've never had it happen when I use, and I'm not getting any sentry error logs, so Im really not sure what it could be.

[2017-08-29 20:31] acomito commented on #557
I also started a checklist, which is old at this point. But I'll be updating/finishing it again soon, as I have to go through the process again this week.

https://github.com/acomito/expo-to-appstore-checklist

[2017-08-29 21:19] haaswill commented on #503
The bug has been fixed. Thank you!

[2017-08-29 21:19] #503 closed

[2017-08-29 22:04] flieks commented on #555
Thanks @jimmylee , i puted Expo because it's like this in the docs.
I changed to your code and it fixed the "default" but i get now
`cannot read property initializeAndroid of undefined`
![image](https://user-images.githubusercontent.com/5032389/29846335-c3036a06-8d16-11e7-9cdb-f2f5f015149c.png)

[2017-08-29 22:10] jimmylee commented on #555
That looks like exactly what it should be

[2017-08-29 23:42] waynebloss opened #568 "20.0.0 is not a valid SDK version on Android only."
After updating to SDK 20 and opening my app in Expo/Android, I receive the following error:

[code]

The same app works in Expo/iOS.

[2017-08-29 23:44] skevy commented on #568
Is this on device or on simulator? Can you try removing the Expo app and reinstalling it?

[2017-08-29 23:49] waynebloss commented on #568
Re-installing Expo on the device worked.

[2017-08-30 04:24] ignatiusbill opened #569 "Expo build status "waiting in queue" for a *long* time"
Hi, I ran `exp build:android` and accidentally closed my `exp start` command prompt. Now, whenever I run `exp build:status`, it says "Android: Build waiting in queue..." and it's been like this for 3 hours (usually it's only 1-3 minutes and build is done in ~15 minutes on average).

I've tried reinstalling expo globally but it doesn't seem to work (first time `exp start` and checking status, build

[2017-08-30 04:44] jimmylee commented on #568
Nice @waynebloss I'm going to close this then :D

[2017-08-30 04:44] #568 closed

[2017-08-30 06:34] 03balogun commented on #569
I had this issue earlier, It been fixed now

Hi there –

We had some issues with the Android builders this evening.

The issue has been fixed and the queue is processing.

Sorry for the inconvenience.

-Adam (@skevy)

However my downloadlink shows me access denied I dont know if you can help with that

[2017-08-30 06:39] ignatiusbill commented on #569
@03balogun How did you get this information from Adam? Does this mean that the `exp build:android` will build even if I quit `exp start`?

[2017-08-30 06:55] 03balogun commented on #569
@ignatiusbill I ran into the same issue some moments ago, posted it on the forum and got a reply from him.

[2017-08-30 06:56] 03balogun commented on #569
@ignatiusbill My download link after build takes me to a page that shows access denied, Do you have an idea what would be wrong?

[2017-08-30 07:06] 03balogun opened #570 "Generated download link for standalone app shows access denied"
After following the guide here: https://docs.expo.io/versions/latest/guides/building-standalone-apps.html\

I the app build successfully but the generated link leads to a page that shows access denied.

Any suggestion on how fix this will be appreciated.

![screenshot 171](https://user-images.githubusercontent.com/28654450/29859447-020600d6-8d5a-11e7-9afd-2f80d3d4942c.png)

[2017-08-30 07:08] ignatiusbill commented on #569
@03balogun No, I've never ran into that error before. Can you post the full error log?

[2017-08-30 07:12] 03balogun commented on #569
I opened it as an issue aleady https://github.com/expo/expo/issues/570 with screenshot attached, Kindly check it there. Thanks

[2017-08-30 12:44] flieks commented on #555
this is very weird indeed.
Maybe because i'm running it in componentWillMount? Where to put this code in App.js ?

[2017-08-30 12:56] llamaluvr commented on #370
Hi, apologies on my end- took me a while to find time to upgrade. Anyway, I just tried it on SDK 20 and I still have the issue. I notice it basically every time I switch from serving the app from exp start on my Mac to my Android phone, and then switch to using a deployed link. Then, if I kill Expo and the expo app on the phone and restart it, again using my deployed link, things start working aga

[2017-08-30 14:12] ryanvanderpol commented on #542
@nsillik I've created a video of what happens when I open the app.  Actually, in this video, you can't even see the actual splash image.  You see white screen, the loading screen (presumably this is created using `expo.loading.splash.backgroundColor`?), a white flash, then the login screen (the first screen in my app).  As I said before, instead of the initial white screen and the loading screen,

[2017-08-30 17:22] ignatiusbill commented on #570
From our discussion in issue #569, no, sorry I've never ran into this problem. Have you tried building it again?

[2017-08-30 17:28] ignatiusbill commented on #569
Expo finished building the android apk first thing in the morning.

[2017-08-30 17:28] #569 closed

[2017-08-30 17:32] 03balogun commented on #570
I have tried re-building over and over again, link keeps getting generated but same error. **ACCESS DENIED**

[2017-08-30 17:47] dikaiosune commented on #570
@03balogun can you ping me on slack with the URL you received? My username there is `ap`.

Going to close this since we need private information to resolve.

[2017-08-30 17:47] #570 closed

[2017-08-30 18:25] dikaiosune commented on #567
Can you try enabling production mode in your local XDE copy? I believe you can do so by unchecking "Development mode" under the gear icon in XDE.

[2017-08-30 23:02] terribleben commented on #520
This fix just rolled out to `exp build:ios` and ExpoKit. Let me know if you're still seeing issues. Thanks for the report and for the repro code, really appreciate it.

[2017-08-30 23:02] #520 closed

[2017-08-30 23:11] davepack commented on #461
@brentvatne you are working on this, correct?

[2017-08-30 23:41] brentvatne commented on #461
yep, also symbolicating the stack trace correctly

[2017-08-31 00:36] jpca999 opened #572 "why does the exp.io point to old sdkVerison ? even after updaing the expo.xde to 20.0.0 on mac ?"
I already have an expo project  I want to use the latest apis provided in expo 20 like SecureStore.
So for that I am creating a whole new project and tranfering the fiels on to new project.

Is there a shortcut to do the above. ?

after updating My expo xde,  and create a new app.   when i looked at this file, it showed skdVersion to be 16.0.0..

{
  "name": "react-native-elements-app",
  "descrip

[2017-08-31 07:04] GrigoryPtashko commented on #522
@dikaiosune, thanks for the hint. It helped! I've managed to find the problem. It's the `sockjs-client` that was making the problem.
The commit that fixed it was https://github.com/sockjs/sockjs-client/commit/a21ab072325569cc94b3fad95724d90eb5db42d8

[2017-08-31 07:04] #522 closed

[2017-08-31 09:30] sothea64 commented on #222
btroia
How do you write it!! Please share!!

[2017-08-31 10:09] nickknissen opened #573 "Android Image picker returns JPG regardless of original format of picked image"
Image picker on android always convert images to JPG. This does not seems to be the case for iOS.
Is this inteded behavior?

The code for handling file conversion can be found here.
https://github.com/expo/expo/blob/d523b01dd167efe6cde4ab39d3ba6740f3bddc04/android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/ImagePickerModule.java#L360

[2017-08-31 12:28] GrigoryPtashko commented on #379
@dikaiosune, I've got the same issue with sdk 20 on android too. I've cleaned all the cache I don't explicitly use getExponentPushTokenAsync and still get the error:

![screenshot 2017-08-31 15 19 19](https://user-images.githubusercontent.com/2768788/29923035-b63b97bc-8e60-11e7-8c2f-4778d84a8780.png)

One thing worth mentioning is that I ejected the project but then converted back. Here are my `ex

[2017-08-31 13:04] btroia opened #574 "New Camera component not returning same image data as ImagePicker"
Hi, thanks for the new `Camera` component! I'm working on replacing my current `ImagePicker`-based solution with `Camera` and it works well. _However_, after taking a photo I do not have access to all of the exif info (timestamp, etc.), width, height, etc. that`ImagePicker` does provide. It currently only returns the image path.

Any ideas regarding how I can access this information using `Camera`

[2017-08-31 15:57] vysakh0 commented on #531
@aalices The camera works perfectly in Android (both front and back). In iOS, I couldn't get the front camera working, also the image captured is a total black image. Thanks for the awesome project, it'd be really helpful if this camera module was working :+1:

[code]

[2017-08-31 16:15] Mohammadhunan97 opened #575 "Assets not working offline in production?"
Hi, I am working on an android app using create-react-native-app and my video assets and when the device is connected to the internet but don’t work when the device is not connected to the internet.

I’ve used the require syntax for every asset as they are all local files.
For instance require(’…/assets/videos/file1.mp4’)

Can anyone explain this? I used the standalone app docs to generate the apk

[2017-08-31 16:36] terribleben opened #576 "Investigate allowing iOS standalone app system dialogs to be localized"
Relevant forum thread: https://forums.expo.io/t/set-up-different-language-for-ios-app/2765

SO resource: https://stackoverflow.com/questions/45962000/set-up-different-language-for-ios-app-using-react-native-and-expo

Apple article: [Technical Q&A QA1828: How iOS Determines the Language For Your App](https://developer.apple.com/library/content/qa/qa1828/_index.html)

[2017-08-31 17:46] terribleben commented on #575
Hi, I responded to your [forum thread](https://forums.expo.io/t/assets-not-working-offline-in-production/2798/2). Did that adequately answer your question?

[2017-08-31 17:49] nsillik commented on #542
@ryanvanderpol I think we've fixed this issue now. Please try `exp build:ios` again and let me know if it's working as expected. Sorry it took a while, it was hard to chase down.

[2017-08-31 17:54] nsillik commented on #534
@pensierinmusica I think we've fixed the problem in our build system. Please try `exp build:ios` again and let me know if things are working as expected.

Re: the difference between `loading.splash.image` and `loading.icon`. `loading.icon` and `loading.backgroundImage` aren't packaged with the application which means that they have to be downloaded at run time, `loading.splash.image` is actually p

[2017-08-31 17:54] ryanvanderpol commented on #542
@nsillik great to hear!  I'm running a build now and will reply back with the results -- it might take a while since I'll have to reupload to iTunes Connect / TestFlight and all that jazz.

Any word on when the white flash will be fixed?  Or is there at least some way to change it to a different color?

[2017-08-31 17:56] nsillik commented on #529
@sonaye sorry it took a while to get back to you, this was an interesting issue to chase down. It's now fixed for me, try to `exp build:ios` again and let me know if it's working as expected. Also there are a number of improvements coming in SDK21, including better documentation and Android support.

[2017-08-31 18:12] terribleben commented on #574
Hi, we don't support this yet, but someone is currently working on it, so we hope to ship this ability soon! (hopefully in the upcoming SDK release.)

Closing this for now as we try to limit this venue to bug reports. Let me know if you're still blocked on something, or feel free to follow up on the [forums](https://forums.expo.io).

[2017-08-31 18:12] #574 closed

[2017-08-31 18:13] terribleben commented on #573
@jesseruder / @nikki93 is this intended behavior?

[2017-08-31 18:14] Mohammadhunan97 commented on #575
Not quite yet @terribleben , thanks for the help so far. I left an additional comment

 " Is there any other option that I have other than standalone app that will allow my assets to be available offline? I have quite a number of video assets and I’m not sure that caching them is a solution that will work for that much video data. (I have about 10gb of video assets that I would like to be on the d

[2017-08-31 18:15] terribleben commented on #572
Hi, new projects should always use the latest SDK. How are you creating a new project? Are you clicking this button?
![image](https://user-images.githubusercontent.com/1316332/29938484-b76f20f4-8e3d-11e7-9e9e-137769f4a77b.png)

[2017-08-31 18:18] terribleben commented on #564
Hi, just renaming so we can track this more easily internally.

[2017-08-31 18:23] terribleben commented on #548
Standalone apps are connected to a published Expo url such as @your-name/your-app. That's how they know which bundle to fetch. Check out [project lifecycle](https://docs.expo.io/versions/latest/introduction/project-lifecycle.html) for an overview.

If you want separate staging/production versions of your app, the best strategy for now is to maintain two app slugs, e.g. your-app and your-app-stagin

[2017-08-31 18:23] #548 closed

[2017-08-31 18:28] terribleben commented on #508
You can use [vector icons without detaching](https://docs.expo.io/versions/latest/guides/icons.html#expovector-icons).

If you detach, you need to develop your project from Xcode / Android Studio, as we don't manage your native code any more. You can still serve your project from Expo XDE (or exp), and you're still "using Expo", but you can't load within the Expo Client app any more, since it won'

[2017-08-31 18:28] #508 closed

[2017-08-31 18:29] terribleben commented on #506
@jesseruder anything for us to do about the above?

[2017-08-31 18:31] terribleben commented on #500
Can you also paste your package.json and app.json?

[2017-08-31 18:32] nsillik commented on #542
@ryanvanderpol the white flash should be fixed in SDK 21.

You can also test in simulator by running `exp build:ios -t simulator` and then using a tool like [`ios-sim`](https://github.com/phonegap/ios-sim) to launch it like so: `ios-sim launch your-app-name.app --devicetypeid "iPhone-7, 10.3"`

[2017-08-31 18:33] terribleben commented on #486
Let me know if you're still blocked here. Sounds like maybe resolved.

[2017-08-31 18:33] #486 closed

[2017-08-31 18:34] terribleben commented on #482
Tracking this pending the open pull request

[2017-08-31 18:37] terribleben commented on #485
Can you provide more context on what you're trying to accomplish?

[2017-08-31 18:42] sonaye commented on #542
@nsillik It's working now, ignoring the white flash screen, I noticed that the indicator is showing in the splash screen itself, is that a glitch?

<img src="https://user-images.githubusercontent.com/23000873/29939495-b41e756a-8e94-11e7-8a9d-5ec3a2fc2c2e.gif" width="400">

Notice here:

<img src="https://user-images.githubusercontent.com/23000873/29939615-21fc5ec6-8e95-11e7-87c3-88371b55cd0a.png"

[2017-08-31 19:34] nsillik commented on #542
@ryanvanderpol yes, that's a bug that's been removed in the current development branch along with the white flash!

[2017-08-31 19:38] brentvatne commented on #461
![expand](https://user-images.githubusercontent.com/90494/29942031-4bfa1d9a-8e49-11e7-8b8d-4619f7387afc.png)

coming in next release

[2017-08-31 19:54] ryanvanderpol commented on #542
@nsillik great. I haven't had a chance to test my app yet (the previous poster seems to have had good results, though, so I'm excited to see what happens). I know out of safety you'll say I shouldn't do it, but is the current dev branch (master?) stable enough to use?  We're planning on releasing our app next week and would love to have a solid splash screen included.

[2017-08-31 19:55] rodriggochaves opened #577 "Video component crashing when using useNativeControls"
Hi! I'm trying to render a video in my app using a video hosted in my JWPlayer API. It works fine until I try to render the component with native controls.

When I try this, it work but I can't play/pause the video.

[code]

But when add the `useNativeControls`, only audio works:

[code]

I've done some searching and not found any solution to this problem. Instead I've found some people with the s

[2017-08-31 20:06] jpca999 commented on #572
That's exactly how I'm creating like you showed in the pic below.

[2017-08-31 21:56] gkufera commented on #577
Hi @rodriggochaves!

I'm sorry you're experiencing this issue! Can you let me know what device/OS you are seeing this problem on, and what SDK you are running?

In SDK20, we fixed a bunch of issues with native controls, so it's extra unfortunate that this keeps popping up!

Thanks-- once you give us more info I will try to debug on my end.

Greg

[2017-08-31 22:00] terribleben commented on #572
Hi, upon taking a closer look at the file you pasted, it's not our new project template. It's some other project called `react-native-elements-app`. You should double check that you're looking at the right file.

[2017-08-31 22:19] ryanvanderpol commented on #542
@nsillik bad news and sort of good news.  The good news is that my splash screen is now the first thing that shows up when the app opens.  The bad news is I think it's all even weirder now than it was before.  Here's an updated video of what happens when I open my app after this last update:

![splash-2](https://user-images.githubusercontent.com/1936460/29947376-4dbd60fa-8e77-11e7-8dd7-74a86fd1f27

[2017-08-31 22:43] soukupl opened #578 "Video fullscreen playback when orientation is fixed to portrait"
Hello,
if I set orientation to portrait only in app.json, <Video> in fullscreen is also locked to portrait only. Is it possible to temporarily "release" the orientation lock when Video is playing and is switched to fullscreen?

Example... I would like to lock the full application to only allow use in portrait mode, but when user starts watching any video (via Expo's <Video> or possibly any other c

[2017-08-31 22:45] terribleben commented on #578
Hello there! You can change which orientations your app supports at runtime using our [ScreenOrientation](https://docs.expo.io/versions/latest/sdk/screen-orientation.html#content) api.

We usually try to limit this venue to bug reports so I'll close this issue. We'd be happy to help answer more questions on the [forums](https://forums.expo.io). :)

[2017-08-31 22:45] #578 closed

[2017-08-31 22:50] abi commented on #578
@soukupl Here's how I did it: https://github.com/expo/harvard-cs50-app/blob/master/screens/WeekScreen.js#L113

[2017-09-01 07:15] aalices commented on #531
@vysakh0 Would you mind creating a new issue and providing some more info? What device this is, system version and some code sample.

[2017-09-01 08:09] macrozone commented on #126
@dikaiosune: The issue is definitly not solved.

If you specify e.g. `  "orientation": "landscape"` in app.json, the app will start in landscape, but expo home does not respect this orientation, its always in portrait. Switching between the app and expo home is therefore very annoying

[2017-09-01 08:16] vysakh0 opened #579 "Front Camera doesn't work in iOS, works in Android [expo 20.0.0]"
[code]

[code]

[code]

![21284303_1598549210184970_1444633582_o](https://user-images.githubusercontent.com/1475197/29961030-ab85bf4e-8f1b-11e7-91c8-cc69da034827.jpg)

My use case is to show a timer and then click a photo, in that case it's not even capturing the image, it is completely black. (Works perfectly in android) expo link: https://expo.io/@vysakh0/mirror. Related to question, what about

[2017-09-01 08:57] AndyHubert commented on #485
Being able to debug a webview via expo would also be extremely helpful for me as I am needing to fix problems with displaying Readium books on Android in a webview as described [here](https://github.com/readium/readium-js-viewer/issues/628).

[2017-09-01 09:10] MichaelPote commented on #523
I'm having this exact problem. App is detached and I added some external dependencies.

[code]

[2017-09-01 11:12] lllymok commented on #440
Hello I have the same problem

[2017-09-01 11:38] daformat opened #580 "Hot reloading not working on multiple active devices?"
Basically I'm having trouble with hot reloading on multiple devices. I can be successful in having one of them to hot reload, but then I have to manually reload on the others (wether they are actual physical devices or simulator instances doesn't seem to affect the outcome).

Using expo tunnel to connect (default) or LAN doesn't help getting more than one device to hot reload.

Is this a bug? A fe

[2017-09-01 11:40] daformat commented on #580
Oh, actually, this seems to be a duplicate of a closed issue (https://github.com/expo/expo/issues/20) sorry about that…

But then, what's the status in the end, is the react native HMR implementation at fault here?

[2017-09-01 12:27] aalices commented on #579
@vysakh0 the example works fine on my iPhone 6 and 5s. What device are you using? You're right as it comes to having no preview as on iOS we crop the image to match the preview and as long as it's about 1px size, the picture is that small and some weird scale image appears when you pass it as a source for `<Image>`.  However, I think there is a solution for that. Just create a component inside `Ca

[2017-09-01 13:27] FelipeBohnertPaetzold opened #581 "Support for using native firebase"
Is it possible to import the native firebase into an application that uses the expo?

[2017-09-01 13:57] JulianKingman commented on #466
If I wait a while, I see this error, which is weird because I don't reference or use the Camera in any of these components.
![simulator screen shot sep 1 2017 9 56 23 am](https://user-images.githubusercontent.com/1566400/29972934-df8fa2fc-8efb-11e7-9572-5d81bbe8d967.png)

[2017-09-01 14:06] vysakh0 commented on #579
@aalices Thank you so much @aalices for the reply! :+1:  Sorry, forgot to include the device that I tested.
`iOS 11 beta`  in `iphone 6plus`, that is where the above code doesn't work.

I haven't tested this snippet in other devices. Probably this is only specific to the beta version.

I had got the black image in all other devices like the `iPad`, thanks for the suggestion on creating a component

[2017-09-01 14:56] slorber commented on #332
if anyone has a clear tutorial on how to debug remote app on device, please ping me ;)

[2017-09-01 15:38] SleeplessByte commented on #580
This isn't react-native nor expo.

The way the current HMR is implemented (either react-native and react) only allows for one hot-loaded device connection to be active at any given time.

[2017-09-01 15:50] daformat commented on #580
Thanks for clarification. Hope this gets changed sometime, it would tremendously help on react-native projects.

[2017-09-01 15:50] #580 closed

[2017-09-01 16:13] jpca999 opened #582 "expo/ expo xde / simulator running very slow."
how can i/ we debug this ?

![image](https://user-images.githubusercontent.com/1026325/29978360-e5e0b0a2-8f0e-11e7-9ffa-0ce7ed1e3993.png)

[2017-09-01 16:19] terribleben commented on #582
We'll probably need more information about what you mean by "running very slow", do you mean network requests are slow? App reloads are taking longer than expected? The screen is not responsive to gestures? You aren't seeing logs which you expect to see?

[2017-09-01 16:22] jpca999 commented on #582
App reloads are taking longer than expected?

[2017-09-01 17:48] jpca999 commented on #164
Is there a way to insert a record into the contacts/phonebook of the phone ?

[2017-09-01 17:59] rodriggochaves commented on #577
Hi! @gkufera Thanks for so rapid response!

I'm experience this problem on iOS, using MacOS for developing and I'm using SDK20.

[2017-09-01 19:44] dikaiosune commented on #523
@jesseruder do you think the recent OkHttp changes could have broken this for ExpoKit?

[2017-09-01 20:53] MichaelPote commented on #523
Just to fill you in on what happened, each time I started up the app there would be about a 50% chance of it crashing. After restarting multiple times, I could eventually get it to load successfully and then the app would work perfectly after that point.

We then removed Expo from our project and went back to pure react native and we didnt see that error again. Sorry I cant give any more specific

[2017-09-01 21:11] ccheever commented on #582
Hmmm.... how much longer than they were before? Are you clearing cache or otherwise triggering some kind of full rebuild of the JS bundle? Are things also slow when loading on a device? Or is it specific to the simulator? Have you restarted your computer lately?

[2017-09-01 21:12] ccheever commented on #581
You can eject/detach and do this. You can use some parts of Firebase with just JavaScript. Here is a guide: https://docs.expo.io/versions/latest/guides/using-firebase.html

[2017-09-01 21:12] #581 closed

[2017-09-02 08:27] sonaye commented on #529
@nsillik Now that the original issue have been solved (by sdk 21), can you please take a look at the other notes?

Tackling these would take the splash screen to the next level. They are easy to implement.

[2017-09-02 08:30] sonaye commented on #542
@ryanvanderpol are you using `<AppLoading />`?

[2017-09-02 13:07] dekelev commented on #523
I'm getting the same error on Android after upgrading from ExpoKit v16.0.0 to v20.0.0 and now my app is crashing on boot.

I'm using ExpoKit for _react-native-udp_ & _react-native-tcp_ native modules.

[2017-09-02 13:55] ryanvanderpol commented on #542
@sonaye I don't know what this is, so... no.  I spent the last couple days chatting with @nsillik directly and I think he's figured it all out.  I'll let him update this issue with his findings.

[2017-09-02 14:42] ryanvanderpol opened #583 "Specifying a loading icon in app.json causes Android to crash"
Since some issues have been found with the splash API in SDK20 I'm reverting back to using `loading.backgroundImage`.  However, on Android devices, the Expo logo keeps showing up over the top of that image.  Per [the app.json documentation](https://docs.expo.io/versions/latest/guides/configuration.html#icon-2) it seems like this is a configurable property via `loading.icon`. I've tried replacing i

[2017-09-02 15:04] sonaye commented on #542
I suspected that, I would recommend [<AppLoading />](https://docs.expo.io/versions/v20.0.0/sdk/app-loading.html) to be the first rendered component of your app to ensure a seamless transition between it and the splash screen.

+ I noticed another issue with the splash screen (after update), I will outline it in a gif later today.

[2017-09-02 16:17] sonaye commented on #542
<img width="400" alt="screen shot 2017-09-02 at 6 49 17 pm" src="https://user-images.githubusercontent.com/23000873/29996787-dd3d7f48-900d-11e7-8584-a495820af287.gif">

Notice the sequence:
1) Opening the app, original icon disappears as preparation for the transition (so far so good).
<img width="144" alt="screen shot 2017-09-02 at 6 48 20 pm" src="https://user-images.githubusercontent.com/230008

[2017-09-02 18:56] brentvatne opened #584 "Disable live reload through expo-cli"
In order for [Detox](https://github.com/wix/detox) to work on an app in development, we need to be able to start the app with live reload disabled, otherwise it hangs with this:

<img width="708" alt="screen shot 2017-09-02 at 11 55 41 am" src="https://user-images.githubusercontent.com/90494/29998022-a96ce24a-8fd5-11e7-9b51-bdbce181af05.png">

Would be good to expose this on Android too but Detox

[2017-09-02 19:30] JulianKingman commented on #218
Any updates on this, either on allowing PR's or incorporating this package?

[2017-09-02 21:55] justinr1234 opened #585 "Expected JavaScript, but got content type 'application/javascript; chartset=UTF-8'. Check that your internet connection is working."
Seeing this error on load:

https://github.com/expo/expo/blob/master/ios/Exponent/Api/EXJavaScriptResource.m#L142

I've tried everything short of reinstalling my OS. Changed node, changed watchman, global expo, used XDE, etc, etc, etc...

Anyone have ideas?

Sep  4 08:05:26 Justins-MBP Exponent[88409]: 2017-09-04 08:05:26.454 [info][tid:main][ABI15_0_0RCTBatchedBridge.m:72] Initializing <ABI15_0_0

[2017-09-02 23:29] rafetkhallaf opened #586 "Alert.alert inside fetch causes crash on device through expo XDE but not in expo snack emulator"
I'm trying to push an alert message when something goes wrong with fetch(), when I run the code through Expo Snack, everything works fine. but when i push the code through the XDE and open on my device, the app crashes when when it tries to execute the alert command.

The code is too long, but the part that's having the issue is:
[code]

The error message i get is:
[code]

I'm I doing something wr

[2017-09-03 01:31] daominhsangvn commented on #523
@dikaiosune when i use the `react-native-fetch-blob` i have to change all the `okhttp3` to use `expokit_lib.okhttp3` to make it work or it throw incompatible error. It could related to the realm

[2017-09-03 02:51] rafetkhallaf commented on #586
So i tested on other phones, out of 5 phones it only crashed on 2.

Currently working on figuring out why those two.

[2017-09-03 07:54] wilonth opened #587 "ImagePicker crop not working in detached project"
Platform: Android
I tried creating a fresh project and **detached** it. The code just has a simple _ImagePicker_ call. If `allowsEditing: false`, things work normally. However with `allowsEditing: true`, I can pick an image but the crop UI is never displayed and the result is always set to "cancelled" even though I pick a valid image.

The test project uses Expo SDK 18.0.3 with the valid Expo reac

[2017-09-03 10:23] dantejauregui commented on #354
me too "Unable to initialize git repo. `git` not installed."   even i have installed in Mac

[2017-09-03 18:02] janaagaard75 commented on #37
I updated @pierre-H type definitions with the following changes:

* Changed the module name from `Expo` to `expo`.
* Updated the definitions for React Native SVG.

There is still some work to do before a pull request for Definitely Typed can be made, so until now you have to put `index.d.ts` among your source files.

https://github.com/janaagaard75/expo-type-definitions/blob/master/index.d.ts

[2017-09-04 10:21] derakhshanfar commented on #379
same for me

[2017-09-04 10:55] derakhshanfar commented on #379
@cogwirrel could you please describe your method to run correctly?

[2017-09-04 11:29] derakhshanfar commented on #379
i updated my expo version to 20.1.2 and its work...

[2017-09-04 13:01] Coriou opened #588 "SecureStore not accepting whitespaces in values"
This code throws an error that I believe shouldn't be there and, it seems, rendering the SecureStore API pretty useless right now:

[code]

Log: `
Could not save "SOMEKEY" with value "TEST VALUE" in store (Error: Invalid key. Keys may not contain white space.)`

Expo SDK 20.0.0

[2017-09-04 13:10] maharjanaman opened #589 "Document picker not working with publish iOS app"
I am using DocumentPicker API to upload files. Its working well with android application, both with expo client and published apps. But for some reason, its not working with iOS platform.
Do I need to define some permission or something???
I'm using sdk v20.0.0

[2017-09-04 13:25] justinr1234 commented on #585
Tracking here instead: https://github.com/sysgears/apollo-universal-starter-kit/issues/326

[2017-09-04 13:25] #585 closed

[2017-09-04 13:29] cogwirrel commented on #379
@derakhshanfar I only had the problem on the first start when my device was offline. After connecting to wifi and launching it worked, even going back offline. Something to do with the pre-cached bundle in the standalone app perhaps?

[2017-09-04 14:28] GrigoryPtashko commented on #379
@derakhshanfar, could you, please, tell exactly what did you do to upgrade to 20.1.2?

[2017-09-04 14:54] GrigoryPtashko commented on #379
@derakhshanfar, thanks that also worked for me!

[2017-09-04 16:03] terribleben commented on #585
Hey there - if you find a case where we could provide a clearer error message here, or if you think this error message was incorrect, let me know and we can reopen and track this.

[2017-09-04 16:53] justinr1234 commented on #585
@terribleben This looks to be a bug in the React Native code actually: https://github.com/facebook/react-native/blob/master/React/Base/RCTJavaScriptLoader.mm#L276

[2017-09-04 17:01] tiendv89 commented on #439
@brentvatne Hello, I experience the same issue. Why this is closed ?

[2017-09-04 17:13] justinr1234 commented on #585
https://github.com/facebook/react-native/issues/15791

[2017-09-04 17:39] terribleben commented on #585
cc @janicduplessis who I believe wrote that commit as part of some work he was doing for Expo. Also my fault since I think I was the one who requested this.

[2017-09-04 19:01] iamclaytonray opened #590 "Possible CLI Feature"
I was looking around on the docs and didn't really find anything relating to an Expo CLI. Did I miss this? If not, is there chance of integrating a CLI with Expo? I personally am not a fan of GUIs and it kind of messes with my workflow. (As a side note, I wouldn't mind contributing with a fully featured CLI). At least something (to start off with) basic like:

`expo init AwesomeApp`
`cd AwesomeApp

[2017-09-04 19:01] nsisodiya opened #591 "First time user get old version of app."
I uploaded the mobile app using expo. I released it on PlayStore. The first released.
Since Expo handle update process, we need not upload a new apk file again and again.
Users just need to restart the app.
My our app, we were having a modification and we published its new version today. Now, this is happening.
1. User who go to play store and install the app get older version when he/she clicks o

[2017-09-04 19:02] iamclaytonray commented on #590
I should also add, I am brand new to the Expo community. Maybe I missed this in the docs? If so, if you could point me out to where it is in the docs, that would be great.

[2017-09-04 20:47] michaelgiba opened #592 "Expo Permissions for Detached Apps"
I realize supporting detached apps is not a priority, but for public reference I think it may be helpful to someone to mention that Expo.permissions will only work properly in a detached app if the permissions are properly set in the info.plist of the application. I had an app that used Expo.Permissions with no error but once I detached I began to receive cryptic Xcode errors whenever I requested

[2017-09-04 22:10] iamclaytonray opened #593 "Native module cannot be null"
So I boilerplated a quick little app to throw on here for you guys. I've been trying to figure this out all day. Also, I am not 100% sure this is related to Expo or another library, but it seems to be the case when I import anything from Expo. I keep getting an error saying: "Native module cannot be null" as seen in the screenshot below. I've pretty much copied/pasted code from creating a new Expo

[2017-09-04 22:12] iamclaytonray commented on #593
If this is unrelated to Expo, can you point me to where I should be going? It could have something to do with react-native-vector-icons but I am really just not sure.

[2017-09-05 07:14] derakhshanfar commented on #379
@cogwirrel yes maybe but in my case when i updated my expo to 20.1.2 its work. do you still have problem with this version?

[2017-09-05 07:23] QuanTumli commented on #160
Hi, any updates for 2FA? Whats the progress of the work @dikaiosune?

[2017-09-05 08:49] mattSydney commented on #582
Hi maybe I have the settings wrong but when I make any change to the source code even say adding a // comment and hitting save the ios simulator says "downloading javascript bundle" with a spinning indicator and takes at least 5-10 seconds to refresh the simulator

[2017-09-05 09:17] voyage11 commented on #292
Just an update. We have removed expo from our app for a few months now. It has been much better in term of loading speed. We didn't receive any user complains about the slowness nor the blank page ever since.

[2017-09-05 10:04] xavier-villelegier opened #594 "Deep link url `null` on Android and causes Expo error on iOS"
Hey,

I'm trying to use deep links on iOS and Android on a **detached** app.
My `scheme` is `piu`, and I get the url like this:
[code]

### On iOS
When I open Safari and go to `piu://test`:

**When the app is closed**: I receive `exp://test` as the URL. (Why not `piu://test` ?)
**When the app is in background**: Expo handles the link and I get this error:
![simulator screen shot 5 sept 2017 a 11 3

[2017-09-05 10:58] jpca999 commented on #582
Resolved.

[2017-09-05 10:58] #582 closed

[2017-09-05 11:17] SupriyaKalghatgi commented on #71
@anilpatnik I have this in my `app.json`
Still, no help

[2017-09-05 11:25] tiendv89 opened #595 "Could not find host.exp.exponent:expoview:20.0.0 with detached project"
Hello,

I have a detached project and when I try to build standalone Android app, I got the issue below:

`* What went wrong:
A problem occurred configuring project ':app'.

     Searched in the following locations:
         file:/C:/Users/Teko/.m2/repository/host/exp/exponent/expoview/20.0.0/expoview-20.0.0.pom
         file:/C:/Users/Teko/.m2/repository/host/exp/exponent/expoview/20.0.0/expoview

[2017-09-05 11:31] DigiOrb commented on #590
There is already a CLI for Expo called EXP. The links below will take you to the docs:
https://docs.expo.io/versions/latest/guides/exp-cli.html

You will need to first install globally:
npm install -g exp

then the CLI cmd start as below:
exp [options] [command]

The Github for this is:
https://github.com/expo/exp

Hope this helps.

[2017-09-05 13:52] dikaiosune commented on #586
Can you please paste your `package.json`? Thanks!

[2017-09-05 14:45] derakhshanfar opened #596 "which module in expo SDK (like MapView, PushNotification, Location, ..) needs access to the expo server?"
for some reason my App doesn't have access to expo server (https://expo.io/) after publishing.
which module in expo SDK (like MapView, PushNotification, Location, ..) needs access to the expo server?

Thanks in advance

[2017-09-05 15:51] terribleben commented on #594
What is the value of `Constants.linkingUri` ?

[2017-09-05 16:06] iamclaytonray commented on #590
Awesome, thanks! I guess I should have read the docs better 😅

[2017-09-05 16:06] #590 closed

[2017-09-05 16:25] terribleben commented on #584
Brent figured out we don't need this for Detox, but it still seems like a good feature to have, so leaving the issue open.

[2017-09-05 18:09] dikaiosune commented on #588
cc @RoninSTi

[2017-09-05 18:09] dikaiosune commented on #589
Hi! Thanks for the report. Could you provide an example using [Snack](https://snack.expo.io) which demonstrates this issue?

[2017-09-05 18:16] dikaiosune commented on #590
@DigiOrb is correct -- most development features of XDE are available through `exp`.

[2017-09-05 18:19] dikaiosune commented on #591
Hi! This was changed in SDK 20: https://docs.expo.io/versions/latest/guides/publishing.html#deploying-to-the-app-store-and-play-store

You can listen for background updates with a [utilty function](https://docs.expo.io/versions/latest/sdk/util.html#expoutiladdnewversionlistenerexperimentallistener), and prompt the user to reload (or call `Util.reload()` yourself if you want).

We made this change

[2017-09-05 18:19] #591 closed

[2017-09-05 18:49] cseelus commented on #542
What size do you all use for your splash screen? We use 2732x2048 (to also work up to the iPad Pro 12.9 screen) and since 20.1.1 (worked with 20.0.1) we have this rather strange issue with its aspect ratio on smaller screens:

After opening
![img_7228](https://user-images.githubusercontent.com/3188392/30051555-c31f9d82-9222-11e7-9045-613f9482d104.jpg)

After a few ms (this is as it should be)
![im

[2017-09-05 18:51] ryanvanderpol commented on #542
@cseelus we're using 1080x1920 for the base.  I'm not sure if Expo uses the `@2x` images for this, but we also have a 2160x2840 version in there, too.

[2017-09-05 18:57] nikki93 commented on #538
Hey @tomduncalf!

Sorry for the late response, been taking a break for a couple weeks. So this was the approach I had in EXGL originally, but this makes it so you can't call some JS things that need to happen on the JS thread in the `onFrame` callback. We could probably have an approach where we expose both types of callbacks and you do the synchronous `onFrame` callback only if you really have to

[2017-09-05 19:01] Hayko1994 opened #597 "drawer overlaps with StatusBar on ios"
<img width="322" alt="bug" src="https://user-images.githubusercontent.com/22639899/30078292-d0183218-928d-11e7-9487-d56e2d7a32a2.png">

On android, drawer works perfectly and status bar looks like good. While on ios it overlaps. How can it be solved? I am using expo and tried all in their documentation still the same issue I see on the simulator.

[2017-09-05 19:56] dikaiosune commented on #593
Hi! Do you think you could provide a minimal repro using [Snack](https://snack.expo.io)? The repository you linked has a bunch of different things in it, would be much easier to troubleshoot with less code.

[2017-09-05 20:12] nirpeled commented on #597
+1 happens to me as well

[2017-09-05 21:04] RoninSTi commented on #588
This will be addressed in the next release which allows any valid string to be stored, including strings that contain whitespace.

[2017-09-05 21:26] iamclaytonray commented on #593
I'll throw it up there in a couple of hours, sure. Just as a side note, you could pretty much ignore everything besides `/src` and `index.ios.js` on that repo. All of the other stuff is what you get when you run `react-native init SomeProjectName`

[2017-09-05 21:26] iamclaytonray commented on #593
* Which has not been modified at all

[2017-09-05 21:27] nikki93 commented on #471
Hi @lunarraid -- will look into this.

FWIW though, generally OpenGL performance is much worse on simulators than on the device for iOS, this is just how the simulator is, even if you write a C++ or Obj-C OpenGL app.

[2017-09-05 21:29] dikaiosune commented on #597
Are you talking about the top of your app? Generally if you don't want to render underneath the status bar you should make sure to use https://docs.expo.io/versions/latest/sdk/constants.html#expoconstantsstatusbarheight and pad the top of your view.

[2017-09-05 21:31] nikki93 commented on #540
@ToBePlus -- THREE's default texture loaders use XHR and DOM stuff which isn't available in React Native. That's why https://github.com/expo/expo-three provides `ExpoTHREE.createTextureAsync`. Its implementation is https://github.com/expo/expo-three/blob/8296710137e1a4323fe36d20956322c9890f3a34/ExpoTHREE.js#L32-L46 -- something similar could be done for cube textures. I could look into this soon,

[2017-09-05 22:01] jpca999 opened #598 "build errros again"
Build ID: 00967c65-5afa-410e-b3e7-0099174e43ab

![image](https://user-images.githubusercontent.com/1026325/30085900-a6662410-9266-11e7-857c-d16d3ed35a32.png)

![image](https://user-images.githubusercontent.com/1026325/30085395-2f69b1a8-9264-11e7-99f3-670a2040d7dc.png)

app.json
{
    "expo": {
    "name": "App name",
    "description": "App name",
    "slug": "App-name",
    "privacy": "public",

[2017-09-05 22:06] anilpatnik commented on #71
can I have your js code?

[2017-09-05 22:17] cogwirrel commented on #379
I haven't tried it yet but I'm confident it's fixed if you're not getting the issue anymore- will let you know how I get on!

[2017-09-05 22:25] nikki93 commented on #471
<img width="758" alt="screenshot 2017-09-05 14 29 50" src="https://user-images.githubusercontent.com/49151/30086121-6e55b60c-924e-11e7-8e4a-e58dfd3db40f.png">

^ it's working for me the last time I tried. Could you try again?

[2017-09-05 23:40] davepack commented on #572
Hi @jpca999, I'm going to close this issue. Feel free to reopen if you have new info.

[2017-09-05 23:40] #572 closed

[2017-09-06 00:08] jesseruder commented on #491
Thanks, I realize it's officially released. Haven't had time to fix yet but will get it into the next release. Feel free to send a PR if you get there before me!

[2017-09-06 00:44] jpca999 commented on #572
@davepack  its running fine now, Thanks Dave,   thanks @terribleben

[2017-09-06 00:44] jpca999 commented on #598
It started working now.. But I wonder why does it do that for hours and then it again start working...

[2017-09-06 00:44] #598 closed

[2017-09-06 02:05] bwalsh commented on #531
Getting same issue on  expo Version 2.20.1 (2.20.1),  Version 10.0 (SimulatorApp-700.5.3

[2017-09-06 03:45] maharjanaman commented on #589
Hello, I implemented documentpicker in same way as this
https://snack.expo.io/ryfSWKRGW
It works when testing with expo client but when testing with testflight or after publishing it to app store, it doesn't work.

[2017-09-06 05:30] Hayko1994 commented on #597
I did it but in ios still, the same trouble exists.

[2017-09-06 06:22] milad1367 opened #599 "[exp] connect ETIMEDOUT 35.184.55.1:443"
i have problems with build production apk for android and ios .

[code]

[2017-09-06 07:46] janicduplessis commented on #241
@thomasw When using behavior: web what type of client id are you using? It is mentioned in the Type column of the credentials section on the google developer console.

[2017-09-06 07:48] tomduncalf commented on #538
Thanks for the response @nikki93!

I can understand the reasoning behind the simplified solution that exists now - IMO having the option to use an onFrame callback instead would be great, with a bit of a description about the tradeoffs of each way in the docs.

It would be great to chat about this when you have a bit more time - I'll join your Slack in the next week or two.

[2017-09-06 08:18] xavier-villelegier commented on #594
@terribleben
### On Android
When I run `react-native run-android`, the `linkingUri` is `exp://10.42.0.95:19000/+`

### On iOS
When I run `react-native run-ios`, the `linkingUri` is `exp://+`

[2017-09-06 10:19] GeekRishabh commented on #188
Please reopen this issue .I am facing problem ejecting RN from exp (expoKit dependent)

my package.json

[code]

[2017-09-06 13:14] fabien0102 commented on #549
Same issue for me (with Expo SDK v20.0.0), fixed with `npm install` AND remove`package-lock.json`, but I hasn't save my `package-lock.json` before the fix… So not a lot of info to give, just that happened 😉

[2017-09-06 14:55] odero commented on #588
@RoninSTi The issue, it seems, is that it's throwing the error even for keys that DO NOT have whitespace in them. Or is that just a bug in expo?

[2017-09-06 15:33] RoninSTi commented on #588
@odero Can you give me an example of a key/value pair that is throwing for you?  Also, are you experiencing an issue in ios/android or both?

[2017-09-06 15:40] gregblass commented on #297
Googled this actually, haha. "How to downgrade Node." Google brought me here.

[2017-09-06 16:14] terribleben commented on #589
Hi, you may need to enable iCloud Documents for your App Id on the Apple developer website. We [document this](https://docs.expo.io/versions/latest/guides/advanced-expokit-topics.html#using-documentpicker) for ExpoKit but it seems like we may need to also add a note for standalone apps. @janicduplessis what are your thoughts?

[2017-09-06 16:28] macrozone opened #600 "building an app using expokit under ios 11 beta fails with "Undefined symbols for architecture arm64""
I ejected an app to try out integrating arkit.

I get this error when building the app (on a device):

[code]

This does not happen when creating a standalone react-native app without expokit, so it might be related to expokit (But i am not sure)

(Edit: i am not sure where to place this issue, so i leave it here for the time beeing)

[2017-09-06 16:29] macrozone commented on #600
sorry, will move that to expo-sdk

[2017-09-06 16:39] brentvatne opened #601 "Update Auth0 example and GraphQL docs referencing it"
https://github.com/expo/auth0-example/issues/6
https://forums.expo.io/t/authentication-auth0-and-graphcool-example-is-not-working/2937

[2017-09-06 17:00] ccuilla opened #602 "null in array in app.json causes crash on Android"
We added an array in our `app.json` file for some configuration information (specifically under `extra`):

[code]

This causes a crash on Android (but not iOS):

[code]

I believe the JSON spec would allow null as a value in an array:

http://www.json.org/
https://tools.ietf.org/html/rfc7159

We're able to work around by using `-1` vs. `null`.

[2017-09-06 17:06] Coriou commented on #588
@odero I have had success when storing keys & values without spaces. As of 20.0.0, it will not accept spaces neither in the keys (which makes sense) nor in the values (which is the bug reported here).

[2017-09-06 17:55] Nbestwl opened #603 "expo keeps reloading app after initial "npm start""
i don't know where is the issue, here are my dependencies
  "dependencies": {
    "expo": "^18.0.3",
    "firebase": "^4.2.0",
    "react": "16.0.0-alpha.12",
    "react-native": "^0.45.1",
    "react-native-elements": "^0.16.0",
    "react-native-router-flux": "^4.0.0-beta.19",
    "react-native-vector-icons": "^4.3.0",
    "react-redux": "^5.0.5",
    "redux": "^3.7.2",
    "redux-form": "^7.0.3

[2017-09-06 18:51] clickclickonsal opened #604 "setting SelectionColor on a RN TextInput gives error on android when running on an expo detached app"
This is a screenshot of the error that I am getting.
![screenshot_20170906-143703](https://user-images.githubusercontent.com/8260678/30128827-0901f4ae-9312-11e7-8443-149004206159.png)

To verify that this isn't related to my application that I'm working on, I created a brand new expo project (v20.0.0) & only added this code to the `App.js` file.
[code]
It runs fine perfectly fine. Then when I deta

[2017-09-06 19:15] janicduplessis commented on #589
@terribleben Yea it's probably that it's also needed for standalone apps. I think we already edit the entitlement file in the standalone app builder so that part should work.

[2017-09-06 19:16] janicduplessis commented on #589
@maharjanaman Could you try following the link @terribleben linked and see if it works, if it is the case we'll update the doc to mention this.

[2017-09-06 19:21] thomasw commented on #241
I used a type=android client id on the expo side of things. The server side implementation uses a type=web token. The Google Plus JS implementation likely used the same type=web token as the server side implementation.

I am now using the same type=android client id I was using with Expo with [react-native-google-signin](https://github.com/devfd/react-native-google-signin), and exchanging the resu

[2017-09-06 19:21] donedgardo commented on #270
Hi, I'm having the same issue. How should I go about debugging. It appears once published and in the standalone app, not in development. @brentvatne

[2017-09-07 01:16] AdamPD opened #605 "Change spinner color on loading screen"
Hi guys,

I haven't been able to see a way to change the spinner color on the loading screen for either iOS or Android.  I know that we can change `backgroundColor`, `icon` etc. but nothing about the color of the spinner.

In our example, our background is fairly dark so the spinner is almost invisible.

Looking at the documentation and the source (at least for iOS), it seems that the colour is ne

[2017-09-07 03:28] HuiSF commented on #507
@jesseruder Could you please give me some directions that how should I enable `__DEV__` flag? Thanks.

[2017-09-07 03:57] AdamPD commented on #542
This is affecting our app too.  The process seems to work like this:

- Tapping the app icon expands the app with the correct `backgroundColor` and a spinner, but nothing else (no `backgroundImage`).
- The screen almost immediately switches to the all white screen for almost an entire second (way more than just a "flicker").
- After the white screen, it finally shows the `backgroundImage` correctl

[2017-09-07 06:13] odero commented on #588
@Coriou @RoninSTi I guess it was the error message that was misleading by stating `Keys may not contain white space` while it's the value that have white space.

[2017-09-07 07:17] Coriou commented on #588
@odero The message is indeed misleading too. But more importantly I think the value field should accept any valid string. Happy that this is getting fixed in the next update ! Great work on those new APIs btw :) (and Expo in general of course)

[2017-09-07 07:56] macrozone commented on #600
Edit: could solve it. It had something to do with cocoapods, but i can't fully reproduce it

[2017-09-07 07:56] #600 closed

[2017-09-07 09:29] volodyad opened #606 "How to setup android minSdkVersion ?"
I need to forbid android 4.x versions, usually android devs do it via https://developer.android.com/guide/topics/manifest/uses-sdk-element.html
but I don't see in expo config possibilities to set minSdkVersion. How I can set this parameter?

[2017-09-07 09:45] pensierinmusica commented on #507
@jesseruder I sent the PR, hopefully it should be accepted befor a new version of the docs is generated, otherwise the added info won't beincluded in future versions. Thx :)

[2017-09-07 09:48] pensierinmusica commented on #534
@nsillik ok, thx for the reply! It'd be cool to have this info included in the docs. Also, it's important imho to make clear how the transition between `loading.splash.image` and `loading.icon` happens, since in most cases I assume developers want to show the **same image**, without flickering.

[2017-09-07 09:49] pensierinmusica commented on #553
@jimmylee thx! It'd be cool to have some reference included in the Expo docs imho. What do you think? Cheers!

[2017-09-07 11:18] maharjanaman commented on #589
Hello,
@janicduplessis The link provide by @terribleben only shows documentation for detach apps. I have build ipa file using exp build:ios and could find no documentations for enabling feature in such case. Could you suggest me any documentation or process. I'm really in turmoil here.

[2017-09-07 12:08] AhadCove opened #607 "Uncaught Error: java.net.UnknownHostException: Unable to resolve host"
I am running into an UnknownHostException when running my Expo app on Android.
This is an app that's already in the app store and when I published a new update I started receiving this error.

[code]

[2017-09-07 12:29] AhadCove opened #608 "Uncaught Error: Module AppRegistry is not a registered callable module and Uncaught Error: undefined is not an object"
I received three different errors from users using the Android version of my app in the play store.
The two errors below came from one device and I already opened another issue that I received on someone else's device. This is only on specific Android devices though and I can't reproduce it on mine. Is there anything I can do about these:

[code]

[code]

[2017-09-07 15:20] herdani commented on #491
+1

Same `com.android.launcher.action.INSTALL_SHORTCUT no longer supported` error, with Android O

[2017-09-07 15:29] xcarpentier commented on #519
Hello @ide @dikaiosune,

Just to be sure, the latest version of expo (ie. "expo": "**20.1.2**") should be fixed this issue entirely ?
Or should we rewrite too rewrite generator function ?

In other word, is the expo upgrade not enough?

[2017-09-07 15:34] terribleben commented on #589
@maharjanaman try logging in to the Apple Developer website and adding iCloud Documents to your app id.

[2017-09-07 17:10] ide commented on #519
You need babel-preset-react-native 2.0.1 or newer. If you have that under node_modules then you should be fine and don't need to modify your code. You might want to clear your packager caches just to be safe though.

[2017-09-07 17:37] peterlandry commented on #48
I updated the above, but also added a roadmap request more specifically for android, as well. I didn't want it to get lost in the shuffle: https://expo.canny.io/feature-requests/p/implement-android-share-receiver

[2017-09-07 17:52] jimmylee commented on #605
Hey @AdamPD, I also just looked at the implementation and noticed that we don't support changing the color from the loader. I've cc'd @brentvatne and maybe we'll be able to do this quickly.

Cool idea.

[2017-09-07 17:57] jimmylee commented on #603
@Nbestwl sorry you're experiencing trouble. It doesn't look like your dependencies are setup with Expo? For example:

[code]

Did you [detach](https://docs.expo.io/versions/latest/guides/detach.html#content) your project to ExpoKit? Normally to run Expo applications from the command line we use a command called `exp`

You can learn more about it here: https://docs.expo.io/versions/latest/guides/ex

[2017-09-07 17:59] jimmylee commented on #596
Hey @derakhshanfar thanks for writing in, do you mean publishing to the app store?

[2017-09-07 21:46] xcarpentier commented on #519
@ide I have install in devDependency this version "babel-preset-react-native": "3.0.2".

But I still have this warning in console log (after clean node_modules):

And this error in red screen:

in node_modules:
{
  "name": "babel-preset-react-native",
  "version": "3.0.2",
  "description": "Babel preset for React Native applications",
  ...
}

[2017-09-07 23:16] jimmylee commented on #608
Is your application using ExpoKit, or are you still attached? Trying to get more information as I can't see your code unless you provide me a snippet.

[2017-09-07 23:17] jimmylee commented on #608
Gathering some more context from https://github.com/expo/expo/issues/607 - your application is an Expo application deployed to the App Store and you're running into bugs when you pushed an update?

[2017-09-08 01:02] AhadCove commented on #608
@jimmylee Yes, my app is still attached. It's a Create React Native app.
And it is on the App Store already.
After pushing an update I had two clients that ran into this error on Android. I cannot reproduce it though. The only way they got rid of it, was by deleting the app and reinstalling

[2017-09-08 05:38] derakhshanfar commented on #596
Hey @jimmylee .. yes after publishing on app store.. do i need a access to expo server?(https://expo.io/)

[2017-09-08 05:41] peterlazar1993 opened #609 "Bug in LinearGradient"
The behaviour of LinearGradient is different on iOS and Android.

Please the below snack
https://snack.expo.io/SJvlvOCYW

[2017-09-08 07:22] ide commented on #596
If you use the Expo push notification service (the tokens from getExpoPushTokenAsync), those go through Expo servers. MapView and Location use Apple and Google's servers directly.

[2017-09-08 07:30] derakhshanfar commented on #596
@ide thanks a lot for answer but i don't use push notification in my App and when i want to run my app in developing mode it has error (undefined is not an object (evaluating m.getExponentPushTokenAsync) ) because i think expo needs to access https://expo.io/ in bootstrap.. please see this link https://github.com/expo/expo/issues/379.  so if i don't use a push notification after publishing in app

[2017-09-08 07:34] ide commented on #596
The method is getExpoPushTokenAsync, not getExponentPushTokenAsync. The latter is an old method that we deprecated and then later removed.

Expo also does need access to the Expo servers to load the JS bundle and images. If you can't access Expo servers at all then you should to check your firewall configuration. The Expo servers are hosted by Google Cloud and AWS, nothing out of the ordinary.

[2017-09-08 08:08] derakhshanfar commented on #596
ok thanks a lot @ide, i have access to expo servers while i'm developing but after publish my app on store because of some reason i don't have access to expo.. in this case can i use expo in my app?

[2017-09-08 09:30] maharjanaman commented on #589
@terribleben, thanks for response. I enable iCloud on developer website but still not working. Do I need to submit new build or wait for some time period?

[2017-09-08 10:05] janicduplessis commented on #241
@thomasw Thanks for the info, the issue is that we need to use a web client id to get the serverAuthCode but right now we are using the android one. Working on a fix to add an extra option to pass the web client id and use that instead.

[2017-09-08 10:30] salzhrani opened #610 "[feature-request] exit app"
Hello,
We faced an issue with `I18nManager.forceRTL` where a restart is required to apply the direction change and `Expo.Util.reload()` does not suffice. there are modules like [react-native-exit-app](https://github.com/wumke/react-native-exit-app) that does that and I was hoping that a similar API is available in expo without the need to eject.

[2017-09-08 11:54] a-eid opened #611 "Error running adb: Error running app. Error: Activity not started, unable to resolve Intent { act=android.intent.action.VIEW dat=exp://192.168.0.100:19000 flg=0x10000000 }"
I'm trying to launch either the android emulator or genymotion , I have been following the docs and resolved most of the issues but still getting the following error

`Error running adb: Error running app. Error: Activity not started, unable to resolve Intent { act=android.intent.action.VIEW dat=exp://192.168.0.100:19000 flg=0x10000000 }`

which does not make sense to me ...

any help appreciated

[2017-09-08 11:56] tkhadimullin opened #612 "exp build:ios being falsely reported as running"
[code]

[2017-09-08 12:37] dhwrwmgwra opened #613 "Support for Auth0 sdk."

[2017-09-08 12:38] #613 closed

[2017-09-08 13:46] jpca999 opened #614 "Build Stuck : iOS: There was an error with this build. Cannot start new build, as there is a build in progress."
I dont understand whats going on..  It works sometimes and quite often doesnt.

For creating the build, is there an alternative to expo (command line) ?

![image](https://user-images.githubusercontent.com/1026325/30240800-3444e97a-9545-11e7-9819-3d6e6510ebc0.png)

![image](https://user-images.githubusercontent.com/1026325/30214411-63c7f56e-947a-11e7-8037-7e4ad77242b8.png)

![image](https://user-im

[2017-09-08 16:05] tjw0051 commented on #482
Possible work-around I'm using for now is to get contacts by Index using:

`getContactsAsync({ pageSize: 1, pageOffset: index });`

Obviously not reliable if you're getting contacts between sessions but if you're reading all contacts then using getContactByIdAsync to get e.g. images it seems to work.

[2017-09-08 16:11] terribleben commented on #589
I think you may need to re-run `exp build` now that your app id has that entitlement enabled.

[2017-09-08 17:12] jimmylee commented on #608
@AhadCove I asked internally for some guidance on this. Sorry we don't have an immediate solution for you, but this looks like a problem we should address ASAP.

[2017-09-08 17:20] #531 closed

[2017-09-08 20:17] FredyC commented on #426
@Palisand yes, you do, check instructions: https://facebook.github.io/react-native/docs/geolocation.html

However, isn't Expo using that? Haven't really examined much, but API seems too similar for it to be something different.

Either way, I had to eject simply because Expo does not support background geolocation (yet) and it has been a nightmare trying to build it with https://github.com/mauron8

[2017-09-08 22:08] Palisand commented on #426
@FredyC I'm pretty sure the `Projects with Native Code Only` box applies to the **Configuration and Permissions** section. https://snack.expo.io/rJPiVclcZ Works for both iOS and Android.

[2017-09-08 22:12] beeant commented on #595
just ran into the same problem. I believe you have to do:
https://docs.expo.io/versions/latest/guides/expokit.html check out the upgrade section

[2017-09-08 22:55] brunoreis opened #615 "Modals open over expo menu."
Hi, modals are opening over the expo menu. So, when I get stuck I'm not able to reload and I need to reboot the device.

I'm talking about default modals, loaded with:
[code]

[2017-09-08 23:02] ide commented on #615
This is probably because react-native's Modal component sets up a new UIViewController that covers everything. This is one of the reasons we recommend using react-navigation and pushing a modal screen on top. Also just to be clear - you shouldn't need to reboot the device, just force quit the app and reopen it (though that is still inconvenient, I understand).

[2017-09-09 04:28] mixelpixel commented on #293
Hello, I tried `npm install npm@4.6.1` within the RN project directory. The package.json file was updated but after running `npm i` I still get 5.3.0 returned from a `npm --version` query and Expo XDE still gives me the warning to use npm4.6.1.

I can't revert to 4.6.1 globally, so how do I specify the the 4.6.1 version for just the RN project and Expo?

Thank you

[2017-09-09 04:37] ide commented on #293
The simplest approach is probably just to use Yarn.

You also could use nvm which lets you install different versions of Node, then downgrade npm just for that one version of Node, and use something like direnv+.envrc to automatically switch to that version of Node+npm when you're inside your Expo project directory.

[2017-09-09 04:47] mixelpixel commented on #293
Thank you @ide 😄

I pretty new to RN/npm/node/nvm/yarn but I think I can figure out how to implement your suggestion. I really appreciate the quick response and am looking fwd to working with these incredible tools!

[2017-09-09 05:00] ethantran opened #616 "Error while loading: Could not connect to the server"
I am trying to use my iPhone 6+ with a detached expo project and am stuck on step 3 of https://docs.expo.io/versions/latest/guides/expokit.html

It works on simulator, but I need to use device.

![screen shot 2017-09-08 at 11 57 01 pm](https://user-images.githubusercontent.com/3276358/30237151-8199a1ba-94f1-11e7-91d9-cccbe4285ff7.png)
![file_000](https://user-images.githubusercontent.com/3276358/3

[2017-09-09 05:01] mixelpixel commented on #293
ah! just found this: https://forums.expo.io/t/how-to-clear-the-react-native-packager/1352

[2017-09-09 07:54] ethantran opened #617 "ExpoKit doesn't work with pods written in Swift"
I am trying to use react-native-hypertrack with ejected app.

Without use_frameworks, I get:

[!] Pods written in Swift can only be integrated as frameworks; add use_frameworks! to your Podfile or target to opt into using it. The Swift Pods being used are: Alamofire, GzipSwift, HyperTrack, JustLog, SQLite.swift, and SwiftyBeaver

With use_frameworks I get:

[!] **The 'Pods-rescue-fm-tracker' targe

[2017-09-09 07:55] ethantran commented on #617
https://github.com/hypertrack/react-native-hypertrack/issues/15

[2017-09-09 09:44] nipasarker01 opened #618 "Hoiw to add splashscreen to my app?? I am very New in React"
Hello ,I am new in React Native.Figured out how expo works.I got working with few pages too.Like splash screena nd login page etc.

But I couldn't find a simple answer for how can I add a splash-screen which automatically loads to my app intro screens after two seconds.Please help.Please answer with which files I need to modify.I am using expo.

[2017-09-09 10:45] brunacaster opened #619 "Speech.speak only wokrs once when the language is set."
The three commands below work _perfectly_ every time the componet is mounted.
`componentDidMount() { Speech.speak("Hi"); }`
`componentDidMount() { Speech.speak("Hi", { language: "en" }); }`
`componentDidMount() { Speech.speak("Hi", { language: "en-US" }); }`

The following command only works once.
Even if I restart the application (close and reopen it, it only works a single time and never again)

[2017-09-09 12:45] kruyvanna opened #620 "`exp build` is not supported for detached projects."
I got this after I run

`exp build:ios`

How to build a detached project?

[2017-09-09 12:49] kruyvanna commented on #620
I can build the project using XCode but it got this on the Simulator

![simulator screen shot sep 9 2017 7 48 46 pm](https://user-images.githubusercontent.com/1171793/30240301-ef77cbca-9597-11e7-8e0e-8e4cf330a6d5.png)

[2017-09-09 13:59] Elijen opened #621 "Expo.Video fullscreen transition animation"
It would be nice to be able to use the native fullscreen transition animation instead of a modal view used by `presentIOSFullscreenPlayer()`.

It should probably be set as default to keep consistency with the behavior of the fullscreen icon in native controls.

[2017-09-09 15:23] Elijen opened #622 "Do not use expo.name from app.json to generate paths"
App name from app.json (https://docs.expo.io/versions/latest/guides/configuration.html#name) is used to generate paths (e.g. to `EXBuildConstants.plist`) in `exp prepare-detached-build --platform ios` which makes it harder to rename the app.

Maybe `expo.ios.projectPath` property should be generated on detach and used instead?

[2017-09-09 15:45] smolleyes opened #623 "expo sdk 20 - detached app wont start because of okHttp lib error"
hi

expo sdk 20 / app detached

everything works fine with debug builds but release builds my app crash at boot...

logcat error :

[code]

an idear ? (urgent)

thanks

[2017-09-09 16:27] dikaiosune commented on #614
Hi! Sorry about the delay here. It looks like our devtools weren't able to find your icon: `Invalid URI "./assets/icons/app.png"`. Sorry about the poor error, we're working to improve these going forward.

[2017-09-09 16:27] #614 closed

[2017-09-09 16:36] jpca999 commented on #614
Cool I fixed that ./assets/icons/app.png  issue,   but the build is still stuck, can you please clear it ?

![image](https://user-images.githubusercontent.com/1026325/30241968-623bb9e2-955b-11e7-8065-041bd34fa42e.png)

[2017-09-09 17:04] dikaiosune commented on #614
Oh, sorry about that. I cleared the failed job.

[2017-09-09 17:21] JulianKingman commented on #270
ditto

[2017-09-09 18:00] maharjanaman commented on #589
Ok I'll give it a try

[2017-09-09 18:20] jpca999 commented on #614
@dikaiosune  Okay, so after all the cleanup, When I re-try the doing the exp: build:ios  I still get the status = undefined.

What could be the issue ?
![image](https://user-images.githubusercontent.com/1026325/30242725-e36645ec-9569-11e7-8484-df9b4c7acbaa.png)

![image](https://user-images.githubusercontent.com/1026325/30242726-eba84606-9569-11e7-9a5e-d9ebbeb10c81.png)

app.json

{
    "expo": {

[2017-09-09 18:32] ethantran commented on #617
Doing the pre_install part of https://github.com/CocoaPods/CocoaPods/issues/2926 removes the transitive dependency warnings, but now I am getting React/RCTView.h file not found in AIRGoogleMapCallout.h.

[2017-09-09 20:05] AhadCove commented on #608
Thank you, if you need any other information, let me know

[2017-09-09 21:18] smolleyes commented on #623
hello

exact same thing with expo sdk 19, i have a nice app but can t release it, everything works in debug
 WOOO :/

please help !!!

thanks :)

[2017-09-09 23:18] sebastianquack opened #624 "unable to get permission for saveToCameraRoll after takeSnapshotAsync on Android"
I'm trying to recreate the behavior (take snapshot of screen, save to camera roll) in this snack: https://snack.expo.io/SJRvlSxvb

It works on iOS but on Android fails due to permission error:
`Error: open failed: EACCES (Permission denied)`

Is there any way to obtain the correct permission for this in expo (without opening ImagePicker first)?

[2017-09-10 06:43] derakhshanfar opened #625 "Unable to download standalone apk file build using exp"
I build apk with exp build:android command.
exp build:status gave me a link to the apk file but that link shows access denied
what to do!
![error1](https://user-images.githubusercontent.com/18225394/30246867-e50f9360-961a-11e7-94c9-bcf2d952c777.png)
https://exp-shell-app-assets.s3-us-west-1.amazonaws.com/android/@h_derakhshanfar/swift-9033079f-95ed-11e7-ac54-0a

[2017-09-10 09:32] derakhshanfar commented on #625
fixed. the URL was not compeleted

[2017-09-10 09:32] #625 closed

[2017-09-10 10:01] derakhshanfar commented on #596
@ide i live in iran and unfortunately  because of sanction we can't access to expo server without VPN. i can use VPN when i'm developing but after publishing my App on store my customers can't use VPN.. as you say Expo need access to the Expo servers to load the JS bundle and images that's and this is after publishing. that's why i can't use expo in my react app. do you have any solution?

[2017-09-10 12:03] Elijen commented on #621
I made this work by modifying `EXVideoPlayerViewController` and `EXVideoView` however the solution uses a private API. Based on the StackOverflow answer: https://stackoverflow.com/a/36853320/190438

What's the Expo policy on using private APIs?

[2017-09-10 13:30] gre commented on #538
subscribing to this as well. onFrame not only would be an option to solve this problem but also I feel would be a nicer API than having to do requestAnimationFrame yourself. only downside would be that some libs might the rendering loop hardcoded in (but many libs, like regl, Three.js, are not too intrusive and hopefully let you do the loop yourself).

[2017-09-10 15:28] smolleyes commented on #623
NO problem with Vanill RN ! app boot

[2017-09-10 16:41] joshmello commented on #549
I switched to `yarn` so needed to delete `package-lock.json`

[2017-09-10 21:44] jlc467 commented on #503
@haaswill How/when was it fixed? Having this same issue.

[2017-09-10 21:50] haaswill commented on #503
@jlc467 For me, it was fixed when I updated Expo Client to the latest version(1.19.0).
What version are you using?
Does it work on the iOS emulator?

[2017-09-10 21:58] jlc467 commented on #503
Works in iOS emulator. Expo client version: 1.19.0.109298

[2017-09-10 22:00] jlc467 commented on #503
@haaswill reinstalled expo client and now it working. Thanks!

[2017-09-10 23:36] bpeters opened #626 "iOS ExpoKit build hook should include ~/.nvm/nvm.sh"
https://github.com/expo/expo/blob/8a199ff9607914dc9df130a55fb189e868a3ca62/exponent-view-template/ios/exponent-view-template.xcodeproj/project.pbxproj#L250

Proposed to add `. ~/.nvm/nvm.sh` to top of script

was fixed here in react-native https://github.com/facebook/react-native/issues/3935

[2017-09-11 00:01] davidthornton commented on #160
@ryantallmadge -- to be explicit as to what the "old fashioned" way is (I had to have this explained to me lol) -- it's `expo detach` or `yarn eject`. I hope this helps someone else who needs to build binaries or do CI!

[2017-09-11 00:53] divyakoshy opened #627 "Image picker issues on Android"
ImagePicker.launchImageLibraryAsync() and ImagePicker.launchCameraAsync() do not seem to work on Android standalone apps. The permissions are requested correctly, but the async calls never return and the view for taking/picking photos never appears.
Permissions have been put into the app.json, and on iOS things are working correctly. Not sure what I am missing D:

[2017-09-11 06:54] ide commented on #596
You could still use Expo to build your standalone apps since we embed the JS bundle in the app, but you won't be able to load updates to your project or load images (you will have to host images yourself).

[2017-09-11 07:10] daominhsangvn commented on #620
Try to start the Expo, select the project then make the iOS build via xCode again see if it work.

[2017-09-11 07:10] daominhsangvn commented on #616
Try to use Tunnel see if it work

[2017-09-11 07:13] daominhsangvn commented on #587
Are you testing on Android?

[2017-09-11 07:15] wilonth commented on #587
@daominhsangvn of course, I mentioned that right at the beginning.

[2017-09-11 07:15] daominhsangvn commented on #561
The react-native-fetch-blob also, please check if you dont mind @terribleben

[2017-09-11 07:19] daominhsangvn commented on #587
Okay sorry, here the solution: Open `AndroidManifest.xml` then add following into `<application>`
[code]

[2017-09-11 08:45] kruyvanna commented on #620
@daominhsangvn
it works!
Thanks!

[2017-09-11 08:45] #620 closed

[2017-09-11 09:39] c617089219 opened #628 "It didn't install the Expo client to the Android emulator or open up my app"
When I run on genymotion Android emulator,it didn't install the Expo client to the emulator or open up my app inside of it, only display text message in web browser.  What did I miss?
_{"sdkVersion":"20.0.0","name":"AwesomeProject","slug":"awesomeproject","version":"0.1.0","xde":true,"developer":{"tool":"xde"},"packagerOpts":{"hostType":"lan","lanType":"ip","dev":true,"strict":false,"minify":false

[2017-09-11 11:00] maharjanaman commented on #589
@terribleben, the issue still persists even with iCloud enabled on apple developer site. Any suggestions?

[2017-09-11 11:12] derakhshanfar commented on #596
@ide ok thanks a lot

[2017-09-11 11:12] #596 closed

[2017-09-11 11:45] elmarti opened #629 "Are there plans to add speech recognition?"
I see that TTS was added in #290, are there any plans to add the inverse of this? I've tried with `react-native-stt` but there is some Java based configuration to be done, which I don't think is possible in expo.

[2017-09-11 12:01] aalices commented on #619
@brunacaster I cannot reproduce it - what device are you emulating and what SDK it uses ?

[2017-09-11 13:56] daominhsangvn commented on #620
you're welcome :)

[2017-09-11 15:12] kadoshms commented on #519
+1

[2017-09-11 15:49] jbakerdev commented on #409
+1 SDK 19

[2017-09-11 16:07] terribleben commented on #589
Hmm, okay, maybe something else is causing the problem. Can you provide more information about what happens when you try to use it in a published app other than "doesn't work"? We can take a look.

[2017-09-11 17:23] lilosir opened #630 "Push notification status on Android always returning granted"
Hey, I called following function on Android to get the current status,
`const { existingStatus }  = await Permissions.askAsync(Permissions.REMOTE_NOTIFICATIONS);`

it only returns **granted** even I turn off from system settings. Any ideas? BTW, the response should be **status** instead of **existingStatus**, v19.0.0, right?

[2017-09-11 18:22] JCDJulian opened #631 "npm install causes tunneling errors"
New to expo here, so I'm not sure if I'm missing something obvious.

I can install expo and get the new projects up and running no problem. But the issue comes when I run npm install. It installs a lot of dependencies - this might be my limited knowledge of npm showing, but I'm not sure why all of those new dependencies appear. After it finishes, the connection to my client no longer works. Instea

[2017-09-11 18:24] brentvatne opened #632 "Be more clear in configuration with app.json docs about the types for options"
For example, `ios.supportsTablet` doesn't say whether it should be a boolean or some other value.

[2017-09-11 18:25] JCDJulian commented on #631
Should mention that I'm using:
npm 3.5.2
Bash on Ubuntu for Windows

[2017-09-11 19:00] jackkinsella commented on #509
It's actually not necessary anymore - they've updated their own repos with helpers for testing expo: https://github.com/expo/detox-expo-helpers

[2017-09-11 19:00] #509 closed

[2017-09-11 19:28] jesseruder commented on #623
Hello. Are you sure you published your app before trying to load the release build? See https://docs.expo.io/versions/latest/guides/advanced-expokit-topics.html#configuring-the-js-url

[2017-09-11 19:29] skevy commented on #614
Hi @jpca999 -

The error from the builder still has to do with not being able to resolve the icon.

You're positive that the icon you've specified in app.json exists and is in `./assets/icons/app.png`, and your loading icon is in `./assets/icons/loading.png`?

Also, I noticed that in your app.json you have the `ios` key defined twice.

[2017-09-11 21:38] madbean commented on #101
Heelo rahls7 is right,

still returns undetermined.
if you try to call anyway the get token method it's working if you have agree the notification permission.

[2017-09-11 22:14] joncursi commented on #190
@jalalat what did you do to solve this problem?

[2017-09-12 01:40] AdamPD commented on #542
Just a follow up which seems to affect Android.  Android will load the `icon` in the `loading` key and display that over the top of the `backgroundImage`.  So if you want a splash image on Android you almost have to use an "empty"/transparent icon to not have it conflict.  Furthermore, Android doesn't seem to bundle the icon into the apk, therefore it takes some time for the icon to initially show

[2017-09-12 04:09] maharjanaman commented on #589
Hello, thanks for responses. These log came up while trying to use document picker:
- Exponent(Foundation)[836] <Notice>: *** Assertion failure in -[UIDocumentMenuViewController _commonInitWithCompletion:], /BuildRoot/Library/Caches/com.apple.xbs/Sources/UIKit/UIKit-3600.7.47/UIDocumentMenuViewController.m:122
- Exponent(CFNetwork)[836] <Notice>: TCP Conn 0x170199160 canceled

[2017-09-12 04:30] #528 closed

[2017-09-12 06:31] Lipsa1st opened #633 "Getting "Error starting tunnel: Error: Starting tunnels timed out""
Hello,
I am new to react-native, and had created one project at the time of loading it is showing "Error starting tunnel: Error: Starting tunnels timed out",
I switched between Lan and Tunnel still facing same issue,
I also run the ngrok , and restarted but it was also not helpful to me ,

Each time coming like

Restarting project and clearing packager cache (Hold shift while clicking restart to a

[2017-09-12 12:16] ricokahler opened #634 "Web support?"
Just wanted to say a quick thanks for this tool before I throw in this big question. It's really awesome you are all saving me so much time!

**What do you think of web support of proper web support?** How plausible is that? We already have libraries like react-native-web that act as a shim for react-native on the web. Do you think it's possible to take that a step further and implement expo's API

[2017-09-12 15:33] sim-stamplet opened #635 "Location reverseGeocodeAsync returns incorrectly"
reverseGeocodeAsync doesn't return the correct location in text and always return only one result for all coordinates tested
Array [
Object {
"name": "North Atlantic Ocean",
},
]
expected Result is more detailed with street, city and other details :
https://github.com/expo/expo-docs/blob/master/versions/v19.0.0/sdk/location.md

[2017-09-12 18:02] lunarraid commented on #471
Still seeing the problem, though I just noticed that this is only happening when I choose iPhone 5 as the hardware target. Other targets seem to work.

[2017-09-13 00:00] ide commented on #588
SDK 21 (in progress) removes this constraint and you'll be able to store arbitrary strings in SecureStore. I'm closing this out now and you can expect to see it fixed when SDK 21 is released.

[2017-09-13 00:00] #588 closed

[2017-09-13 06:37] Solitaryo commented on #577
Same here, on iPhone 7 Plus can't make it work, any workaround?

[2017-09-13 09:52] flieks commented on #561
indeed i think the react-native-fetch-blob issue is connected to it. There is a bug in RN 0.47. Let's hope it's fixed in 0.48 and then we can use fetch-blob in expo v21

[2017-09-13 10:35] Raveler commented on #635
This happens when you give it invalid coords. Make sure that, if the coordinates come from Location.getCurrentPositionAsync, that you pass on .coords, like this:

let location = await Location.getCurrentPositionAsync();
let geocode = await Location.reverseGeocodeAsync(location.coords);

[2017-09-13 10:45] Raveler opened #636 "reverseGeocodeAsync does never return on Android IF you haven't given permissions in a previous session"
If you boot an app that does a reverseGeocodeAsync and you have not requested permission for Permissions.LOCATION in a previous session of the app, the app will

 hang indefinitely when calling reverseGeocodeAsync. If you shut down the app and reboot it, it will work perfectly fine.

This problem does not occur with other Location calls such as getCurrentPositionAsync.

You can't revoke permission

[2017-09-13 13:52] AdamPD commented on #542
@ryanvanderpol - in my case I simply went with a loading icon (no backgroundImage) at the root level, and then a splash backgroundImage for iOS only.  This "works" (with the obvious issues of delays in loading icon because it's in a CDN etc.)

[2017-09-13 16:59] jesseruder commented on #561
@flieks can you give more information about where this error is happening? What file? Also maybe upload the file to a gist.

[2017-09-13 17:29] nikki93 opened #637 "Switching tasks messes up GL drawing on Android"
Happens either due to a context loss issue or due to the backbuffer not being preserved. Either way, can be fixed by having our own backbuffer and swapping manually -- attempted a fix in this direction but it still fails in some cases, working through it.

[2017-09-13 17:37] nikki93 opened #638 "Attempt ARKit integration with EXGL"
Basic integration allows EXGL rendering to use the ARKit projection matrix. This could be done by exposing that to JS, or exposing a call to JS that marks a uniform as being bound to the projection matrix (this way native can update it at 60fps).

More features include rendering the video feed from the camera for a background and plane detection.

[2017-09-13 17:54] tomdye commented on #539
@dikaiosune  @enstulen did you manage to get anywhere with this? I am having the same issue.
Cheers

[2017-09-13 17:57] terribleben commented on #158
I think maybe I've managed to reproduce this:

- one project is already running at localhost:19000
- try to run a second packager (for a totally unrelated project) where settings.json says "localhost" and packager-info.json says "19000"
- second instance of exp will mistakenly think it's already running

I think it's possible to get into this state by starting/stopping some projects at weird times

[2017-09-13 19:06] dikaiosune commented on #635
@sim-stamplet can you provide more detail about what coordinates you're passing that are failing? Ideally you could provide us with a [snack](https://snack.expo.io) to reproduce. Giving this a close for now, but we'll happily reopen and look into this if we can repro.

[2017-09-13 19:06] #635 closed

[2017-09-13 19:18] enstulen commented on #539
The image is required to have transparency.

[2017-09-13 20:25] nikki93 opened #639 "SQLite database deletion / upgrading (opening downloaded DB on iOS fails)"
More info at: https://forums.expo.io/t/sqlite-db-doesnt-get-created-if-deleted/2295/7

Add a method to delete SQLite databases, make sure an upgrade flow is present.

[2017-09-13 21:34] flieks commented on #561
sorry i don't have that code anymore but that code was from `react-native-fetch-blob` libs i think

[2017-09-13 22:44] nikki93 opened #640 "`[UIApplication statusBarFrame]` must be called from main thread"
https://github.com/expo/expo/blob/4e8ce129a1b916fa5747d359a66976f00b7695d8/ios/Exponent/Versioned/Modules/Api/EXConstants.m#L93-L97 <-- this is called from a non-main thread but calls a UI API.

[2017-09-13 22:57] TheMightyPenguin commented on #275
hey @voyage11 what did you add to those files?

[2017-09-14 02:30] quinlanj commented on #636
@jesseruder is it possible that isMissingPermissions in LocationsModule is not correct? If user has Version >23, and only one of the required permissions, isMissingPermissions will return false, and reverseGeocodeAsync could error without updating the promise somewhere later on in the method.

https://github.com/expo/universe/blob/master/exponent/android/expoview/src/main/java/versioned/host/exp/e

[2017-09-14 07:45] xcarpentier commented on #519
@dikaiosune @ide any idea? or will you delete my comment too 😄  ?

[2017-09-14 10:44] EnriqueDev commented on #108
In SKD 20 the FileSystem API has a download method, but you can't append any headers to it. In my particular case, the download request must have an Authentication field in the http header in order to allow the user to download the file. Is there a way to do this?

[2017-09-14 18:10] adierkens opened #641 "expo-server-sdk-go"
One of the project's I'm working on has a back-end written in Go, which didn't have an `expo-server-sdk` implementation, so I wrote one: https://github.com/adierkens/expo-server-sdk-go

It follows the same basic API as the `python` and `js` implementations.

Any feedback on how it's implemented? I'd love to see it get pushed upsteam under the `expo` org

[2017-09-14 23:46] rijkerd commented on #633
Also encountering the same problem any help.

[2017-09-14 23:53] KimHojJ commented on #539
I have the same issue. What do mean that the image is required to have transparency. If I save as png does it not have transparency.
How can I check if my image have transparency?
Thanks.

[2017-09-15 01:13] asgeo1 opened #642 "Running iOS archive of detached app - "No version of ___ compatible with this version of Exponent""
I have an Expo app, which I have detached.  _(because it doesn't support react-native link, and I want to integrate react plugins like `react-native-intercom`)_

The app runs OK on my device via XCode, i.e. in development mode.

When I create an iOS archive, it does run however, but I get this error:

![2017-09-15 11 05 49](https://user-images.githubusercontent.com/702212/30462089-a09dc176-9a06-11

[2017-09-15 01:14] terribleben commented on #642
The archived (production) version of the native code will look for a published copy of your app (e.g. at expo.io/@yourname/yourapp). Can you try running `exp publish`?

[2017-09-15 01:19] asgeo1 commented on #642
Yup, that worked!  Awesome, thanks.

I didn't realise I had to run that command.  I've been a bit confused about which `exp` commands are relevant to detached apps actually.

I'm still getting my head around how it all works. Cheers

[2017-09-15 01:19] #642 closed

[2017-09-15 07:11] enstulen commented on #539
On Mac, right-click the image and show info. It needs to have an "alpha channel". I exported my image from illustrator and it didn't include it, so I exported it from photoshop instead and it did. Hopefully that helps.

[2017-09-15 07:43] bennygenel opened #643 "[Bug] Error on sign up (iOS / iPhone)"
I got an error while signing up on iOS. Adding a screenshot of error. My guess is its related to error message showing but I didn't actually check the code.

![expo_error](https://user-images.githubusercontent.com/4287862/30471667-3f0a054a-9a02-11e7-8d26-394f3f83288e.jpg)

[2017-09-15 07:56] wenbolovesnz commented on #409
+1 SDK 20

[2017-09-15 09:07] tomdye commented on #539
I found the issue to also be that the icon I was trying to use was not square or large enough. I don't recall seeing suggested icon size on the expo documentation.

[2017-09-15 09:57] enstulen commented on #539
It's in the [documentation](https://docs.expo.io/versions/latest/guides/configuration.html#icon), but it's only recommended.

[2017-09-15 14:42] appjitsu opened #644 "error: unknown option `--customLogReporterPath'"
"expo": "^20.0.0",
"native-base": "2.3.2",
"react": "~15.4.0",
"react-native": "^0.42.0",

[2017-09-15 14:54] appjitsu commented on #644
I just had to upgrade my deps.

"react": "16.0.0-alpha.12",
"react-native": "https://github.com/expo/react-native/archive/sdk-20.0.0.tar.gz",

[2017-09-15 14:54] #644 closed

[2017-09-15 17:56] #634 closed

[2017-09-15 21:53] codhbw commented on #629
The only thing I've found so far is [this](https://expo.canny.io/feature-requests/p/speech-recognition-module) feature request.

[2017-09-15 22:29] dikaiosune commented on #629
Hi! Sorry we missed this before. @codhbw is correct, this is a feature request pending implementation. I'd recommend voting for the request on Canny, those votes carry a lot of weight when we're deciding what to build next!

[2017-09-15 22:29] #629 closed

[2017-09-16 00:54] dikaiosune commented on #615
@ide is this a limitation we expect to ever be able to overcome? If not it seems like we should cover this in our documentation and close this.

[2017-09-16 00:56] terribleben commented on #615
Assigning some people so we can decide what to do here.

[2017-09-16 00:57] dikaiosune commented on #618
Hi! One option for this is to use the [AppLoading](https://docs.expo.io/versions/latest/sdk/app-loading.html) API from the Expo SDK. Since this is a general "how do I do X" type of question, I'd recommend asking on StackOverflow under the `react-native` tag. Thanks!

[2017-09-16 00:57] #618 closed

[2017-09-16 01:01] terribleben commented on #617
This is something i need to spend some time investigating to give a good answer for. Ideally we could find a way to convince CocoaPods to build this correctly. Let me know if you find a solution.

[2017-09-16 01:03] dikaiosune commented on #621
Hi! If you're using private Apple APIs that may endanger your app going through their review process for the App Store, but it's up to you if you've detached. We avoid using private Apple APIs in the client and standalone apps, as it's very important for us to keep user's applications in compliance with Apple's review guidelines.

[2017-09-16 01:03] #621 closed

[2017-09-16 01:05] dikaiosune commented on #626
Hi! I don't see any upstream fix for that issue, actually, but I agree being compatible with NVM would be ideal. Has a fix been committed elsewhere in upstream RN?

[2017-09-16 01:06] dikaiosune commented on #627
Hi! Can you provide an example of your code where this is happening? Maybe using [Snack](https://snack.expo.io)? Thanks!

[2017-09-16 01:08] dikaiosune commented on #587
Hi! Does this still happen on a newer ExpoKit project?

[2017-09-16 01:08] dikaiosune commented on #628
Hi! Sorry to hear you're having issues with this. What actions are you taking to end up there?

[2017-09-16 01:10] dikaiosune commented on #631
Hi! I'm not sure that watchman (which react native uses for detecting changed files) will work correctly within Ubuntu for Windows. What happens if you use XDE in a plain ol' Windows environment?

[2017-09-16 01:21] dikaiosune commented on #616
Hi! Sorry to hear you're having issues. It looks like XDE has been set to use the localhost network setting, which will only be available to the simulator. If you set it to "LAN" or "Tunnel" you should be able to reach the packager from your physical device. Please post back if this doesn't work though, and we can help you troubleshoot!

[2017-09-16 01:21] #616 closed

[2017-09-16 06:26] denghejun opened #645 "Expo.Constants.manifest.extra is undefined"
I use the latest expo version.
And this is a part of my app.json file:

[code]

Then I use in somewhere else:

[code]

I'm not sure what happened.
Could you please give me any help?

[2017-09-16 11:44] elmarti commented on #629
Looks great, I'll pop in a vote and try and keep bugging y'all!

[2017-09-16 15:42] KimHojJ commented on #539
They all have alpha channel. Still get the same messaged. I have 512x512 as well with transparency. This app have been submitted before with no problems and I did not change any icons.

[2017-09-16 16:00] chadwatson opened #646 "exp build:ios Unable to validate credentials"
First of all, Expo is amazing. Thanks for what you're doing.

I'm trying cut a standalone iOS build of my app that I spun up using `create-react-native-app`. I have an Apple distro cert that I've tried uploading through the `exp build:ios` process and I always get this error:

After trying a few more times without success I removed the distro cert in the Apple dev portal and tried the "1) Let Expo

[2017-09-16 16:04] chadwatson commented on #646
Forgot to mention that I tried this process about 10 hours ago, and just now tried again with the same results.

[2017-09-16 17:53] chadwatson commented on #646
Update! Looks like my role in the Apple portal was set to "Member". When we changed that to "Admin" everything started to work.

[2017-09-16 17:53] #646 closed

[2017-09-16 18:32] 20chix commented on #123
any progress?

[2017-09-17 06:31] AbhayShiro commented on #633
I am facing the same problem in Expo XDE

[code]

[2017-09-17 13:33] pensierinmusica opened #647 "Support `module` or `jsnext:main` imports for installed packages"
Hi,

I've noticed the current release of Expo ignores the `module` or `jsnext:main` fields in installed modules `package.json` files.

You can find more info about what these fields do [here](https://github.com/apollographql/apollo-client/issues/746).

It looks like currently Expo only imports from the `main` field in `package.json`.

Is it possible to get Expo to respect the fields mentioned abov

[2017-09-17 19:11] IronCoderXYZ opened #648 "WheelPicker android"
Hi,

So far I have absoltuely loved using expo. But now, I would like to add a wheel picker (inline) to my app, it works fine on iOS but on Android it just shows a red outline. I think it has to do with needing to add custom build scripts, for this I would have to eject from expo; I really don't want to.

Is there another way I can implement a pickerview on android?

Thank you!

[2017-09-18 03:14] AdamPD opened #649 "AdSupportIOS doesn't work"
AdSupportIOS throws an exception when being used.  For example:

[code]

The error thrown is:

```TypeError: undefined is not an object (evaluating 'AdSupport.getAdvertisingId')```

The issue seems to be that AdSupport is not in `NativeModules` (dumping `require("NativeModules")` to the console confirms this), hence the undefined error.

This is part of the base react-native so I would expect this

[2017-09-18 03:34] AdamPD commented on #649
Looks like the issue is it's not linked as described in the comment here:

https://github.com/expo/expo/blob/master/ios/versioned-react-native/ABI20_0_0/Libraries/AdSupport/AdSupportIOS.js#L17

This appears to be the issue:

https://github.com/facebook/react-native/issues/2444

Since Segment seems to use the IDFA (as described by https://docs.expo.io/versions/latest/guides/building-standalone-apps

[2017-09-18 05:55] chenkaiC4 opened #650 "[help] eject with expo kit, not support generator function"
## Description

After eject with expo kit, I just add a simple generator function, and refresh the app, got Error

[code]

## Expected Behavior

display example apge

## Environment

Please run these commands in the project folder and fill in their results:

* `npm ls react-native`:  react-native@0.47.1
* `npm ls expo`: expo@20.1.3
* `node -v`: v6.11.1
* `npm -v`: 3.10.10
* `yarn --version`: 0.27.

[2017-09-18 08:46] gregory90 opened #651 "onActivityResult not fired in detached Expo app"
I have detached Expo app, and not one library which uses `getCurrentActivity().startActivityForResult` works. It returns nothing - no result, no error.
For example https://github.com/tolu360/react-native-google-places or https://github.com/react-community/react-native-image-picker.

I tried to investigate react-native-google-places more closely and it's `onActivityResult` function doesn't get call

[2017-09-18 10:06] retani commented on #624
Hi @nikki93! I work on the same project as @sebastianquack. The problem is, that everything works on both platforms except that permission, as mentioned in this issue. Our workaround is to detach, but that breaks the QR scanner and the Geolocation.
I would like to kindly ask you whether you see any chance of fixing this and getting it out in within this week, so we can decide on whether to work on

[2017-09-18 11:12] brunacaster commented on #619
Hi @aalices ,

Here's everything I got on versions and SDKs:

Versions:
-> "expo": "^19.0.0"
-> "react": "16.0.0-alpha.12"

AVD run with the command:
-> emulator -avd NEXUS_5_API_25 -skin 1080x1920 -use-system-libs

AVD was created with the following command line:
-> avdmanager create avd -n "NEXUS_5_API_25" -d "Nexus 5" -k "system-images;android-25;google_apis;x86" -g "google_apis"

Sorry for the

[2017-09-18 11:17] jpca999 opened #652 "exponent takes aweful lot of time to start the simulator."
And durign for that long period of time I dont get to see any logs,  except following.

Is there a better way to figure out where lies the bottlenecks?

![image](https://user-images.githubusercontent.com/1026325/30539599-3b8004e2-9c41-11e7-878a-e8d9e0f7b32f.png)

[2017-09-18 11:19] jpca999 opened #653 "Error installing or running app. Error: Process exited with non-zero code: 60"
any idea what this error is about ?  and why is it happening ?

![image](https://user-images.githubusercontent.com/1026325/30539695-b5565cb2-9c41-11e7-83fd-293635b6fde2.png)

[2017-09-18 14:51] aalices commented on #619
@brunacaster Are you sure `componentDidMount` is called? In what cases do you want the speaker to speak?

[2017-09-18 16:02] deadcoder0904 commented on #325
@jolocity It wasn't working when I originally posted this issue on 2nd July. "It may" isn't the case at all. I tried with a clean slate. But the wait is over. Now its [In Progress](https://expo.canny.io/feature-requests/p/google-admob). So wait for SDK 21 😉

[2017-09-18 20:22] jayeszee opened #654 "Mismatched expo/react-native hash when yarn installing"
![image](https://user-images.githubusercontent.com/10326244/30562774-7ac7d516-9c74-11e7-84e1-c874dc8ae969.png)

Seems like at one point or another you guys updated the tar for react-native for version expo sdk 20.0.0. This caused a hash mismatch because my local had a cached version (804b58150426c68e4da266490d43ec639d95953d) that it was writing to the yarn.lock file while my clean uncached circlec

[2017-09-18 20:29] akazimir commented on #627
Same problem (two samsung different model, one launch, one not)
[https://snack.expo.io/HJ2aKjTcW](url)

[2017-09-18 21:35] brunacaster commented on #619
Yes, 100% positive about it: `componentDidMount` is getting invoked every time.

This is also proved by the fact that 'en' and 'en-US' work everytime, in the same `componentDidMount` handler.

Like I mentioned before, other languages run only once, and then never again.
I have a feeling that some underlying component crashes (for other languages) and won't come back alive. The same does not seem t

[2017-09-18 23:40] dikaiosune commented on #632
I believe this is getting generated from the schema we use for validating app.json, which does have type info. So we should theoretically be able to display that nicely? Or at least display it roughly?

[2017-09-19 03:30] RyanPWalker commented on #283
Neither the tunneling nor LAN have been working all day, but without even changing anything tonight the tunneling suddenly works again.  Any idea why this happens?

[2017-09-19 03:50] saikrishnanaru commented on #633
Guys how u solved this problem...

[2017-09-19 07:08] alexeyMohnatkin commented on #654
cleaning yarn cache doesn't work for me

[2017-09-19 09:18] ron-liu commented on #426
@Palisand Hi, yeah, I am sure react-native geolocation works fine without ejecting. I am so sorry, I replied so late, I thought I already replied.

[2017-09-19 14:02] jbakerdev opened #655 "Adding paddingTop to TextInput causes Expo App to crash"
What it says on the tin. Leaving this for the next poor soul. Merrily coding along and suddenly the Expo app on Genymotion Android 7.0 starts giving the dreaded "Expo has stopped." message over and over.

The cause:
`
<TextInput style={[MyOtherStyles, {paddingTop:20}]} />`

I can't say whether it's the fact that I was overriding a padding setting in MyOtherStyles object or what but removing the pa

[2017-09-19 15:55] rotembcohen opened #656 "Standalone app crashes after being in the background for a while"
**Issue (TL;DR):**
When opening the standalone Android app, if the app was in the background for sometime, it crashes.

**Device info:**
Device: Samsung s8+ (unrooted)
Android Version: 7.0

**App info:**
App originally created using CRNA
Standalone created using 'exp build:android'
Uploaded to the play store

**Reproduce:**
1. Open the app.
2. Leave the app using home button (at any screen)
3. Ope

[2017-09-19 16:13] danielmartinprieto commented on #588
Anyone knows when SDK 21 is supposed to be released?

[2017-09-19 17:18] giautm commented on #426
Hừmm, i will consider to use react-native geolocation. 👍 Tks @ron-liu and @Palisand

[2017-09-19 18:46] ide commented on #654
Not sure what happened. Does `yarn cache clean && rm -fr node_modules yarn.lock && yarn` fix things for you?

[2017-09-19 18:51] ide commented on #653
Seems like this happens when the simulator takes a long time to start. @fson or @davepack what do you think about splitting this step in two - launch the simulator and then open the URL?

[2017-09-19 19:54] jimmylee commented on #656
Pinging @jesseruder to have a look at this, I'm personally not sure what the issue is.

[2017-09-19 19:57] jimmylee commented on #655
I'm having difficult reproducing this, can you tell me how `MyOtherStyles` was defined? Thanks for sharing this!

[2017-09-19 20:01] jimmylee commented on #655
Here is a Snack I created to try to reproduce this: https://snack.expo.io/HkLiwlko-

[2017-09-19 20:07] rotembcohen commented on #656
Thank you. I'll also add the following resources:
[github code of the app](https://github.com/rotembcohen/pokerBuddyApp)
[link to the expo listing](https://expo.io/@rotembcohen/pocat)
[the app on the google play store](https://play.google.com/store/apps/details?id=com.hecodesthings.pocat)

[2017-09-19 20:20] wellyal opened #657 "Trying to create a new project it logs this "Error on FSEvents.framework""
Here is the full error log I get

[code]

Mac OS Sierra
watchman version: 4.9.0

[2017-09-19 21:23] jbakerdev commented on #655
The style object in question:
`input:{
        width: '100%',
        height: 30,
        backgroundColor: 'rgba(255,255,255,0.1)',
        padding: 3,
        paddingLeft: 6,
        borderRadius: 3,
        overflow: 'hidden'
    }`

[2017-09-19 22:44] jimmylee commented on #652
It looks like you have a a lot warnings to resolve, is there anyway you can make sure for me your xcode, and node are at the latest versions? Could you upgrade npm to 4.6.1?

[2017-09-19 22:44] jimmylee commented on #652
Closing this issue, once you've resolved those warnings you can bring up another.

[2017-09-19 22:44] #652 closed

[2017-09-19 22:51] jimmylee commented on #651
Assigning @jesseruder to take a look when he gets a chance, from @terribleben it looks like this may be a duplicate of https://github.com/expo/expo/issues/347?

Thanks for bringing this up @gregory90

[2017-09-19 22:52] jimmylee commented on #647
Hey @pensierinmusica thanks for bringing this up, if you would like to make a feature request, throw it into https://expo.canny.io/feature-requests and if there is enough demand we can make it happen.

[2017-09-19 22:52] #647 closed

[2017-09-19 23:10] terribleben commented on #565
Hi! I believe this was added in https://github.com/expo/expo/pull/571 and will ship in our next release (very soon).

[2017-09-19 23:10] #565 closed

[2017-09-19 23:15] jimmylee commented on #649
As mentioned by other team members before, we probably will not expose the IDFA because Apple carefully checks how it is used since the information is sensitive, so if you want it you may have to detach.

Did I understand what you are suggesting? Let me know if I missed the point.

[2017-09-19 23:16] terribleben commented on #633
@fson maybe we should just improve the error message here, explaining what went wrong and giving a recommendation for what to do instead.

[2017-09-19 23:22] jimmylee commented on #645
It should work, as any fields that get put into "extra" should be available. This might be a stupid question, but can you try restarting all of your environment?

Otherwise we have a bug on our end.

[2017-09-19 23:27] jimmylee commented on #643
@bennygenel thanks for surfacing this, we're basically just showing the wrong error message for when a username or email has been taken.

[2017-09-19 23:30] jimmylee commented on #610
I wish I had a better solution for you but your best bet is to make a feature request on canny, where we prioritize supporting features you normally have to eject to have. https://expo.canny.io/feature-requests

[2017-09-19 23:30] #610 closed

[2017-09-19 23:33] jimmylee commented on #609
That is super weird, @nikki93 if you could take a look at this?

[2017-09-19 23:40] bennygenel commented on #643
@jimmylee I suspected that but actually I was able to sign up with same credentials on website so I think it was not just showing the wrong error message. just a little more info for you guys to find out whats going on.
Keep up the good work

[2017-09-19 23:56] jimmylee commented on #438
Whoa I feel so bad you're running into this issue,

This issue has historically been a tough one for our windows users (I'm making a guess you're on windows, you may be on another operating system).

I'd like to share with you some issues where others have found solutions to debugging this problem:

Solution *Assigning interface matric (priority) for your Wifi Adapater*
https://github.com/react-co

[2017-09-19 23:59] jimmylee commented on #457
Closing this issue because its been a month with no reply.

[2017-09-19 23:59] #457 closed

[2017-09-20 00:02] jimmylee commented on #461
Closing this issue since this feature will be enabled for projects using Expo SDK 21

[2017-09-20 00:02] #461 closed

[2017-09-20 00:04] jimmylee commented on #504
Closing this issue since we haven't gotten a reply for close to a month.

[2017-09-20 00:04] #504 closed

[2017-09-20 00:09] denghejun commented on #645
the thing is I got an undefined when run jest tests

[2017-09-20 00:12] ide commented on #645
Is this happening only in your Jest tests (which doesn't read app.json when configuring the mocks) or in your project at runtime as well?

[2017-09-20 00:24] denghejun commented on #645
test only

[2017-09-20 00:28] jimmylee commented on #612
Closing this issue because it most likely related to stalled builds, please let us know if you're still having this issue.

[2017-09-20 00:28] #612 closed

[2017-09-20 00:32] ide commented on #645
OK, this is because the jest mock doesn't read values from app.json. You can write this logic yourself and set the mock values for now.

[2017-09-20 00:51] jimmylee commented on #606
In react native you can do the following:

[code]

Snack: https://snack.expo.io/SJ3XoEyjW
React Native Docs: https://facebook.github.io/react-native/docs/platform-specific-code.html

And thats the best we can do for you at the moment.

[2017-09-20 00:51] #606 closed

[2017-09-20 01:01] denghejun commented on #645
yeah currently I read from app.json ismanually in test，no other way ？

[2017-09-20 02:07] lnsane commented on #438
@jimmylee thank you I can now happily write ios on the iPhone

[2017-09-20 02:11] #416 closed

[2017-09-20 02:13] janicduplessis commented on #416
We have a bunch of fix coming up to Google Sign In in sdk 21 this should be fixed. Just make sure you follow the documentation. For standalone apps you will have to use iosStandaloneAppClientId.

[2017-09-20 02:13] #446 closed

[2017-09-20 02:13] janicduplessis commented on #446
This should be fixed in sdk 21

[2017-09-20 02:14] #440 closed

[2017-09-20 02:14] janicduplessis commented on #440
This should be fixed in sdk 21

[2017-09-20 02:15] janicduplessis commented on #241
This should be fixed in sdk 21, we introduced a new parameter called webClientId that should be a client id of type web that will be used to query offline stuff.

[2017-09-20 02:15] #69 closed

[2017-09-20 02:17] janicduplessis commented on #132
We've updated lottie to 2.2.0 in sdk 21, this should resolve this issue.

[2017-09-20 02:17] #132 closed

[2017-09-20 02:18] janicduplessis commented on #69
This should be fixed in sdk 21, the instruction in the docs are good.

[2017-09-20 03:43] jpca999 commented on #652
@jimmylee all these warnings are related to npm but im using yarn  which is up to date, so i dont think I need to be concerned about these warnings.

[2017-09-20 06:11] pensierinmusica commented on #647
@jimmylee this should take 5 mins to implement for someone who knows the codebase well. I understand you have many feature requests, but isn't the process you describe a bit too long / unnecessary in this case?

[2017-09-20 08:25] aalices commented on #619
Everything works perfectly fine for me - however, some changes have been made not really related to this in the module, try SDK 21 when it's out - I hope it will solve you problem :)

[2017-09-20 10:57] dmueller39 opened #658 "snack-sdk or upstream api failing silently when using snack-sdk in react native app."
Originally opened here:

https://github.com/expo/snack-sdk/issues/2

Using this example project:

https://github.com/dmueller39/mobile-snack

This project can "Save" and open a shareable url for a snack, but opening the expo app with live updates never succeeds. It may be that this is a usage issue, but I am not seeing any errors, and there is not anything obvious.

SnackSession works as expected

[2017-09-20 10:57] dmueller39 commented on #658
@satya164 I know you did a talk on snack. Any thoughts?

[2017-09-20 10:59] satya164 commented on #658
cc @tcdavis

[2017-09-20 11:05] dmueller39 commented on #658
Here is a published experience of mobile-snack https://exp.host/@dmueller39/mobile-snack

[2017-09-20 11:27] 3rfan commented on #579
I have experienced the same problem on `iOS 10.3.3` on an iPhone 6. No problems on Android. It seems like that on iOS the `Camera` component sometimes doesn't realize the `type` prop on the initial render. I have found that setting the `type` prop initially to `Camera.Constants.Type.back` and changing it with a small delay to `Camera.Constants.Type.front` works. I hope it helps you guys to fix thi

[2017-09-20 14:05] joshmello opened #659 "Asset issue when pushing .ipa to iOS Store"
I opened the .ipa and they are all in there. What could be the issue?
Package Summary:

1 package(s) were not uploaded because they had problems:
	/var/folders/x3/sw7m5_cd3rs6np31x161tldm0000gn/T/3FF96985-FF6A-4974-93BB-9B3768B0AB27/1286761178.itmsp - Error Messages:
		ERROR ITMS-90022: "Missing required icon file. The bundle does not contain an app icon for iPhone / iPod Touch of exactly '120x120

[2017-09-20 15:36] tcdavis commented on #658
Thanks @satya164.
Very excited to look into what's going on here, but won't have a chance until Friday. If saving is working, I suspect it is our issue and not yours @dmueller39

[2017-09-20 16:02] joshmello commented on #539
@KimHojJ I been having the same issues so you are not alone

[2017-09-20 16:13] thomasw commented on #241
Thanks, @janicduplessis. I'll give expo another go when I start working on my next project.

[2017-09-20 18:39] lucasapereira commented on #160
I really don´t want to detach. Any update on this? My app is ready for production.

[2017-09-20 19:28] 20chix opened #660 "XDE should not show QR codes for detached projects"
Hi I'm trying to scan QR code of project but it doesn't work. it closes the page right away, could you please help?

[2017-09-20 19:45] c316 commented on #160
@lucasapereira

I also don't want to detach so for now I've been following these instructions (which I wrote up when I went through the process).

This way I don't have to detach. It is a pain, no doubt, but it prevents me from having to detach or keep two code bases.

https://gist.github.com/c316/a877a240e95e64a926a63f460daf92e0

TL;DR
I make a copy of the folder, then fix all the annoying proble

[2017-09-20 20:16] terribleben commented on #660
Hi, sorry about that. Can you share the QR code in question?

[2017-09-20 20:20] 20chix commented on #660
@mub sent you an Expo link. Open it in Expo: exp0c163c50e42841da95c450bef2b6095c://192.168.0.7:19002
If you'd like to unsubscribe and stop receiving these emails click here.

I can’t even publish project, tried from my iPad same story. Maybe is ios 11 update?

[2017-09-20 20:21] 20chix commented on #660
https://twitter.com/maha_rugs/status/910595406433746944    Same thing happen to this person

[2017-09-20 20:22] terribleben commented on #660
Looks like you're using a detached project. You can't test detached projects in Expo Client, you need to run your project directly from Xcode. Make sure you follow [this guide](https://docs.expo.io/versions/latest/guides/expokit.html#3-ios-configure-build-and-run).

In the meantime, this is a bug in XDE - it should not be showing you a QR code for this project. I will update the issue.

[2017-09-20 20:27] 20chix commented on #660
I detach my project months ago and it was working fine for expo client, just got this issue today.

[2017-09-21 00:45] terribleben commented on #659
That's odd. What version of application loader are you using? Can you make sure it's a newish non-beta version?

If the issue persists, can you double check that the assets in the .ipa are actually 120x120 (etc.) and not some non-square size?

[2017-09-21 01:25] jimmylee commented on #643
Thanks @bennygennel - our error messages are lost and we'll need to figure out why. But I've fixed this issue with undefined is not an object for now.

[2017-09-21 01:25] #643 closed

[2017-09-21 01:59] #640 closed

[2017-09-21 02:54] joshmello commented on #659
@terribleben I am using Version 3.6 (1020). I am not on any betas (learned the hard way in the past).
I will link whats inside my .ipa but everything looks good. I inspected all of the assets and they all match. Also, I submitted a build a few days ago with no issues so not sure. I changed my app.json to match standalone code versions but that's it.

[2017-09-21 06:33] joshmello commented on #659
@terribleben I think I found the issue. My app-icon.png was too big(go figure). So I lowered the size in half and everything seems to work. Just weird why that would cause it to me. Thanks for the response much appreciated.

[2017-09-21 06:33] #659 closed

[2017-09-21 15:12] jcalderaio opened #661 "Do I need an active ($99) Apple developer account for iOS build?"
Hello.

I built an app for a client (engineering firm), but they don't want the app on the app/google store. They merely want the .apk/.ipa files so that they can distribute them throughout their company by their own means.

I had no problem getting the Android(.apk) file, but am having problems with the Apple(.ipa) file. The first time, I ran "exp build:ios" my problem was 2FA, so I turned it off

[2017-09-21 15:34] herdani commented on #589
+1

[2017-09-21 16:34] l1br3 commented on #478
If object is circular, it would be nice to automatically decycle it instead of crashing.
This do the trick for me https://raw.githubusercontent.com/douglascrockford/JSON-js/master/cycle.js

[2017-09-21 17:08] kbrandwijk opened #662 "None of the refresh List app examples work on iOS"
I can't get the refresh functionality of RN FlatList working on iOS. At first, I assumed I did something wrong, but then I found this example: https://snack.expo.io/HJYx3Kx4W, which also doesn't work on iOS (10.3).

Both my code, and the example, work find on Android. Also, RN FlatList seems to work on iOS without Expo, although I don't have an app to test that.

[2017-09-21 17:27] terribleben commented on #661
Hi - `exp build` will codesign your build for the App Store. That is, the `.ipa` we deliver is ready to be submitted to Apple as-is, from whichever account you used during `exp build`.

So to answer your questions:

- Yes, we do require you to have a $99 Apple developer account right now, and
- The binary will already be signed for App Store distribution, but you can probably re-codesign it in som

[2017-09-21 17:29] terribleben commented on #661
Btw, we're hoping to leave github limited to bug reports - I'm going to close this but please feel free to open a topic on the [forums](https://forums.expo.io) if you have more questions.

[2017-09-21 17:29] #661 closed

[2017-09-21 17:31] terribleben commented on #657
Hi, thanks for the report. Can you provide the following context please?

- What did you do / what command did you run?
- What did you expect to happen?
- What happened which was different from your expectation?

[2017-09-21 17:33] terribleben commented on #655
If you have time, can you please modify jimmy's snack above ^ to reproduce the crash?

[2017-09-21 17:35] terribleben commented on #654
Seeing more reports of this in Slack, @ide can you help find a way to unblock people?

[2017-09-21 17:36] Elijen commented on #660
@terribleben I am using Expo Client for development even on a detached project as I find it easier and don't require custom native modules in most places in the app.

I am actually missing the QR code from `exp start` output (as it was removed in a recent update). Could the QR code perhaps be still somehow accessible (a settings option maybe)? I'd like to be able to enable it for `exp start` too,

[2017-09-21 17:37] terribleben commented on #653
Hi, this is an issue with Apple's tooling and is typically fixed by hitting "Reset Content and Settings" on your simulator.

Closing as a duplicate of https://github.com/expo/expo/issues/169 but please comment again if you're still blocked.

[2017-09-21 17:37] #653 closed

[2017-09-21 17:45] terribleben commented on #650
Hi, what happens if you change `function *test()` to `*test()` ?

[2017-09-21 17:46] terribleben commented on #650
Going to close this for now - let me know if you're still running into trouble. :)

[2017-09-21 17:46] #650 closed

[2017-09-21 17:48] terribleben commented on #649
Going to close this for now - let me know if I should reopen.

[2017-09-21 17:48] #649 closed

[2017-09-21 17:49] ide commented on #662
It looks like there are a couple of bugs in that Snack, where did you find it? It shouldn’t next ScrollViews and the list needs to be sized to fill the screen. Right now I bet it is 0px tall.

[2017-09-21 17:52] terribleben commented on #648
Hi, the only result I can find for this is [this library](https://github.com/ElekenAgency/ReactNativeWheelPicker) which does appear to require native code. That means you would need to detach to use it.

You could also probably implement this in pure JS without requiring third party native code.

If you think we should add this to our SDK, please open a feature request on [canny](https://expo.cann

[2017-09-21 17:52] #648 closed

[2017-09-21 17:54] terribleben commented on #645
From what I've seen in this thread, it sounds like this is expected behavior. Let me know if I should reopen because of a bug. Otherwise please open a thread on the [forums](https://forums.expo.io) if you'd like to discuss more.

[2017-09-21 17:54] #645 closed

[2017-09-21 17:56] terribleben commented on #628
Did you change your url configuration from `exp` to `http` by chance? Try switching it back to `exp`.

[2017-09-21 17:57] terribleben commented on #627
@aalices is this something you're familiar with? Not sure

[2017-09-21 17:59] terribleben commented on #623
Closing for now because we haven't heard back - let me know if you're still blocked and we can reopen.

[2017-09-21 17:59] #623 closed

[2017-09-21 18:00] kbrandwijk commented on #662
Oops, I found it using Google, but when I track down its origin, it brings me to this: https://github.com/facebook/react-native/issues/14756, which is actually the issue I was also having, which is a FlatList with refresh functionality inside a ScrollView (well, a UI toolkit component that turns out renders a ScrollView). So this seems to be totally unrelated to Expo, sorry for blaming you for it

[2017-09-21 18:00] #662 closed

[2017-09-21 18:02] terribleben commented on #624
@jesseruder, @nikki93 or @aalices can you provide more context here? Not sure what action we should take. Sounds like maybe we need to expose the camera roll permission as a separate permission API on Android?

[2017-09-21 18:04] terribleben commented on #622
Reasonable suggestion, thanks for raising.

[2017-09-21 18:05] terribleben commented on #619
SDK 21 is coming out this week, let us know if you're still seeing an issue.

[2017-09-21 18:07] georgiemathews commented on #539
@KimHojJ having the same issue

[2017-09-21 18:07] terribleben commented on #611
Hi, did the Expo app manage to install on the emulator before running that command? It sounds like it can't find the Expo app to open.

Just double checking, have you followed [this guide](https://docs.expo.io/versions/latest/guides/genymotion.html#content)?

[2017-09-21 18:09] terribleben commented on #599
Hi, sorry for the slow followup. Can you try again?

[2017-09-21 18:09] joshmello commented on #539
My issue was a few things. I made the image 200x200 and I was using a cdn for the logo but had to put it local. After that it worked. To test I created a dummy expo project through the XDE and used their icon image to make sure it submitted and it did so I used that as a template. Hope this helps.

[2017-09-21 18:11] terribleben commented on #597
Hi, this sounds like an issue with the way you're styling your component. We're hoping to limit github to expo bug reports - feel free to open a discussion on the [forums](https://forums.expo.io).

[2017-09-21 18:11] #597 closed

[2017-09-21 18:20] terribleben commented on #661
Oops, I see you did open something on the forums. Sorry

[2017-09-21 18:21] sebastianquack commented on #624
Hi Ben,

thanks for the response - yes, having Camera Roll as a separate permission
that we can request through expo would be a good solution for our case.

Cheers
Seb

On Thu, Sep 21, 2017 at 8:02 PM Ben Roth <notifications@github.com> wrote:

--
--
artist, game designer, curator
http://sebastianquack.com

[2017-09-21 18:42] terribleben commented on #654
It looks like [this proposed solution](https://forums.expo.io/t/yarn-1-0-2-fetch-succeeded-for-undefined-however-extracting-hash-x-did-not-match-requested-hash-y/3239/2) is working for some people.

[2017-09-21 19:02] charlesvinette commented on #589
Hello @herdani and @maharjanaman. Thanks for the additional info @maharjanaman we figured out the issue and you can expect a fix in the near future. Thanks!

[2017-09-21 19:12] terribleben opened #663 "Reports of 'unknown' error code in Fingerprint API in standalone app"
https://forums.expo.io/t/fingerprint-api-failing-in-standalone-app/3133

[2017-09-21 19:25] terribleben opened #664 "Android UIViewManager illegal operation - either guard in our fork, or reopen the issue upstream"
https://forums.expo.io/t/facebook-login-error-in-android/3248

It looks like the recommended solution is something in native code, which our users can't do themselves, so we should either do this in our fork, or we should convince upstream RN to reopen the issue and fix there.

[2017-09-21 20:06] sw-yx commented on #48
keen on this too!

[2017-09-21 20:10] ide commented on #645
@denghejun The current behavior is expected but it seems reasonable to want to test against your actual app.json. I added this to jest-expo and published a new version. When you upgrade to SDK 21 can you try jest-expo 21.0.2 and see if Expo.Constants.manifest.extra is defined as expected for you?

[2017-09-21 22:03] avalanche1 commented on #511
@jesseruder yes; yes

[2017-09-22 02:15] denghejun commented on #645
cool, I'll try.

[2017-09-22 02:44] sonaye commented on #542
<img src="https://user-images.githubusercontent.com/23000873/30727086-be4b1f88-9f57-11e7-84d4-90c3cf93f8b9.gif" width="400">

SDK 21, still unable to get the result we are looking for, would appreciate an updated example on how to implement this properly.

- White screen is still visible
- Glitch when transitioning from splash to loading screens for the first time, possibly because the splash imag

[2017-09-22 02:46] sonaye commented on #529
Closing in favor of #542.

[2017-09-22 02:46] #529 closed

[2017-09-22 04:51] terribleben opened #665 "XDE should save application window size on macOS"
From https://github.com/expo/xde/issues/139

[2017-09-22 05:00] ide commented on #645
I mean jest-expo, which is made by the Expo team. jest-expo-ts is made by someone in the community. Maybe you could ask them to upgrade to 21.

[2017-09-22 06:09] denghejun commented on #645
cool thank you.

[2017-09-22 06:48] jhalborg commented on #542
Also very interested in a way to move/style the activity indicator.

[2017-09-22 07:22] aalices commented on #624
It turns out that saving to camera roll requires permission for writing to external storage. I think this can be enabled in Expo's settings but I'm not sure if it is possible to from code right now, but it's not a big deal to implement, I guess. @jesseruder what do you think ?

[2017-09-22 08:29] alvinwoon opened #666 "SDK version 21 - Unable to resolve module '@expo/vector-icons'"
Follow all the steps of upgrading. Did't have this problem when upgrading from 19 to 20.

[2017-09-22 08:53] alvinwoon commented on #666
Running ' npm install @expo/vector-icons --save-dev' fix the issue. Not sure why.

[2017-09-22 08:53] #666 closed

[2017-09-22 08:54] alvinwoon opened #667 "const store = Expo.SecureStore returns undefined for sdk 21"

[2017-09-22 09:03] alvinwoon commented on #667
Also blog post https://blog.expo.io/expo-sdk-21-0-0-is-now-available-be33b79921b7 stated getValueAsync. It should be getItemAsync (as per doc).

[2017-09-22 09:14] JohnPhoto opened #3040 "Unclear format for ios.associatedDomains"
It is a bit unclear on which format to supply the associated domains values, a short example would be nice, something like this perhaps:

The items in the array needs to be on the format: `applinks:www.mydomain.com` as documented here [Support Universal Links](https://developer.apple.com/library/content/documentation/General/Conceptual/AppSearch/UniversalLinks.html)

[2017-09-22 10:15] fatwhale commented on #593
I came into this problem as well today, and couldn't find a way to solve. Did you solved this ? @iamclaytonray / Or is there any findings @dikaiosune

[2017-09-22 10:19] ide commented on #667
Thanks - updated the release notes.

Expo.SecureStore has a getter right here - https://github.com/expo/expo-sdk/blob/master/src/Expo.js#L192. Can you debug further?

[2017-09-22 12:29] flieks opened #668 "IOS store IDFA problem (advertising)"
Hi guys,

I'm at the last step in the apple store and get this:
`Your app is using the Advertising Identifier (IDFA). You must either provide details about the IDFA usage or remove it from the app and submit your binary again.`

I’m not using facebook Ads…
I can just see some FacebookAds in flow-typed/npm/expo_vx.x.x.js

[2017-09-22 15:32] ryanvanderpol commented on #542
Update from my end now with v21.  Marginal improvement, but still unacceptable.  Here is what I see:

1. Splash screen (yay! this is new)
2. blank white screen
3. blank screen with my background color
4. splash screen again
5. white flash
6. sign in screen

2-5 should not be happening.

![splash-v21](https://user-images.githubusercontent.com/1936460/30752051-219c92fc-9f89-11e7-89c6-2814d46c3d07.gi

[2017-09-22 15:44] adierkens commented on #668
https://docs.expo.io/versions/latest/guides/building-standalone-apps.html

From [Segment’s Guide](https://segment.com/docs/sources/mobile/ios/quickstart/#step-5-submitting-to-the-app-store)

[2017-09-22 16:29] ShMcK opened #669 "Version mismatch with Expo 21.x.x & React Native"
I've experienced a version mismatch issue when upgrading to Expo 21. It seems Expo requires the yet unpublished "react-native" 0.48.4. Although 0.48.4 is released, RN 0.48.3 is currently the latest NPM release.

If anyone else comes across the same version mismatch issue, here is a temporary fix in your "package.json".

[code]

Hoping this saves someone some time.

[2017-09-22 17:06] iamclaytonray commented on #593
I have not found a solution.

[2017-09-22 17:09] iamclaytonray commented on #593
Sorry, @dikaiosune, I got super busy. I'll try to do it today. But, if it is a native module error, would it not be better to debug with the Objective-C code? `ios/` and `android/` has not been modified at all, so you wouldn't have to look at any of the code there.

Ironically, I actually deleted the repo. I'll have to create a new one.

[2017-09-22 17:09] iamclaytonray commented on #593
@fatwhale - If you find a solution before either of us do, can you drop a comment with your fix?

[2017-09-22 18:23] ide commented on #593
Does any of your JS require “expo”? It looks like the error is failing while trying to set up Expo’s Location API. If so you’ll need Expo’s native code. Using a bare React Native project won’t work.

[2017-09-22 18:25] ide commented on #668
@adierkens’s answer here is right. Thanks for helping out!

[2017-09-22 18:25] #668 closed

[2017-09-22 19:00] iamclaytonray commented on #593
No, I wasn't using anything with Maps/Location. I did add Expo as a dependency. Do I have to use the Expo IDE to actually use Expo? That wouldn't make sense to me but that's kind of what it sounds like. Thanks!

[2017-09-22 19:01] iamclaytonray commented on #593
I can't quite remember what I was using. I think it was Font/Icon. Shouldn't have deleted the repo 🙄

[2017-09-22 19:06] ide commented on #593
Expo isn’t an IDE, it’s a development platform. The Expo SDK you get from npm is the JS API that lets you use features that are built into Expo.

[2017-09-22 22:13] Viral-Inc commented on #553
@jimmylee  I'm not sure following that Medium post works anymore for using React Native Debugger with Expo, re this issue: https://github.com/jhen0409/react-native-debugger/issues/32

<img width="575" alt="screenshot 2017-09-22 12 45 16" src="https://user-images.githubusercontent.com/17430356/30766127-6a914eae-9fb0-11e7-86d9-219b1bced264.png">

<img width="591" alt="screenshot 2017-09-22 12 45 36"

[2017-09-23 01:37] sonaye commented on #132
I can confirm that the issue has been resolved. Thanks @janicduplessis!

[2017-09-23 04:34] James2516 commented on #466
I think this has to do with some of the properties of the object which resulted in some sort of recursive calls among the properties?

[2017-09-23 07:47] huzaifasaeed commented on #633
same problem what to do?
expo.io

[2017-09-23 07:48] gianlazz opened #670 "takePictureAsync Base64 encoding performing slowly"
When running the function below it takes a very long time to log the base64 results and only seems to work sometimes. Is there something I'm missing?

[code]

I just updated from version 20 -> 21
Here's from my package.json
[code]

**Edit**
Adding the argument `quality: 0.1,` seems to have about halved the time of base64 encoding output execution from ~10 seconds to ~5. Also, this may just partial

[2017-09-23 15:51] milad1367 commented on #599
hi tnx for response . That problem has been resolved . But I was faced with other problems.
It is located on this page for hours.

![issue](https://user-images.githubusercontent.com/15375991/30774709-c6dcd06e-a093-11e7-986c-a9a2e5265eab.png)

i use this command for create project "create-react-native-app AwesomeProject".

[2017-09-23 16:43] acomito commented on #669
@ShMcK what errors were you getting?

[2017-09-23 17:22] ShMcK commented on #669
I was getting the following error, before updating to 0.48.4.

[code]

[2017-09-24 01:58] edgareler commented on #636
@Raveler I confirm that this exact issue is also happening to me.

[2017-09-24 03:51] edgareler commented on #636
In order to workaround this, I had to reload the app if is the first session of the user:

[code]

As this is a terrible approach, @jesseruder let me know if I can help you in some way to have this fixed quickly.

Thanks

[2017-09-24 03:59] jenil opened #671 "Error with Facebook login"
I recently updated to Expo v21 and the Facebook login doesn't work anymore, the login popup comes and then I get an error.

[code]

![image](https://user-images.githubusercontent.com/971411/30779297-f91cb748-a0ba-11e7-8d0f-0a8ac67496bb.png)

[2017-09-24 08:04] flieks commented on #668
Thanks alot. Indeed that fixed it
https://forums.expo.io/t/how-to-build-for-ios-apple-store-account/3233/9

[2017-09-24 10:56] onrige opened #672 "App is always crashing in hot reload mode"
Hey. Just updated to a new version (21), and there is a problem when hot reload is enabled.
To reproduce:
1) Enable hot reload
2) Try to change something (it was styles in separate file in my case)
3) Go to background
4) Return to simulator -> there is a crash

UPD: Also there are some problems with styles all over the application, hmm

[2017-09-24 20:18] jarlefosen commented on #672
I've experienced some issues with Hot Reload as well.
The output I get is something like
`Connection to <URL>/debugger-proxy timed out`
For reference to a similar or same issue: https://github.com/jhen0409/react-native-debugger/issues/72

The only trait I have identified for now is that the packager logs are outputting that it's launching dev tools twice instead of only once.

[code]

In order to

[2017-09-24 21:16] funkjunky opened #673 "SecureStore.setItemAsync doesn't do anything or error."
SecureStore.setItemAsync('true', 'introComplete').then(() => console.log('set: ', arguments));
    SecureStore.getItemAsync('introComplete').catch(() => console.log('intro not set'));

I put this in componentWillMount of my main.js component and intro is never set and the arguments to the set function is always an empty array.

I don't know what else to do, because there is no error and no return.

[2017-09-24 21:22] funkjunky commented on #673
Oh shit, when were the arguments reversed?!

Ok, this is a more logical order. So I forgive y'all. I should have checked as soon as the version changed.

[2017-09-24 21:29] funkjunky commented on #673
Wait... does reload clear the store?

[2017-09-24 21:34] funkjunky commented on #673
Ok, so I think the javascript errors I was having was prevent other code from working correctly. Once I fixed my other errors, the store started returning correctly.

I still believe you should truly highlight the difference in argument order for setItemAsync! That's a pretty big change.

[2017-09-24 21:34] #673 closed

[2017-09-24 21:42] ide commented on #673
The breaking changes section of the release notes explicitly mention this change: https://blog.expo.io/expo-sdk-21-0-0-is-now-available-be33b79921b7?source=linkShare-b76f0303e50d-1506289335

[2017-09-24 21:44] funkjunky commented on #673
Right, I was foolish and only looked at the notes for SecureStore. Obviously one should check breaking changes.

Sorry about that and keep up the good work!

[2017-09-24 22:42] mfoncho opened #674 "Camera module expo sdk 21.0.0"
[code]

[2017-09-25 03:16] ShMcK commented on #669
No longer issue with the NPM release of 0.48.4.

[2017-09-25 03:16] #669 closed

[2017-09-25 03:22] terribleben commented on #669
Just for posterity, Expo uses a fork, so `expo/react-native#sdk-21.0.2` should be sufficient. Let us know if that wasn't working for you for some reason.

[2017-09-25 03:23] ShMcK commented on #669
At the time, I was using 21.0.1.

[2017-09-25 07:30] aalices commented on #670
I'll take a look. What do you mean by `only seems to work sometimes` ?

[2017-09-25 09:22] deadcoder0904 commented on #325
Well thank you Expo team 😘

Google Admob now available in [SDK 21](https://docs.expo.io/versions/latest/sdk/admob.html)

[2017-09-25 09:22] #325 closed

[2017-09-25 10:27] aalices commented on #674
@mfoncho are you using SDK 21 ?

[2017-09-25 12:03] maharjanaman opened #675 "Google login in standalone app"
Following every process from https://docs.expo.io/versions/v20.0.0/sdk/google.html, I'm getting error:

- E/TokenRequestor: You have wrong OAuth2 related configurations, please check. Detailed error: INVALID_AUDIENCE

for standalone android app.
Below is my android config in app.json
[code]
Am I missing some keys or something?
I'm using sdk version 20.0.0

[2017-09-25 12:15] jolocity commented on #325
Thanks!

[2017-09-25 14:37] tofoli opened #676 "No AdMob Apple has identified use of IDFA in Expo 20.0.0"
I'm not using AdMob, but when I send my App to Apple I've identified the use of the ASIdentifierManager class (IDFA), and asked to tell what kind of announcements it existed in my App. The strangest thing of all is that I'm using Expo version 20.0.0 , and in the past compilations such information was not required.

Some help?

[2017-09-25 15:01] Viral-Inc opened #677 "Expo.Svg() React.PropTypes warning"
it would be super if the Expo Svg api used prop-types instead of React.PropTypes :)

[2017-09-25 16:08] tofoli commented on #676
![image](https://user-images.githubusercontent.com/2599384/30818698-aa547018-a1f2-11e7-94ba-8452f2d9e363.png)

[2017-09-25 16:12] terribleben commented on #676
Hi, are you sure this is related to AdMob? Multiple Expo APIs use the IDFA, and that has not changed recently. Did you follow [these steps](https://docs.expo.io/versions/latest/guides/building-standalone-apps.html#6-submit-it-to-the-appropriate-store) (including the note about the IDFA) when submitting your app?

[2017-09-25 16:20] #676 closed

[2017-09-25 16:22] tofoli commented on #676
Now I realized that I did not follow these steps, this misunderstanding occurred because the first time I sent the app to apple was not requested, only the second time.

[2017-09-25 16:26] sinoon commented on #549
Thanks all.rm package-lock.json and yarn.lock,then npm i / yarn , solved problem.This works for allmost situation.

[2017-09-25 16:33] terribleben commented on #676
Sorry about the trouble. Good luck with your project. :)

[2017-09-25 17:53] mfoncho commented on #674
exp --version Yields 44.0.0

[2017-09-25 18:03] terribleben commented on #672
@onrige
- is this on iOS or Android?
- What is "a crash" in this case? Does the app stop running, or do you see a red screen?

@jarlefosen are you seeing the same symptoms as the original poster (app crashing when backgrounded+foregrounded with HMR turned on)? If you're seeing a different issue, would it be possible for you to open a separate thread so we can track both?

[2017-09-25 18:10] onrige commented on #672
@terribleben Hey. So it's happening on Simulator iOS 10.3 and after crash app stop running, I see just Home screen of Simulator.

[2017-09-25 18:24] skevy commented on #677
This is on our list for SDK 22. We know the warnings are annoying :/

[2017-09-25 18:30] skevy commented on #675
You're positive that you did what's listed here w.r.t. getting the SHA1 from your APK: https://docs.expo.io/versions/v20.0.0/sdk/google.html#add-the-configuration-to-your-app

[2017-09-25 18:31] skevy commented on #674
@mfoncho what is the sdk version in your app.json?

[2017-09-25 18:40] mfoncho commented on #674
myapp/node_modules/expo/package.json
{"version": "20.1.3"}

After -> yarn upgrade expo
myapp/node_modules/expo/package.json
{"version": "21.0.1"}

Now the entire app is broken
Warning
Warning: Problem validating app.json: Unable to perform cache refresh for C:\Users\XXXX\AppData\Local\Expo\schema-21.0.1.json: XDLError: Invalid JSON returned from API: SyntaxError: Unexpected token N in JSON at posi

[2017-09-25 18:49] #677 closed

[2017-09-25 19:05] skevy commented on #670
This seems like normal behavior to me -- if you're base64 encoding the image, and then sending a multi-MB image across the bridge, and _then_ logging the image to the console, I'd expect that to take a very long time and be suboptimal. Avoiding logging is the right call here, and in the future, you can use the Blob module (which is a WIP) to avoid base64 encoding the data at all, and keep the imag

[2017-09-25 19:20] skevy commented on #674
@mfoncho I'd recommend you read the upgrade instructions here: https://blog.expo.io/expo-sdk-21-0-0-is-now-available-be33b79921b7

[2017-09-25 19:33] mfoncho commented on #674
@skevy I just read the upgrade guide and followed the instructions but i'm still having the same errors
here is my app.json
[code]

[2017-09-25 19:35] skevy commented on #674
Your sdkVersion should be `21.0.0`.

[2017-09-25 19:51] mfoncho commented on #674
Fixed that.. now i have two new problems same Camera Module.
ExponentCameraModule.takePicture got 3 arguments, expected 2

[code]
recordAsync still throws warnings more pressing is
undefined is not a function (evaluating 'CameraManager.stopRecording()')
[code]

[2017-09-25 20:00] aalices commented on #674
@mfoncho the above example has mixed parameters from takePictureAsync and recordAsync. Have you downloaded the most recent Expo app from Play/App Store?

[2017-09-25 20:17] mfoncho commented on #674
@aalices @skevy  I uninstalled and reinstalled the expo on the device now takePictureAsync works again but recordAsync function still throwing errors on android.  I created new sample app with bear react native without expo and linked the Camera lib from https://github.com/lwansbrough/react-native-camera. Camera lib capture function works as expected.

Error retrieving camcorder profile params
nat

[2017-09-25 20:40] mfoncho commented on #674
not specifying the video quality profile solves the Issue..

[2017-09-25 20:40] #674 closed

[2017-09-25 21:26] ChrisWphoto opened #678 "Cannot remove phone number from Expo XDE share field"
I cannot seem to clear the phone number from the expo xde share field.

So I am sent a text message every time I publish the app. Any idea on how to stop XDE from persisting my phone number?

![image](https://user-images.githubusercontent.com/8596524/30831718-28d64bee-a20e-11e7-972c-4b6590c75a28.png)

[2017-09-25 21:29] flyingxu commented on #643
When I try to register a user name with a '.' inside, I got the same undefined error message. But when I try to register with the same name on web, I got a very specific error message.

[2017-09-25 22:20] mgscreativa commented on #416
Hi! I have the same issue using Expo v20 with CRNA I got this:

[code]

This is the code to trigger Google sign in:
import { Google } from 'expo';
...
...
  handleLoginWithGoogle = async () => {
    try {
      const result = await Google.logInAsync({
        androidClientId: config.OAuth.facebook.androidClientId, // Filled in separate config file
        iosClientId: config.OAuth.facebook.iosClie

[2017-09-25 22:47] jpca999 opened #679 "Error : 'ScrollView' has no propType for native prop 'RCTScrollView.onScrollAnimationEnd' of native type ' BOOL'"
I'm stuck on this error.

It was working absolutely fine, but suddenly this error started to pop.
I am using        "expo": "^20.0.0",

I've tried the following versions.
"react-native": "^0.47.2",
"react-native": "^0.47.1",

"react-native": "^0.47.0",
0.48.4,

![image](https://user-images.githubusercontent.com/1026325/30834598-d7021e24-a221-11e7-954a-8ec0bdfc7c7c.png)

![image](https://user-image

[2017-09-25 22:49] jpca999 commented on #669
@terribleben  I got similar issue -   https://github.com/expo/expo/issues/679

[2017-09-25 23:59] iamclaytonray commented on #593
I guess that pretty much answers my question then. I'll change my method for dealing with Expo. Thanks!

[2017-09-26 00:00] iamclaytonray commented on #593
And I didn't mean that the IDE & SDK were bound together. I just know that the IDE generates (or the CLI) a RN app very different from `react-native init AwesomeProject`. That's what I was talking about

[2017-09-26 00:36] Dygerati opened #680 "`CFBundleDisplayName` is required for Segment to work properly with Google Analytics"
I've implemented Segment on my app, utilizing Expo version 21. The setup within Segment is identical for both, but the events are not reaching Google Analytics for just the iPhone source. I noticed in the RAW events in Segment's debugger that the "name" field is missing from the iOS sourced events only, and I believe this is the cause. Here is one of the events in total:

`{
  "anonymousId": "REDA

[2017-09-26 05:55] wilonth commented on #587
@daominhsangvn Thank you, that works perfectly!
@dikaiosune Still happens with Expo 21.0.0

[2017-09-26 07:15] aalices commented on #674
@mfoncho `quality` property for video recording is a constant and not a 0-1 number, please take look at the docs [here](https://docs.expo.io/versions/latest/sdk/camera.html#quality-videoquality--specify-the-quality-of-recorded-video-usage-cameraconstantsvideoqualityvalue-possible-values-for-169-resolution-2160p-1080p-720p-480p-android-only-and-for-43-43-the-size-is-640x480-if-the-chosen-quality-is

[2017-09-26 07:17] LAITONEN opened #681 "Provide better documentation on how to improve perf in production bundles."
Hello!

My Expo app becomes much slower if I use a published version in comparison to local, testing version (on the actual device).

**The app uses** Redux, React-Navigation and Firebase database / authentication. The **3 types** of interactions that **get** significantly **slowed down**, as I have noticed, are the interactions involving utilization of more than 1 page, interactions involving Rea

[2017-09-26 07:26] maharjanaman commented on #675
@skevy, yes exactly the same process, I even tried with new clientId but issue still persist. What kind of info are you asking for?

[2017-09-26 08:06] deadcoder0904 commented on #341
@k2glyph Its added in [SDK 21](https://docs.expo.io/versions/latest/sdk/admob.html). A simple example can be found [here](https://github.com/deadcoder0904/expo-google-admob).

[2017-09-26 08:07] deadcoder0904 commented on #325
I've made a [simple example](https://github.com/deadcoder0904/expo-google-admob) if anyone is finding it difficult to set up.

[2017-09-26 08:45] poptocrack opened #682 "Expo.Svg undefined is not an objet"
I did the last SDK update (21.0.0) and when i run my app i got a red screen with the error bellow.

The error is coming from :

    function MyCustomMarkerView(props) {
     return (
      <Svg width={50} height={50}>
        <Svg.Circle
          cx="25"
          cy="42"
          r={8}
          fill="black"
          />
          <Svg.Circle
            cx="25"
            cy="42"

[2017-09-26 09:07] stochris commented on #416
For me, setting `behavior` to web removed all the problems ( in SDK 19 and 20 )

[2017-09-26 09:10] jhalborg commented on #542
@sonaye and @cseelus - How did you move the activityindicator below the middle? Mine looks like this:

![simulator screen shot - iphone 5s - 2017-09-26 at 11 03 27](https://user-images.githubusercontent.com/6643672/30852160-25730cb0-a2ab-11e7-9919-dc3bc9d7c16b.png)

SDK 20.0, app.json:

[code]

[2017-09-26 09:15] sonaye commented on #542
@jhalborg Upgrade to SDK 21 and use [the new API](https://docs.expo.io/versions/latest/guides/configuration.html#splash-2). `hideExponentText` is deprecated you can remove it, no need for `loading` if it's the same as the splash I believe.

[2017-09-26 09:32] JulianKingman commented on #681
Try debugging with the chrome inspector, running profiles to see what's slow. Also, check to see if you have too many renders. My guess is there are scripts that are running too often, and/or memory leaks, and/or unnecessary renders. Do you have a server you connect to?

[2017-09-26 09:32] FilipLukac commented on #679
Same here

[2017-09-26 09:36] LAITONEN commented on #681
1. You mean default Chrome's inspector or I need some sort of external plugin? Same applies to 'running profiles'.
2. I might have too many. Depends on how much is 'too many'.
3. Can I verify your guess with Chrome inspector and 'running profiles'?
4. The only connection that I have is Firebase. Auth/Fetch/Create/Edit/Delete/Update

[2017-09-26 09:41] JulianKingman commented on #681
1. Default chrome inspector. Press cmd + D, the "Debug Remote JS". There are two targets available for memory, you want debuggerWorker.js. Also try "Performance" tab. Or press cmd + D then press "Start systrace"
2. Too many is between dozens and hundreds per second, depending on complexity
3. Yes.
4. Check to see how often they run.

[2017-09-26 10:33] fossecode commented on #679
- Delete your project’s node_modules directory and run npm install again
- Reopen your project in XDE and press “Restart” to clear the packager cache, or run exp start -c if you use use exp, or if you use react-native-scripts press shift + R after starting the packager with npm start.

[2017-09-26 10:57] podeig commented on #633
The same problem here:

12:54:46
Starting React Native packager...
12:54:49
Scanning folders for symlinks in /Users/denis/Geo/Dev/udemy-swipe/node_modules (10ms)
12:54:49
Loading dependency graph.
12:54:49
Running packager on port 19002.
12:54:49
12:54:52
Dependency graph loaded.
12:54:59
Error starting tunnel: Error: Starting tunnels timed out
12:54:59
Project opened! You can now use the "Share"

[2017-09-26 12:14] mgscreativa commented on #416
Well. in my case I needed to be more careful!

`config.OAuth.facebook.androidClientId` that config branch didn't contain any google clientIDs! jeje

[2017-09-26 12:36] yavorsky commented on #679
@jpca999 It started appearing after bumping my OS to Hight Siera today. Previously, I had the same error, but downgrading react-native from 0.48.x to 0.47.x fixed it. For now, it doesn't work even with 0.47.x. Also works fine if I removing `ListView` or `FlatList`.

[2017-09-26 12:38] matheuschagas commented on #679
same issue here

[2017-09-26 12:41] tutturen commented on #679
I experienced the same error earlier today. It might be related to iOS 11, not sure.
I fixed it by bumping Expo to 21.0.2, then reinstall node modules, and clear the cache after starting expo.

[2017-09-26 12:41] jynweythek223 commented on #679
Same. Started after updating xcode to v9

[2017-09-26 13:12] zhuyunxiang commented on #679
Sama issue in IOS Expo 21.0.2

[2017-09-26 13:43] matheuschagas commented on #679
Thanks @tutturen ! This fixed my issue! :+1:

[2017-09-26 13:56] bielcapanema commented on #116
any updates on this?

[2017-09-26 14:11] deadcoder0904 opened #683 "Google Admob's Interstitial & Rewarded Ad & Facebook Interstitial Ad closes the App after opening the Ad"
In Android it ~works smoothly~ opens Ads but then closes the app, but in iOS the screen goes blank as soon as Interstitial or Rewarded Ad is clicked & the app crashes.

For repro try [this](https://github.com/deadcoder0904/expo-google-admob) on iOS Simulator

[2017-09-26 14:17] jpca999 commented on #679
Lol - I didn’t even update anything.

I started with creating a new app in Expo and now it’s working fine.

With expo I think they updated the versions...

Sent from my iPhone

[2017-09-26 14:19] jynweythek223 commented on #679
Neither updating Expo, nor creating a new app didn't solve my problem

[2017-09-26 14:19] yavorsky commented on #679
@tutturen solution helped me also. But don't forget to update expo version not only in the package.json, but `sdkVersion` in app.json also!

[2017-09-26 14:44] ledfusion commented on #627
I'm having the same issue.

On Android, `ImagePicker.launchCameraAsync` will work in development but will fail with the compiled standalone APK.

The error I get is that the user rejected the permissions (I accepted them), and the data object contains:

[code]

The same works fine on iPhone

[2017-09-26 15:08] jankarres commented on #679
The following solved the issue in my case:

1. Update `expo` in the package.json to `21.0.2`
2. Update `react-native` in the package.json to `0.48.4`
3. Remove old and install new package versions `rm -r node_modules/expo/ node_modules/react-native/ && npm install `
4. Set `sdkVersion` in app.json to `21.0.0` (even if installed version is 21.0.2)
5. Restart expo packager